# Analysis of: legionbooter
#### File originally retrieved from: http://4lz5rmnkd6f63tmm.onion/db/legion_2013_08_16.sql

In [1]:
dumpfile='legion_2013_08_16.sql'

## * Libraries that I use to analyse data

In [2]:
import pandas as pd
import numpy as np

from io import StringIO
import re

In [8]:
%run '../additional_functions.ipynb'

 Functions loaded!!!!

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 1: Adaptation to our Booter database schema<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h2>

## 1. Reading the first 'N' (100) lines of the input Booter database file

In [3]:
lines_to_read=100

with open(dumpfile) as myfile:
    firstlines=myfile.readlines()[0:lines_to_read] #put here the interval you want
    for x in firstlines:
        print(x.strip())

-- MySQL dump 10.13  Distrib 5.5.31, for Linux (x86_64)
--
-- Host: localhost    Database: legion
-- ------------------------------------------------------
-- Server version	5.5.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `boots_list`
--

DROP TABLE IF EXISTS `boots_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `boots_list` (
`id` int(255) NOT NULL AUTO_INCREMENT,
`user` int(255) NOT NULL,
`user_name` varchar(255) CHARACTER SET utf8 NOT NULL,
`host` varchar(255) NOT NULL,
`port` int(6) NOT NULL,
`method` int(255) NOT NULL,
`methodName` varchar(255) CHARACTER SET utf8 NOT NULL,
`api_id` int(255) NOT NULL,
`startTime` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
`bootTime` int(100) NOT NULL,
`stopped` tinyint(1) NOT NULL,
`created_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
`updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38249 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boots_list`
--

LOCK TABLES `boots_list` WRITE;
/*!40000 ALTER TABLE `boots_list` DISABLE KEYS */;
INSERT INTO `boots_list` VALUES (1,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:13:14',100,1,'2013-04-04 16:13:14','2013-04-04 16:13:21'),
(2,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:13:16',100,1,'2013-04-04 16:13:16','2013-04-04 16:13:21'),
(3,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:13:17',100,1,'2013-04-04 16:13:17','2013-04-04 16:13:20'),
(4,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:13:54',100,1,'2013-04-04 16:13:54','2013-04-04 16:14:55'),
(5,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:13:57',100,1,'2013-04-04 16:13:57','2013-04-04 16:14:54'),
(6,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:13:58',100,1,'2013-04-04 16:13:58','2013-04-04 16:14:53'),
(7,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:14:39',100,1,'2013-04-04 16:14:39','2013-04-04 16:14:53'),
(8,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:15:03',100,1,'2013-04-04 16:15:03','2013-04-04 16:15:13'),
(9,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:15:04',100,1,'2013-04-04 16:15:04','2013-04-04 16:15:11'),
(10,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:15:07',100,1,'2013-04-04 16:15:07','2013-04-04 16:15:09'),
(11,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:16:41',100,0,'2013-04-04 16:16:41','2013-04-04 16:16:41'),
(12,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:18:49',100,0,'2013-04-04 16:18:49','2013-04-04 16:18:49'),
(13,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:18:52',100,0,'2013-04-04 16:18:52','2013-04-04 16:18:52'),
(14,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:18:54',100,0,'2013-04-04 16:18:54','2013-04-04 16:18:54'),
(15,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:19:19',100,0,'2013-04-04 16:19:19','2013-04-04 16:19:19'),
(16,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:19:48',100,0,'2013-04-04 16:19:48','2013-04-04 16:19:48'),
(17,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:19:54',100,0,'2013-04-04 16:19:54','2013-04-04 16:19:54'),
(18,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:19:55',100,0,'2013-04-04 16:19:55','2013-04-04 16:19:55'),
(19,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:20:24',100,0,'2013-04-04 16:20:24','2013-04-04 16:20:24'),
(20,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:20:26',100,0,'2013-04-04 16:20:26','2013-04-04 16:20:26'),
(21,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:20:27',100,0,'2013-04-04 16:20:27','2013-04-04 16:20:27'),
(22,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:20:29',100,0,'2013-04-04 16:20:29','2013-04-04 16:20:29'),
(23,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:23:10',100,0,'2013-04-04 16:23:10','2013-04-04 16:23:10'),
(24,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:23:11',100,0,'2013-04-04 16:23:11','2013-04-04 16:23:11'),
(25,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:23:12',100,0,'2013-04-04 16:23:12','2013-04-04 16:23:12'),
(26,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:24:49',100,0,'2013-04-04 16:24:49','2013-04-04 16:24:49'),
(27,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:24:51',100,0,'2013-04-04 16:24:51','2013-04-04 16:24:51'),
(28,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:24:52',100,0,'2013-04-04 16:24:52','2013-04-04 16:24:52'),
(29,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:25:18',100,0,'2013-04-04 16:25:18','2013-04-04 16:25:18'),
(30,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:25:25',100,0,'2013-04-04 16:25:25','2013-04-04 16:25:25'),
(31,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:25:27',100,0,'2013-04-04 16:25:27','2013-04-04 16:25:27'),
(32,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:25:29',100,0,'2013-04-04 16:25:29','2013-04-04 16:25:29'),
(33,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:26:17',100,0,'2013-04-04 16:26:17','2013-04-04 16:26:17'),
(34,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:26:18',100,0,'2013-04-04 16:26:18','2013-04-04 16:26:18'),
(35,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:26:20',100,0,'2013-04-04 16:26:20','2013-04-04 16:26:20'),
(36,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:27:26',100,0,'2013-04-04 16:27:26','2013-04-04 16:27:26'),
(37,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:27:43',100,0,'2013-04-04 16:27:43','2013-04-04 16:27:43'),
(38,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:27:45',100,0,'2013-04-04 16:27:45','2013-04-04 16:27:45'),
(39,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:27:57',100,0,'2013-04-04 16:27:57','2013-04-04 16:27:57'),
(40,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:27:59',100,0,'2013-04-04 16:27:59','2013-04-04 16:27:59'),
(41,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:29:20',100,0,'2013-04-04 16:29:20','2013-04-04 16:29:20'),
(42,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:29:22',100,0,'2013-04-04 16:29:22','2013-04-04 16:29:22'),
(43,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:29:23',100,0,'2013-04-04 16:29:23','2013-04-04 16:29:23'),
(44,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:29:24',100,0,'2013-04-04 16:29:24','2013-04-04 16:29:24'),
(45,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:29:25',100,0,'2013-04-04 16:29:25','2013-04-04 16:29:25'),
(46,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:29:27',100,0,'2013-04-04 16:29:27','2013-04-04 16:29:27'),
(47,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:31:12',100,1,'2013-04-04 16:31:12','2013-04-04 16:32:44'),
(48,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:31:14',100,1,'2013-04-04 16:31:14','2013-04-04 16:32:43'),
(49,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:32:46',100,1,'2013-04-04 16:32:46','2013-04-04 16:32:51'),
(50,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:32:48',100,1,'2013-04-04 16:32:48','2013-04-04 16:32:50'),
(51,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:37:02',100,0,'2013-04-04 16:37:02','2013-04-04 16:37:02'),
(52,1,'Manu','localhost',21,1,'POST',0,'2013-04-04 16:37:04',100,0,'2013-04-04 16:37:04','2013-04-04 16:37:04'),

## 2. Listing tables that have content inserted into the dump file

In [6]:
(pd.Series(list_tables_with_insert(dumpfile)).value_counts()).sort_index()

boots_list               6
friends_ennemies_list    1
general_logs             1
getip_logs               1
laravel_migrations       1
methods_apis             1
methods_blacklist        1
news                     1
settings                 1
stress_methods           1
tickets                  1
tickets_responses        1
tools_blacklist          1
users                    6
dtype: int64

## How the list above looks like?

<h2 align='center'>======================================================================
If NOT well-formed SQL dump file then you must first do the following:
======================================================================</h2>

## 3. Removing lines that are not part of the actual content to be analysed

## 4. Splitting and naming tables and columns

<h2 align='center'>======================================================================
Adapting EACH existing table
======================================================================</h2>

## 6.1. Table: 'boots_list'

### How this table looks like without modification?

In [10]:
tablename='boots_list'

columns=get_keys_from_create_operation(dumpfile, tablename)

pd.read_csv(read_inserted_table2(dumpfile, tablename),delimiter=",",error_bad_lines=False,names=columns).head(10)

,id,user,user_name,host,port,method,methodName,api_id,startTime,bootTime,stopped,created_at,updated_at
0,1,1,Manu,localhost,21,1,POST,0,2013-04-04 16:13:14,100,1,2013-04-04 16:13:14,2013-04-04 16:13:21
1,2,1,Manu,localhost,21,1,POST,0,2013-04-04 16:13:16,100,1,2013-04-04 16:13:16,2013-04-04 16:13:21
2,3,1,Manu,localhost,21,1,POST,0,2013-04-04 16:13:17,100,1,2013-04-04 16:13:17,2013-04-04 16:13:20
3,4,1,Manu,localhost,21,1,POST,0,2013-04-04 16:13:54,100,1,2013-04-04 16:13:54,2013-04-04 16:14:55
4,5,1,Manu,localhost,21,1,POST,0,2013-04-04 16:13:57,100,1,2013-04-04 16:13:57,2013-04-04 16:14:54
5,6,1,Manu,localhost,21,1,POST,0,2013-04-04 16:13:58,100,1,2013-04-04 16:13:58,2013-04-04 16:14:53
6,7,1,Manu,localhost,21,1,POST,0,2013-04-04 16:14:39,100,1,2013-04-04 16:14:39,2013-04-04 16:14:53
7,8,1,Manu,localhost,21,1,POST,0,2013-04-04 16:15:03,100,1,2013-04-04 16:15:03,2013-04-04 16:15:13
8,9,1,Manu,localhost,21,1,POST,0,2013-04-04 16:15:04,100,1,2013-04-04 16:15:04,2013-04-04 16:15:11
9,10,1,Manu,localhost,21,1,POST,0,2013-04-04 16:15:07,100,1,2013-04-04 16:15:07,2013-04-04 16:15:09

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: attacks
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.2. Table: 'friends_ennemies_list '

### How this table looks like without modification?

In [99]:
tablename='friends_ennemies_list'

columns=get_keys_from_create_operation(dumpfile, tablename)

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False,names=columns).head(10)

,id,user,ip_address,name,type,created_at,updated_at
0,1,1,www.google.fr,Google FR,0,2013-03-20 14:28:58,2013-03-20 14:28:58
1,2,1,www.google.ru,Google RU,1,2013-03-20 14:32:55,2013-03-20 14:32:55
2,4,1,localhost,Flo,0,2013-03-26 22:12:12,2013-03-26 22:12:12
3,11,121,67.170.80.211,mranonymousleader,1,2013-04-15 23:24:42,2013-04-15 23:24:42
4,12,144,65.25.76.197,ryan,0,2013-04-16 02:22:49,2013-04-16 02:22:49
5,13,144,74.71.49.188,jkaay,0,2013-04-16 02:26:50,2013-04-16 02:26:50
6,17,209,75.74.105.243,Xex,1,2013-04-18 19:46:15,2013-04-18 19:46:15
7,18,221,2.217.205.113,Liam Donnely,1,2013-04-18 21:29:25,2013-04-18 21:29:25
8,19,209,70.75.206.239,leinadize,0,2013-04-18 22:07:12,2013-04-18 22:07:12
9,20,209,70.73.149.206,NInja_of_leaves,0,2013-04-18 22:07:47,2013-04-18 22:07:47

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: friendsenemies
#### Q3: Are there modifications required? 
    - On the table name: 
        o friends_ennemies_list -> friendsenemies
    - On the column type: 
        o type -> friendsenemies_type3()
    - On the column name:
        o ip_address -> ip
        o name -> note
        o user -> userid
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'friendsandenemies'

In [102]:
# Loading the correct table name
df_friendsenemies = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False,names=columns)

# Converting columns
df_friendsenemies['type']=friendsenemies_type3(df_friendsenemies['type'])

# Changing column names
df_friendsenemies.rename(inplace=True, columns={'ip_address':'ip',
                                               'name':'note',
                                               'user':'userid'})
# Adding missing columns

# Showing some lines after adapt the table
df_friendsenemies.head(10)

,id,userid,ip,note,type,created_at,updated_at
0,1,1,www.google.fr,Google FR,friend,2013-03-20 14:28:58,2013-03-20 14:28:58
1,2,1,www.google.ru,Google RU,enemy,2013-03-20 14:32:55,2013-03-20 14:32:55
2,4,1,localhost,Flo,friend,2013-03-26 22:12:12,2013-03-26 22:12:12
3,11,121,67.170.80.211,mranonymousleader,enemy,2013-04-15 23:24:42,2013-04-15 23:24:42
4,12,144,65.25.76.197,ryan,friend,2013-04-16 02:22:49,2013-04-16 02:22:49
5,13,144,74.71.49.188,jkaay,friend,2013-04-16 02:26:50,2013-04-16 02:26:50
6,17,209,75.74.105.243,Xex,enemy,2013-04-18 19:46:15,2013-04-18 19:46:15
7,18,221,2.217.205.113,Liam Donnely,enemy,2013-04-18 21:29:25,2013-04-18 21:29:25
8,19,209,70.75.206.239,leinadize,friend,2013-04-18 22:07:12,2013-04-18 22:07:12
9,20,209,70.73.149.206,NInja_of_leaves,friend,2013-04-18 22:07:47,2013-04-18 22:07:47

## 6.3. Table: 'general_logs'

### How this table looks like without modification?

In [104]:
tablename='general_logs'

columns=get_keys_from_create_operation(dumpfile, tablename)

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False,names=columns).head(10)

,id,user,user_name,action,created_at,updated_at
0,1,22154,Sirxnow,User tried to start a boot but already reached...,2013-08-15 20:38:17,2013-08-15 20:38:17
1,2,22154,Sirxnow,User tried to start a boot but already reached...,2013-08-15 20:38:22,2013-08-15 20:38:22
2,3,22154,Sirxnow,User tried to start a boot but already reached...,2013-08-15 20:38:28,2013-08-15 20:38:28
3,4,836,SDWiFi,User started booting 75.136.106.158:80 with th...,2013-08-15 20:38:42,2013-08-15 20:38:42
4,5,0,NaN,"New account created: \""xtodi\"".",2013-08-15 20:38:45,2013-08-15 20:38:45
5,6,22154,Sirxnow,User tried to start a boot but already reached...,2013-08-15 20:38:47,2013-08-15 20:38:47
6,7,18874,Meroz,User started booting 31.170.167.53:80 with the...,2013-08-15 20:39:00,2013-08-15 20:39:00
7,8,18874,Meroz,User started booting 31.170.167.53:80 with the...,2013-08-15 20:39:09,2013-08-15 20:39:09
8,9,22154,Sirxnow,User tried to start a boot but already reached...,2013-08-15 20:39:30,2013-08-15 20:39:30
9,10,193,proddy3,User started booting 142.4.59.14:25575 with th...,2013-08-15 20:40:02,2013-08-15 20:40:02

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: attacks
#### Q3: Are there modifications required? 
    - On the table name: 
        o general_logs -> attacks
    - On the column type: 
        o 
    - On the column name:
        o user -> userid
        o user_name -> username
        o created_at -> date
    
    - Add required columns:
        o targeturl
        
    - Split columns:
        o df_attacks['targetip']=df_attacks[df_attacks['action'].str.contains('User started booting')]['action'].str.extract('([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)', expand=True) 
        
        o df_attacks['port']=df_attacks[df_attacks['action'].str.contains('User started booting')]['action'].str.extract('[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+:([0-9]+)', expand=True)
        
        o df_attacks['type']=df_attacks[df_attacks['action'].str.contains('User started booting')]['action'].str.extract('\\"([A-Z]\w{0,})', expand=True)
        
        o df_attacks['duration']=df_attacks[df_attacks['action'].str.contains('User started booting')]['action'].str.extract('during ([0-9]+)sec', expand=True)

### Modifying table: 'general_logs'

In [105]:
# Loading the correct table name
df_attacks = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False,names=columns)

# # Converting columns
# df_friendsenemies['type']=friendsenemies_type3(df_friendsenemies['type'])

# # Changing column names
# df_friendsenemies.rename(inplace=True, columns={'ip_address':'ip',
#                                                'name':'note',
#                                                'user':'userid'})
# # Adding missing columns

# # Showing some lines after adapt the table
# df_friendsenemies.head(10)

In [131]:
print(df_attacks[df_attacks['action'].str.contains('User started booting')]['action'].values)

[ 'User started booting 75.136.106.158:80 with the method \\"UDP (Home connections or servers\\" during 10sec.'
 'User started booting 31.170.167.53:80 with the method \\"GHP (Attack for websites using GET/HEAD/POST\\" during 300sec.'
 'User started booting 31.170.167.53:80 with the method \\"SLOWLORIS (Exhaustion of the servers conection pool\\" during 300sec.'
 'User started booting 142.4.59.14:25575 with the method \\"SSYN (Websites\\" during 1600sec.'
 'User started booting 188.93.186.221:80 with the method \\"UDP (Home connections or servers\\" during 120sec.'
 'User started booting 142.4.59.14:25575 with the method \\"UDPLAG (Lagging game servers\\" during 1600sec.'
 'User started booting 98.228.28.102:80 with the method \\"UDP (Home connections or servers\\" during 200sec.'
 'User started booting \ufeff85.164.127.99:80 with the method \\"UDP (Home connections or servers\\" during 120sec.'
 'User started booting 62.199.47.189:80 with the method \\"UDP (Home connections or servers\\" during 1200sec.'
 'User started booting 108.56.41.32:80 with the method \\"UDP (Home connections or servers\\" during 1200sec.'
 'User started booting 65.52.24.110:80 with the method \\"UDP (Home connections or servers\\" during 500sec.'
 'User started booting 65.52.24.110:80 with the method \\"UDP (Home connections or servers\\" during 500sec.'
 'User started booting 98.230.34.99:3074 with the method \\"UDP (Home connections or servers\\" during 250sec.'
 'User started booting 60.226.32.159:80 with the method \\"UDP (Home connections or servers\\" during 150sec.'
 'User started booting 168.63.125.125:80 with the method \\"UDP (Home connections or servers\\" during 500sec.'
 'User started booting 50.129.89.144:8080 with the method \\"UDP (Home connections or servers\\" during 500sec.'
 'User started booting 168.63.125.125:80 with the method \\"UDP (Home connections or servers\\" during 500sec.'
 'User started booting 67.181.64.196:80 with the method \\"UDP (Home connections or servers\\" during 2000sec.']

       0
3     10
6    300
7    300
9   1600
10   120
11  1600
12   200
15   120
20  1200
23  1200
26   500
27   500
31   250
32   150
40   500
44   500
53   500
68  2000

## 6.11. Table: 'logins'

### How this table looks like without modification?

In [39]:
tablename='logins'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,owner,ip,useragent,time
0,32816,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,1358984471
1,32817,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,1358985169
2,32818,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,1358988183
3,32819,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,1358993827
4,32820,2,195.254.134.242,Mozilla/5.0 (Windows NT 6.2; WOW64 AppleWebKit...,1358994384
5,32821,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,1358995039
6,32822,4,85.103.1.226,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:18.0 Ge...,1358995272
7,32823,3,2.126.164.236,Mozilla/5.0 (Windows NT 6.1; WOW64 AppleWebKit...,1358995282
8,32824,4,85.103.1.226,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:18.0 Ge...,1358996056
9,32825,5,99.21.81.211,Mozilla/5.0 (Windows NT 6.1; rv:18.0 Gecko/201...,1358996504

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: logins
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o time -> timestamp2datetime()
    - On the column name:
        o owner -> userid
        o ip -> userip
        o time -> date
    - Add required columns:
        o username
    - Split columns:
        o

### Modifying table: 'logins'

In [40]:
# Loading the correct table name
df_logins = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_logins['time']=timestamp2datetime(df_logins['time'])

# Changing column names
df_logins.rename(inplace=True, columns={'owner' :'userid',
                                       'ip':'userip',
                                       'time':'date'})
# Adding missing columns
df_logins['username']=np.nan

# Showing some lines after adapt the table
df_logins.head(10)

,id,userid,userip,useragent,date,username
0,32816,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,2013-01-23 23:41:11,NaN
1,32817,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,2013-01-23 23:52:49,NaN
2,32818,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,2013-01-24 00:43:03,NaN
3,32819,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,2013-01-24 02:17:07,NaN
4,32820,2,195.254.134.242,Mozilla/5.0 (Windows NT 6.2; WOW64 AppleWebKit...,2013-01-24 02:26:24,NaN
5,32821,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,2013-01-24 02:37:19,NaN
6,32822,4,85.103.1.226,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:18.0 Ge...,2013-01-24 02:41:12,NaN
7,32823,3,2.126.164.236,Mozilla/5.0 (Windows NT 6.1; WOW64 AppleWebKit...,2013-01-24 02:41:22,NaN
8,32824,4,85.103.1.226,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:18.0 Ge...,2013-01-24 02:54:16,NaN
9,32825,5,99.21.81.211,Mozilla/5.0 (Windows NT 6.1; rv:18.0 Gecko/201...,2013-01-24 03:01:44,NaN

## 6.6. Table: 'news'

### How this table looks like without modification?

In [41]:
tablename='news'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,postedby,time,title,content
0,1,askaa,1358991550,Downtime 24 January,We finally experienced our first downtime afte...
1,2,askaa,1360747909,Power Restored 13 Feb fixes,Hi everyone\n\nWe finally managed to receive o...
2,3,askaa,1361009797,Regarding twBooter3,The people behind this project is people that ...

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.7. Table: 'paymentlogs'

### How this table looks like without modification?

In [42]:
tablename='paymentlogs'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,email,transid,amount,username,time
0,1,Kyle.mckinney@hotmail.co.uk,3AG6SS8-AGGE8X,136,eeuw1hj17ksxjh4nr42d7d3a7wkij7,1358997175
1,2,a@g.im,3AJ3JM6-B8VXPD,136,6qd8qyx23rfnrog5dvklc3w3m3dkhn,1359004445
2,3,NaN,XYCBN6Z-AUCCG9,169,h1seaktdzfhlmyvcpdl8uczgbkw9dq,1359010564
3,4,a@stc.im,NRDT1LH-LMZLRT,169,qhva4w80mvvprxwmny48xsumjw88je,1359010695
4,5,twbutter@gmail.com,Y2LYFI9-998UKR,169,j0832jk89ogdmrs63xulhass87fgki,1359010905
5,6,twbutter@gmail.com,JETN239-5GEB86,149,jt8in1sxzrc5vonekg15r869r57wci,1359011324
6,7,twbutter@gmail.com,J5UAKEL-HFE2NL,169,i83ktml6qrrxexxk1hjqz7wpud4jr3,1359047265
7,8,twbutter@gmail.com,0OJM9JO-4MQOZ5,169,c0288vybmxlwu45g5lvfuaqndqaowi,1359047655
8,9,jsadgasdg@hotmail.com,3AG6DY8-UDY84F,136,5haosppkgp1slcfzqz63y4jl0v79fz,1359069071
9,10,twbutter@gmail.com,EF7SA10-W0KIKR,169,aw0q6s1own5arj4k9uqv44mqon7tkc,1359075308

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: payments
#### Q3: Are there modifications required? 
    - On the table name: 
        o paymentlogs -> payments
    - On the column type: 
        o time -> timestamp2datetime
    - On the column name:
        o amount -> amountpaid
        o email -> paymentemail
        o transid -> tid
        o time -> date
    - Add required columns:
        o userid
        o planid
    - Split columns:
        o

### Modifying table: 'paymentlogs'

In [43]:
# Loading the correct table name
df_payments = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_payments['time']=timestamp2datetime(df_payments['time'])

# Changing names of columns
df_payments.rename(inplace=True, columns={'amount':'amountpaid',
                                         'email':'paymentemail',
                                         'transid':'tid',
                                         'time':'date'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_payments['userid']=np.nan
df_payments['planid']=np.nan

# Showing some lines after adapt the table
df_payments.head(10)

,id,paymentemail,tid,amountpaid,username,date,userid,planid
0,1,Kyle.mckinney@hotmail.co.uk,3AG6SS8-AGGE8X,136,eeuw1hj17ksxjh4nr42d7d3a7wkij7,2013-01-24 03:12:55,NaN,NaN
1,2,a@g.im,3AJ3JM6-B8VXPD,136,6qd8qyx23rfnrog5dvklc3w3m3dkhn,2013-01-24 05:14:05,NaN,NaN
2,3,NaN,XYCBN6Z-AUCCG9,169,h1seaktdzfhlmyvcpdl8uczgbkw9dq,2013-01-24 06:56:04,NaN,NaN
3,4,a@stc.im,NRDT1LH-LMZLRT,169,qhva4w80mvvprxwmny48xsumjw88je,2013-01-24 06:58:15,NaN,NaN
4,5,twbutter@gmail.com,Y2LYFI9-998UKR,169,j0832jk89ogdmrs63xulhass87fgki,2013-01-24 07:01:45,NaN,NaN
5,6,twbutter@gmail.com,JETN239-5GEB86,149,jt8in1sxzrc5vonekg15r869r57wci,2013-01-24 07:08:44,NaN,NaN
6,7,twbutter@gmail.com,J5UAKEL-HFE2NL,169,i83ktml6qrrxexxk1hjqz7wpud4jr3,2013-01-24 17:07:45,NaN,NaN
7,8,twbutter@gmail.com,0OJM9JO-4MQOZ5,169,c0288vybmxlwu45g5lvfuaqndqaowi,2013-01-24 17:14:15,NaN,NaN
8,9,jsadgasdg@hotmail.com,3AG6DY8-UDY84F,136,5haosppkgp1slcfzqz63y4jl0v79fz,2013-01-24 23:11:11,NaN,NaN
9,10,twbutter@gmail.com,EF7SA10-W0KIKR,169,aw0q6s1own5arj4k9uqv44mqon7tkc,2013-01-25 00:55:08,NaN,NaN

## 6.8. Table: 'servers'

### How this table looks like without modification?

In [44]:
tablename='servers'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,name,orderid,private,owner,ip,password,lastuse,cpu,netsend,udp,syn,layer7,enabled,cancheck
0,1,Alpha,B14S05,0,0,89.248.162.242,100percentnigganigga,0,NaN,NaN,1,1,0,1,0
1,2,Bravo,B04S07,0,0,89.248.160.155,100percentnigganigga,0,0.0,6416712.0,1,1,0,1,0
2,3,Charlie,B18S24,0,0,89.248.172.96,100percentnigganigga,0,NaN,NaN,1,1,0,1,1
3,4,Delta,B15S14,0,0,94.102.49.79,100percentnigganigga,0,NaN,NaN,1,1,0,1,1
4,5,Echo,B04S05,0,0,89.248.160.146,100percentnigganigga,0,0.0,8766117.0,1,1,1,1,1
5,6,Foxtrot,B00S01,0,0,72.9.144.80,100percentnigganigga,0,0.0,20479.0,0,0,1,1,1
6,7,Golf,B16S16,0,0,94.102.51.252,100percentnigganigga,0,0.0,5864118.0,1,1,0,1,1
7,8,Hotel,B01S01,0,0,67.222.156.241,100percentnigganigga,0,0.0,37317.0,0,0,1,1,1
8,9,India,A06S36,0,0,89.248.172.205,100percentnigganigga,0,0.0,0.0,1,1,0,1,1
9,10,Juliett,AS18B3,0,0,89.248.160.155,100percentnigganigga,0,0.0,0.0,1,1,0,1,0

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: servers
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 

    - Add required columns:
        o
    - Split columns:
        o

### Modifying table: 'servers'

In [45]:
# Loading the correct table name
df_servers = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names

# Adding missing columns

# Showing some lines after adapt the table
df_servers.head(10)

,id,name,orderid,private,owner,ip,password,lastuse,cpu,netsend,udp,syn,layer7,enabled,cancheck
0,1,Alpha,B14S05,0,0,89.248.162.242,100percentnigganigga,0,NaN,NaN,1,1,0,1,0
1,2,Bravo,B04S07,0,0,89.248.160.155,100percentnigganigga,0,0.0,6416712.0,1,1,0,1,0
2,3,Charlie,B18S24,0,0,89.248.172.96,100percentnigganigga,0,NaN,NaN,1,1,0,1,1
3,4,Delta,B15S14,0,0,94.102.49.79,100percentnigganigga,0,NaN,NaN,1,1,0,1,1
4,5,Echo,B04S05,0,0,89.248.160.146,100percentnigganigga,0,0.0,8766117.0,1,1,1,1,1
5,6,Foxtrot,B00S01,0,0,72.9.144.80,100percentnigganigga,0,0.0,20479.0,0,0,1,1,1
6,7,Golf,B16S16,0,0,94.102.51.252,100percentnigganigga,0,0.0,5864118.0,1,1,0,1,1
7,8,Hotel,B01S01,0,0,67.222.156.241,100percentnigganigga,0,0.0,37317.0,0,0,1,1,1
8,9,India,A06S36,0,0,89.248.172.205,100percentnigganigga,0,0.0,0.0,1,1,0,1,1
9,10,Juliett,AS18B3,0,0,89.248.160.155,100percentnigganigga,0,0.0,0.0,1,1,0,1,0

## 6.9. Table: 'settings'

### How this table looks like without modification?

In [46]:
tablename='settings'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   id setting   value
0   2  status  online

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.10. Table: 'ticket_replies'

### How this table looks like without modification?

In [47]:
tablename='ticket_replies'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,ticketid,posterid,posterrank,time,content
0,2010,1119,112,1,1359128061,Hey I just got 1 of them its like more attacks...
1,2011,1119,1,3,1359132489,20 USD :\n\nLet me know if you want to purchase.
2,2012,1119,112,1,1359139120,Okay but I dont think I need them now
3,2013,1119,1,3,1359145732,So do you want to purchase now or not ? :
4,2014,1120,108,1,1359182701,Hi I was just wondering why the skype resolver...
5,2015,1121,133,1,1359190248,hello is the ip logger working as it gives me ...
6,2016,1122,107,1,1359215037,To see if I can close.
7,2017,1123,3,1,1359329079,do it noob
8,2018,1124,50,1,1359331653,Good night on your dashboard you say that we h...
9,2019,1125,113,1,1359345010,Skype resolver is down?

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.11. Table: 'tickets'

### How this table looks like without modification?

In [48]:
tablename='tickets'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,owner,responses,subject,lastreply,closed
0,1136,171,1,Payment,1362109773,1
1,1135,1,0,tesa,1361516654,1
2,1139,312,0,Just brought Twbooter2,1363313799,0
3,1140,312,0,Skype/Host Resolver Not working!,1363329797,0
4,1138,308,0,Servers seems to be a bit weak?,1363273660,0
5,1137,271,1,Broke Timer -- Cant Boot,1362647265,1

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
        o 
    - Add required columns:
        o
    - Split columns:
        o

## 6.12. Table: 'toverify'

### How this table looks like without modification?

In [49]:
tablename='toverify'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,data,verified,email
0,47,YToyOntpOjA7czoxOTI6IhNQ+4/xgHfvhoR0lkg8OdxlIa...,0,loler2001-konto@yahoo.de
1,14,YToyOntpOjA7czoxOTI6IuWoXJjS6J0jflqovi6UaB1EU/...,0,gmnzii@yahoo.com
2,22,YToyOntpOjA7czoxOTI6It1LRrgdbapmWtenCstpDx7J5q...,0,Aliciajwallace333@gmail.com
3,55,YToyOntpOjA7czoxOTI6IqS3frzw2qoHXyb6I62t7pWYnO...,0,kevinukendt@gmail.com
4,25,YToyOntpOjA7czoxOTI6IvsygWNOLVJBWj7b1bf6W1jSOi...,0,aymanhowuidi@gmail.com
5,90,YToyOntpOjA7czoxOTI6Is7HaKzURlFGceEysuqNSikYcg...,0,asbjaarn@live.dk
6,91,YToyOntpOjA7czoxOTI6Iomu8v8a/j9CkVRZA2O8cwI5Kq...,0,Brian.766@hotmail.fr
7,64,YToyOntpOjA7czoxOTI6IluGQW8BqIOkUa/tQDBODnHcgW...,0,twbutter@gmail.com
8,94,YToyOntpOjA7czoxOTI6Ika7sEmJWnAvkPRxsS7vTH8CSp...,0,Ted0oN@hotmail.fr

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.13. Table: 'users'

### How this table looks like without modification?

In [50]:
tablename='users'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,idhash,username,password,rank,time,max_boot_time,max_concurrent_attacks,lastattack,ipgrabberimage,banned,lastip,email,tos,sessioncode,lastactive,recovercode,has_private_server
0,1,c4ca4238a0b923820dcc509a6f75849b,askaa,f6056ef7890a99494c34951817c2ed4fd3608a8488ef0a...,3,1388556000,120000,30,176.53.26.158,http://puu.sh/WfEa.png,false,180.190.162.175,a75gy0iav9x1l32kusp63gbhms09tc,1,i0qeclje,1363347518,NaN,0
1,2,c81e728d9d4c2f636f067f89cc14862c,LiteSpeed,1a27598c852955af52ee00686f7c71ba3860440267667a...,3,1361735963,600,10,109.3.51.194,http://puu.sh/WfEa.png,false,50.73.178.78,1234567890abcdefghij1234567890,1,yj88pl51,1361377644,NaN,0
2,3,eccbc87e4b5ce2fe28308fd9f2a7baf3,sultan,02cf1cce1b9414df96996756be90dc9f025acfd806a060...,1,1361599200,500000,5,141.0.175.164,http://puu.sh/WfEa.png,false,2.126.164.236,sultan@gmail.com,1,kj5gv3kt,1361086620,NaN,1
3,4,a87ff679a2f3e71d9181a67b7542122c,berk4n,5fa7fcf54e5df7734353eb5f42b42cc11c12db80bb4524...,1,1361587265,60,1,178.79.169.126,http://puu.sh/WfEa.png,false,85.103.13.84,xkk8in361sovnmwu6z1me5zt3zq0hj,1,t1n1qwk7,1361481801,NaN,0
4,5,e4da3b7fbbce2345d7772b0674a318d5,stevenxox,8e2c3d0ccc1d2fd16ad88c6c81bf4ed32c6e1f95a7ab53...,1,1361627043,1800,1,79.141.172.17,http://puu.sh/WfEa.png,false,99.21.81.211,na4kru2wci07xfevqfsitsj85u69s0,1,w9vhc338,1361317332,NaN,0
5,6,1679091c5a880faf6fb5e6087eb1b2dc,xirs,e53e37b96c4dc05363c74ea38a935d43ba21ee92b9763b...,1,1361491200,1800,1,98.198.113.86,http://puu.sh/WfEa.png,false,98.198.113.86,e1lq509zaw663v8hvpsx7saoqfpel3,1,qdvm5um9,1359431495,NaN,0
6,7,8f14e45fceea167a5a36dedd4bea2543,Legion,11bd6cb74484c44a21d069346f9752a9d8d06df3953755...,1,1360886400,300,1,24.247.176.247,http://puu.sh/WfEa.png,false,108.193.128.239,ej0udne6js31r25j7mnpzdp53qlr0s,1,w09f47b5,1360352889,NaN,0
7,8,c9f0f895fb98ab9159f51fd0297e236d,overcl0ck,463218e2674b586b7ac89b1955d64c7a9bc17dc374801f...,1,1361404800,300,1,212.107.136.52,http://google.com/google.png,false,151.226.245.174,i649wj5xrus8gcfk1uc1j2lhwgwn28,1,75kndchd,1361399057,NaN,0
8,9,45c48cce2e2d7fbdea1afc51c7c6ad26,Zuzz,0588c94af7e752eb0135d7a721d0b565d55a9d0b7e0b9b...,1,1360627200,600,1,None,http://puu.sh/WfEa.png,false,None,ehkwuchuk7w2bofkksnl4x1uigcnl1,1,NaN,1358997161,NaN,0
9,10,d3d9446802a44259755d38e6d163e820,Apocalyptikz,a3cdbe9786b234385682400032f3e6c2e20d993f61ed19...,1,1360281600,300,1,149.61.10.20,http://puu.sh/WfEa.png,false,69.125.32.179,5z8bjo3o2sc08luk73tf55rc8e5zwm,1,3woowh71,1360053160,NaN,0

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES 
    - This table looks like: users
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o id -> userid
        o email -> useremail
    - Add required columns:
        o expire
        o planid 
    - Split columns:
        o df_logins['id']=np.nan
        o df_logins['userid']=df_users['id']
        o df_logins['username']=df_users['username']
        o df_logins['userip']=df_users['lastip']
        o df_logins['date']=timestamp2datetime(df_users['lastactive'])

### Modifying table: 'users'

In [51]:
### Loading the column converting columns with predefined functions
df_users = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

###Changing names of columns
df_users.rename(columns = {'id':'userid',
                          'email':'useremail'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_users['expire'] = np.nan
df_users['planid'] = np.nan

###Showing some lines after adapt the table
df_users.head(10)

,userid,idhash,username,password,rank,time,max_boot_time,max_concurrent_attacks,lastattack,ipgrabberimage,banned,lastip,useremail,tos,sessioncode,lastactive,recovercode,has_private_server,expire,planid
0,1,c4ca4238a0b923820dcc509a6f75849b,askaa,f6056ef7890a99494c34951817c2ed4fd3608a8488ef0a...,3,1388556000,120000,30,176.53.26.158,http://puu.sh/WfEa.png,false,180.190.162.175,a75gy0iav9x1l32kusp63gbhms09tc,1,i0qeclje,1363347518,NaN,0,NaN,NaN
1,2,c81e728d9d4c2f636f067f89cc14862c,LiteSpeed,1a27598c852955af52ee00686f7c71ba3860440267667a...,3,1361735963,600,10,109.3.51.194,http://puu.sh/WfEa.png,false,50.73.178.78,1234567890abcdefghij1234567890,1,yj88pl51,1361377644,NaN,0,NaN,NaN
2,3,eccbc87e4b5ce2fe28308fd9f2a7baf3,sultan,02cf1cce1b9414df96996756be90dc9f025acfd806a060...,1,1361599200,500000,5,141.0.175.164,http://puu.sh/WfEa.png,false,2.126.164.236,sultan@gmail.com,1,kj5gv3kt,1361086620,NaN,1,NaN,NaN
3,4,a87ff679a2f3e71d9181a67b7542122c,berk4n,5fa7fcf54e5df7734353eb5f42b42cc11c12db80bb4524...,1,1361587265,60,1,178.79.169.126,http://puu.sh/WfEa.png,false,85.103.13.84,xkk8in361sovnmwu6z1me5zt3zq0hj,1,t1n1qwk7,1361481801,NaN,0,NaN,NaN
4,5,e4da3b7fbbce2345d7772b0674a318d5,stevenxox,8e2c3d0ccc1d2fd16ad88c6c81bf4ed32c6e1f95a7ab53...,1,1361627043,1800,1,79.141.172.17,http://puu.sh/WfEa.png,false,99.21.81.211,na4kru2wci07xfevqfsitsj85u69s0,1,w9vhc338,1361317332,NaN,0,NaN,NaN
5,6,1679091c5a880faf6fb5e6087eb1b2dc,xirs,e53e37b96c4dc05363c74ea38a935d43ba21ee92b9763b...,1,1361491200,1800,1,98.198.113.86,http://puu.sh/WfEa.png,false,98.198.113.86,e1lq509zaw663v8hvpsx7saoqfpel3,1,qdvm5um9,1359431495,NaN,0,NaN,NaN
6,7,8f14e45fceea167a5a36dedd4bea2543,Legion,11bd6cb74484c44a21d069346f9752a9d8d06df3953755...,1,1360886400,300,1,24.247.176.247,http://puu.sh/WfEa.png,false,108.193.128.239,ej0udne6js31r25j7mnpzdp53qlr0s,1,w09f47b5,1360352889,NaN,0,NaN,NaN
7,8,c9f0f895fb98ab9159f51fd0297e236d,overcl0ck,463218e2674b586b7ac89b1955d64c7a9bc17dc374801f...,1,1361404800,300,1,212.107.136.52,http://google.com/google.png,false,151.226.245.174,i649wj5xrus8gcfk1uc1j2lhwgwn28,1,75kndchd,1361399057,NaN,0,NaN,NaN
8,9,45c48cce2e2d7fbdea1afc51c7c6ad26,Zuzz,0588c94af7e752eb0135d7a721d0b565d55a9d0b7e0b9b...,1,1360627200,600,1,None,http://puu.sh/WfEa.png,false,None,ehkwuchuk7w2bofkksnl4x1uigcnl1,1,NaN,1358997161,NaN,0,NaN,NaN
9,10,d3d9446802a44259755d38e6d163e820,Apocalyptikz,a3cdbe9786b234385682400032f3e6c2e20d993f61ed19...,1,1360281600,300,1,149.61.10.20,http://puu.sh/WfEa.png,false,69.125.32.179,5z8bjo3o2sc08luk73tf55rc8e5zwm,1,3woowh71,1360053160,NaN,0,NaN,NaN

In [54]:
df_logins = pd.DataFrame()
df_logins['id']=np.nan
df_logins['userid']=df_users['userid']
df_logins['username']=df_users['username']
df_logins['userip']=df_users['lastip']
df_logins['date']=timestamp2datetime(df_users['lastactive'])

<h2 align='center'>======================================================================
<br>Final step of the manual part
======================================================================</h2>

## 7. Adding missing tables accordingly to our generic Booter database

In [55]:
df_attacks= pd.DataFrame(columns=['id','userid','username','targetip','targeturl','duration','port','type','date'])
df_blacklist=pd.DataFrame(columns=['id','ip','note'])
#df_friendsenemies=pd.DataFrame(columns=['id','ip','note','userid','type'])
df_gateways=pd.DataFrame(columns=['email'])
#df_logins=pd.DataFrame(columns=['id','userid','username','userip','date'])
df_payments=pd.DataFrame(columns=['id','userid','username','amountpaid','paymentemail','planid','tid','date'])
df_plans=pd.DataFrame(columns=['planid','planname','plandescr','price','maxboottime','concurrency'])
#df_servers=pd.DataFrame(columns=['id','ip'])
df_settings=pd.DataFrame(columns=['url','sitename','siteemail'])
#df_users=pd.DataFrame(columns=['userid','username','useremail','password','expire','plan'])      
df_webshells=pd.DataFrame(columns=['id','url','status','lastchecked','attacktype'])

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 2: Data Enrichment<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

### * Depending of the size of the data, this part can take HOURS. I tested for both small and big datasets and it worked. Be pacient. This will pay-off!

## * Libraries needed to retrieve information from external databases

In [ ]:
import subprocess
import cfscrape
from lxml import etree
import os.path
import random
import time

## * Function to enrich IP addresseswith AS information and country

In [ ]:
# THANKS TO: team-cymru.org
def iptoasn(iplist_teamcymruformat_filelocation,outputfile):
    cat = subprocess.Popen(['cat', iplist_teamcymruformat_filelocation], 
                            stdout=subprocess.PIPE)
    
    netcat = subprocess.Popen(['netcat', 'whois.cymru.com', '43'],
                              stdin=cat.stdout,
                              stdout=outputfile)
    time.sleep(3) #for some reason the poll does not work! This was the way to overcome the waiting time.
    
    return netcat.stdout

## * Function to check if an IP address was Tor node in a given moment

In [ ]:
# THANKS TO: exonerator.torproject.org
def WasTorNode(ip, date ):
    url="https://exonerator.torproject.org/?ip="+ip+"&timestamp="+date
    scraper = cfscrape.create_scraper()
    scraped_html=scraper.get(url).content    
    html_tree = etree.HTML(scraped_html)
    result=html_tree.xpath("//h3[@class='panel-title']/text()") # I was looking for <h3 class="panel-title">Result is positive</h3>
    tor_node=True if result == ['Result is positive'] else False
    return tor_node 
# 'date' MUST BE formated as: Year-month-day (2016-03-31)

## * Discovering the middle date of the database

In [ ]:
try:
    try:
        middle_date=(min(df_attacks['date'])+((max(df_attacks['date'])-min(df_attacks['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_logins['date'])+((max(df_logins['date'])-min(df_logins['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_payments['date'])+((max(df_payments['date'])-min(df_payments['date']))/2))
        raise
    except:
        pass
except Exception:
    print("There is no date in the entire dataset")

date_tor_check = middle_date.strftime('%Y-%m-%d')
date_iptoasn_lookup= str(middle_date)
print(date_tor_check)

## * Preparing to Perform IP to ASN info

In [ ]:
df_logins['middledate']=date_iptoasn_lookup
df_attacks['middledate']=date_iptoasn_lookup
df_friendsenemies['middledate']=date_iptoasn_lookup
df_blacklist['middledate']=date_iptoasn_lookup

## 2.1.1  Lookup IP to ASN info of table: logins

In [ ]:
if (os.path.exists('enrichments/logins_iptoasn_out')== False):
    logins_iptoasn_in = open('enrichments/logins_iptoasn_in', 'w+')
    logins_iptoasn_in.write('begin\nverbose\n')
    df_logins[['userip','middledate']].drop_duplicates().to_csv(logins_iptoasn_in,header=False,index=False,sep="\t") 
    logins_iptoasn_in.write('end')
    logins_iptoasn_in.close()

    logins_iptoasn_out = open('logins_iptoasn_out', 'w+')
    iptoasn('logins_iptoasn_in',logins_iptoasn_out)
    logins_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_logins_iptoasn = pd.read_csv('enrichments/logins_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

df_logins_extended= pd.merge(df_logins,
                              df_logins_iptoasn,
                              how = 'left',
                              left_on = 'userip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_logins_extended.rename(columns={'asn':'srcasn', 
                                   'ip':'srcip', 
                                   'bgp_prefix':'srcbgp_prefix', 
                                   'country':'srccountry' ,
                                   'registry':'srcregistry',
                                   'info_date':'srcinfo_date',
                                   'info_request':'srcinfo_request'},
                         inplace=True)


df_logins_extended.head(5)

## 2.1.2  Lookup IP to ASN info of table: attacks

In [ ]:
if (os.path.exists('enrichments/attacks_iptoasn_out')== False):
    attacks_iptoasn_in = open('enrichments/attacks_iptoasn_in', 'w+')
    attacks_iptoasn_in.write('begin\nverbose\n')
    df_attacks[['targetip','middledate']].drop_duplicates().to_csv(attacks_iptoasn_in,header=False,index=False,sep="\t") 
    attacks_iptoasn_in.write('end')
    attacks_iptoasn_in.close()

    attacks_iptoasn_out = open('attacks_iptoasn_out', 'w+')
    iptoasn('attacks_iptoasn_in',attacks_iptoasn_out)
    attacks_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_attacks_iptoasn = pd.read_csv('enrichments/attacks_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_attacks_extended= pd.merge(df_attacks,
                              df_attacks_iptoasn,
                              how = 'left',
                              left_on = 'targetip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_attacks_extended.rename(columns={'asn':'targetasn', 
                                   'ip_y':'targetip', 
                                   'bgp_prefix':'targetbgp_prefix', 
                                   'country_y':'targetcountry' ,
                                   'registry':'targetregistry',
                                   'info_date':'targetinfo_date',
                                   'info_request':'targetinfo_request'},
                         inplace=True)
df_attacks_extended.head(5)

## 2.1.3  Lookup IP to ASN info of table: friendsenemies

In [ ]:
if (os.path.exists('enrichments/friendsenemies_iptoasn_out')== False):
    friendsenemies_iptoasn_in = open('enrichments/friendsenemies_iptoasn_in', 'w+')
    friendsenemies_iptoasn_in.write('begin\nverbose\n')
    df_friendsenemies[['ip','middledate']].drop_duplicates().to_csv(friendsenemies_iptoasn_in,header=False,index=False,sep="\t") 
    friendsenemies_iptoasn_in.write('end')
    friendsenemies_iptoasn_in.close()

    friendsenemies_iptoasn_out = open('friendsenemies_iptoasn_out', 'w+')
    iptoasn('friendsenemies_iptoasn_in',friendsenemies_iptoasn_out)
    friendsenemies_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_friendsenemies_iptoasn = pd.read_csv('enrichments/friendsenemies_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_friendsenemies_extended= pd.merge(df_friendsenemies,
                              df_friendsenemies_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_friendsenemies_extended.rename(columns={'asn':'friendsenemiesasn', 
                                   'ip':'friendsenemiesip', 
                                   'bgp_prefix':'friendsenemiesbgp_prefix', 
                                   'country':'friendsenemiescountry' ,
                                   'registry':'friendsenemiesregistry',
                                   'info_date':'friendsenemiesinfo_date',
                                   'info_request':'friendsenemiesinfo_request',
                                   'as_name': 'friendsenemiesas_name'},
                         inplace=True)

## 2.1.4  Lookup IP to ASN info of table: blacklist

In [ ]:
if (os.path.exists('enrichments/blacklist_iptoasn_out')== False):
    blacklist_iptoasn_in = open('enrichments/blacklist_iptoasn_in', 'w+')
    blacklist_iptoasn_in.write('begin\nverbose\n')
    df_blacklist[['ip','middledate']].drop_duplicates().to_csv(blacklist_iptoasn_in,header=False,index=False,sep="\t") 
    blacklist_iptoasn_in.write('end')
    blacklist_iptoasn_in.close()

    blacklist_iptoasn_out = open('blacklist_iptoasn_out', 'w+')
    iptoasn('blacklist_iptoasn_in',blacklist_iptoasn_out)
    blacklist_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_blacklist_iptoasn = pd.read_csv('enrichments/blacklist_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_blacklist_extended= pd.merge(df_blacklist,
                              df_blacklist_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_blacklist_extended.rename(columns={'asn':'blacklistasn', 
                                   'ip':'blacklistip', 
                                   'bgp_prefix':'blacklistbgp_prefix', 
                                   'country':'blacklistcountry' ,
                                   'registry':'blacklistregistry',
                                   'info_date':'blacklistinfo_date',
                                   'info_request':'blacklistinfo_request',
                                   'as_name': 'blacklistas_name'},
                         inplace=True)
df_blacklist_extended.head(5)

## 2.2.1. Check if IP was a TOR node for table: login

In [ ]:
date_tor_check

In [ ]:
if len(df_logins['userip'].unique())<1200:
    if (os.path.exists('enrichments/logins_torcheck')== False):
        print("Note: it can take a while to finish...")
        logins_torcheck = open('logins_torcheck', 'w+')
        for i in df_logins['userip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=logins_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            logins_torcheck.flush()

        logins_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.")
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_logins_torcheck = pd.read_csv('enrichments/logins_torcheck',\
                          delimiter="\s+",\
                          names = ['userip', 'tor'])

## 2.2.2. Check if IP was a TOR node for table: attacks

In [ ]:
if len(df_attacks['targetip'].unique())<1200:
    if (os.path.exists('enrichments/attacks_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_attacks['targetip'].unique())*3,"seconds (in the worst case).")

        attacks_torcheck = open('attacks_torcheck', 'w+')

        for i in df_attacks['targetip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=attacks_torcheck)
            print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            attacks_torcheck.flush()

        attacks_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_attacks_torcheck = pd.read_csv('enrichments/attacks_torcheck',\
                          delimiter="\s+",\
                          names = ['targetip', 'tor'])

## 2.2.3. Check if IP was a TOR node for table: friendsenemies

In [ ]:
if len(df_friendsenemies['ip'].unique()) <1200:
    if (os.path.exists('enrichments/friendsenemies_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_friendsenemies['ip'].unique())*3,"seconds (in the worst case).")

        friendsenemies_torcheck = open('enrichments/friendsenemies_torcheck', 'w+')

        for i in df_friendsenemies['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=friendsenemies_torcheck)
        #     print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            friendsenemies_torcheck.flush()

        friendsenemies_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_friendsenemies_torcheck = pd.read_csv('enrichments/friendsenemies_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## 2.2.4. Check if IP was a TOR node for table: blacklist

In [ ]:
if len(df_blacklist['ip'].unique()) < 1200:
    if (os.path.exists('enrichments/blacklist_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_blacklist['ip'].unique())*3,"seconds (in the worst case).")

        blacklist_torcheck = open('enrichments/blacklist_torcheck', 'w+')

        for i in df_blacklist['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=blacklist_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            blacklist_torcheck.flush()

        blacklist_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_blacklist_torcheck = pd.read_csv('enrichments/blacklist_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## * Relation between Attack dates and Login dates

In [ ]:
def nearestDate(base_date, date_list):
    nearest={}
    for date in date_list:
        if (base_date.timestamp() - date.timestamp())>=0:
            nearest[base_date.timestamp() - date.timestamp()]= date
    return nearest[min(nearest.keys())]

In [ ]:
#This is the TOTAL number records to be checks!!!!
len(df_attacks)

In [ ]:
df_attacks['nearestlogin']=""
df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])
    
if len(df_attacks)>0 and len(df_logins)>0:
    #When was the last login of the user that performed attacks
    df_attacks['nearestlogin']=""
    df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])

    for index, row in df_attacks.head(100).iterrows():
        intermediate_df= df_logins[df_logins['username']==row['username']]
        nearestlogindate= nearestDate(row['date'],intermediate_df['date'])
        df_attacks.set_value(index, 'nearestlogin', nearestlogindate)

        #DEBUGGING
        if index % 1000 == 0:
            print(index,": +1000 records analysed")

In [ ]:
if len(df_attacks['nearestlogin'].value_counts()) >1:
    df_attacks_and_logins = pd.merge(df_attacks_extended,
                                     df_logins_extended,
                                     how = 'left',
                                     left_on = ['username','nearestlogin'],
                                     right_on = ['username','date'])
else:
    df_attacks_and_logins=""

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 3: Automatic Analysis
<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>

## * Libraries that I use to plot figs

In [ ]:
import matplotlib.pyplot as plt
from matplotlib_venn import *
%matplotlib inline

import seaborn as sns
import itertools

plt.style.use('seaborn-muted')
# plt.rcParams['font.family'] = 'serif'
# plt.rcParams['font.size'] = 12

import warnings
warnings.filterwarnings('ignore')

## A.1. Number of records per table (part of the generic Booter database schema)

In [ ]:
len(df_users),len(df_logins),len(df_attacks),len(df_payments),len(df_settings),len(df_gateways), len(df_friendsenemies),len(df_blacklist),len(df_webshells),len(df_servers),len(df_plans)

## A.2. Number of users, customers, attackers, and their intersection

In [ ]:
if len(set(df_users['userid'].unique())) > 1:
    users_set=set(df_users['userid'].unique())
else:
    users_set=set(df_users['username'].unique())
    
if len(set(df_logins['userid'].unique())) > 1:
    userslogin_set=set(df_logins['userid'].unique())
else:
    userslogin_set=set(df_logins['username'].unique())

if len(set(df_payments['userid'].unique())) > 1:
    customers_set=set(df_payments['userid'].unique())
else:
    customers_set=set(df_payments['username'].unique())

if len(set(df_attacks['userid'].unique())) > 1:
    attackers_set=set(df_attacks['userid'].unique())
else:
    attackers_set=set(df_attacks['username'].unique())

intersec_customers_attacker=pd.Series(list(customers_set.intersection(attackers_set)))
intersec_users_customers=pd.Series(list(users_set.intersection(customers_set)))
intersec_users_attackers=pd.Series(list(users_set.intersection(attackers_set)))
intersec_users_customers_attackers=pd.Series(list(users_set.intersection(customers_set).intersection(attackers_set)))

In [ ]:
len(users_set),len(userslogin_set),len(customers_set),len(attackers_set)

In [ ]:
fig = plt.figure(figsize=(4,3))
fig.suptitle('Users, Customers & Attackers', fontsize=14)

ax = plt.subplot2grid((1,1), (0,0))

venn=venn3(ax=ax,subsets = {'001':len(attackers_set)-len(intersec_customers_attacker)-len(intersec_users_attackers)+len(intersec_users_customers_attackers), 
                            '010':len(customers_set)-len(intersec_users_customers)-len(intersec_customers_attacker)+len(intersec_users_customers_attackers), 
                            '011':len(intersec_customers_attacker)-len(intersec_users_customers_attackers),
                            '100':len(users_set)-len(intersec_users_customers)-len(intersec_users_attackers)+len(intersec_users_customers_attackers),
                            '101':len(intersec_users_attackers)-len(intersec_users_customers_attackers),
                            '110':len(intersec_users_customers)-len(intersec_users_customers_attackers),
                            '111':len(intersec_users_customers_attackers)},\
          set_labels = ('Users', 'Customers','Attackers'),\
          alpha=1)
try:
    venn.get_patch_by_id('100').set_color('#404096')
except:
    print("*Users set is empty!")  
    
try:
    venn.get_patch_by_id('110').set_color('#DEA73A')
except:
    print("*Customers set is empty!")   

try:
    venn.get_patch_by_id('001').set_color('#D92120')
except:
    print("*Attackers set is empty!")

fig.show()
# fig.savefig('../figs/timeseries_attacks.eps', format='eps', dpi=1200)

## A.3. Distribution of login times per user

In [ ]:
if len(df_logins['userid'].value_counts()) > 0:
    num_distinct_logins_per_user=df_logins['userid'].value_counts()
else:
    num_distinct_logins_per_user=df_logins['username'].value_counts()

freq_distinct_logins_per_user=num_distinct_logins_per_user.value_counts()
cum_dist_user_logins = np.linspace(0.,1.,len(num_distinct_logins_per_user))
cdf_user_logins = pd.Series(cum_dist_user_logins, index=num_distinct_logins_per_user.sort_values())

In [ ]:
if len(num_distinct_logins_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Login Times by Users:', fontsize=14, y=1.05,x=0.35)
    
    #Plot CDF
    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_logins.plot(ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# logins")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    ax1.set_title("")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_logins_per_user.plot(ax=ax2,kind='pie', 
                                       labels=None, 
                                       legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    
    
    
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_logins_per_user.values)/(freq_distinct_logins_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_logins_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/login_times.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.3. Number of Users that Login via TOR

In [ ]:
len(df_logins_torcheck[df_logins_torcheck['tor']==True]['userip'].value_counts())

## 5.4. Number of Distinct IP addresses by Users

In [ ]:
if len(df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()) >0:
    num_distinct_ips_per_user=df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()
else:
    num_distinct_ips_per_user=df_logins.groupby(['username','userip']).size().reset_index()['username'].value_counts()
    
freq_distinct_ips_per_user=num_distinct_ips_per_user.value_counts()
cum_dist_user_ips = np.linspace(0.,1.,len(num_distinct_ips_per_user))
cdf_user_ips = pd.Series(cum_dist_user_ips, index=num_distinct_ips_per_user.sort_values())

In [ ]:
if len(num_distinct_ips_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Distinct IP address used by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_ips.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_ips_per_user.plot(ax=ax2,kind='pie',
                                    labels=None,legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_ips_per_user.values)/(freq_distinct_ips_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_ips_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/num_ips_by_users.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.5. Number of Payments by Users

In [ ]:
if len(df_payments['userid'].value_counts())>0:
    num_distinct_payments_per_user=df_payments['userid'].value_counts()
else:
    num_distinct_payments_per_user=df_payments['username'].value_counts()

freq_distinct_payments_per_user=num_distinct_payments_per_user.value_counts()
cum_dist_user_payments = np.linspace(0.,1.,len(num_distinct_payments_per_user))
cdf_user_payments = pd.Series(cum_dist_user_payments, index=num_distinct_payments_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Number of Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# Payment")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_per_user.plot(ax=ax2,kind='pie', 
                                         labels=None,legend=False,
                                         startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_per_user.values)/(freq_distinct_payments_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/payments_distribution.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.6. Total Amount of Money Earned

In [ ]:
if len(df_payments['amountpaid']) >0:
    total_earned=df_payments['amountpaid'].values.sum()
    'US$ {:,.2f}'.format(float(total_earned))
else:
    print("Unfortunately, there is no data available!")

## 5.7. Amount of Money Paid by Users

In [ ]:
num_distinct_payments_money_per_user=df_payments['amountpaid'].value_counts()
freq_distinct_payments_money_per_user=num_distinct_payments_money_per_user.value_counts()
cum_dist_user_payments_money = np.linspace(0.,1.,len(num_distinct_payments_money_per_user))
cdf_user_payments_money = pd.Series(cum_dist_user_payments_money, index=num_distinct_payments_money_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_money_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Money Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments_money.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("$")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_money_per_user.plot(ax=ax2,kind='pie', 
                                               labels=None,legend=False,
                                               startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_money_per_user.values)/(freq_distinct_payments_money_per_user.values.sum())
    labels = ['${0:1.2f} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_money_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.6, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/distribution_amount_paid.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.8. Countries from where Users Access Booters

In [ ]:
logins_country_distribution_sorted = df_logins_iptoasn['country'].value_counts(sort=True,ascending=True)
logins_country_distribution = df_logins_iptoasn['country'].value_counts()

In [ ]:
if len(logins_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Users Accessing from Countries:', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    logins_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    logins_country_distribution.plot(ax=ax2,kind='pie', 
                                     labels=None,legend=False,
                                     startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*logins_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(logins_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/user_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.9. Countries of Blacklisted IPs

In [ ]:
blacklist_country_distribution=df_blacklist_iptoasn['country'].value_counts()
blacklist_country_distribution_sorted=df_blacklist_iptoasn['country'].value_counts(sort=True,ascending=True)

In [ ]:
if len(blacklist_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of blacklisted IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    blacklist_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    blacklist_country_distribution.plot(ax=ax2,kind='pie', 
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*blacklist_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(blacklist_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/blacklist_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.10. Countries of Target IPs

In [ ]:
attacks_country_distribution=df_attacks_iptoasn['country'].value_counts()

In [ ]:
if len(attacks_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of target IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    attacks_country_distribution.plot(ax=ax1,kind='bar')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    attacks_country_distribution.plot(ax=ax2,kind='pie', 
                                      labels=None,legend=False,
                                      startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*attacks_country_distribution.values)/(attacks_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(attacks_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/attack_countries_distribution.eps',bbox_inches='tight', format='eps', dpi=1200) 
else:
    print("Unfortunately, there is no data available!")

## 5.12. Attacks on Same Target

In [ ]:
num_attacks_on_sametarget=df_attacks['targetip'].value_counts()

freq_num_attacks_on_sametarget=num_attacks_on_sametarget.value_counts()
cum_num_attacks_on_sametarget = np.linspace(0.,1.,len(num_attacks_on_sametarget))
cdf_num_attacks_on_sametarget = pd.Series(cum_num_attacks_on_sametarget, index=num_attacks_on_sametarget.sort_values())

In [ ]:
if len(num_attacks_on_sametarget)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Attacks on Same Targets:', fontsize=14, y=1.05,x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_num_attacks_on_sametarget.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_num_attacks_on_sametarget.plot(ax=ax2,kind='pie',
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_num_attacks_on_sametarget.values)/(freq_num_attacks_on_sametarget.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_num_attacks_on_sametarget.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()

    fig.show()
    fig.savefig('figs/attacks_on_same_target.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.11. Attacks per day (timeseries)

In [ ]:
if len(df_attacks)>0:
    attack_timeseries=df_attacks.set_index(['date']).groupby(pd.TimeGrouper(freq='D')).agg(['count'])['action']
    attack_mean_perday=attack_timeseries.mean()
    attack_median_perday=attack_timeseries.median()
else:
    attack_timeseries=""

In [ ]:
if len(attack_timeseries)>0:
    fig = plt.figure(figsize=(6,3))

    ax1 = plt.subplot2grid((1,1), (0,0), rowspan=2)
    attack_timeseries.plot(ax=ax1,
                           lw=2,
                           legend=False,
    #                        style='--'
                          )

    # X and Y Labels and Ticks
    ax1.set_xlabel("Time (bin=day)")
    ax1.set_ylabel("# Attacks")

    ax1.annotate(str(int(attack_median_perday[0]))+' (median)', 
                 (min(df_attacks['date']), attack_median_perday),
                 xytext=(350, -1), 
                 textcoords='offset points',
                 color='black', 
                 arrowprops=dict(arrowstyle='-|>',
                                 color='black'))
    fig.savefig('figs/attacks_timeseries.eps', bbox_inches='tight',format='eps', dpi=1200)

else:
    print("Unfortunately, there is no data available!")

## 5.12. Time Between Logins and Attacks

In [ ]:
if len(df_attacks_and_logins)>0:
    print("redo")
else:
    print("Unfortunately, there is no data available!")

## 5.13. Who attack whom? (users on the country level)

In [ ]:
if len(df_attacks_extended)>0 and len(df_logins_extended)>0:
    merged_attacks_logins = pd.merge(df_attacks_extended,
                                  df_logins_extended,
                                  how = 'left',
                                  left_on = 'date',
                                  right_on = 'date')[['targetcountry','srccountry']]

    who_against_whom = merged_attacks_logins.groupby(['targetcountry','srccountry'])\
                            .size()\
                            .reset_index()\
                            .pivot('srccountry','targetcountry',0)
else:
    who_against_whom =""

In [ ]:
if len(who_against_whom)>0:
    fig = plt.figure(figsize=(8,12))
    fig.suptitle('Countries of Target IPs', fontsize=14, y=.92)

    ax1 = plt.subplot2grid((1,1), (0,0))
    sns.set()
    sns.heatmap(who_against_whom,
                ax=ax1,
#                 cmap="YlGnBu",
    #             linewidths=.5,
    #             annot=True
                )

    ax1.set_ylabel("Source Country")
    ax1.set_xlabel("Attack Target Country")

    fig.show()
    fig.savefig('figs/who_attack_whom.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

<h1 align="center">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
FIFTH PART: Query Interface<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [ ]:
from ipywidgets import widgets, interact, Dropdown,HTML
from IPython.display import display,clear_output

In [ ]:
def search_by_userid_submit(sender):
    clear_output()
    print("Searching by id =",search_by_userid.value)
    
    if len(df_users[df_users['userid']== int(search_by_userid.value)])>0:
        display(df_users[df_logins['userid']== int(search_by_userid.value)])
    
    if len(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])>0:
        display(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])
    
    if len(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])>0:
        display(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])
    
    if len(df_payments[df_payments['userid']== int(search_by_userid.value)])>0:
        display(df_payments[df_payments['userid']== int(search_by_userid.value)])

def search_by_username_submit(sender):
    clear_output()
    print("Searching by username =",search_by_username.value,"\n")
    
    if len(df_users[df_users['username']== search_by_username.value])>0:
        print("Table df_users:")
        display(df_users[df_users['username']== search_by_username.value])
    
    if len(df_logins_extended[df_logins_extended['username']== search_by_username.value])>0:
        print("Table df_logins:")
        display(df_logins_extended[df_logins_extended['username']== search_by_username.value])

    if len(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])>0:
        print("Table df_attacks:")
        display(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])
    
    if len(df_payments[df_payments['username']== search_by_username.value])>0:
        print("Table df_payments:")
        display(df_payments[df_payments['username']== search_by_username.value])
        
def search_by_ip_submit(sender):
    clear_output()
    print("Searching by IP address =",str(search_by_ip.value),"\n")
    
    if len(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])>0:
        print("Table df_logins (as ATTACKER:")
        display(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])
     
    if len(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])  
      
       
def search_by_asn_submit(sender):
    clear_output()
    print("Searching by Autonomous System Number (ASN) =",search_by_asn.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])
    
    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

        
country_list=pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/master/data.csv',delimiter=",",error_bad_lines=False)
def search_by_country_submit():
    country_code=country_list[country_list['Name']==search_by_country.value]['Code'].values[0]
    clear_output()
    print("Searching by Country =",search_by_country.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srccountry']== country_code])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srccountry']== country_code])
    
    if len(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])

In [ ]:
display(HTML('<h3>*Search by (only) one field per time:</h3>'))

search_by_username = widgets.Text(description="username")
display(search_by_username)
search_by_username.on_submit(search_by_username_submit)

search_by_userid = widgets.Text(description="userid")
display(search_by_userid)
search_by_userid.on_submit(search_by_userid_submit)

search_by_ip = widgets.Text(description="IP")
display(search_by_ip)
search_by_ip.on_submit(search_by_ip_submit)

search_by_asn = widgets.Text(description="ASN")
display(search_by_asn)
search_by_asn.on_submit(search_by_asn_submit)

search_by_country = Dropdown(description="Country", options=country_list['Name'].tolist())
search_by_country.on_trait_change(search_by_country_submit, name="value")
display(search_by_country)