<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
Brief explanation on our Booter database analysis methodology: <br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

# Analysis of: urgentbooter
#### File originally retrieved from: http://4lz5rmnkd6f63tmm.onion/db/urgentbooter.sql

## * Libraries that I use to analyse data

In [1]:
import pandas as pd
import numpy as np

from io import StringIO
import re

from IPython.display import display,clear_output

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 0: Reading an input Booter database file<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [2]:
dumpfile='urgentbooter.sql'

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 1: Adaptation to our Booter database schema<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

## 1. Reading the first 'N' (100) lines of the input Booter database file

In [3]:
lines_to_read=100

with open(dumpfile) as myfile:
    firstlines=myfile.readlines()[0:lines_to_read] #put here the interval you want
    for x in firstlines:
        print(x.strip())

--
-- because your full of lies
--
-- 1 - you cant takedown pastebin
-- 2 - lifetime for 20dollars, yeah tons of shared apis and fake 3400 shells
-- 3 - pure lie about everything
--
-- you had 1600 shells here, infact there were 36
--
-- Adminer 3.3.4 MySQL dump

SET NAMES utf8;
SET foreign_key_checks = 0;
SET time_zone = 'SYSTEM';
SET sql_mode = 'NO_AUTO_VALUE_ON_ZERO';

DROP TABLE IF EXISTS `block_time`;
CREATE TABLE `block_time` (
`message2` varchar(100) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

INSERT INTO `block_time` (`message2`) VALUES
('180');

DROP TABLE IF EXISTS `block_time_gold`;
CREATE TABLE `block_time_gold` (
`message14` varchar(100) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

INSERT INTO `block_time_gold` (`message14`) VALUES
('120');

DROP TABLE IF EXISTS `boot_time`;
CREATE TABLE `boot_time` (
`message` varchar(100) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

INSERT INTO `boot_time` (`message`) VALUES
('120');

DROP TABLE IF EXISTS `boot_time_gold`;
CREATE TABLE `boot_time_gold` (
`message13` varchar(100) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

INSERT INTO `boot_time_gold` (`message13`) VALUES
('180');

DROP TABLE IF EXISTS `chat`;
CREATE TABLE `chat` (
`message8` varchar(100) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

INSERT INTO `chat` (`message8`) VALUES
('at3661');

DROP TABLE IF EXISTS `downloads`;
CREATE TABLE `downloads` (
`DownloadId` int(11) NOT NULL AUTO_INCREMENT,
`DownloadName` varchar(100) NOT NULL DEFAULT 'none',
`FileName` varchar(150) NOT NULL DEFAULT 'none',
`DateAdded` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
`DateModified` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
`IsEnabled` tinyint(1) NOT NULL DEFAULT '0',
`PremiumLevel` int(3) NOT NULL DEFAULT '1',
PRIMARY KEY (`DownloadId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;


DROP TABLE IF EXISTS `enemies`;
CREATE TABLE `enemies` (
`id` int(50) NOT NULL AUTO_INCREMENT,
`ip` varchar(15) COLLATE latin1_general_ci NOT NULL,
`notes` text COLLATE latin1_general_ci NOT NULL,
`enemy` varchar(20) COLLATE latin1_general_ci NOT NULL,
PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COLLATE=latin1_general_ci;

INSERT INTO `enemies` (`id`, `ip`, `notes`, `enemy`) VALUES
(11,	'127.0.0.1',	'He makes fun of me ALOT',	'');

DROP TABLE IF EXISTS `feedback_categories`;
CREATE TABLE `feedback_categories` (
`CategoryId` int(11) NOT NULL AUTO_INCREMENT,
`CategoryName` varchar(100) NOT NULL,
`IsEnabled` tinyint(1) NOT NULL DEFAULT '0',
PRIMARY KEY (`CategoryId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

INSERT INTO `feedback_categories` (`CategoryId`, `CategoryName`, `IsEnabled`) VALUES
(1,	'Bug',	1),
(2,	'Site Content',	1),
(3,	'Suggestion',	1),
(4,	'Compliment',	1),
(5,	'Other',	1);

DROP TABLE IF EXISTS `feedback_page`;
CREATE TABLE `feedback_page` (
`PageId` int(11) NOT NULL AUTO_INCREMENT,
`PageTitle` varchar(250) DEFAULT NULL,

## 2. Listing tables that have content inserted into the dump file

In [4]:
def list_tables_with_insert(dumpfile):
    tables = []
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            if line.lower().startswith('insert'):
                table = re.findall(r'`(.*?)`', line)
                tables.append(table[0])
    return tables

In [7]:
tables=enumerate(list_tables_with_insert(dumpfile))

for i, item in tables:
    print(i+1,item)

1 block_time
2 block_time_gold
3 boot_time
4 boot_time_gold
5 chat
6 enemies
7 feedback_categories
8 feedback_page
9 feedback_subcategories
10 friends
11 log
12 logs
13 membership_coupons
14 membership_rates
15 membership_types
16 menu_names
17 menus
18 news
19 paypal_config
20 paypal_payments
21 postshells
22 profiles
23 roles
24 shell_percent_gold
25 shell_percent_silver
26 shells
27 users

## How the list above looks like?

<h2 align='center'>======================================================================
If NOT well-formed SQL dump file then you must first do the following:
======================================================================</h2>

## 3. Removing lines that are not part of the actual content to be analysed

## 4. Splitting and naming tables and columns

<h2 align='center'>======================================================================
Additional functions
======================================================================</h2>

## * Function to read tables from wel-formed SQL database dump

In [389]:
# For well formed SQL database dumps!
def read_inserted_table(dumpfile, target_table):
    sio = StringIO()
    fast_forward = True
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            line = re.sub("(?!(([^']*'){2})*[^']*$)\)", '',line) #Step0:remove any ")" from the content of columns
            if line.lower().startswith('insert') and target_table in line:
                fast_forward = False
            if fast_forward:
                continue
            data = re.findall('\([^\)]*\)', line) #Step1: get the content between parentesis (i.e., insert line)
            try:
                newline = data[0].strip('()') #Step2:remove parenthesis
                newline=newline.replace('`','') #Step3: remove ` (usually in table names)
                newline=re.sub(r'(?!(([^\']*\'){2})*[^\']*$),','', newline) #Step4: remove commas from the content of columns
                newline=newline.replace('\'','') #Step5: remove single quotes
                newline=newline.replace(', ', ',') #Step6: remove single spaces after comma (i.e., in the beginning of a column)
                sio.write(newline)
                sio.write("\n")
            except IndexError:
                pass
            if line.endswith(';'):
                break
    sio.seek(0)
    return sio

In [407]:
# DO NOT consider the possibility of commas withing any table
def read_inserted_table2(dumpfile, target_table):
    sio = StringIO()
    fast_forward = True
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            line = re.sub("(?!(([^']*'){2})*[^']*$)\)", '',line) #Step0:remove any ")" from the content of columns
            if line.lower().startswith('insert') and target_table in line:
                fast_forward = False
            if fast_forward:
                continue
            data = re.findall('\([^\)]*\)', line) #Step1: get the content between parentesis (i.e., insert line)
            try:
                newline = data[0].strip('()') #Step2:remove parenthesis
                newline=newline.replace('`','') #Step3: remove ` (usually in table names)                 
#                 newline=re.sub(r'(?!(([^\']*\'){2})*[^\']*$),','', newline) #Step4: remove commas from the content of columns
                newline=newline.replace('\'','') #Step5: remove single quotes
                newline=newline.replace(', ', ',') #Step6: remove single spaces after comma (i.e., in the beginning of a column)
                sio.write(newline)
                sio.write("\n")
            except IndexError:
                pass
            if line.endswith(';'):
                break
    sio.seek(0)
    return sio

## * Converter functions for formatting content of columns
Attention, it is better to perform the conversion based on a series than a string (http://stackoverflow.com/questions/42462906/pandas-read-csv-converters-performance-issue)

In [280]:
def tolowercase(series):
    return series.str.lower()

In [281]:
def strip_singlequote(series):
    return series.str.strip('\'')

In [431]:
def timestamp2datetime(series):
    return  pd.to_datetime(series,unit='s',errors='coerce')

In [432]:
def datetimestring2datetime(series):
    return  pd.to_datetime(series, format='%d-%m-%Y %H:%M',errors='coerce')

In [433]:
def datetimeinvertedstring2datetime(series):
    return pd.to_datetime(series, format='%Y-%m-%d %H:%M:%S',errors='coerce')

In [434]:
def datetimeampm2datetime(series):
    return  pd.to_datetime(series,format='%d-%m-%Y %I:%M:%S %p',errors='coerce')

In [435]:
def datetimemdyampm2datetime(series):
    return  pd.to_datetime(series, format='%m-%d-%Y %I:%M:%S %p',errors='coerce')

In [287]:
def strip_parenthesisandsemicolon(series):
    return series.str.strip(');')

In [288]:
def strip_insertintologs(series):
    return int(series.str.strip('INSERT INTO `logs` VALUES ('))

In [308]:
def strip_tab(series):
    return series.str.strip('\t')

<h2 align='center'>======================================================================
Adapting EACH existing table
======================================================================</h2>

## 6.1. Table: 'block_time'

### How this table looks like without modification?

In [290]:
tablename='block_time'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   message2
0       180

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o 
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.2. Table: 'block_time_gold'

### How this table looks like without modification?

In [291]:
tablename='block_time_gold'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   message14
0        120

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o 
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.3. Table: 'boot_time'

### How this table looks like without modification?

In [292]:
tablename='boot_time'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   message
0      120

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o 
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.4. Table: 'boot_time_gold'

### How this table looks like without modification?

In [293]:
tablename='boot_time_gold'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   message13
0        180

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o 
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.5. Table: 'chat'

### How this table looks like without modification?

In [294]:
tablename='chat'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

  message8
0   at3661

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o 
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.6. Table: 'enemies'

### How this table looks like without modification?

In [295]:
tablename='enemies'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   id           ip                      notes enemy
0  11  \t127.0.0.1  \tHe makes fun of me ALOT    \t

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES BUT append
    - This table looks like: friendsenemies
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o enemies -> friendsenemies
    - On the column type/converter: 
        o 
    - On the column name:
        o notes -> note
    - Split columns:
        o 
    - Add required columns:
        o userid
        o type = enemy

### Modifying table: 'enemies'

In [310]:
# Loading table with the correct name
df_friendsenemies = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",", error_bad_lines=False)
                        
# Applying converters on the columns of the table
df_friendsenemies['ip']=strip_tab(df_friendsenemies['ip'])
df_friendsenemies['notes']=strip_tab(df_friendsenemies['ip'])

# Changing names of columns
df_friendsenemies.rename(columns = {'notes': 'note'},
                         inplace=True)

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_friendsenemies['userid'] = np.nan
df_friendsenemies['type'] ='enemy'

# Showing some lines after adapt the table
df_friendsenemies.head(10)

   id         ip       note enemy  userid   type
0  11  127.0.0.1  127.0.0.1    \t     NaN  enemy

## 6.7. Table: 'feedback_categories'

### How this table looks like without modification?

In [311]:
tablename='feedback_categories'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   CategoryId    CategoryName  IsEnabled
0           1           \tBug          1
1           2  \tSite Content          1
2           3    \tSuggestion          1
3           4    \tCompliment          1
4           5         \tOther          1

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o 
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.8. Table: 'feedback_page'

### How this table looks like without modification?

In [313]:
tablename='feedback_page'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,PageId,PageTitle,Subtitle,PageDescription,CompanyLogo
0,1,\tContact / User Feedback,\tGreetings!,\tPlease take a moment to fill out the feedbac...,\t

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o 
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.9. Table: 'feedback_subcategories'

### How this table looks like without modification?

In [314]:
tablename='feedback_subcategories'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,SubcategoryId,CategoryId,SubcategoryName,CategoryName,IsEnabled
0,1,\t1,\tBrowser not supported,\tBug,1.0
1,2\t1\tCan\t log in,\tBug,\t1,NaN,NaN
2,3,\t1,\tDisability enquiries,\tBug,1.0
3,4,\t1,\tSite content,\tBug,1.0
4,5,\t1,\tRegistration / Privacy,\tBug,1.0
5,6,\t1,\tUsability and Design,\tBug,1.0
6,7,\t1,\tObjectionable Content,\tBug,1.0
7,8,\t1,\tOther,\tBug,1.0
8,9,\t2,\tCopyright Violation,\tSite Content,1.0
9,10,\t2,\tFraud Report,\tSite Content,1.0

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o 
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.10. Table: 'friends'

### How this table looks like without modification?

In [315]:
tablename='friends'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   id                ip       notes friend
0   6  \t97.127.181.191  \toh Beats     \t
1   5    \t70.181.91.70      \tDxre     \t

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES but append
    - This table looks like: friendsenemies
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o friends -> friendsenemies_temp
    - On the column type/converter: 
        o 
    - On the column name:
        o notes -> note
    - Split columns:
        o 
    - Add required columns:
        o userid
        o type = friend

### Modifying table: 'friends'

In [316]:
### Loading the column converting columns with predefined functions
df_friendsenemies_temp = pd.read_csv(read_inserted_table(dumpfile, tablename),
                        delimiter=",",
                        error_bad_lines=False)

# Converters                                     
df_friendsenemies_temp['ip']=strip_tab(df_friendsenemies_temp['ip'])
df_friendsenemies_temp['notes']=strip_tab(df_friendsenemies_temp['notes'])
df_friendsenemies_temp['friend']=strip_tab(df_friendsenemies_temp['friend'])

###Changing names of columns
df_friendsenemies_temp.rename(columns = {   'notes': 'note'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_friendsenemies_temp['userid'] = np.nan
df_friendsenemies_temp['type'] ='friend'

###Showing some lines after adapt the table
df_friendsenemies_temp.head(10)

   id              ip      note friend  userid    type
0   6  97.127.181.191  oh Beats            NaN  friend
1   5    70.181.91.70      Dxre            NaN  friend

In [317]:
df_friendsenemies=df_friendsenemies.append(df_friendsenemies_temp)

## 6.11. Table: 'log'

### How this table looks like without modification?

In [318]:
tablename='log'

# Only displaying the results
pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

              ip                                       date
0  173.245.55.76  \tThursday 12th of April 2012 07:16:55 AM
1  173.245.55.76  \tThursday 12th of April 2012 07:17:08 AM
2  173.245.55.76  \tThursday 12th of April 2012 07:19:35 AM
3  173.245.55.76  \tThursday 12th of April 2012 07:24:34 AM
4  173.245.55.76  \tThursday 12th of April 2012 07:25:02 AM
5  173.245.55.76  \tThursday 12th of April 2012 07:25:26 AM
6  173.245.55.76  \tThursday 12th of April 2012 05:38:24 PM
7   74.125.16.85    \tFriday 20th of April 2012 10:13:05 AM
8  58.28.211.196    \tFriday 20th of April 2012 10:13:24 AM
9  88.114.167.33    \tMonday 23rd of April 2012 10:03:09 PM

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO, it can be anything
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o    
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.12. Table: 'logs'

### How this table looks like without modification?

In [319]:
tablename='logs'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

  username                 ip  time   port                      date
0  theibel     \t64.31.26.195    60     80  \t04-24-2012 04:31:13 pm
1  theibel     \t64.31.26.195   120     80  \t04-24-2012 04:32:28 pm
2  theibel     \t64.31.26.195   120     80  \t04-24-2012 04:34:26 pm
3   ikaros  \t122.149.144.156    60   3074  \t04-24-2012 05:26:22 pm
4   ikaros  \t122.149.144.156    60   3074  \t04-24-2012 05:26:55 pm
5   ikaros   \t75.134.113.125    30   3074  \t04-24-2012 05:29:18 pm
6   ikaros   \t75.134.113.125    30     80  \t04-24-2012 05:29:52 pm
7   nokout   \t208.110.86.101   120  25565  \t04-24-2012 05:32:58 pm
8   nokout   \t208.110.86.101   180  25565  \t04-24-2012 05:39:36 pm
9   nokout   \t208.110.86.101   160  25565  \t04-24-2012 05:41:12 pm

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: attacks
#### Q3: Are there modifications required? 
    - On the table name: 
        o logs => attacks
    - On the column type: 
        o date -> datetimetabmdyampm2datetime() 
    - On the column name:
        o ip -> targetip 
        o time -> duration 
    - Add required columns:
        o id
        o userid
        o targeturl
        o type
    - Split columns:
        o

### Modifying table: 'logs'

In [321]:
# Loading the correct table name
df_attacks = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_attacks['ip']=strip_tab(df_attacks['ip'])
df_attacks['date']= datetimemdyampm2datetime(strip_tab(df_attacks['date']))

# Changing column names
df_attacks.rename(columns = {   'ip': 'targetip',
                               'time':'duration'},
                         inplace=True)

# Adding missing columns (with "" [for future string] or np.nan [for future float])
df_attacks['id'] = np.nan
df_attacks['userid'] = np.nan
df_attacks['type'] = ""
df_attacks['targeturl'] = ""

###Showing some lines after adapt the table
df_attacks.head(10)

,username,targetip,duration,port,date,id,userid,type,targeturl
0,theibel,64.31.26.195,60,80,2012-04-24 16:31:13,NaN,NaN,,
1,theibel,64.31.26.195,120,80,2012-04-24 16:32:28,NaN,NaN,,
2,theibel,64.31.26.195,120,80,2012-04-24 16:34:26,NaN,NaN,,
3,ikaros,122.149.144.156,60,3074,2012-04-24 17:26:22,NaN,NaN,,
4,ikaros,122.149.144.156,60,3074,2012-04-24 17:26:55,NaN,NaN,,
5,ikaros,75.134.113.125,30,3074,2012-04-24 17:29:18,NaN,NaN,,
6,ikaros,75.134.113.125,30,80,2012-04-24 17:29:52,NaN,NaN,,
7,nokout,208.110.86.101,120,25565,2012-04-24 17:32:58,NaN,NaN,,
8,nokout,208.110.86.101,180,25565,2012-04-24 17:39:36,NaN,NaN,,
9,nokout,208.110.86.101,160,25565,2012-04-24 17:41:12,NaN,NaN,,

## 6.13. Table: 'membership_coupons'

### How this table looks like without modification?

In [322]:
tablename='membership_coupons'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,CouponId,CouponCode,Discount,DateStart,DateEnd,DateAdded,IsEnabled,PremiumLevel
0,6,\tnuffnuffy<3,60.0,\t2012-04-22 00:00:00,\t2012-04-24 00:00:00,\t2012-04-23 04:22:17,1,2

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o  
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.14. Table: 'membership_rates'

### How this table looks like without modification?

In [323]:
tablename='membership_rates'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,RatesId,TypesId,Type,RateTitle,Description,IntervalLength,IntervalType,IsAutoRenew,AutoRenewTimes,IsTrial1,...,Trial1Length,Trial1Type,IsTrial2,Trial2Rate,Trial2Length,Trial2Type,MembershipFee,OrdinalPosition,IsEnabled,PremiumLevel
0,48,2,\tSilver Membership,\t1 Day - USD .25,\tp>1 Day Subscription - USD .25</p>,1,\tD,0,2,0,...,1,\tD,0,0.0,1,\tD,0.25,1,1,1
1,50,2,\tSilver Membership,\tMonthly - USD 4.00,\t<p>Monthly Subscription - USD 4.00</p>,1,\tM,0,2,0,...,1,\tD,0,0.0,1,\tD,4.00,3,1,1
2,51,2,\tSilver Membership,\t3 Months - USD 10.00,\t<p>3 Month Subscription - USD 10.00</p>,3,\tM,0,2,0,...,1,\tD,0,0.0,1,\tD,10.00,4,1,1
3,52,2,\tSilver Membership,\tLifetime - USD 19.99,\t<p>Lifetime Subscription - USD 19.99</p>,5,\tY,0,2,0,...,1,\tD,0,0.0,1,\tD,19.99,5,1,1
4,53,3,\tGold Membership,\tDaily - USD .50,\t<p>Daily Subscription - USD .50</p>,1,\tD,0,2,0,...,1,\tD,0,0.0,1,\tD,0.50,6,1,2
5,61,3,\tGold Membership,\tMonthly - USD 5.00,\t<p>Monthly Subscription - USD 5.00</p>,1,\tM,0,2,0,...,1,\tD,0,0.0,1,\tD,5.00,8,1,2
6,60,3,\tGold Membership,\tLifetime - USD 25.00,\t<p>Lifetime Subscription - USD 25.00</p>,5,\tY,0,2,0,...,1,\tD,0,0.0,1,\tD,25.00,10,1,2
7,59,3,\tGold Membership,\t3 Months - USD 15.00,\t<p>3 Monthy Subscription - USD 15.00</p>,3,\tM,0,2,0,...,1,\tD,0,0.0,1,\tD,15.00,9,1,2

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: plans
#### Q3: Are there modifications required? 
    - On the table name: 
        o membership_rates -> plans
    - On the column type: 
        o  
    - On the column name:
        o RatesId -> planid
        o Type -> planname 
        o RateTitle -> plandescr
        o MembershipFee -> price
    - Add required columns:
        o maxboottime
        o concurrecy
    - Split columns:
        o

### Modifying table: 'membership_rates'

In [327]:
# Loading the correct table name
df_plans = pd.read_csv(read_inserted_table(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

# Converting columns
df_plans['RateTitle']=strip_tab(df_plans['RateTitle'])
df_plans['Type']=strip_tab(df_plans['Type'])

# Changing column names
df_plans.rename(columns = {'RatesId': 'planid',
                           'RateTitle':'plandescr',
                          'Type':'planname',
                          'MembershipFee': 'price'},
                         inplace=True)

# Showing some lines after adapt the tabledf_plans['maxboottime'] = np.nan
df_plans['concurrency'] = np.nan

# Showing some lines after adapt the table
df_plans.head(10)

,planid,TypesId,planname,plandescr,Description,IntervalLength,IntervalType,IsAutoRenew,AutoRenewTimes,IsTrial1,...,IsTrial2,Trial2Rate,Trial2Length,Trial2Type,price,OrdinalPosition,IsEnabled,PremiumLevel,maxboottime,concurrency
0,48,2,Silver Membership,1 Day - USD .25,\tp>1 Day Subscription - USD .25</p>,1,\tD,0,2,0,...,0,0.0,1,\tD,0.25,1,1,1,NaN,NaN
1,50,2,Silver Membership,Monthly - USD 4.00,\t<p>Monthly Subscription - USD 4.00</p>,1,\tM,0,2,0,...,0,0.0,1,\tD,4.00,3,1,1,NaN,NaN
2,51,2,Silver Membership,3 Months - USD 10.00,\t<p>3 Month Subscription - USD 10.00</p>,3,\tM,0,2,0,...,0,0.0,1,\tD,10.00,4,1,1,NaN,NaN
3,52,2,Silver Membership,Lifetime - USD 19.99,\t<p>Lifetime Subscription - USD 19.99</p>,5,\tY,0,2,0,...,0,0.0,1,\tD,19.99,5,1,1,NaN,NaN
4,53,3,Gold Membership,Daily - USD .50,\t<p>Daily Subscription - USD .50</p>,1,\tD,0,2,0,...,0,0.0,1,\tD,0.50,6,1,2,NaN,NaN
5,61,3,Gold Membership,Monthly - USD 5.00,\t<p>Monthly Subscription - USD 5.00</p>,1,\tM,0,2,0,...,0,0.0,1,\tD,5.00,8,1,2,NaN,NaN
6,60,3,Gold Membership,Lifetime - USD 25.00,\t<p>Lifetime Subscription - USD 25.00</p>,5,\tY,0,2,0,...,0,0.0,1,\tD,25.00,10,1,2,NaN,NaN
7,59,3,Gold Membership,3 Months - USD 15.00,\t<p>3 Monthy Subscription - USD 15.00</p>,3,\tM,0,2,0,...,0,0.0,1,\tD,15.00,9,1,2,NaN,NaN

## 6.15. Table: 'membership_types'

### How this table looks like without modification?

In [328]:
tablename='membership_types'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,TypesId,Type,Description,OrdinalPosition,IsEnabled
0,2,\tSilver Membership,\tPremium membership with some restrictions.,1,1
1,3,\tGold Membership,\tTop of the line membership access to all opt...,2,1

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.16. Table: 'menu_names'

### How this table looks like without modification?

In [329]:
tablename='menu_names'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   MenuNameId     MenuName        Description
0           1  \tuser dash             \tnone
1           7       \tTest  \tTest Testing 12

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.17. Table: 'menus

### How this table looks like without modification?

In [330]:
tablename='menus'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,MenuId,MenuName,Url,Target,Label,Title,Description,ParentId,ParentLabel,OrdinalPosition,IsEnabled
0,1,\tuser dash,\tindex.php,\t_self,\tMy Account,\tback to user dash home page,\t,0,\tMy Account,1,1

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.18. Table: 'news'

### How this table looks like without modification?

In [331]:
tablename='news'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

                                            message3
0  If you haven\t vouched vouch here: http://www....

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.19. Table: 'paypal_config'

### How this table looks like without modification?

In [332]:
tablename='paypal_config'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,ConfigId,PaypalGateway,PaypalSandbox,MerchantAccountId,IsSandbox,PaypalCurrency,CurrencySymbol,SuccessURL,CancelURL,IpnURL
0,1,\thttps://www.paypal.com/cgi-bin/webscr,\thttps://www.sandbox.paypal.com/cgi-bin/webscr,\tshellytroyer@hotmail.com,0,\tUSD,\t$,http://www.urgentbooter.info/site/user/payment...,\thttp://www.urgentbooter.info/site/user/payme...,http://www.urgentbooter.info/site/user/paypal_...

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: gateways
#### Q3: Are there modifications required? 
    - On the table name: 
        o paypal_config -> gateways
    - On the column type: 
        o 
    - On the column name:
        o MerchantAccountId -> email
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'paypal_config'

In [335]:
# Loading the correct table name
df_gateways = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_gateways['MerchantAccountId']=strip_tab(df_gateways['MerchantAccountId'])

# Changing names of columns
df_gateways.rename(columns = {'MerchantAccountId': 'email'},
                   inplace=True)

# Creating empty columns (with "" [for future string] or np.nan [for future float])

# Showing some lines after adapt the table
df_gateways.head(10)

,ConfigId,PaypalGateway,PaypalSandbox,email,IsSandbox,PaypalCurrency,CurrencySymbol,SuccessURL,CancelURL,IpnURL
0,1,\thttps://www.paypal.com/cgi-bin/webscr,\thttps://www.sandbox.paypal.com/cgi-bin/webscr,shellytroyer@hotmail.com,0,\tUSD,\t$,http://www.urgentbooter.info/site/user/payment...,\thttp://www.urgentbooter.info/site/user/payme...,http://www.urgentbooter.info/site/user/paypal_...

## 6.20. Table: 'paypal_payments'

### How this table looks like without modification?

In [336]:
tablename='paypal_payments'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,PaypalId,subscr_id,txn_id,txn_type,UserName,RatesId,custom,mc_gross,mc_fee,Trial1Amount,...,payment_currency,TransactionDate,ExpireDate,item_name,item_number,receiver_email,payer_email,payment_status,pending_reason,BadTransaction
0,39,\tI-9XP8V9VUGPW6,\t9MF95294HC160013W,\tsubscr_payment,\tyinscape,53,\tyinscape|53,0.5,0.31,0.0,...,\tUSD,\t2012-04-20 04:34:06,\t0000-00-00 00:00:00,Gold Membership,\tDaily - USD .50,\tshellytroyer@hotmail.com,\tyinchuichoy2@yahoo.com,\tFailed,\tnone,1
1,40,\tI-9XP8V9VUGPW6,\tnone,\tsubscr_signup,\tyinscape,53,\tyinscape|53,0.0,0.00,0.0,...,\tUSD,\t2012-04-20 04:34:06,\t0000-00-00 00:00:00,\tGold Membership,Daily - USD .50,\tshellytroyer@hotmail.com,\tyinchuichoy2@yahoo.com,\tFailed,\tnone,1
2,41,\tI-9XP8V9VUGPW6,\tnone,\tsubscr_eot,\tyinscape,53,\tyinscape|53,0.0,0.00,0.0,...,\tUSD,\t2012-04-20 04:34:13,\t0000-00-00 00:00:00,\tGold Membership,Daily - USD .50,\tshellytroyer@hotmail.com,\tyinchuichoy2@yahoo.com,\tEnd Of Term,\tnone,0
3,42,\tI-1JF5B2HP90CB,\tnone,\tsubscr_signup,\tnicksauser,53,\tnicksauser|53,0.0,0.00,0.0,...,\tUSD,\t2012-04-20 05:14:47,\t0000-00-00 00:00:00,\tGold Membership,\tDaily - USD .50,\tshellytroyer@hotmail.com,\tMaryann_Patron@Cargill.com,\tFailed,\tnone,1
4,43,\tI-1JF5B2HP90CB,\tnone,\tsubscr_eot,\tnicksauser,53,\tnicksauser|53,0.0,0.00,0.0,...,\tUSD,\t2012-04-20 05:14:47,\t0000-00-00 00:00:00,\tGold Membership,Daily - USD .50,\tshellytroyer@hotmail.com,\tMaryann_Patron@Cargill.com,\tEnd Of Term,\tnone,0
5,44,\tI-1JF5B2HP90CB,\t0094673023753241E,\tsubscr_payment,\tnicksauser,53,\tnicksauser|53,0.5,0.32,0.0,...,\tUSD,\t2012-04-20 05:14:53,\t0000-00-00 00:00:00,Gold Membership,\tDaily - USD .50,\tshellytroyer@hotmail.com,\tMaryann_Patron@Cargill.com,\tFailed,\tnone,1
6,45,\tI-J50MH65YJ42G,\t6JR4881950535024M,\tsubscr_payment,\td.mercelli,53,\td.mercelli|53,0.5,0.32,0.0,...,\tUSD,\t2012-04-20 05:20:34,\t0000-00-00 00:00:00,Gold Membership,\tDaily - USD .50,\tshellytroyer@hotmail.com,\td.mercelli@gmail.com,\tFailed,\tnone,1
7,46,\tI-J50MH65YJ42G,\tnone,\tsubscr_eot,\td.mercelli,53,\td.mercelli|53,0.0,0.00,0.0,...,\tUSD,\t2012-04-20 05:20:34,\t0000-00-00 00:00:00,\tGold Membership,Daily - USD .50,\tshellytroyer@hotmail.com,\td.mercelli@gmail.com,\tEnd Of Term,\tnone,0
8,47,\tI-J50MH65YJ42G,\tnone,\tsubscr_signup,\td.mercelli,53,\td.mercelli|53,0.0,0.00,0.0,...,\tUSD,\t2012-04-20 05:20:38,\t0000-00-00 00:00:00,\tGold Membership,Daily - USD .50,\tshellytroyer@hotmail.com,\td.mercelli@gmail.com,\tFailed,\tnone,1
9,48,\tI-M0WSXTSH6VRY,\tnone,\tsubscr_eot,\txxmjxx,53,\txxmjxx|53,0.0,0.00,0.0,...,\tUSD,\t2012-04-21 18:31:55,\t0000-00-00 00:00:00,\tGold Membership,\tDaily - USD .50,\tshellytroyer@hotmail.com,\tHusain-bin3agool@hotmail.com,\tEnd Of Term,\tnone,0

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: payments
#### Q3: Are there modifications required? 
    - On the table name: 
        o paypal_payments -> payments
    - On the column type: 
        o TransactionDate ->datetimeinvertedstring2datetime()
    - On the column name:
        o PaypallId -> id
        o UserName -> username
        o mc_gross -> amountpaid 
        o payer_email -> paymentemail
        o RateId ->planid 
        o txn_id -> tid
        o TransactionDate -> date
    - Add required columns:
        o userid
    - Split columns:
        o

### Modifying table: 'paypal_payments'

In [340]:
# Loading the correct table name
df_gateways = pd.read_csv(read_inserted_table(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

# Converting columns
df_gateways['UserName']=strip_tab(df_gateways['UserName'])
df_gateways['payer_email']=strip_tab(df_gateways['payer_email'])
df_gateways['txn_id']=strip_tab(df_gateways['txn_id'])
df_gateways['TransactionDate']=datetimeinvertedstring2datetime(strip_tab(df_gateways['TransactionDate']))

# Changing names of columns
df_gateways.rename(columns = {'PaypallId': 'id',
                             'UserName': 'username',
                             'mc_gross':'amuntpaid',
                             'payer_email': 'paymentemail',
                             'RateId':'planid',
                             'txn_id':'tid',
                             'TransactionDate': 'date'},
                         inplace=True)

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_gateways['userid']=""

# Showing some lines after adapt the table
df_gateways.head(10)

,PaypalId,subscr_id,tid,txn_type,username,RatesId,custom,amuntpaid,mc_fee,Trial1Amount,...,date,ExpireDate,item_name,item_number,receiver_email,paymentemail,payment_status,pending_reason,BadTransaction,userid
0,39,\tI-9XP8V9VUGPW6,9MF95294HC160013W,\tsubscr_payment,yinscape,53,\tyinscape|53,0.5,0.31,0.0,...,2012-04-20 04:34:06,\t0000-00-00 00:00:00,Gold Membership,\tDaily - USD .50,\tshellytroyer@hotmail.com,yinchuichoy2@yahoo.com,\tFailed,\tnone,1,
1,40,\tI-9XP8V9VUGPW6,none,\tsubscr_signup,yinscape,53,\tyinscape|53,0.0,0.00,0.0,...,2012-04-20 04:34:06,\t0000-00-00 00:00:00,\tGold Membership,Daily - USD .50,\tshellytroyer@hotmail.com,yinchuichoy2@yahoo.com,\tFailed,\tnone,1,
2,41,\tI-9XP8V9VUGPW6,none,\tsubscr_eot,yinscape,53,\tyinscape|53,0.0,0.00,0.0,...,2012-04-20 04:34:13,\t0000-00-00 00:00:00,\tGold Membership,Daily - USD .50,\tshellytroyer@hotmail.com,yinchuichoy2@yahoo.com,\tEnd Of Term,\tnone,0,
3,42,\tI-1JF5B2HP90CB,none,\tsubscr_signup,nicksauser,53,\tnicksauser|53,0.0,0.00,0.0,...,2012-04-20 05:14:47,\t0000-00-00 00:00:00,\tGold Membership,\tDaily - USD .50,\tshellytroyer@hotmail.com,Maryann_Patron@Cargill.com,\tFailed,\tnone,1,
4,43,\tI-1JF5B2HP90CB,none,\tsubscr_eot,nicksauser,53,\tnicksauser|53,0.0,0.00,0.0,...,2012-04-20 05:14:47,\t0000-00-00 00:00:00,\tGold Membership,Daily - USD .50,\tshellytroyer@hotmail.com,Maryann_Patron@Cargill.com,\tEnd Of Term,\tnone,0,
5,44,\tI-1JF5B2HP90CB,0094673023753241E,\tsubscr_payment,nicksauser,53,\tnicksauser|53,0.5,0.32,0.0,...,2012-04-20 05:14:53,\t0000-00-00 00:00:00,Gold Membership,\tDaily - USD .50,\tshellytroyer@hotmail.com,Maryann_Patron@Cargill.com,\tFailed,\tnone,1,
6,45,\tI-J50MH65YJ42G,6JR4881950535024M,\tsubscr_payment,d.mercelli,53,\td.mercelli|53,0.5,0.32,0.0,...,2012-04-20 05:20:34,\t0000-00-00 00:00:00,Gold Membership,\tDaily - USD .50,\tshellytroyer@hotmail.com,d.mercelli@gmail.com,\tFailed,\tnone,1,
7,46,\tI-J50MH65YJ42G,none,\tsubscr_eot,d.mercelli,53,\td.mercelli|53,0.0,0.00,0.0,...,2012-04-20 05:20:34,\t0000-00-00 00:00:00,\tGold Membership,Daily - USD .50,\tshellytroyer@hotmail.com,d.mercelli@gmail.com,\tEnd Of Term,\tnone,0,
8,47,\tI-J50MH65YJ42G,none,\tsubscr_signup,d.mercelli,53,\td.mercelli|53,0.0,0.00,0.0,...,2012-04-20 05:20:38,\t0000-00-00 00:00:00,\tGold Membership,Daily - USD .50,\tshellytroyer@hotmail.com,d.mercelli@gmail.com,\tFailed,\tnone,1,
9,48,\tI-M0WSXTSH6VRY,none,\tsubscr_eot,xxmjxx,53,\txxmjxx|53,0.0,0.00,0.0,...,2012-04-21 18:31:55,\t0000-00-00 00:00:00,\tGold Membership,\tDaily - USD .50,\tshellytroyer@hotmail.com,Husain-bin3agool@hotmail.com,\tEnd Of Term,\tnone,0,

## 6.21. Table: 'postshells'

### How this table looks like without modification?

In [341]:
tablename='postshells'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   URL  online  lastChecked
0  NaN       0            0

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: webshells
#### Q3: Are there modifications required? 
    - On the table name: 
        o postshells -> webshells
    - On the column type: 
        o 
    - On the column name:
        o URL ->url
        o online -> status
        o lastChecked -> lastchecked
    - Add required columns:
        o id
        o attacktype = 'POST'
    - Split columns:
        o

### Modifying table: 'paypal_payments'

In [344]:
# Loading the correct table name
df_webshells = pd.read_csv(read_inserted_table(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

# Converting columns

# Changing names of columns
df_webshells.rename(columns = {'URL':'url',
                             'online':'status',
                             'lastCheked':'lastchecked'},
                         inplace=True)

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_webshells['id']=np.nan
df_webshells['attacktype']="POST"

# Showing some lines after adapt the table
df_webshells.head(10)

   url  status  lastChecked  id attacktype
0  NaN       0            0 NaN       POST

## 6.22. Table: 'profiles'

### How this table looks like without modification?

In [345]:
tablename='profiles'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,ProfileId,UserId,UserName,FirstName,LastName,CompanyName,WebsiteUrl,ProfileTitle,ProfileText,Phone,Address,Street,City,State,Zip,Country,AvatarImage,Newsletter,Promotion
0,21,16,\txbreeezyii,\t,\t,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\thttp://www.urgentbooter.info/site/user/uploa...,0,0
1,22,94,\tsomething99,\t,\t,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\tNULL,\thttp://urgentbooter.info/site/user/uploads/a...,0,0

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.23. Table: 'roles'

### How this table looks like without modification?

In [346]:
tablename='roles'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   RoleId         RoleName                                        Description
0       1          \towner  \tPriority 1 - Role with HIGHEST privileges - ...
1       2     \tsuperadmin   \tPriority 2 - Role with 2nd. HIGHEST privileges
2       3  \tadministrator   \tPriority 3 - Role with 3rd. HIGHEST privileges
3       4         \tmember  \tPriority 4 - Privileges are one step above \...
4       5           \tuser  \tPriority 5 - Role with LOWEST privileges - T...

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.24. Table: 'shell_percent_gold'

### How this table looks like without modification?

In [347]:
tablename='shell_percent_gold'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   message4
0       100

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.25. Table: 'shell_percent_silver'

### How this table looks like without modification?

In [348]:
tablename='shell_percent_silver'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   message5
0        85

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.26. Table: 'shells'

### How this table looks like without modification?

In [349]:
tablename='shells'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   URL  online  lastChecked
0  NaN       0            0

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.27. Table: 'users'

### How this table looks like without modification?

In [437]:
tablename='users'

pd.read_csv(read_inserted_table2(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,UserId,UserName,Password,PasswordQuestion,PasswordAnswer,Email,myAttacks,attacks,notepad,IsApproved,...,PremiumStartDate,PremiumEndDate,PremiumAmount,IsCancelled,CancelledDate,IsEndOfTerm,EndOfTermDate,IsPending,PendingDate,PremiumLevel
0,1,\tadmin,\t94fd897ce1fa5acb0439c1e7ec4cb6257758cf7d,\tyes,\tno,\tmomentsjunk@gmail.com,0,\t,\t,1,...,\t2011-01-01 00:00:00,\t2030-01-01 00:00:00,5.00,1,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,2
1,9,\tgod,\t94fd897ce1fa5acb0439c1e7ec4cb6257758cf7d,\tsdasd,\tsdasd,\taksdjklad@gmail.com,0,\t,\t,1,...,\t0000-00-00 00:00:00,\t0000-00-00 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0
2,3,\tblurreffectog,\t84cce396b8674cf25c894ca1e67231563868f9ac,\tIdk,\tidkeither,\togdox@live.ca,0,\t,\t,1,...,\t0000-00-00 00:00:00,\t0000-00-00 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0
3,4,\ttropicks,\te53ab9ec74a2a703351d316bf7504a07ad00fdaf,\tIdgaf,\tDywtd,\tjerry.jennings13@yahoo.com,0,\t,\t,1,...,\t2012-04-10 00:00:00,\t3000-04-10 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0
4,5,\tmoments,\t894946ce4d08e1053b88a272f0a42c944719edc0,\tWhat\\\\\\\\\\\\\\\s your fav song?,\tHow to love,\tatroyer36@gmail.com,60,\t88.80.12.46--1335224668::,Rates: http://gyazo.com/f28825cfe41fdd339f0376...,1,...,\t2012-04-10 00:00:00,\t3000-08-03 00:00:00,0.25,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,2
5,6,\talex,\t10d2f31e298455a42788fe927700f83c70633b20,\tWhat is your first name?,\tAlex,\taltroyer@hotmail.com,54,\t97.87.106.58--1335232443::,\t,1,...,\t2012-04-10 00:00:00,\t3000-10-18 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,2
6,10,\txgenastros,\t91677b8ef1d23b1f55274cb683e314214579b40c,\tWhere were you born?,\tMichigan,\tnickk54@live.com,0,\t,\t,1,...,\t0000-00-00 00:00:00,\t0000-00-00 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0
7,11,\taaron,\ta98d114c5520559433b9d409e6e60eedf8b278a9,\tWhats a ddoser?,\tDick,\tspaceage94@hotmail.com,0,\t,\t,1,...,\t0000-00-00 00:00:00,\t0000-00-00 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0
8,12,\tcustomhabbo,\t470d0a7c1f75531adaef55effcd0b6a732a09c75,\tHow old are you?,\t2,\tcustomhabbo@hotmail.com,0,\t,\t,1,...,\t0000-00-00 00:00:00,\t0000-00-00 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0
9,13,\tbilliam,\t73bf8422f58c52cc0e252829f2c47889af186b3f,\tWhere were you born,\tsingapore,\tl3gitmlgpro1@yahoo.com,0,\t,\t,1,...,\t2012-04-11 00:00:00,\t3000-08-03 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,0,\t0000-00-00 00:00:00,2

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: users
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o EndOfTermDate -> datetimeinvertedstring2datetime()
    - On the column name:
        o UserId -> userid
        o UserName -> username 
        o Email -> useremail 
        o Password -> password 
        o EndOfTermDate -> expire
    - Add required columns:
        o planid
    - Split columns:
        o

### Modifying table: 'users'

In [438]:
### Loading the column converting columns with predefined functions
df_users = pd.read_csv(read_inserted_table2(dumpfile, tablename),delimiter=",",error_bad_lines=False)
                    
df_users['UserName']=strip_tab(df_users['UserName'])
df_users['Email']=strip_tab(df_users['Email'])
df_users['Password']=strip_tab(df_users['Password'])
df_users['EndOfTermDate']=datetimeinvertedstring2datetime(strip_tab(df_users['EndOfTermDate']))

###Changing names of columns
df_users.rename(columns = {'UserId': 'userid',
                          'UserName': 'username',
                          'Email':'useremail',
                          'Password':'password',
                          'EndOfTermDate': 'expire'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_users['planid'] = ""

###Showing some lines after adapt the table
df_users.head(10)

,userid,username,password,PasswordQuestion,PasswordAnswer,useremail,myAttacks,attacks,notepad,IsApproved,...,PremiumEndDate,PremiumAmount,IsCancelled,CancelledDate,IsEndOfTerm,expire,IsPending,PendingDate,PremiumLevel,planid
0,1,admin,94fd897ce1fa5acb0439c1e7ec4cb6257758cf7d,\tyes,\tno,momentsjunk@gmail.com,0,\t,\t,1,...,\t2030-01-01 00:00:00,5.00,1,\t0000-00-00 00:00:00,0,NaT,0,\t0000-00-00 00:00:00,2,
1,9,god,94fd897ce1fa5acb0439c1e7ec4cb6257758cf7d,\tsdasd,\tsdasd,aksdjklad@gmail.com,0,\t,\t,1,...,\t0000-00-00 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,NaT,0,\t0000-00-00 00:00:00,0,
2,3,blurreffectog,84cce396b8674cf25c894ca1e67231563868f9ac,\tIdk,\tidkeither,ogdox@live.ca,0,\t,\t,1,...,\t0000-00-00 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,NaT,0,\t0000-00-00 00:00:00,0,
3,4,tropicks,e53ab9ec74a2a703351d316bf7504a07ad00fdaf,\tIdgaf,\tDywtd,jerry.jennings13@yahoo.com,0,\t,\t,1,...,\t3000-04-10 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,NaT,0,\t0000-00-00 00:00:00,0,
4,5,moments,894946ce4d08e1053b88a272f0a42c944719edc0,\tWhat\\\\\\\\\\\\\\\s your fav song?,\tHow to love,atroyer36@gmail.com,60,\t88.80.12.46--1335224668::,Rates: http://gyazo.com/f28825cfe41fdd339f0376...,1,...,\t3000-08-03 00:00:00,0.25,0,\t0000-00-00 00:00:00,0,NaT,0,\t0000-00-00 00:00:00,2,
5,6,alex,10d2f31e298455a42788fe927700f83c70633b20,\tWhat is your first name?,\tAlex,altroyer@hotmail.com,54,\t97.87.106.58--1335232443::,\t,1,...,\t3000-10-18 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,NaT,0,\t0000-00-00 00:00:00,2,
6,10,xgenastros,91677b8ef1d23b1f55274cb683e314214579b40c,\tWhere were you born?,\tMichigan,nickk54@live.com,0,\t,\t,1,...,\t0000-00-00 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,NaT,0,\t0000-00-00 00:00:00,0,
7,11,aaron,a98d114c5520559433b9d409e6e60eedf8b278a9,\tWhats a ddoser?,\tDick,spaceage94@hotmail.com,0,\t,\t,1,...,\t0000-00-00 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,NaT,0,\t0000-00-00 00:00:00,0,
8,12,customhabbo,470d0a7c1f75531adaef55effcd0b6a732a09c75,\tHow old are you?,\t2,customhabbo@hotmail.com,0,\t,\t,1,...,\t0000-00-00 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,NaT,0,\t0000-00-00 00:00:00,0,
9,13,billiam,73bf8422f58c52cc0e252829f2c47889af186b3f,\tWhere were you born,\tsingapore,l3gitmlgpro1@yahoo.com,0,\t,\t,1,...,\t3000-08-03 00:00:00,0.00,0,\t0000-00-00 00:00:00,0,NaT,0,\t0000-00-00 00:00:00,2,

<h2 align='center'>======================================================================
<br>Final step of the manual part
======================================================================</h2>

## 7. Adding missing tables accordingly to our generic Booter database

In [439]:
# df_attacks= pd.DataFrame(columns=['id','userid','username','targetip','targeturl','duration','port','type','date'])
df_blacklist=pd.DataFrame(columns=['id','ip','note'])
# df_friendsenemies=pd.DataFrame(columns=['id','ip','note','userid','type'])
# df_gateways=pd.DataFrame(columns=['email'])
df_logins=pd.DataFrame(columns=['id','userid','username','userip','date'])
df_payments=pd.DataFrame(columns=['id','userid','username','amountpaid','paymentemail','planid','tid','date'])
# df_plans=pd.DataFrame(columns=['planid','planname','plandescr','price','maxboottime','concurrency'])
df_servers=pd.DataFrame(columns=['id','ip'])
df_settings=pd.DataFrame(columns=['url','sitename','siteemail'])
# df_users=pd.DataFrame(columns=['userid','username','useremail','password','expire','plan'])      
# df_webshells=pd.DataFrame(columns=['id','url','status','lastchecked','attacktype'])

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 2: Data Enrichment<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

### * Depending of the size of the data, this part can take HOURS. I tested for both small and big datasets and it worked. Be pacient. This will pay-off!

## * Libraries needed to retrieve information from external databases

In [ ]:
import subprocess
import cfscrape
from lxml import etree
import os.path
import random
import time

## * Function to enrich IP addresseswith AS information and country

In [ ]:
# THANKS TO: team-cymru.org
def iptoasn(iplist_teamcymruformat_filelocation,outputfile):
    cat = subprocess.Popen(['cat', iplist_teamcymruformat_filelocation], 
                            stdout=subprocess.PIPE)
    
    netcat = subprocess.Popen(['netcat', 'whois.cymru.com', '43'],
                              stdin=cat.stdout,
                              stdout=outputfile)
    time.sleep(3) #for some reason the poll does not work! This was the way to overcome the waiting time.
    
    return netcat.stdout

## * Function to check if an IP address was Tor node in a given moment

In [ ]:
# THANKS TO: exonerator.torproject.org
def WasTorNode(ip, date ):
    url="https://exonerator.torproject.org/?ip="+ip+"&timestamp="+date
    scraper = cfscrape.create_scraper()
    scraped_html=scraper.get(url).content    
    html_tree = etree.HTML(scraped_html)
    result=html_tree.xpath("//h3[@class='panel-title']/text()") # I was looking for <h3 class="panel-title">Result is positive</h3>
    tor_node=True if result == ['Result is positive'] else False
    return tor_node 
# 'date' MUST BE formated as: Year-month-day (2016-03-31)

## * Discovering the middle date of the database

In [ ]:
try:
    try:
        middle_date=(min(df_attacks['date'])+((max(df_attacks['date'])-min(df_attacks['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_logins['date'])+((max(df_logins['date'])-min(df_logins['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_payments['date'])+((max(df_payments['date'])-min(df_payments['date']))/2))
        raise
    except:
        pass
except Exception:
    print("There is no date in the entire dataset")

date_tor_check = middle_date.strftime('%Y-%m-%d')
date_iptoasn_lookup= str(middle_date)
print(date_tor_check)

## * Preparing to Perform IP to ASN info

In [ ]:
df_logins['middledate']=date_iptoasn_lookup
df_attacks['middledate']=date_iptoasn_lookup
df_friendsenemies['middledate']=date_iptoasn_lookup
df_blacklist['middledate']=date_iptoasn_lookup

## 2.1.1  Lookup IP to ASN info of table: logins

In [ ]:
if (os.path.exists('enrichments/logins_iptoasn_out')== False):
    logins_iptoasn_in = open('enrichments/logins_iptoasn_in', 'w+')
    logins_iptoasn_in.write('begin\nverbose\n')
    df_logins[['userip','middledate']].drop_duplicates().to_csv(logins_iptoasn_in,header=False,index=False,sep="\t") 
    logins_iptoasn_in.write('end')
    logins_iptoasn_in.close()

    logins_iptoasn_out = open('logins_iptoasn_out', 'w+')
    iptoasn('logins_iptoasn_in',logins_iptoasn_out)
    logins_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_logins_iptoasn = pd.read_csv('enrichments/logins_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

df_logins_extended= pd.merge(df_logins,
                              df_logins_iptoasn,
                              how = 'left',
                              left_on = 'userip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_logins_extended.rename(columns={'asn':'srcasn', 
                                   'ip':'srcip', 
                                   'bgp_prefix':'srcbgp_prefix', 
                                   'country':'srccountry' ,
                                   'registry':'srcregistry',
                                   'info_date':'srcinfo_date',
                                   'info_request':'srcinfo_request'},
                         inplace=True)


df_logins_extended.head(5)

## 2.1.2  Lookup IP to ASN info of table: attacks

In [ ]:
if (os.path.exists('enrichments/attacks_iptoasn_out')== False):
    attacks_iptoasn_in = open('enrichments/attacks_iptoasn_in', 'w+')
    attacks_iptoasn_in.write('begin\nverbose\n')
    df_attacks[['targetip','middledate']].drop_duplicates().to_csv(attacks_iptoasn_in,header=False,index=False,sep="\t") 
    attacks_iptoasn_in.write('end')
    attacks_iptoasn_in.close()

    attacks_iptoasn_out = open('attacks_iptoasn_out', 'w+')
    iptoasn('attacks_iptoasn_in',attacks_iptoasn_out)
    attacks_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_attacks_iptoasn = pd.read_csv('enrichments/attacks_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_attacks_extended= pd.merge(df_attacks,
                              df_attacks_iptoasn,
                              how = 'left',
                              left_on = 'targetip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_attacks_extended.rename(columns={'asn':'targetasn', 
                                   'ip_y':'targetip', 
                                   'bgp_prefix':'targetbgp_prefix', 
                                   'country_y':'targetcountry' ,
                                   'registry':'targetregistry',
                                   'info_date':'targetinfo_date',
                                   'info_request':'targetinfo_request'},
                         inplace=True)
df_attacks_extended.head(5)

## 2.1.3  Lookup IP to ASN info of table: friendsenemies

In [ ]:
if (os.path.exists('enrichments/friendsenemies_iptoasn_out')== False):
    friendsenemies_iptoasn_in = open('enrichments/friendsenemies_iptoasn_in', 'w+')
    friendsenemies_iptoasn_in.write('begin\nverbose\n')
    df_friendsenemies[['ip','middledate']].drop_duplicates().to_csv(friendsenemies_iptoasn_in,header=False,index=False,sep="\t") 
    friendsenemies_iptoasn_in.write('end')
    friendsenemies_iptoasn_in.close()

    friendsenemies_iptoasn_out = open('friendsenemies_iptoasn_out', 'w+')
    iptoasn('friendsenemies_iptoasn_in',friendsenemies_iptoasn_out)
    friendsenemies_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_friendsenemies_iptoasn = pd.read_csv('enrichments/friendsenemies_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_friendsenemies_extended= pd.merge(df_friendsenemies,
                              df_friendsenemies_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_friendsenemies_extended.rename(columns={'asn':'friendsenemiesasn', 
                                   'ip':'friendsenemiesip', 
                                   'bgp_prefix':'friendsenemiesbgp_prefix', 
                                   'country':'friendsenemiescountry' ,
                                   'registry':'friendsenemiesregistry',
                                   'info_date':'friendsenemiesinfo_date',
                                   'info_request':'friendsenemiesinfo_request',
                                   'as_name': 'friendsenemiesas_name'},
                         inplace=True)

## 2.1.4  Lookup IP to ASN info of table: blacklist

In [ ]:
if (os.path.exists('enrichments/blacklist_iptoasn_out')== False):
    blacklist_iptoasn_in = open('enrichments/blacklist_iptoasn_in', 'w+')
    blacklist_iptoasn_in.write('begin\nverbose\n')
    df_blacklist[['ip','middledate']].drop_duplicates().to_csv(blacklist_iptoasn_in,header=False,index=False,sep="\t") 
    blacklist_iptoasn_in.write('end')
    blacklist_iptoasn_in.close()

    blacklist_iptoasn_out = open('blacklist_iptoasn_out', 'w+')
    iptoasn('blacklist_iptoasn_in',blacklist_iptoasn_out)
    blacklist_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_blacklist_iptoasn = pd.read_csv('enrichments/blacklist_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_blacklist_extended= pd.merge(df_blacklist,
                              df_blacklist_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_blacklist_extended.rename(columns={'asn':'blacklistasn', 
                                   'ip':'blacklistip', 
                                   'bgp_prefix':'blacklistbgp_prefix', 
                                   'country':'blacklistcountry' ,
                                   'registry':'blacklistregistry',
                                   'info_date':'blacklistinfo_date',
                                   'info_request':'blacklistinfo_request',
                                   'as_name': 'blacklistas_name'},
                         inplace=True)
df_blacklist_extended.head(5)

## 2.2.1. Check if IP was a TOR node for table: login

In [ ]:
date_tor_check

In [ ]:
if len(df_logins['userip'].unique())<1200:
    if (os.path.exists('enrichments/logins_torcheck')== False):
        print("Note: it can take a while to finish...")
        logins_torcheck = open('logins_torcheck', 'w+')
        for i in df_logins['userip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=logins_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            logins_torcheck.flush()

        logins_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.")
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_logins_torcheck = pd.read_csv('enrichments/logins_torcheck',\
                          delimiter="\s+",\
                          names = ['userip', 'tor'])

## 2.2.2. Check if IP was a TOR node for table: attacks

In [ ]:
if len(df_attacks['targetip'].unique())<1200:
    if (os.path.exists('enrichments/attacks_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_attacks['targetip'].unique())*3,"seconds (in the worst case).")

        attacks_torcheck = open('attacks_torcheck', 'w+')

        for i in df_attacks['targetip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=attacks_torcheck)
            print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            attacks_torcheck.flush()

        attacks_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_attacks_torcheck = pd.read_csv('enrichments/attacks_torcheck',\
                          delimiter="\s+",\
                          names = ['targetip', 'tor'])

## 2.2.3. Check if IP was a TOR node for table: friendsenemies

In [ ]:
if len(df_friendsenemies['ip'].unique()) <1200:
    if (os.path.exists('enrichments/friendsenemies_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_friendsenemies['ip'].unique())*3,"seconds (in the worst case).")

        friendsenemies_torcheck = open('enrichments/friendsenemies_torcheck', 'w+')

        for i in df_friendsenemies['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=friendsenemies_torcheck)
        #     print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            friendsenemies_torcheck.flush()

        friendsenemies_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_friendsenemies_torcheck = pd.read_csv('enrichments/friendsenemies_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## 2.2.4. Check if IP was a TOR node for table: blacklist

In [ ]:
if len(df_blacklist['ip'].unique()) < 1200:
    if (os.path.exists('enrichments/blacklist_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_blacklist['ip'].unique())*3,"seconds (in the worst case).")

        blacklist_torcheck = open('enrichments/blacklist_torcheck', 'w+')

        for i in df_blacklist['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=blacklist_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            blacklist_torcheck.flush()

        blacklist_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_blacklist_torcheck = pd.read_csv('enrichments/blacklist_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## * Relation between Attack dates and Login dates

In [ ]:
def nearestDate(base_date, date_list):
    nearest={}
    for date in date_list:
        if (base_date.timestamp() - date.timestamp())>=0:
            nearest[base_date.timestamp() - date.timestamp()]= date
    return nearest[min(nearest.keys())]

In [ ]:
#This is the TOTAL number records to be checks!!!!
len(df_attacks)

In [ ]:
df_attacks['nearestlogin']=""
df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])
    
if len(df_attacks)>0 and len(df_logins)>0:
    #When was the last login of the user that performed attacks
    df_attacks['nearestlogin']=""
    df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])

    for index, row in df_attacks.head(100).iterrows():
        intermediate_df= df_logins[df_logins['username']==row['username']]
        nearestlogindate= nearestDate(row['date'],intermediate_df['date'])
        df_attacks.set_value(index, 'nearestlogin', nearestlogindate)

        #DEBUGGING
        if index % 1000 == 0:
            print(index,": +1000 records analysed")

In [ ]:
if len(df_attacks['nearestlogin'].value_counts()) >1:
    df_attacks_and_logins = pd.merge(df_attacks_extended,
                                     df_logins_extended,
                                     how = 'left',
                                     left_on = ['username','nearestlogin'],
                                     right_on = ['username','date'])
else:
    df_attacks_and_logins=""

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 3: Automatic Analysis
<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>

## * Libraries that I use to plot figs

In [ ]:
import matplotlib.pyplot as plt
from matplotlib_venn import *
%matplotlib inline

import seaborn as sns
import itertools

plt.style.use('seaborn-muted')
# plt.rcParams['font.family'] = 'serif'
# plt.rcParams['font.size'] = 12

import warnings
warnings.filterwarnings('ignore')

## A.1. Number of records per table (part of the generic Booter database schema)

In [ ]:
len(df_users),len(df_logins),len(df_attacks),len(df_payments),len(df_settings),len(df_gateways), len(df_friendsenemies),len(df_blacklist),len(df_webshells),len(df_servers),len(df_plans)

## A.2. Number of users, customers, attackers, and their intersection

In [ ]:
if len(set(df_users['userid'].unique())) > 1:
    users_set=set(df_users['userid'].unique())
else:
    users_set=set(df_users['username'].unique())
    
if len(set(df_logins['userid'].unique())) > 1:
    userslogin_set=set(df_logins['userid'].unique())
else:
    userslogin_set=set(df_logins['username'].unique())

if len(set(df_payments['userid'].unique())) > 1:
    customers_set=set(df_payments['userid'].unique())
else:
    customers_set=set(df_payments['username'].unique())

if len(set(df_attacks['userid'].unique())) > 1:
    attackers_set=set(df_attacks['userid'].unique())
else:
    attackers_set=set(df_attacks['username'].unique())

intersec_customers_attacker=pd.Series(list(customers_set.intersection(attackers_set)))
intersec_users_customers=pd.Series(list(users_set.intersection(customers_set)))
intersec_users_attackers=pd.Series(list(users_set.intersection(attackers_set)))
intersec_users_customers_attackers=pd.Series(list(users_set.intersection(customers_set).intersection(attackers_set)))

In [ ]:
len(users_set),len(userslogin_set),len(customers_set),len(attackers_set)

In [ ]:
fig = plt.figure(figsize=(4,3))
fig.suptitle('Users, Customers & Attackers', fontsize=14)

ax = plt.subplot2grid((1,1), (0,0))

venn=venn3(ax=ax,subsets = {'001':len(attackers_set)-len(intersec_customers_attacker)-len(intersec_users_attackers)+len(intersec_users_customers_attackers), 
                            '010':len(customers_set)-len(intersec_users_customers)-len(intersec_customers_attacker)+len(intersec_users_customers_attackers), 
                            '011':len(intersec_customers_attacker)-len(intersec_users_customers_attackers),
                            '100':len(users_set)-len(intersec_users_customers)-len(intersec_users_attackers)+len(intersec_users_customers_attackers),
                            '101':len(intersec_users_attackers)-len(intersec_users_customers_attackers),
                            '110':len(intersec_users_customers)-len(intersec_users_customers_attackers),
                            '111':len(intersec_users_customers_attackers)},\
          set_labels = ('Users', 'Customers','Attackers'),\
          alpha=1)
try:
    venn.get_patch_by_id('100').set_color('#404096')
except:
    print("*Users set is empty!")  
    
try:
    venn.get_patch_by_id('110').set_color('#DEA73A')
except:
    print("*Customers set is empty!")   

try:
    venn.get_patch_by_id('001').set_color('#D92120')
except:
    print("*Attackers set is empty!")

fig.show()
# fig.savefig('../figs/timeseries_attacks.eps', format='eps', dpi=1200)

## A.3. Distribution of login times per user

In [ ]:
if len(df_logins['userid'].value_counts()) > 0:
    num_distinct_logins_per_user=df_logins['userid'].value_counts()
else:
    num_distinct_logins_per_user=df_logins['username'].value_counts()

freq_distinct_logins_per_user=num_distinct_logins_per_user.value_counts()
cum_dist_user_logins = np.linspace(0.,1.,len(num_distinct_logins_per_user))
cdf_user_logins = pd.Series(cum_dist_user_logins, index=num_distinct_logins_per_user.sort_values())

In [ ]:
if len(num_distinct_logins_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Login Times by Users:', fontsize=14, y=1.05,x=0.35)
    
    #Plot CDF
    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_logins.plot(ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# logins")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    ax1.set_title("")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_logins_per_user.plot(ax=ax2,kind='pie', 
                                       labels=None, 
                                       legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    
    
    
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_logins_per_user.values)/(freq_distinct_logins_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_logins_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/login_times.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.3. Number of Users that Login via TOR

In [ ]:
len(df_logins_torcheck[df_logins_torcheck['tor']==True]['userip'].value_counts())

## 5.4. Number of Distinct IP addresses by Users

In [ ]:
if len(df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()) >0:
    num_distinct_ips_per_user=df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()
else:
    num_distinct_ips_per_user=df_logins.groupby(['username','userip']).size().reset_index()['username'].value_counts()
    
freq_distinct_ips_per_user=num_distinct_ips_per_user.value_counts()
cum_dist_user_ips = np.linspace(0.,1.,len(num_distinct_ips_per_user))
cdf_user_ips = pd.Series(cum_dist_user_ips, index=num_distinct_ips_per_user.sort_values())

In [ ]:
if len(num_distinct_ips_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Distinct IP address used by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_ips.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_ips_per_user.plot(ax=ax2,kind='pie',
                                    labels=None,legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_ips_per_user.values)/(freq_distinct_ips_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_ips_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/num_ips_by_users.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.5. Number of Payments by Users

In [ ]:
if len(df_payments['userid'].value_counts())>0:
    num_distinct_payments_per_user=df_payments['userid'].value_counts()
else:
    num_distinct_payments_per_user=df_payments['username'].value_counts()

freq_distinct_payments_per_user=num_distinct_payments_per_user.value_counts()
cum_dist_user_payments = np.linspace(0.,1.,len(num_distinct_payments_per_user))
cdf_user_payments = pd.Series(cum_dist_user_payments, index=num_distinct_payments_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Number of Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# Payment")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_per_user.plot(ax=ax2,kind='pie', 
                                         labels=None,legend=False,
                                         startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_per_user.values)/(freq_distinct_payments_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/payments_distribution.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.6. Total Amount of Money Earned

In [ ]:
if len(df_payments['amountpaid']) >0:
    total_earned=df_payments['amountpaid'].values.sum()
    'US$ {:,.2f}'.format(float(total_earned))
else:
    print("Unfortunately, there is no data available!")

## 5.7. Amount of Money Paid by Users

In [ ]:
num_distinct_payments_money_per_user=df_payments['amountpaid'].value_counts()
freq_distinct_payments_money_per_user=num_distinct_payments_money_per_user.value_counts()
cum_dist_user_payments_money = np.linspace(0.,1.,len(num_distinct_payments_money_per_user))
cdf_user_payments_money = pd.Series(cum_dist_user_payments_money, index=num_distinct_payments_money_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_money_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Money Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments_money.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("$")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_money_per_user.plot(ax=ax2,kind='pie', 
                                               labels=None,legend=False,
                                               startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_money_per_user.values)/(freq_distinct_payments_money_per_user.values.sum())
    labels = ['${0:1.2f} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_money_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.6, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/distribution_amount_paid.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.8. Countries from where Users Access Booters

In [ ]:
logins_country_distribution_sorted = df_logins_iptoasn['country'].value_counts(sort=True,ascending=True)
logins_country_distribution = df_logins_iptoasn['country'].value_counts()

In [ ]:
if len(logins_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Users Accessing from Countries:', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    logins_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    logins_country_distribution.plot(ax=ax2,kind='pie', 
                                     labels=None,legend=False,
                                     startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*logins_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(logins_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/user_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.9. Countries of Blacklisted IPs

In [ ]:
blacklist_country_distribution=df_blacklist_iptoasn['country'].value_counts()
blacklist_country_distribution_sorted=df_blacklist_iptoasn['country'].value_counts(sort=True,ascending=True)

In [ ]:
if len(blacklist_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of blacklisted IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    blacklist_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    blacklist_country_distribution.plot(ax=ax2,kind='pie', 
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*blacklist_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(blacklist_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/blacklist_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.10. Countries of Target IPs

In [ ]:
attacks_country_distribution=df_attacks_iptoasn['country'].value_counts()

In [ ]:
if len(attacks_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of target IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    attacks_country_distribution.plot(ax=ax1,kind='bar')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    attacks_country_distribution.plot(ax=ax2,kind='pie', 
                                      labels=None,legend=False,
                                      startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*attacks_country_distribution.values)/(attacks_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(attacks_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/attack_countries_distribution.eps',bbox_inches='tight', format='eps', dpi=1200) 
else:
    print("Unfortunately, there is no data available!")

## 5.12. Attacks on Same Target

In [ ]:
num_attacks_on_sametarget=df_attacks['targetip'].value_counts()

freq_num_attacks_on_sametarget=num_attacks_on_sametarget.value_counts()
cum_num_attacks_on_sametarget = np.linspace(0.,1.,len(num_attacks_on_sametarget))
cdf_num_attacks_on_sametarget = pd.Series(cum_num_attacks_on_sametarget, index=num_attacks_on_sametarget.sort_values())

In [ ]:
if len(num_attacks_on_sametarget)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Attacks on Same Targets:', fontsize=14, y=1.05,x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_num_attacks_on_sametarget.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_num_attacks_on_sametarget.plot(ax=ax2,kind='pie',
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_num_attacks_on_sametarget.values)/(freq_num_attacks_on_sametarget.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_num_attacks_on_sametarget.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()

    fig.show()
    fig.savefig('figs/attacks_on_same_target.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.11. Attacks per day (timeseries)

In [ ]:
if len(df_attacks)>0:
    attack_timeseries=df_attacks.set_index(['date']).groupby(pd.TimeGrouper(freq='D')).agg(['count'])['action']
    attack_mean_perday=attack_timeseries.mean()
    attack_median_perday=attack_timeseries.median()
else:
    attack_timeseries=""

In [ ]:
if len(attack_timeseries)>0:
    fig = plt.figure(figsize=(6,3))

    ax1 = plt.subplot2grid((1,1), (0,0), rowspan=2)
    attack_timeseries.plot(ax=ax1,
                           lw=2,
                           legend=False,
    #                        style='--'
                          )

    # X and Y Labels and Ticks
    ax1.set_xlabel("Time (bin=day)")
    ax1.set_ylabel("# Attacks")

    ax1.annotate(str(int(attack_median_perday[0]))+' (median)', 
                 (min(df_attacks['date']), attack_median_perday),
                 xytext=(350, -1), 
                 textcoords='offset points',
                 color='black', 
                 arrowprops=dict(arrowstyle='-|>',
                                 color='black'))
    fig.savefig('figs/attacks_timeseries.eps', bbox_inches='tight',format='eps', dpi=1200)

else:
    print("Unfortunately, there is no data available!")

## 5.12. Time Between Logins and Attacks

In [ ]:
if len(df_attacks_and_logins)>0:
    print("redo")
else:
    print("Unfortunately, there is no data available!")

## 5.13. Who attack whom? (users on the country level)

In [ ]:
if len(df_attacks_extended)>0 and len(df_logins_extended)>0:
    merged_attacks_logins = pd.merge(df_attacks_extended,
                                  df_logins_extended,
                                  how = 'left',
                                  left_on = 'date',
                                  right_on = 'date')[['targetcountry','srccountry']]

    who_against_whom = merged_attacks_logins.groupby(['targetcountry','srccountry'])\
                            .size()\
                            .reset_index()\
                            .pivot('srccountry','targetcountry',0)
else:
    who_against_whom =""

In [ ]:
if len(who_against_whom)>0:
    fig = plt.figure(figsize=(8,12))
    fig.suptitle('Countries of Target IPs', fontsize=14, y=.92)

    ax1 = plt.subplot2grid((1,1), (0,0))
    sns.set()
    sns.heatmap(who_against_whom,
                ax=ax1,
#                 cmap="YlGnBu",
    #             linewidths=.5,
    #             annot=True
                )

    ax1.set_ylabel("Source Country")
    ax1.set_xlabel("Attack Target Country")

    fig.show()
    fig.savefig('figs/who_attack_whom.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

<h1 align="center">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
FIFTH PART: Query Interface<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [ ]:
from ipywidgets import widgets, interact, Dropdown,HTML
from IPython.display import display,clear_output

In [ ]:
def search_by_userid_submit(sender):
    clear_output()
    print("Searching by id =",search_by_userid.value)
    
    if len(df_users[df_users['userid']== int(search_by_userid.value)])>0:
        display(df_users[df_logins['userid']== int(search_by_userid.value)])
    
    if len(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])>0:
        display(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])
    
    if len(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])>0:
        display(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])
    
    if len(df_payments[df_payments['userid']== int(search_by_userid.value)])>0:
        display(df_payments[df_payments['userid']== int(search_by_userid.value)])

def search_by_username_submit(sender):
    clear_output()
    print("Searching by username =",search_by_username.value,"\n")
    
    if len(df_users[df_users['username']== search_by_username.value])>0:
        print("Table df_users:")
        display(df_users[df_users['username']== search_by_username.value])
    
    if len(df_logins_extended[df_logins_extended['username']== search_by_username.value])>0:
        print("Table df_logins:")
        display(df_logins_extended[df_logins_extended['username']== search_by_username.value])

    if len(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])>0:
        print("Table df_attacks:")
        display(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])
    
    if len(df_payments[df_payments['username']== search_by_username.value])>0:
        print("Table df_payments:")
        display(df_payments[df_payments['username']== search_by_username.value])
        
def search_by_ip_submit(sender):
    clear_output()
    print("Searching by IP address =",str(search_by_ip.value),"\n")
    
    if len(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])>0:
        print("Table df_logins (as ATTACKER:")
        display(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])
     
    if len(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])  
      
       
def search_by_asn_submit(sender):
    clear_output()
    print("Searching by Autonomous System Number (ASN) =",search_by_asn.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])
    
    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

        
country_list=pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/master/data.csv',delimiter=",",error_bad_lines=False)
def search_by_country_submit():
    country_code=country_list[country_list['Name']==search_by_country.value]['Code'].values[0]
    clear_output()
    print("Searching by Country =",search_by_country.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srccountry']== country_code])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srccountry']== country_code])
    
    if len(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])

In [ ]:
display(HTML('<h3>*Search by (only) one field per time:</h3>'))

search_by_username = widgets.Text(description="username")
display(search_by_username)
search_by_username.on_submit(search_by_username_submit)

search_by_userid = widgets.Text(description="userid")
display(search_by_userid)
search_by_userid.on_submit(search_by_userid_submit)

search_by_ip = widgets.Text(description="IP")
display(search_by_ip)
search_by_ip.on_submit(search_by_ip_submit)

search_by_asn = widgets.Text(description="ASN")
display(search_by_asn)
search_by_asn.on_submit(search_by_asn_submit)

search_by_country = Dropdown(description="Country", options=country_list['Name'].tolist())
search_by_country.on_trait_change(search_by_country_submit, name="value")
display(search_by_country)