<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
Brief explanation on our Booter database analysis methodology: <br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

# Analysis of: 212booter
#### File originally retrieved from: http://4lz5rmnkd6f63tmm.onion/db/212booter.sql

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 0: Reading an input Booter database file<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [1]:
dumpfile='212booter.sql'

## * Libraries that I use to analyse data

In [2]:
import pandas as pd
import numpy as np

from io import StringIO
import re

from IPython.display import display,clear_output

In [3]:
%run '../booter_db_analysis_functions.ipynb'

 Functions loaded!!!!

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 1: Adaptation to our Booter database schema<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

## 1. Reading the first 'N' (100) lines of the input Booter database file

In [4]:
lines_to_read=100

with open(dumpfile) as myfile:
    firstlines=myfile.readlines()[0:lines_to_read] #put here the interval you want
    for x in firstlines:
        print(x.strip())

-- phpMyAdmin SQL Dump
-- version 3.5.8
-- http://www.phpmyadmin.net
--
-- Host: localhost
-- Generation Time: Jul 31, 2013 at 11:23 PM
-- Server version: 5.5.32-cll
-- PHP Version: 5.3.17

SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;

--
-- Database: `a12boote_booter`
--

-- --------------------------------------------------------

--
-- Table structure for table `API`
--

CREATE TABLE IF NOT EXISTS `API` (
`id` int(11) NOT NULL AUTO_INCREMENT,
`UDP` text NOT NULL,
`type` varchar(11) NOT NULL,
PRIMARY KEY (`id`)
) ENGINE=MyISAM  DEFAULT CHARSET=latin1 AUTO_INCREMENT=3 ;

--
-- Dumping data for table `API`
--

INSERT INTO `API` (`id`, `UDP`, `type`) VALUES
(1, 'http://bestbooter.com/send.php?key=84751657816548979848416&host=[host]&time=[time]&port=[port] ', ''),
(2, '', '');

-- --------------------------------------------------------

--
-- Table structure for table `blacklist`
--

CREATE TABLE IF NOT EXISTS `blacklist` (
`ID` int(11) NOT NULL AUTO_INCREMENT,
`IP` varchar(15) NOT NULL,
`note` text NOT NULL,
PRIMARY KEY (`ID`)
) ENGINE=MyISAM  DEFAULT CHARSET=latin1 AUTO_INCREMENT=21 ;

--
-- Dumping data for table `blacklist`
--

INSERT INTO `blacklist` (`ID`, `IP`, `note`) VALUES
(10, '198.46.128.21', 'http://www.colocrossing.com/'),
(11, '75.127.2.53', 'Abused.'),
(12, '72.21.81.85', 'FBI'),
(13, '65.201.175.137', 'Ic3.gov'),
(14, '64.15.119.88', 'Google'),
(15, '108.162.198.212', '212 Booter'),
(16, '65.55.42.140', 'Xbox.com');

-- --------------------------------------------------------

--
-- Table structure for table `fe`
--

CREATE TABLE IF NOT EXISTS `fe` (
`ID` int(11) NOT NULL AUTO_INCREMENT,
`userID` int(11) NOT NULL,
`type` varchar(1) NOT NULL,
`ip` varchar(15) NOT NULL,
`note` text NOT NULL,
PRIMARY KEY (`ID`)
) ENGINE=MyISAM  DEFAULT CHARSET=latin1 AUTO_INCREMENT=188 ;

--
-- Dumping data for table `fe`
--

INSERT INTO `fe` (`ID`, `userID`, `type`, `ip`, `note`) VALUES
(1, 12, 'e', '110.175.100.136', 'Auspride018'),
(2, 13, 'e', '94.197.11.24', ''),
(3, 8, 'f', '50.138.30.101', 'Nely'),
(4, 8, 'f', '50.55.247.24', 'Brittany'),
(5, 8, 'f', '98.94.78.64', 'channa'),
(6, 8, 'f', '108.210.196.40', 'Hector'),
(7, 8, 'f', '70.100.180.240', 'Kimmie'),
(8, 8, 'f', '50.33.227.18', 'Karissa'),
(9, 8, 'f', '108.214.117.105', 'Lilla'),
(10, 26, 'e', '85.229.8.249', 'Jimman'),
(11, 26, 'e', '213.114.138.6', 'dillen'),

## 2. Listing tables that have content inserted into the dump file

In [5]:
tables=enumerate(list_tables_with_insert(dumpfile))

for i, item in tables:
    print(i+1,item)

1 API
2 blacklist
3 fe
4 gateway
5 iplogs
6 loginlogs
7 loginlogs
8 logs
9 logs
10 logs
11 messages
12 news
13 payments
14 plans
15 referrals
16 skype_api
17 users

<h2 align='center'>======================================================================
Adapting EACH existing table
======================================================================</h2>

## 6.1. Table: 'API'

### How this table looks like without modification?

In [6]:
tablename='API'

pd.read_csv(read_inserted_table1(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   id                                                UDP  type
0   1  http://bestbooter.com/send.php?key=84751657816...   NaN
1   2                                                NaN   NaN

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o    
    - On the column name:
        o  
    - Split columns:
        o 
    - Add required columns:
        o

## 6.2. Table: 'blacklist'

### How this table looks like without modification?

In [7]:
tablename='blacklist'

# Only displaying the results
pd.read_csv(read_inserted_table1(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   ID               IP                          note
0  10    198.46.128.21  http://www.colocrossing.com/
1  11      75.127.2.53                       Abused.
2  12      72.21.81.85                           FBI
3  13   65.201.175.137                       Ic3.gov
4  14     64.15.119.88                        Google
5  15  108.162.198.212                    212 Booter
6  16     65.55.42.140                      Xbox.com

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: blacklist
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o    
    - On the column name:
        o ID => id
        o IP => ip
    - Split columns:
        o 
    - Add required columns:
        o

### Modifying table: 'blacklist'

In [8]:
df_blacklist = pd.read_csv(read_inserted_table1(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)


###Changing names of columns
df_blacklist.rename(columns = {'ID': 'id',
                               'IP': 'ip'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])


###Showing some lines after adapt the table
df_blacklist.head(10)

   id               ip                          note
0  10    198.46.128.21  http://www.colocrossing.com/
1  11      75.127.2.53                       Abused.
2  12      72.21.81.85                           FBI
3  13   65.201.175.137                       Ic3.gov
4  14     64.15.119.88                        Google
5  15  108.162.198.212                    212 Booter
6  16     65.55.42.140                      Xbox.com

## 6.3. Table: 'fe'

### How this table looks like without modification?

In [9]:
tablename='fe'

pd.read_csv(read_inserted_table2(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   ID userID type               ip         note
0   1     12    e  110.175.100.136  Auspride018
1   2     13    e     94.197.11.24          NaN
2   3      8    f    50.138.30.101         Nely
3   4      8    f     50.55.247.24     Brittany
4   5      8    f      98.94.78.64       channa
5   6      8    f   108.210.196.40       Hector
6   7      8    f   70.100.180.240       Kimmie
7   8      8    f     50.33.227.18      Karissa
8   9      8    f  108.214.117.105        Lilla
9  10     26    e     85.229.8.249       Jimman

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: friendsenemies

#### Q3: Are there modifications required? 
    - On the table name: 
        o fe => friendsenemies
    - On the column type: 
    - On the column name:
        o ID => id
        o userID => userid
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'fe'

In [10]:
### Loading the column converting columns with predefined functions
df_friendsenemies = pd.read_csv(read_inserted_table2(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)
### Converting
df_friendsenemies['type']=friendsenemies_type(df_friendsenemies['type'])

###Changing names of columns
df_friendsenemies.rename(columns = {'ID': 'id',
                                    'userID': 'userid'},
                         inplace=True)

##Creating empty columns (with "" [for future string] or np.nan [for future float])


###Showing some lines after adapt the table
df_friendsenemies.head(10)

   id userid    type               ip         note
0   1     12   enemy  110.175.100.136  Auspride018
1   2     13   enemy     94.197.11.24          NaN
2   3      8  friend    50.138.30.101         Nely
3   4      8  friend     50.55.247.24     Brittany
4   5      8  friend      98.94.78.64       channa
5   6      8  friend   108.210.196.40       Hector
6   7      8  friend   70.100.180.240       Kimmie
7   8      8  friend     50.33.227.18      Karissa
8   9      8  friend  108.214.117.105        Lilla
9  10     26   enemy     85.229.8.249       Jimman

## 6.4. Table: 'gateway'

### How this table looks like without modification?

In [11]:
tablename='gateway'

pd.read_csv(read_inserted_table2(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

               email
0  jymer09@gmail.com

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: gateways

    
#### Q3: Are there modifications required? 
    - On the table name: 
        o gatway => gateways
    - On the column type: 
        o    
    - On the column name:
        o  
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'gateways'

In [12]:
### Loading the column converting columns with predefined functions
df_gateways = pd.read_csv(read_inserted_table1(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

###Changing names of columns

###Creating empty columns (with "" [for future string] or np.nan [for future float])

###Showing some lines after adapt the table
df_gateways.head(10)

               email
0  jymer09@gmail.com

## 6.5 Table: 'iplogs'

### How this table looks like without modification?

In [13]:
tablename='iplogs'

pd.read_csv(read_inserted_table1(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

    ID  userID           logged        date
0    3      12  138.217.213.120  1343230058
1    4      17  203.142.149.165  1343437327
2   41      47     2.237.33.229  1350738652
3   47      39    173.79.46.118  1350769967
4   46      39    2.125.227.245  1350769164
5   45      39    2.125.227.245  1350768947
6   44      39    2.125.227.245  1350768938
7   43      39     81.96.116.39  1350768874
8   42      39     81.96.116.39  1350768861
9  250     183     81.88.50.212  1352197664

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: logins

#### Q3: Are there modifications required? 
    - On the table name: 
        o iplogs => logins
    - On the column type: 
        o date => timestamp2date 
    - On the column name:
        o ID => id
        o userID => userid
        o logged => userip
    - Add required columns:
        o username
    - Split columns:
        o

### Modifying table: 'iplogins'

In [14]:
### Loading the column converting columns with predefined functions
df_logins = pd.read_csv(read_inserted_table1(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

### Converting
df_logins['date'] = timestamp2datetime(df_logins['date'])

###Changing names of columns
df_logins.rename(columns = {'ID': 'id',
                                    'userID': 'userid',
                           'logged':'userip'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_logins['username'] = ""

###Showing some lines after adapt the table
df_logins.head(10)

    id  userid           userip                date username
0    3      12  138.217.213.120 2012-07-25 15:27:38
1    4      17  203.142.149.165 2012-07-28 01:02:07
2   41      47     2.237.33.229 2012-10-20 13:10:52
3   47      39    173.79.46.118 2012-10-20 21:52:47
4   46      39    2.125.227.245 2012-10-20 21:39:24
5   45      39    2.125.227.245 2012-10-20 21:35:47
6   44      39    2.125.227.245 2012-10-20 21:35:38
7   43      39     81.96.116.39 2012-10-20 21:34:34
8   42      39     81.96.116.39 2012-10-20 21:34:21
9  250     183     81.88.50.212 2012-11-06 10:27:44

## 6.6. Table: 'loginlogs'

### How this table looks like without modification?

In [15]:
tablename='loginlogs'

pd.read_csv(read_inserted_table2(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

          username              ip        date
0            NYREX  174.118.133.44  1372918587
1        halo3king   2.126.255.132  1372918876
2          gminton  184.57.189.243  1372919077
3  fearlessrevenge   198.15.79.146  1372922624
4          macdown  112.211.245.98  1372922631
5            NYREX  174.118.133.44  1372923954
6            NYREX  174.118.133.44  1372923963
7          gminton  184.57.189.243  1372926923
8         tntwolve   94.249.29.244  1372927142
9            NYREX  174.118.133.44  1372928185

#### Q1: Is this table different from other previous loaded table? NO
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: logins APPEND
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o loginlogs -> logins_temp
    - On the column type: 
        o date ->timestamp2datetime()   
    - On the column name:
        o ip -> userip
    - Add required columns:
        o id
        o userid
    - Split columns:
        o

### Modifying table: 'loginlogs'

In [16]:
### Loading the column converting columns with predefined functions
df_logins_temp = pd.read_csv(read_inserted_table2(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)
### Converting
df_logins_temp['date']= timestamp2datetime(df_logins_temp['date'])

###Changing names of columns
df_logins_temp.rename(columns = {'ip':'userip'},inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_logins_temp['id'] = np.nan
df_logins_temp['userid'] = np.nan

###Showing some lines after adapt the table
df_logins_temp.head(10)

          username          userip                date  id  userid
0            NYREX  174.118.133.44 2013-07-04 06:16:27 NaN     NaN
1        halo3king   2.126.255.132 2013-07-04 06:21:16 NaN     NaN
2          gminton  184.57.189.243 2013-07-04 06:24:37 NaN     NaN
3  fearlessrevenge   198.15.79.146 2013-07-04 07:23:44 NaN     NaN
4          macdown  112.211.245.98 2013-07-04 07:23:51 NaN     NaN
5            NYREX  174.118.133.44 2013-07-04 07:45:54 NaN     NaN
6            NYREX  174.118.133.44 2013-07-04 07:46:03 NaN     NaN
7          gminton  184.57.189.243 2013-07-04 08:35:23 NaN     NaN
8         tntwolve   94.249.29.244 2013-07-04 08:39:02 NaN     NaN
9            NYREX  174.118.133.44 2013-07-04 08:56:25 NaN     NaN

In [17]:
df_logins=df_logins.append(df_logins_temp)

## 6.7. Table: 'logs'

### How this table looks like without modification?

In [18]:
%run '../booter_db_analysis_functions.ipynb'

 Functions loaded!!!!

In [19]:
tablename='logs'

pd.read_csv(read_inserted_table3(dumpfile, tablename,"`",[1,2,3]),
            delimiter=",",
            error_bad_lines=False).head(10)

DEBUG (get table): INSERT INTO `logs` (`user`, `ip`, `port`, `time`, `method`, `date`) VALUES
DEBUG (get table): INSERT INTO `logs` (`user`, `ip`, `port`, `time`, `method`, `date`) VALUES
DEBUG (get table): INSERT INTO `logs` (`user`, `ip`, `port`, `time`, `method`, `date`) VALUES

         user               ip   port  time method        date
0       NYREX   192.184.90.118     80   300  DRDOS  1374009652
1       NYREX   192.184.90.118     80   300  DRDOS  1374009667
2    tntwolve      85.25.95.84     80  1100  DRDOS  1374120913
3    tntwolve      85.25.95.84     80  1100  DRDOS  1374119740
4  AlexKvazos   66.160.140.234     80   200  DRDOS  1374119588
5       xDeke  198.144.177.186  25565   600  DRDOS  1374011073
6       NYREX  198.144.177.186  26656   120  DRDOS  1374011119
7   halo3king  Error: Key Inva     80   100  DRDOS  1372973628
8   halo3king     80.3.189.108     80  1000  DRDOS  1372974419
9       NYREX  192.232.249.160     80   120  DRDOS  1372985152

#### Q1: Is this table different from other previous loaded table? Yes
#### Q2: Is this table similar to any table in the generic Booter database schema? Yes
    - This table looks like: attacks
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o logs -> attacks
    - On the column type: 
        o date -> timestamp2datetime
    - On the column name:
        o  user -> username
        o ip -> targetip
        o time -> duration
        o method -> type
    - Add required columns:
        o id
        o userid
        o targeturl
        
    - Split columns:
        o

### Modifying table: 'logs'

In [20]:
### Loading the column converting columns with predefined functions
df_attacks = pd.read_csv(read_inserted_table3(dumpfile, tablename,"`",[1,2,3]),
                                delimiter=",",
                                error_bad_lines=False)
### Converting
df_attacks['date']= timestamp2datetime(df_attacks['date'])

###Changing names of columns
df_attacks.rename(columns = {'user':'username',
                            'ip':'targetip',
                            'time':'duration',
                            'method':'type'},inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_attacks['id'] = np.nan
df_attacks['userid'] = np.nan
df_attacks['targeturl'] = np.nan

###Showing some lines after adapt the table
df_attacks.head(10)

DEBUG (get table): INSERT INTO `logs` (`user`, `ip`, `port`, `time`, `method`, `date`) VALUES
DEBUG (get table): INSERT INTO `logs` (`user`, `ip`, `port`, `time`, `method`, `date`) VALUES
DEBUG (get table): INSERT INTO `logs` (`user`, `ip`, `port`, `time`, `method`, `date`) VALUES

,username,targetip,port,duration,type,date,id,userid,targeturl
0,NYREX,192.184.90.118,80,300,DRDOS,2013-07-16 21:20:52,NaN,NaN,NaN
1,NYREX,192.184.90.118,80,300,DRDOS,2013-07-16 21:21:07,NaN,NaN,NaN
2,tntwolve,85.25.95.84,80,1100,DRDOS,2013-07-18 04:15:13,NaN,NaN,NaN
3,tntwolve,85.25.95.84,80,1100,DRDOS,2013-07-18 03:55:40,NaN,NaN,NaN
4,AlexKvazos,66.160.140.234,80,200,DRDOS,2013-07-18 03:53:08,NaN,NaN,NaN
5,xDeke,198.144.177.186,25565,600,DRDOS,2013-07-16 21:44:33,NaN,NaN,NaN
6,NYREX,198.144.177.186,26656,120,DRDOS,2013-07-16 21:45:19,NaN,NaN,NaN
7,halo3king,Error: Key Inva,80,100,DRDOS,2013-07-04 21:33:48,NaN,NaN,NaN
8,halo3king,80.3.189.108,80,1000,DRDOS,2013-07-04 21:46:59,NaN,NaN,NaN
9,NYREX,192.232.249.160,80,120,DRDOS,2013-07-05 00:45:52,NaN,NaN,NaN

## 6.8. Table: 'messages'

### How this table looks like without modification?

In [21]:
tablename='messages'

pd.read_csv(read_inserted_table1(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   messageid  ticketid content sender
0          3         4   Fixed  Admin

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o    
    - On the column name:
        o  
    - Add required columns:
        o 
    - Split columns:
        o

## 6.9. Table: 'news'

### How this table looks like without modification?

In [22]:
tablename='news'

pd.read_csv(read_inserted_table1(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   ID   title                                             detail        date
0  71  Server  Another server has been ordered to keep up wit...  1375312802
1  70  Ticket  Last weakend there was a slight problem. If yo...  1375240562

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o    
    - On the column name:
        o  
    - Add required columns:
        o 
    - Split columns:
        o

## 6.10. Table: 'payments'

### How this table looks like without modification?

In [23]:
tablename='payments'

pd.read_csv(read_inserted_table1(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,ID,paid,plan,user,email,tid,date
0,1,50.0,43,806,LiLDeMoN@null.net,3WE814245P4981227,1363410440
1,2,10.0,42,818,nickdimambro@yahoo.com,0K529031CB7114902,1363487415
2,3,10.0,42,824,jameslee050@gmail.com,3AC71642MR3558233,1363681749
3,4,16.5,51,872,tobiaschudalla@aol.com,0WK2163803756351N,1373018855
4,5,3.0,47,878,aladinbilalagic@gmail.com,55P64109E7953122R,1373124648
5,6,1.0,46,893,drewconlin@gmail.com,9F158986UT905841M,1373339844
6,7,50.0,55,901,juho.mikkonen@europe.com,4CW59787U95183930,1373468101
7,8,1.0,46,903,stephensurtees2007@gmail.com,58L88745WM276025K,1373481772
8,9,20.0,53,921,ryanandkevinshalo@gmail.com,05L80194BM8813906,1373855021
9,10,1.0,46,922,wghteam@gmail.com,9XG738673X725720G,1373890467

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: payments
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o  date => timestamptodate  
    - On the column name:
        o ID => id
        o paid => amountpaid
        o plan => planid
        o user => userid
        o email => paymentemail
    - Add required columns:
        o username
    - Split columns:
        o

### Modifying table: 'payments'

In [24]:
### Loading the column converting columns with predefined functions
df_payments = pd.read_csv(read_inserted_table1(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

### Converting
df_payments['date'] = timestamp2datetime(df_payments['date'])

###Changing names of columns
df_payments.rename(columns = {'ID': 'id',
                              'paid': 'amountpaid',
                             'plan': 'planid',
                             'user':'userid',
                             'email':'paymentemail'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_payments['username'] = ""

###Showing some lines after adapt the table
df_payments.head(10)

,id,amountpaid,planid,userid,paymentemail,tid,date,username
0,1,50.0,43,806,LiLDeMoN@null.net,3WE814245P4981227,2013-03-16 05:07:20,
1,2,10.0,42,818,nickdimambro@yahoo.com,0K529031CB7114902,2013-03-17 02:30:15,
2,3,10.0,42,824,jameslee050@gmail.com,3AC71642MR3558233,2013-03-19 08:29:09,
3,4,16.5,51,872,tobiaschudalla@aol.com,0WK2163803756351N,2013-07-05 10:07:35,
4,5,3.0,47,878,aladinbilalagic@gmail.com,55P64109E7953122R,2013-07-06 15:30:48,
5,6,1.0,46,893,drewconlin@gmail.com,9F158986UT905841M,2013-07-09 03:17:24,
6,7,50.0,55,901,juho.mikkonen@europe.com,4CW59787U95183930,2013-07-10 14:55:01,
7,8,1.0,46,903,stephensurtees2007@gmail.com,58L88745WM276025K,2013-07-10 18:42:52,
8,9,20.0,53,921,ryanandkevinshalo@gmail.com,05L80194BM8813906,2013-07-15 02:23:41,
9,10,1.0,46,922,wghteam@gmail.com,9XG738673X725720G,2013-07-15 12:14:27,

## 6.11. Table: 'plans'

### How this table looks like without modification?

In [25]:
tablename='plans'

pd.read_csv(read_inserted_table1(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,ID,name,description,mbt,unit,length,price,concurrents
0,46,212 Trial,A short trial to show you how good 212 booter is.,190,Days,1,1.0,1
1,47,212 Trial Weekly,A 1 week trial for you to test 212 for 7 days ...,190,Weeks,1,3.0,1
2,48,212 Basic Monthly,A monthly use of 212 taking advantage of all o...,300,Months,1,8.0,1
3,49,212 Novice Monthly,A monthly use of 212 taking advantage of all o...,500,Months,1,5.5,1
4,50,212 Advanced Monthly,A monthly use of 212 taking advantage of all o...,1100,Months,1,10.0,1
5,51,212 Pro Monthly,A monthly plan with 1000 seconds attack time i...,1000,Months,1,16.5,2
6,52,212 Basic Lifetime,A lifetime use of 212 taking advantage of all ...,350,Years,10,15.0,1
7,53,212 Novice Lifetime,A lifetime use of 212 taking advantage of all ...,600,Years,10,20.0,1
8,54,212 Advanced Lifetime,A lifetime use of 212 taking advantage of all ...,800,Years,10,35.0,2
9,55,212 Pro Lifetime,A lifetime use of 212 taking advantage of all ...,1000,Years,10,50.0,2

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: plans
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 

    - On the column name:
        o ID => planid
        o name => planname
        o description => plandescr
        o mbt => maxboottime
        o concurrents => concurrency
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'plans'

In [26]:
### Loading the column converting columns with predefined functions
df_plans = pd.read_csv(read_inserted_table1(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)


###Changing names of columns
df_plans.rename(columns = {'ID': 'planid',
                          'name': 'planname',
                          'description':'plandescr',
                          'mbt': 'maxboottime',
                          'concurrents':'concurrency'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])


###Showing some lines after adapt the table
df_plans.head(10)

,planid,planname,plandescr,maxboottime,unit,length,price,concurrency
0,46,212 Trial,A short trial to show you how good 212 booter is.,190,Days,1,1.0,1
1,47,212 Trial Weekly,A 1 week trial for you to test 212 for 7 days ...,190,Weeks,1,3.0,1
2,48,212 Basic Monthly,A monthly use of 212 taking advantage of all o...,300,Months,1,8.0,1
3,49,212 Novice Monthly,A monthly use of 212 taking advantage of all o...,500,Months,1,5.5,1
4,50,212 Advanced Monthly,A monthly use of 212 taking advantage of all o...,1100,Months,1,10.0,1
5,51,212 Pro Monthly,A monthly plan with 1000 seconds attack time i...,1000,Months,1,16.5,2
6,52,212 Basic Lifetime,A lifetime use of 212 taking advantage of all ...,350,Years,10,15.0,1
7,53,212 Novice Lifetime,A lifetime use of 212 taking advantage of all ...,600,Years,10,20.0,1
8,54,212 Advanced Lifetime,A lifetime use of 212 taking advantage of all ...,800,Years,10,35.0,2
9,55,212 Pro Lifetime,A lifetime use of 212 taking advantage of all ...,1000,Years,10,50.0,2

## 6.12. Table: 'referrals'

### How this table looks like without modification?

In [27]:
tablename='referrals'

pd.read_csv(read_inserted_table1(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

    username      refid        date
0  melternet  melternet  1374275832
1      NYREX      NYREX  1374275832
2      NYREX      NYREX  1374275832
3      NYREX      NYREX  1374275832
4      NYREX      NYREX  1374275832
5      NYREX      NYREX  1374275832
6      NYREX      NYREX  1374275832
7      NYREX      NYREX  1374275832
8      NYREX      NYREX  1374275832
9      NYREX      NYREX  1374275832

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    - The blacklist table must to have the columns: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o    
    - On the column name:
        o  
    - Add required columns:
        o 
    - Split columns:
        o

## 6.13. Table: 'skype_api'

### How this table looks like without modification?

In [28]:
tablename='skype_api'

pd.read_csv(read_inserted_table1(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

   id             ip
0   2  93.114.45.84

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    - The blacklist table must to have the columns: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o    
    - On the column name:
        o  
    - Add required columns:
        o 
    - Split columns:
        o

## 6.14. Read the raw table: 'users'

### How this table looks like without modification?

In [29]:
tablename='users'

pd.read_csv(read_inserted_table1(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,ID,username,password,email,rank,membership,expire,status
0,849,NYREX,249381f5c1c97ea37aa66ef7741fecb848d90b35,jymer09@gmail.com,1,56,1690295194,0
1,850,halo3king,013e8975490bff350a5625ad27ca2fcb611adeed,iiddoser@gmail.com,0,51,1375649949,0
2,851,gminton,4233137d1c510f2e55ba5cb220b864b11033f156,garretleeminton@gmail.com,0,46,1375345895,0
3,852,macdown,47215f51d2175d98037a45715c35b6e9c26984ff,marclomeda@gmail.com,0,47,1373525281,0
4,853,fearlessrevenge,4481a57ab5ff18c58ae0848efd7f4cb86b62f6da,fearlessrevenge@gmail.com,0,54,1688457459,0
5,854,tntwolve,f5ce60f9b50290be6498ac82dfb316139105d33a,cccamhd.net@gmail.com,0,50,1376049607,0
6,855,Dynamite,249381f5c1c97ea37aa66ef7741fecb848d90b35,Dynamitepro@gmail.com,1,56,1688496286,0
7,915,GrindStarter,d02133f76fb1a4548152d09fe929d9ca48ef3d66,bkspud1@hotmail.com,0,0,0,0
8,857,shadowcreeper,6d4ca8ca522c659bc6d5ae7e1a5d725f4ab489a8,forhaloce@gmail.com,0,0,0,0
9,858,AngryWaffle,dcdc8b2d0a7955131b67e56602873f6384102669,thetechnow@ymail.com,1,56,1688877340,0

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: users 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o    
    - On the column name:
        o ID => userid
        o email => useremail
        o membership => planid
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'users'

In [30]:
### Loading the column converting columns with predefined functions
df_users = pd.read_csv(read_inserted_table1(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

###Changing names of columns
df_users.rename(columns = {'ID': 'userid',
                            'email': 'useremail',
                          'membership':'planid'},
                         inplace=True)

###Showing some lines after adapt the table
df_users.head(10)

,userid,username,password,useremail,rank,planid,expire,status
0,849,NYREX,249381f5c1c97ea37aa66ef7741fecb848d90b35,jymer09@gmail.com,1,56,1690295194,0
1,850,halo3king,013e8975490bff350a5625ad27ca2fcb611adeed,iiddoser@gmail.com,0,51,1375649949,0
2,851,gminton,4233137d1c510f2e55ba5cb220b864b11033f156,garretleeminton@gmail.com,0,46,1375345895,0
3,852,macdown,47215f51d2175d98037a45715c35b6e9c26984ff,marclomeda@gmail.com,0,47,1373525281,0
4,853,fearlessrevenge,4481a57ab5ff18c58ae0848efd7f4cb86b62f6da,fearlessrevenge@gmail.com,0,54,1688457459,0
5,854,tntwolve,f5ce60f9b50290be6498ac82dfb316139105d33a,cccamhd.net@gmail.com,0,50,1376049607,0
6,855,Dynamite,249381f5c1c97ea37aa66ef7741fecb848d90b35,Dynamitepro@gmail.com,1,56,1688496286,0
7,915,GrindStarter,d02133f76fb1a4548152d09fe929d9ca48ef3d66,bkspud1@hotmail.com,0,0,0,0
8,857,shadowcreeper,6d4ca8ca522c659bc6d5ae7e1a5d725f4ab489a8,forhaloce@gmail.com,0,0,0,0
9,858,AngryWaffle,dcdc8b2d0a7955131b67e56602873f6384102669,thetechnow@ymail.com,1,56,1688877340,0

<h2 align='center'>======================================================================
<br>Final step of the manual part
======================================================================</h2>

## 7. Adding missing tables accordingly to our generic Booter database

In [31]:
# df_attacks= pd.DataFrame(columns=['id','userid','username','targetip','targeturl','duration','port','type','date'])
# df_blacklist=pd.DataFrame(columns=['id','ip','note'])
# df_friendsenemies=pd.DataFrame(columns=['id','ip','note','userid','type'])
# df_gateways=pd.DataFrame(columns=['email'])
# df_logins=pd.DataFrame(columns=['id','userid','username','userip','date'])
# df_payments=pd.DataFrame(columns=['id','userid','username','amountpaid','paymentemail','planid','tid','date'])
# df_plans=pd.DataFrame(columns=['planid','planname','plandescr','price','maxboottime','concurrency'])
df_servers=pd.DataFrame(columns=['id','ip'])
df_settings=pd.DataFrame(columns=['url','sitename','siteemail'])
# df_users=pd.DataFrame(columns=['userid','username','useremail','password','expire','plan'])      
df_webshells=pd.DataFrame(columns=['id','url','status','lastchecked','attacktype'])

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 2: Data Enrichment<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

### * Depending of the size of the data, this part can take HOURS. I tested for both small and big datasets and it worked. Be pacient. This will pay-off!

In [39]:
%run '../data_enrichment.ipynb'

- Table logins enriched (IP to AS): df_logins_iptoasn
- Table attacks enriched (IP to AS): df_attacks_iptoasn
- Table friendsenemies enriched (IP to AS): df_friendsenemies_iptoasn
- Table blacklist enriched (IP to AS): df_blacklist_iptoasn


- Table logins enriched (Tor checked): df_logins_torcheck
- Table attacks enriched (Tor checked): df_attacks_torcheck
- Table friendsenemies enriched (Tor checked): df_friendsenemies_torcheck
- Table blacklist enriched (Tor checked): df_blacklist_torcheck

In [43]:
df_attacks['nearestlogin']=""
df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])
    
if len(df_attacks)>0 and len(df_logins)>0:
    #When was the last login of the user that performed attacks
    df_attacks['nearestlogin']=""
    df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])

    for index, row in df_attacks.head(100).iterrows():
        intermediate_df= df_logins[df_logins['username']==row['username']]
        nearestlogindate= nearestDate(row['date'],intermediate_df['date'])
        df_attacks.set_value(index, 'nearestlogin', nearestlogindate)

        #DEBUGGING
#         if index % 1000 == 0:
#             print(index,": +1000 records analysed")

In [ ]:
pd.DataFrame(index=(df_attacks['date']-df_attacks['nearestlogin'])).resample('m').count()

In [64]:
pd.DataFrame(index=(df_attacks['date']-df_attacks['nearestlogin']))

Empty DataFrame
Columns: []
Index: [0 days 01:00:27, 0 days 01:00:42, 0 days 03:09:03, 0 days 02:49:30, 0 days 00:25:00, 2 days 19:20:15, 0 days 01:24:54, 0 days 00:26:05, 0 days 00:39:16, 0 days 00:01:45, 0 days 00:01:05, 0 days 00:00:47, 0 days 00:25:50, 0 days 00:37:01, 0 days 00:49:56, 0 days 04:05:01, 0 days 04:14:02, 0 days 04:27:05, 0 days 04:34:49, 0 days 04:38:27, 0 days 04:41:53, 0 days 00:01:05, 0 days 00:02:42, 0 days 07:51:18, 0 days 00:00:52, 0 days 00:02:38, 0 days 00:23:09, 0 days 01:49:31, 0 days 01:38:14, 0 days 01:10:31, 0 days 00:23:08, 0 days 00:01:35, 0 days 00:01:47, 0 days 00:01:39, 0 days 00:01:49, 0 days 00:12:26, 0 days 00:00:37, 0 days 00:00:29, 0 days 00:08:17, 0 days 00:01:33, 0 days 01:07:56, 0 days 01:03:56, 0 days 00:05:58, 0 days 01:49:12, 0 days 01:49:34, 0 days 02:15:14, 0 days 02:22:02, 0 days 02:22:13, 0 days 03:29:18, 0 days 00:00:53, 0 days 00:03:00, 0 days 00:06:33, 0 days 00:08:42, 0 days 00:13:00, 0 days 00:01:47, 0 days 00:04:38, 0 days 00:06:10, 0 days 00:07:50, 0 days 00:09:11, 0 days 00:11:16, 0 days 00:11:33, 0 days 00:14:17, 0 days 00:00:52, 0 days 00:00:15, 0 days 00:00:18, 0 days 00:00:30, 0 days 00:00:50, 0 days 00:01:05, 0 days 00:45:53, 0 days 00:46:05, 0 days 00:01:08, 0 days 00:05:40, 0 days 00:17:27, 0 days 00:01:21, 0 days 00:04:57, 0 days 00:33:55, 0 days 00:38:22, 0 days 00:00:28, 0 days 00:18:26, 0 days 00:18:36, 0 days 00:31:16, 0 days 00:37:51, 0 days 00:51:46, 0 days 00:59:55, 0 days 01:20:36, 0 days 00:00:27, 0 days 00:00:37, 0 days 02:33:17, 0 days 02:33:28, 0 days 03:20:52, 0 days 00:02:44, 0 days 00:00:40, 0 days 00:00:33, 0 days 00:33:09, 0 days 00:09:46, 0 days 00:00:40, 0 days 00:01:08, 0 days 00:00:34, 0 days 02:58:05, 0 days 00:02:46, ...]

[1993 rows x 0 columns]

In [ ]:
if len(df_attacks['nearestlogin'].value_counts()) >1:
    df_attacks_and_logins = pd.merge(df_attacks_extended,
                                     df_logins_extended,
                                     how = 'left',
                                     left_on = ['username','nearestlogin'],
                                     right_on = ['username','date'])
else:
    df_attacks_and_logins=""

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 3: Automatic Analysis
<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>

## * Libraries that I use to plot figs

In [ ]:
import matplotlib.pyplot as plt
from matplotlib_venn import *
%matplotlib inline

import seaborn as sns
import itertools

plt.style.use('seaborn-muted')
# plt.rcParams['font.family'] = 'serif'
# plt.rcParams['font.size'] = 12

import warnings
warnings.filterwarnings('ignore')

## A.1. Number of records per table (part of the generic Booter database schema)

In [ ]:
len(df_users),len(df_logins),len(df_attacks),len(df_payments),len(df_settings),len(df_gateways), len(df_friendsenemies),len(df_blacklist),len(df_webshells),len(df_servers),len(df_plans)

## A.2. Number of users, customers, attackers, and their intersection

In [ ]:
if len(set(df_users['userid'].unique())) > 1:
    users_set=set(df_users['userid'].unique())
else:
    users_set=set(df_users['username'].unique())
    
if len(set(df_logins['userid'].unique())) > 1:
    userslogin_set=set(df_logins['userid'].unique())
else:
    userslogin_set=set(df_logins['username'].unique())

if len(set(df_payments['userid'].unique())) > 1:
    customers_set=set(df_payments['userid'].unique())
else:
    customers_set=set(df_payments['username'].unique())

if len(set(df_attacks['userid'].unique())) > 1:
    attackers_set=set(df_attacks['userid'].unique())
else:
    attackers_set=set(df_attacks['username'].unique())

intersec_customers_attacker=pd.Series(list(customers_set.intersection(attackers_set)))
intersec_users_customers=pd.Series(list(users_set.intersection(customers_set)))
intersec_users_attackers=pd.Series(list(users_set.intersection(attackers_set)))
intersec_users_customers_attackers=pd.Series(list(users_set.intersection(customers_set).intersection(attackers_set)))

In [ ]:
len(users_set),len(userslogin_set),len(customers_set),len(attackers_set)

In [ ]:
fig = plt.figure(figsize=(4,3))
fig.suptitle('Users, Customers & Attackers', fontsize=14)

ax = plt.subplot2grid((1,1), (0,0))

venn=venn3(ax=ax,subsets = {'001':len(attackers_set)-len(intersec_customers_attacker)-len(intersec_users_attackers)+len(intersec_users_customers_attackers), 
                            '010':len(customers_set)-len(intersec_users_customers)-len(intersec_customers_attacker)+len(intersec_users_customers_attackers), 
                            '011':len(intersec_customers_attacker)-len(intersec_users_customers_attackers),
                            '100':len(users_set)-len(intersec_users_customers)-len(intersec_users_attackers)+len(intersec_users_customers_attackers),
                            '101':len(intersec_users_attackers)-len(intersec_users_customers_attackers),
                            '110':len(intersec_users_customers)-len(intersec_users_customers_attackers),
                            '111':len(intersec_users_customers_attackers)},\
          set_labels = ('Users', 'Customers','Attackers'),\
          alpha=1)
try:
    venn.get_patch_by_id('100').set_color('#404096')
except:
    print("*Users set is empty!")  
    
try:
    venn.get_patch_by_id('110').set_color('#DEA73A')
except:
    print("*Customers set is empty!")   

try:
    venn.get_patch_by_id('001').set_color('#D92120')
except:
    print("*Attackers set is empty!")

fig.show()
# fig.savefig('../figs/timeseries_attacks.eps', format='eps', dpi=1200)

## A.3. Distribution of login times per user

In [ ]:
if len(df_logins['userid'].value_counts()) > 0:
    num_distinct_logins_per_user=df_logins['userid'].value_counts()
else:
    num_distinct_logins_per_user=df_logins['username'].value_counts()

freq_distinct_logins_per_user=num_distinct_logins_per_user.value_counts()
cum_dist_user_logins = np.linspace(0.,1.,len(num_distinct_logins_per_user))
cdf_user_logins = pd.Series(cum_dist_user_logins, index=num_distinct_logins_per_user.sort_values())

In [ ]:
if len(num_distinct_logins_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Login Times by Users:', fontsize=14, y=1.05,x=0.35)
    
    #Plot CDF
    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_logins.plot(ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# logins")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    ax1.set_title("")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_logins_per_user.plot(ax=ax2,kind='pie', 
                                       labels=None, 
                                       legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    
    
    
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_logins_per_user.values)/(freq_distinct_logins_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_logins_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/login_times.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.3. Number of Users that Login via TOR

In [ ]:
len(df_logins_torcheck[df_logins_torcheck['tor']==True]['userip'].value_counts())

## 5.4. Number of Distinct IP addresses by Users

In [ ]:
if len(df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()) >0:
    num_distinct_ips_per_user=df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()
else:
    num_distinct_ips_per_user=df_logins.groupby(['username','userip']).size().reset_index()['username'].value_counts()
    
freq_distinct_ips_per_user=num_distinct_ips_per_user.value_counts()
cum_dist_user_ips = np.linspace(0.,1.,len(num_distinct_ips_per_user))
cdf_user_ips = pd.Series(cum_dist_user_ips, index=num_distinct_ips_per_user.sort_values())

In [ ]:
if len(num_distinct_ips_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Distinct IP address used by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_ips.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_ips_per_user.plot(ax=ax2,kind='pie',
                                    labels=None,legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_ips_per_user.values)/(freq_distinct_ips_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_ips_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/num_ips_by_users.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.5. Number of Payments by Users

In [ ]:
if len(df_payments['userid'].value_counts())>0:
    num_distinct_payments_per_user=df_payments['userid'].value_counts()
else:
    num_distinct_payments_per_user=df_payments['username'].value_counts()

freq_distinct_payments_per_user=num_distinct_payments_per_user.value_counts()
cum_dist_user_payments = np.linspace(0.,1.,len(num_distinct_payments_per_user))
cdf_user_payments = pd.Series(cum_dist_user_payments, index=num_distinct_payments_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Number of Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# Payment")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_per_user.plot(ax=ax2,kind='pie', 
                                         labels=None,legend=False,
                                         startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_per_user.values)/(freq_distinct_payments_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/payments_distribution.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.6. Total Amount of Money Earned

In [ ]:
if len(df_payments['amountpaid']) >0:
    total_earned=df_payments['amountpaid'].values.sum()
    'US$ {:,.2f}'.format(float(total_earned))
else:
    print("Unfortunately, there is no data available!")

## 5.7. Amount of Money Paid by Users

In [ ]:
num_distinct_payments_money_per_user=df_payments['amountpaid'].value_counts()
freq_distinct_payments_money_per_user=num_distinct_payments_money_per_user.value_counts()
cum_dist_user_payments_money = np.linspace(0.,1.,len(num_distinct_payments_money_per_user))
cdf_user_payments_money = pd.Series(cum_dist_user_payments_money, index=num_distinct_payments_money_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_money_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Money Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments_money.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("$")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_money_per_user.plot(ax=ax2,kind='pie', 
                                               labels=None,legend=False,
                                               startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_money_per_user.values)/(freq_distinct_payments_money_per_user.values.sum())
    labels = ['${0:1.2f} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_money_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.6, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/distribution_amount_paid.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.8. Countries from where Users Access Booters

In [ ]:
logins_country_distribution_sorted = df_logins_iptoasn['country'].value_counts(sort=True,ascending=True)
logins_country_distribution = df_logins_iptoasn['country'].value_counts()

In [ ]:
if len(logins_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Users Accessing from Countries:', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    logins_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    logins_country_distribution.plot(ax=ax2,kind='pie', 
                                     labels=None,legend=False,
                                     startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*logins_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(logins_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/user_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.9. Countries of Blacklisted IPs

In [ ]:
blacklist_country_distribution=df_blacklist_iptoasn['country'].value_counts()
blacklist_country_distribution_sorted=df_blacklist_iptoasn['country'].value_counts(sort=True,ascending=True)

In [ ]:
if len(blacklist_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of blacklisted IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    blacklist_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    blacklist_country_distribution.plot(ax=ax2,kind='pie', 
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*blacklist_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(blacklist_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/blacklist_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.10. Countries of Target IPs

In [ ]:
attacks_country_distribution=df_attacks_iptoasn['country'].value_counts()

In [ ]:
if len(attacks_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of target IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    attacks_country_distribution.plot(ax=ax1,kind='bar')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    attacks_country_distribution.plot(ax=ax2,kind='pie', 
                                      labels=None,legend=False,
                                      startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*attacks_country_distribution.values)/(attacks_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(attacks_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/attack_countries_distribution.eps',bbox_inches='tight', format='eps', dpi=1200) 
else:
    print("Unfortunately, there is no data available!")

## 5.12. Attacks on Same Target

In [ ]:
num_attacks_on_sametarget=df_attacks['targetip'].value_counts()

freq_num_attacks_on_sametarget=num_attacks_on_sametarget.value_counts()
cum_num_attacks_on_sametarget = np.linspace(0.,1.,len(num_attacks_on_sametarget))
cdf_num_attacks_on_sametarget = pd.Series(cum_num_attacks_on_sametarget, index=num_attacks_on_sametarget.sort_values())

In [ ]:
if len(num_attacks_on_sametarget)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Attacks on Same Targets:', fontsize=14, y=1.05,x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_num_attacks_on_sametarget.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_num_attacks_on_sametarget.plot(ax=ax2,kind='pie',
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_num_attacks_on_sametarget.values)/(freq_num_attacks_on_sametarget.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_num_attacks_on_sametarget.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()

    fig.show()
    fig.savefig('figs/attacks_on_same_target.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.11. Attacks per day (timeseries)

In [ ]:
if len(df_attacks)>0:
    attack_timeseries=df_attacks.set_index(['date']).groupby(pd.TimeGrouper(freq='D')).agg(['count'])['action']
    attack_mean_perday=attack_timeseries.mean()
    attack_median_perday=attack_timeseries.median()
else:
    attack_timeseries=""

In [ ]:
if len(attack_timeseries)>0:
    fig = plt.figure(figsize=(6,3))

    ax1 = plt.subplot2grid((1,1), (0,0), rowspan=2)
    attack_timeseries.plot(ax=ax1,
                           lw=2,
                           legend=False,
    #                        style='--'
                          )

    # X and Y Labels and Ticks
    ax1.set_xlabel("Time (bin=day)")
    ax1.set_ylabel("# Attacks")

    ax1.annotate(str(int(attack_median_perday[0]))+' (median)', 
                 (min(df_attacks['date']), attack_median_perday),
                 xytext=(350, -1), 
                 textcoords='offset points',
                 color='black', 
                 arrowprops=dict(arrowstyle='-|>',
                                 color='black'))
    fig.savefig('figs/attacks_timeseries.eps', bbox_inches='tight',format='eps', dpi=1200)

else:
    print("Unfortunately, there is no data available!")

## 5.12. Time Between Logins and Attacks

In [ ]:
if len(df_attacks_and_logins)>0:
    print("redo")
else:
    print("Unfortunately, there is no data available!")

## 5.13. Who attack whom? (users on the country level)

In [ ]:
if len(df_attacks_extended)>0 and len(df_logins_extended)>0:
    merged_attacks_logins = pd.merge(df_attacks_extended,
                                  df_logins_extended,
                                  how = 'left',
                                  left_on = 'date',
                                  right_on = 'date')[['targetcountry','srccountry']]

    who_against_whom = merged_attacks_logins.groupby(['targetcountry','srccountry'])\
                            .size()\
                            .reset_index()\
                            .pivot('srccountry','targetcountry',0)
else:
    who_against_whom =""

In [ ]:
if len(who_against_whom)>0:
    fig = plt.figure(figsize=(8,12))
    fig.suptitle('Countries of Target IPs', fontsize=14, y=.92)

    ax1 = plt.subplot2grid((1,1), (0,0))
    sns.set()
    sns.heatmap(who_against_whom,
                ax=ax1,
#                 cmap="YlGnBu",
    #             linewidths=.5,
    #             annot=True
                )

    ax1.set_ylabel("Source Country")
    ax1.set_xlabel("Attack Target Country")

    fig.show()
    fig.savefig('figs/who_attack_whom.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

<h1 align="center">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
FIFTH PART: Query Interface<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [ ]:
from ipywidgets import widgets, interact, Dropdown,HTML
from IPython.display import display,clear_output

In [ ]:
def search_by_userid_submit(sender):
    clear_output()
    print("Searching by id =",search_by_userid.value)
    
    if len(df_users[df_users['userid']== int(search_by_userid.value)])>0:
        display(df_users[df_logins['userid']== int(search_by_userid.value)])
    
    if len(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])>0:
        display(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])
    
    if len(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])>0:
        display(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])
    
    if len(df_payments[df_payments['userid']== int(search_by_userid.value)])>0:
        display(df_payments[df_payments['userid']== int(search_by_userid.value)])

def search_by_username_submit(sender):
    clear_output()
    print("Searching by username =",search_by_username.value,"\n")
    
    if len(df_users[df_users['username']== search_by_username.value])>0:
        print("Table df_users:")
        display(df_users[df_users['username']== search_by_username.value])
    
    if len(df_logins_extended[df_logins_extended['username']== search_by_username.value])>0:
        print("Table df_logins:")
        display(df_logins_extended[df_logins_extended['username']== search_by_username.value])

    if len(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])>0:
        print("Table df_attacks:")
        display(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])
    
    if len(df_payments[df_payments['username']== search_by_username.value])>0:
        print("Table df_payments:")
        display(df_payments[df_payments['username']== search_by_username.value])
        
def search_by_ip_submit(sender):
    clear_output()
    print("Searching by IP address =",str(search_by_ip.value),"\n")
    
    if len(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])>0:
        print("Table df_logins (as ATTACKER:")
        display(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])
     
    if len(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])  
      
       
def search_by_asn_submit(sender):
    clear_output()
    print("Searching by Autonomous System Number (ASN) =",search_by_asn.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])
    
    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

        
country_list=pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/master/data.csv',delimiter=",",error_bad_lines=False)
def search_by_country_submit():
    country_code=country_list[country_list['Name']==search_by_country.value]['Code'].values[0]
    clear_output()
    print("Searching by Country =",search_by_country.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srccountry']== country_code])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srccountry']== country_code])
    
    if len(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])

In [ ]:
display(HTML('<h3>*Search by (only) one field per time:</h3>'))

search_by_username = widgets.Text(description="username")
display(search_by_username)
search_by_username.on_submit(search_by_username_submit)

search_by_userid = widgets.Text(description="userid")
display(search_by_userid)
search_by_userid.on_submit(search_by_userid_submit)

search_by_ip = widgets.Text(description="IP")
display(search_by_ip)
search_by_ip.on_submit(search_by_ip_submit)

search_by_asn = widgets.Text(description="ASN")
display(search_by_asn)
search_by_asn.on_submit(search_by_asn_submit)

search_by_country = Dropdown(description="Country", options=country_list['Name'].tolist())
search_by_country.on_trait_change(search_by_country_submit, name="value")
display(search_by_country)