<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
Brief explanation on our Booter database analysis methodology: <br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

# Analysis of: notoriousboot
#### File originally retrieved from: http://pastebin.com/L0miVqSB

## * Libraries that I use to analyse data

In [6]:
import pandas as pd
import numpy as np

from io import StringIO
import re

from IPython.display import display,clear_output

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 0: Reading an input Booter database file<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [7]:
dumpfile='notoriousboot.sql'

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 1: Adaptation to our Booter database schema<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

## 1. Reading the first 'N' (100) lines of the input Booter database file

In [8]:
lines_to_read=100

with open(dumpfile) as myfile:
    firstlines=myfile.readlines()[0:lines_to_read] #put here the interval you want
    for x in firstlines:
        print(x.strip())

-- --------------------------------------------------------------------------------
--
-- phpMyAdmin SQL Dump
-- version 4.0.8
-- http://www.phpmyadmin.net
--
-- Host: localhost
-- Generation Time: Feb 08, 2014 at 10:02 PM
-- Server version: 5.5.35-cll
-- PHP Version: 5.3.17

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;

--
-- Database: `notoriou_ceg`
--

-- --------------------------------------------------------

--
-- Table structure for table `api`
--

CREATE TABLE IF NOT EXISTS `api` (
`id` int(11) NOT NULL AUTO_INCREMENT,
`api` varchar(1024) NOT NULL,
PRIMARY KEY (`id`)
) ENGINE=MyISAM  DEFAULT CHARSET=latin1 AUTO_INCREMENT=60 ;

--
-- Dumping data for table `api`
--

INSERT INTO `api` (`id`, `api`) VALUES
(59, 'http://unlimitedapi.com/apisystem2/doAPI.php?key=abased101&host=[host]&port=[port]&time=[time]&method=[method]');

-- --------------------------------------------------------

--
-- Table structure for table `blacklist`
--

CREATE TABLE IF NOT EXISTS `blacklist` (
`ID` int(11) NOT NULL AUTO_INCREMENT,
`IP` varchar(15) NOT NULL,
`note` text NOT NULL,
PRIMARY KEY (`ID`)
) ENGINE=MyISAM  DEFAULT CHARSET=latin1 AUTO_INCREMENT=26 ;

--
-- Dumping data for table `blacklist`
--

INSERT INTO `blacklist` (`ID`, `IP`, `note`) VALUES
(22, '5.66.226.81', 'Tasha <3'),
(18, '86.169.119.130', 'Aimee'),
(25, '31.54.51.54', 'Tiffany'),
(23, '71.28.79.79', 'Ashes');

-- --------------------------------------------------------

--
-- Table structure for table `fe`
--

CREATE TABLE IF NOT EXISTS `fe` (
`ID` int(11) NOT NULL AUTO_INCREMENT,
`userID` int(11) NOT NULL,
`type` varchar(1) NOT NULL,
`ip` varchar(15) NOT NULL,
`note` text NOT NULL,
PRIMARY KEY (`ID`)
) ENGINE=MyISAM  DEFAULT CHARSET=latin1 AUTO_INCREMENT=11 ;

--
-- Dumping data for table `fe`
--

INSERT INTO `fe` (`ID`, `userID`, `type`, `ip`, `note`) VALUES
(1, 19, 'f', '82.3.108.3', 'ezaM'),
(5, 41, 'f', '108.87.71.77', 'Tyler/Kue'),
(7, 1, 'e', '88.6.67.115', 'Primark'),
(8, 1, 'e', '82.23.42.77', 'Shannon'),
(9, 1, 'e', '5.198.9.44', 'Bongazm'),
(10, 122, 'e', '189.15.76.247', 'Website Stealer');

-- --------------------------------------------------------

--
-- Table structure for table `gateway`
--

CREATE TABLE IF NOT EXISTS `gateway` (

## 2. Listing tables that have content inserted into the dump file

In [9]:
def list_tables_with_insert(dumpfile):
    tables = []
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            if line.lower().startswith('insert'):
                table = re.findall(r'`(.*?)`', line)
                tables.append(table[0])
    return tables

In [11]:
tables=enumerate(list_tables_with_insert(dumpfile))

for i, item in tables:
    print(i+1,item)

1 api
2 blacklist
3 fe
4 gateway
5 iplogs
6 logs
7 logs
8 news
9 payments
10 plans
11 users

## How the list above looks like?

<h2 align='center'>======================================================================
If NOT well-formed SQL dump file then you must first do the following:
======================================================================</h2>

## 3. Removing lines that are not part of the actual content to be analysed

## 4. Splitting and naming tables and columns

<h2 align='center'>======================================================================
Additional functions
======================================================================</h2>

## * Function to read tables from wel-formed SQL database dump

In [12]:
# For well formed SQL database dumps!
def read_inserted_table(dumpfile, target_table):
    sio = StringIO()
    fast_forward = True
    already_header = False
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            line = re.sub("(?!(([^']*'){2})*[^']*$)\)", '',line) #Step0:remove any ")" from the content of columns
            if line.lower().startswith('insert') and target_table in line:
                fast_forward = False
                if already_header:
                    continue
            if fast_forward:
                continue
            
            data = re.findall('\([^\)]*\)', line) #Step1: get the content between parentesis (i.e., insert line)
            try:
                newline = data[0].strip('()') #Step2:remove parenthesis
                newline=newline.replace('`','') #Step3: remove ` (usually in table names)
                newline=re.sub(r'(?!(([^\']*\'){2})*[^\']*$),','', newline) #Step4: remove commas from the content of columns
                newline=newline.replace('\'','') #Step5: remove single quotes
                newline=newline.replace(', ', ',') #Step6: remove single spaces after comma (i.e., in the beginning of a column)
                sio.write(newline)
                sio.write("\n")
            except IndexError:
                pass
            if line.endswith(';'):
                fast_forward = True
                already_header = True
    sio.seek(0)
    return sio

## * Converter functions for formatting content of columns
Attention, it is better to perform the conversion based on a series than a string (http://stackoverflow.com/questions/42462906/pandas-read-csv-converters-performance-issue)

In [13]:
def tolowercase(series):
    return series.str.lower()

In [14]:
def strip_singlequote(series):
    return series.str.strip('\'')

In [15]:
def timestamp2datetime(series):
    return  pd.to_datetime(series,unit='s',errors='coerce')

In [16]:
def datetimestring2datetime(series):
    return  pd.to_datetime(series, format='%d-%m-%Y %H:%M',errors='coerce')

In [17]:
def datetimeinvertedstring2datetime(series):
    return pd.to_datetime(series, format='%Y-%m-%d %H:%M:%S',errors='coerce')

In [18]:
def datetimeampm2datetime(series):
    return  pd.to_datetime(series,format='%d-%m-%Y %I:%M:%S %p',errors='coerce')

In [19]:
def datetimemdyampm2datetime(series):
    return  pd.to_datetime(series, format='%m-%d-%Y %I:%M:%S %p',errors='coerce')

In [20]:
def strip_parenthesisandsemicolon(series):
    return series.str.strip(');')

In [21]:
def strip_insertintologs(series):
    return int(series.str.strip('INSERT INTO `logs` VALUES ('))

In [22]:
def strip_tab(series):
    return series.str.strip('\t')

In [23]:
def friendsenemies_type(series):
    return series.str.replace('f','friend').replace('e','enemy')

<h2 align='center'>======================================================================
Adapting EACH existing table
======================================================================</h2>

## 6.1. Table: 'api'

### How this table looks like without modification?

In [24]:
tablename='api'

pd.read_csv(read_inserted_table(dumpfile,tablename),delimiter=",",error_bad_lines=False)

   id                                                api
0  59  http://unlimitedapi.com/apisystem2/doAPI.php?k...

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o 
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.2. Table: 'blacklist'

### How this table looks like without modification?

In [25]:
tablename='blacklist'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   ID              IP      note
0  22     5.66.226.81  Tasha <3
1  18  86.169.119.130     Aimee
2  25     31.54.51.54   Tiffany
3  23     71.28.79.79     Ashes

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: blacklist
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o ID -> id
        o IP -> ip
    - Add required columns:
        o  
    - Split columns:
        o

### Modifying table: 'blacklist'

In [26]:
# Loading the correct table name
df_blacklist = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names
df_blacklist.rename(inplace=True, columns = {'ID': 'id',
                                            'IP':'ip'})

# Adding missing columns (with "" [for future string] or np.nan [for future float])

###Showing some lines after adapt the table
df_blacklist.head(10)

   id              ip      note
0  22     5.66.226.81  Tasha <3
1  18  86.169.119.130     Aimee
2  25     31.54.51.54   Tiffany
3  23     71.28.79.79     Ashes

## 6.3. Table: 'fe'

### How this table looks like without modification?

In [27]:
tablename='fe'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   ID  userID type             ip             note
0   1      19    f     82.3.108.3             ezaM
1   5      41    f   108.87.71.77        Tyler/Kue
2   7       1    e    88.6.67.115          Primark
3   8       1    e    82.23.42.77          Shannon
4   9       1    e     5.198.9.44          Bongazm
5  10     122    e  189.15.76.247  Website Stealer

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: friendsenemies
#### Q3: Are there modifications required? 
    - On the table name: 
        o fe -> friendsenemies
    - On the column type: 
        o type -> friendsenemies_type() 
    - On the column name:
        o ID -> id
        o userID -> userid
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'fe'

In [28]:
# Loading the correct table name
df_friendenemies = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_friendenemies['type']=friendsenemies_type(df_friendenemies['type'])

# Changing column names
df_friendenemies.rename(inplace=True, columns = {'ID': 'id',
                                            'userID':'userid'})

# Adding missing columns (with "" [for future string] or np.nan [for future float])

###Showing some lines after adapt the table
df_friendenemies.head(10)

   id  userid    type             ip             note
0   1      19  friend     82.3.108.3             ezaM
1   5      41  friend   108.87.71.77        Tyler/Kue
2   7       1   enemy    88.6.67.115          Primark
3   8       1   enemy    82.23.42.77          Shannon
4   9       1   enemy     5.198.9.44          Bongazm
5  10     122   enemy  189.15.76.247  Website Stealer

## 6.4. Table: 'gateway'

### How this table looks like without modification?

In [29]:
tablename='gateway'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

             email
0  abased@live.com

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: gateways
#### Q3: Are there modifications required? 
    - On the table name: 
        o gateway -> gateways
    - On the column type: 
        o  
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'gateway'

In [30]:
# Loading the correct table name
df_gateways = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names

# Showing some lines after adapt the tabledf_plans['maxboottime'] = np.nan

# Showing some lines after adapt the table
df_gateways.head(10)

             email
0  abased@live.com

## 6.5. Table: 'iplogs'

### How this table looks like without modification?

In [31]:
tablename='iplogs'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   ID  userID           logged        date
0   5      13       81.71.4.55  1388518491
1   4      13       81.71.4.55  1388518469
2   6      13     83.84.78.163  1388591989
3  12      46     2.125.14.193  1388785531
4   9      13  195.240.183.161  1388619667
5  13      46    98.15.189.166  1388785543
6  14      46     2.125.14.193  1388785545
7  15      46  178.167.243.117  1388785662
8  16      46   109.158.251.94  1388787488
9  17      46   109.158.251.94  1388787493

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: logins
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o date -> timestamp2datetime()
    - On the column name:
        o ID -> id
        o userID -> userid
        o logged -> userip
    - Add required columns:
        o username
    - Split columns:
        o

### Modifying table: 'iplogs'

In [32]:
# Loading the correct table name
df_logins = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_logins['date'] = timestamp2datetime(df_logins['date']) 

# Changing names of columns
df_logins.rename(inplace=True, columns = {'ID': 'id',
                                         'userID': 'userid',
                                         'logged':'userip'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_logins['username']=''


# Showing some lines after adapt the table
df_logins.head(10)

   id  userid           userip                date username
0   5      13       81.71.4.55 2013-12-31 19:34:51
1   4      13       81.71.4.55 2013-12-31 19:34:29
2   6      13     83.84.78.163 2014-01-01 15:59:49
3  12      46     2.125.14.193 2014-01-03 21:45:31
4   9      13  195.240.183.161 2014-01-01 23:41:07
5  13      46    98.15.189.166 2014-01-03 21:45:43
6  14      46     2.125.14.193 2014-01-03 21:45:45
7  15      46  178.167.243.117 2014-01-03 21:47:42
8  16      46   109.158.251.94 2014-01-03 22:18:08
9  17      46   109.158.251.94 2014-01-03 22:18:13

## 6.6. Table: 'logs'!!!!

### How this table looks like without modification?

In [33]:
tablename='logs'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

b'Skipping line 14: expected 4 fields, saw 8\nSkipping line 15: expected 4 fields, saw 8\nSkipping line 16: expected 4 fields, saw 8\nSkipping line 17: expected 4 fields, saw 8\nSkipping line 18: expected 4 fields, saw 8\nSkipping line 19: expected 4 fields, saw 8\nSkipping line 20: expected 4 fields, saw 8\nSkipping line 21: expected 4 fields, saw 8\nSkipping line 22: expected 4 fields, saw 8\nSkipping line 23: expected 4 fields, saw 8\nSkipping line 24: expected 4 fields, saw 8\nSkipping line 25: expected 4 fields, saw 8\nSkipping line 26: expected 4 fields, saw 8\nSkipping line 27: expected 4 fields, saw 8\nSkipping line 28: expected 4 fields, saw 8\nSkipping line 29: expected 4 fields, saw 8\nSkipping line 30: expected 4 fields, saw 8\nSkipping line 31: expected 4 fields, saw 8\nSkipping line 32: expected 4 fields, saw 8\nSkipping line 33: expected 4 fields, saw 8\nSkipping line 34: expected 4 fields, saw 8\nSkipping line 35: expected 4 fields, saw 8\nSkipping line 36: expected 4 fields, saw 8\nSkipping line 37: expected 4 fields, saw 8\nSkipping line 38: expected 4 fields, saw 8\nSkipping line 39: expected 4 fields, saw 8\nSkipping line 40: expected 4 fields, saw 8\nSkipping line 41: expected 4 fields, saw 8\nSkipping line 42: expected 4 fields, saw 8\nSkipping line 43: expected 4 fields, saw 8\nSkipping line 44: expected 4 fields, saw 8\nSkipping line 45: expected 4 fields, saw 8\nSkipping line 46: expected 4 fields, saw 8\nSkipping line 47: expected 4 fields, saw 8\nSkipping line 48: expected 4 fields, saw 8\nSkipping line 49: expected 4 fields, saw 8\nSkipping line 50: expected 4 fields, saw 8\nSkipping line 51: expected 4 fields, saw 8\nSkipping line 52: expected 4 fields, saw 8\nSkipping line 53: expected 4 fields, saw 8\nSkipping line 54: expected 4 fields, saw 8\nSkipping line 55: expected 4 fields, saw 8\nSkipping line 56: expected 4 fields, saw 8\nSkipping line 57: expected 4 fields, saw 8\nSkipping line 58: expected 4 fields, saw 8\nSkipping line 59: expected 4 fields, saw 8\nSkipping line 60: expected 4 fields, saw 8\nSkipping line 61: expected 4 fields, saw 8\nSkipping line 62: expected 4 fields, saw 8\nSkipping line 63: expected 4 fields, saw 8\nSkipping line 64: expected 4 fields, saw 8\nSkipping line 65: expected 4 fields, saw 8\nSkipping line 66: expected 4 fields, saw 8\nSkipping line 67: expected 4 fields, saw 8\nSkipping line 68: expected 4 fields, saw 8\nSkipping line 69: expected 4 fields, saw 8\nSkipping line 70: expected 4 fields, saw 8\nSkipping line 71: expected 4 fields, saw 8\nSkipping line 72: expected 4 fields, saw 8\nSkipping line 73: expected 4 fields, saw 8\nSkipping line 74: expected 4 fields, saw 8\nSkipping line 75: expected 4 fields, saw 8\nSkipping line 76: expected 4 fields, saw 8\nSkipping line 77: expected 4 fields, saw 8\nSkipping line 78: expected 4 fields, saw 8\nSkipping line 79: expected 4 fields, saw 8\nSkipping line 80: expected 4 fields, saw 8\nSkipping line 81: expected 4 fields, saw 8\nSkipping line 82: expected 4 fields, saw 8\nSkipping line 83: expected 4 fields, saw 8\nSkipping line 84: expected 4 fields, saw 8\nSkipping line 85: expected 4 fields, saw 8\nSkipping line 86: expected 4 fields, saw 8\nSkipping line 87: expected 4 fields, saw 8\nSkipping line 88: expected 4 fields, saw 8\nSkipping line 89: expected 4 fields, saw 8\nSkipping line 90: expected 4 fields, saw 8\nSkipping line 91: expected 4 fields, saw 8\nSkipping line 92: expected 4 fields, saw 8\nSkipping line 93: expected 4 fields, saw 8\nSkipping line 94: expected 4 fields, saw 8\nSkipping line 95: expected 4 fields, saw 8\nSkipping line 96: expected 4 fields, saw 8\nSkipping line 97: expected 4 fields, saw 8\nSkipping line 98: expected 4 fields, saw 8\nSkipping line 99: expected 4 fields, saw 8\nSkipping line 100: expected 4 fields, saw 8\nSkipping line 101: expected 4 fields, saw 8\nSkipping line 102: expected 4 fields, saw 8\nSkipping line 103: expected 4 fields, saw 8\nSkipping line 104: expected 4 fields, saw 8\nSkipping line 105: expected 4 fields, saw 8\nSkipping line 106: expected 4 fields, saw 8\nSkipping line 107: expected 4 fields, saw 8\nSkipping line 108: expected 4 fields, saw 8\nSkipping line 109: expected 4 fields, saw 8\nSkipping line 110: expected 4 fields, saw 8\nSkipping line 111: expected 4 fields, saw 8\nSkipping line 112: expected 4 fields, saw 8\nSkipping line 113: expected 4 fields, saw 8\nSkipping line 114: expected 4 fields, saw 8\nSkipping line 115: expected 4 fields, saw 8\nSkipping line 116: expected 4 fields, saw 8\nSkipping line 117: expected 4 fields, saw 8\nSkipping line 118: expected 4 fields, saw 8\nSkipping line 119: expected 4 fields, saw 8\nSkipping line 120: expected 4 fields, saw 8\nSkipping line 121: expected 4 fields, saw 8\nSkipping line 122: expected 4 fields, saw 8\nSkipping line 123: expected 4 fields, saw 8\nSkipping line 124: expected 4 fields, saw 8\nSkipping line 125: expected 4 fields, saw 8\nSkipping line 126: expected 4 fields, saw 8\nSkipping line 127: expected 4 fields, saw 8\nSkipping line 128: expected 4 fields, saw 8\nSkipping line 129: expected 4 fields, saw 8\nSkipping line 130: expected 4 fields, saw 8\nSkipping line 131: expected 4 fields, saw 8\nSkipping line 132: expected 4 fields, saw 8\nSkipping line 133: expected 4 fields, saw 8\nSkipping line 134: expected 4 fields, saw 8\nSkipping line 135: expected 4 fields, saw 8\nSkipping line 136: expected 4 fields, saw 8\nSkipping line 137: expected 4 fields, saw 8\nSkipping line 138: expected 4 fields, saw 8\nSkipping line 139: expected 4 fields, saw 8\nSkipping line 140: expected 4 fields, saw 8\nSkipping line 141: expected 4 fields, saw 8\nSkipping line 142: expected 4 fields, saw 8\nSkipping line 143: expected 4 fields, saw 8\nSkipping line 144: expected 4 fields, saw 8\nSkipping line 145: expected 4 fields, saw 8\nSkipping line 146: expected 4 fields, saw 8\nSkipping line 147: expected 4 fields, saw 8\nSkipping line 148: expected 4 fields, saw 8\nSkipping line 149: expected 4 fields, saw 8\nSkipping line 150: expected 4 fields, saw 8\nSkipping line 151: expected 4 fields, saw 8\nSkipping line 152: expected 4 fields, saw 8\nSkipping line 153: expected 4 fields, saw 8\nSkipping line 154: expected 4 fields, saw 8\nSkipping line 155: expected 4 fields, saw 8\nSkipping line 156: expected 4 fields, saw 8\nSkipping line 157: expected 4 fields, saw 8\nSkipping line 158: expected 4 fields, saw 8\nSkipping line 159: expected 4 fields, saw 8\nSkipping line 160: expected 4 fields, saw 8\nSkipping line 161: expected 4 fields, saw 8\nSkipping line 162: expected 4 fields, saw 8\nSkipping line 163: expected 4 fields, saw 8\nSkipping line 164: expected 4 fields, saw 8\nSkipping line 165: expected 4 fields, saw 8\nSkipping line 166: expected 4 fields, saw 8\nSkipping line 167: expected 4 fields, saw 8\nSkipping line 168: expected 4 fields, saw 8\nSkipping line 169: expected 4 fields, saw 8\nSkipping line 170: expected 4 fields, saw 8\nSkipping line 171: expected 4 fields, saw 8\nSkipping line 172: expected 4 fields, saw 8\nSkipping line 173: expected 4 fields, saw 8\nSkipping line 174: expected 4 fields, saw 8\nSkipping line 175: expected 4 fields, saw 8\nSkipping line 176: expected 4 fields, saw 8\nSkipping line 177: expected 4 fields, saw 8\nSkipping line 178: expected 4 fields, saw 8\nSkipping line 179: expected 4 fields, saw 8\nSkipping line 180: expected 4 fields, saw 8\nSkipping line 181: expected 4 fields, saw 8\nSkipping line 182: expected 4 fields, saw 8\nSkipping line 183: expected 4 fields, saw 8\nSkipping line 184: expected 4 fields, saw 8\nSkipping line 185: expected 4 fields, saw 8\nSkipping line 186: expected 4 fields, saw 8\nSkipping line 187: expected 4 fields, saw 8\nSkipping line 188: expected 4 fields, saw 8\nSkipping line 189: expected 4 fields, saw 8\nSkipping line 190: expected 4 fields, saw 8\nSkipping line 191: expected 4 fields, saw 8\nSkipping line 192: expected 4 fields, saw 8\nSkipping line 193: expected 4 fields, saw 8\nSkipping line 194: expected 4 fields, saw 8\nSkipping line 195: expected 4 fields, saw 8\nSkipping line 196: expected 4 fields, saw 8\nSkipping line 197: expected 4 fields, saw 8\nSkipping line 198: expected 4 fields, saw 8\nSkipping line 199: expected 4 fields, saw 8\nSkipping line 200: expected 4 fields, saw 8\nSkipping line 201: expected 4 fields, saw 8\nSkipping line 202: expected 4 fields, saw 8\nSkipping line 203: expected 4 fields, saw 8\nSkipping line 204: expected 4 fields, saw 8\nSkipping line 205: expected 4 fields, saw 8\nSkipping line 206: expected 4 fields, saw 8\nSkipping line 207: expected 4 fields, saw 8\nSkipping line 208: expected 4 fields, saw 8\nSkipping line 209: expected 4 fields, saw 8\nSkipping line 210: expected 4 fields, saw 8\nSkipping line 211: expected 4 fields, saw 8\nSkipping line 212: expected 4 fields, saw 8\nSkipping line 213: expected 4 fields, saw 8\nSkipping line 214: expected 4 fields, saw 8\nSkipping line 215: expected 4 fields, saw 8\nSkipping line 216: expected 4 fields, saw 8\nSkipping line 217: expected 4 fields, saw 8\nSkipping line 218: expected 4 fields, saw 8\nSkipping line 219: expected 4 fields, saw 8\nSkipping line 220: expected 4 fields, saw 8\nSkipping line 221: expected 4 fields, saw 8\nSkipping line 222: expected 4 fields, saw 8\nSkipping line 223: expected 4 fields, saw 8\nSkipping line 224: expected 4 fields, saw 8\nSkipping line 225: expected 4 fields, saw 8\nSkipping line 226: expected 4 fields, saw 8\nSkipping line 227: expected 4 fields, saw 8\nSkipping line 228: expected 4 fields, saw 8\nSkipping line 229: expected 4 fields, saw 8\nSkipping line 230: expected 4 fields, saw 8\nSkipping line 231: expected 4 fields, saw 8\nSkipping line 232: expected 4 fields, saw 8\nSkipping line 233: expected 4 fields, saw 8\nSkipping line 234: expected 4 fields, saw 8\nSkipping line 235: expected 4 fields, saw 8\nSkipping line 236: expected 4 fields, saw 8\nSkipping line 237: expected 4 fields, saw 8\nSkipping line 238: expected 4 fields, saw 8\nSkipping line 239: expected 4 fields, saw 8\nSkipping line 240: expected 4 fields, saw 8\nSkipping line 241: expected 4 fields, saw 8\nSkipping line 242: expected 4 fields, saw 8\nSkipping line 243: expected 4 fields, saw 8\nSkipping line 244: expected 4 fields, saw 8\nSkipping line 245: expected 4 fields, saw 8\nSkipping line 246: expected 4 fields, saw 8\nSkipping line 247: expected 4 fields, saw 8\nSkipping line 248: expected 4 fields, saw 8\nSkipping line 249: expected 4 fields, saw 8\nSkipping line 250: expected 4 fields, saw 8\nSkipping line 251: expected 4 fields, saw 8\nSkipping line 252: expected 4 fields, saw 8\nSkipping line 253: expected 4 fields, saw 8\nSkipping line 254: expected 4 fields, saw 8\nSkipping line 255: expected 4 fields, saw 8\nSkipping line 256: expected 4 fields, saw 8\nSkipping line 257: expected 4 fields, saw 8\nSkipping line 258: expected 4 fields, saw 8\nSkipping line 259: expected 4 fields, saw 8\nSkipping line 260: expected 4 fields, saw 8\nSkipping line 261: expected 4 fields, saw 8\nSkipping line 262: expected 4 fields, saw 8\nSkipping line 263: expected 4 fields, saw 8\nSkipping line 264: expected 4 fields, saw 8\nSkipping line 265: expected 4 fields, saw 8\nSkipping line 266: expected 4 fields, saw 8\nSkipping line 267: expected 4 fields, saw 8\nSkipping line 268: expected 4 fields, saw 8\nSkipping line 269: expected 4 fields, saw 8\nSkipping line 270: expected 4 fields, saw 8\nSkipping line 271: expected 4 fields, saw 8\nSkipping line 272: expected 4 fields, saw 8\nSkipping line 273: expected 4 fields, saw 8\nSkipping line 274: expected 4 fields, saw 8\nSkipping line 275: expected 4 fields, saw 8\nSkipping line 276: expected 4 fields, saw 8\nSkipping line 277: expected 4 fields, saw 8\nSkipping line 278: expected 4 fields, saw 8\nSkipping line 279: expected 4 fields, saw 8\nSkipping line 280: expected 4 fields, saw 8\nSkipping line 281: expected 4 fields, saw 8\nSkipping line 282: expected 4 fields, saw 8\nSkipping line 283: expected 4 fields, saw 8\nSkipping line 284: expected 4 fields, saw 8\nSkipping line 285: expected 4 fields, saw 8\nSkipping line 286: expected 4 fields, saw 8\nSkipping line 287: expected 4 fields, saw 8\nSkipping line 288: expected 4 fields, saw 8\nSkipping line 289: expected 4 fields, saw 8\nSkipping line 290: expected 4 fields, saw 8\nSkipping line 291: expected 4 fields, saw 8\nSkipping line 292: expected 4 fields, saw 8\nSkipping line 293: expected 4 fields, saw 8\nSkipping line 294: expected 4 fields, saw 8\nSkipping line 295: expected 4 fields, saw 8\nSkipping line 296: expected 4 fields, saw 8\nSkipping line 297: expected 4 fields, saw 8\nSkipping line 298: expected 4 fields, saw 8\nSkipping line 299: expected 4 fields, saw 8\nSkipping line 300: expected 4 fields, saw 8\nSkipping line 301: expected 4 fields, saw 8\nSkipping line 302: expected 4 fields, saw 8\nSkipping line 303: expected 4 fields, saw 8\nSkipping line 304: expected 4 fields, saw 8\nSkipping line 305: expected 4 fields, saw 8\nSkipping line 306: expected 4 fields, saw 8\nSkipping line 307: expected 4 fields, saw 8\nSkipping line 308: expected 4 fields, saw 8\nSkipping line 309: expected 4 fields, saw 8\nSkipping line 310: expected 4 fields, saw 8\nSkipping line 311: expected 4 fields, saw 8\nSkipping line 312: expected 4 fields, saw 8\nSkipping line 313: expected 4 fields, saw 8\nSkipping line 314: expected 4 fields, saw 8\nSkipping line 315: expected 4 fields, saw 8\nSkipping line 316: expected 4 fields, saw 8\nSkipping line 317: expected 4 fields, saw 8\nSkipping line 318: expected 4 fields, saw 8\nSkipping line 319: expected 4 fields, saw 8\nSkipping line 320: expected 4 fields, saw 8\nSkipping line 321: expected 4 fields, saw 8\nSkipping line 322: expected 4 fields, saw 8\nSkipping line 323: expected 4 fields, saw 8\nSkipping line 324: expected 4 fields, saw 8\nSkipping line 325: expected 4 fields, saw 8\nSkipping line 326: expected 4 fields, saw 8\nSkipping line 327: expected 4 fields, saw 8\nSkipping line 328: expected 4 fields, saw 8\nSkipping line 329: expected 4 fields, saw 8\nSkipping line 330: expected 4 fields, saw 8\nSkipping line 331: expected 4 fields, saw 8\nSkipping line 332: expected 4 fields, saw 8\nSkipping line 333: expected 4 fields, saw 8\nSkipping line 334: expected 4 fields, saw 8\nSkipping line 335: expected 4 fields, saw 8\nSkipping line 336: expected 4 fields, saw 8\nSkipping line 337: expected 4 fields, saw 8\nSkipping line 338: expected 4 fields, saw 8\nSkipping line 339: expected 4 fields, saw 8\nSkipping line 340: expected 4 fields, saw 8\nSkipping line 341: expected 4 fields, saw 8\nSkipping line 342: expected 4 fields, saw 8\nSkipping line 343: expected 4 fields, saw 8\nSkipping line 344: expected 4 fields, saw 8\nSkipping line 345: expected 4 fields, saw 8\nSkipping line 346: expected 4 fields, saw 8\nSkipping line 347: expected 4 fields, saw 8\nSkipping line 348: expected 4 fields, saw 8\nSkipping line 349: expected 4 fields, saw 8\nSkipping line 350: expected 4 fields, saw 8\nSkipping line 351: expected 4 fields, saw 8\nSkipping line 352: expected 4 fields, saw 8\nSkipping line 353: expected 4 fields, saw 8\nSkipping line 354: expected 4 fields, saw 8\nSkipping line 355: expected 4 fields, saw 8\nSkipping line 356: expected 4 fields, saw 8\nSkipping line 357: expected 4 fields, saw 8\nSkipping line 358: expected 4 fields, saw 8\nSkipping line 359: expected 4 fields, saw 8\nSkipping line 360: expected 4 fields, saw 8\nSkipping line 361: expected 4 fields, saw 8\nSkipping line 362: expected 4 fields, saw 8\nSkipping line 363: expected 4 fields, saw 8\nSkipping line 364: expected 4 fields, saw 8\nSkipping line 365: expected 4 fields, saw 8\nSkipping line 366: expected 4 fields, saw 8\nSkipping line 367: expected 4 fields, saw 8\nSkipping line 368: expected 4 fields, saw 8\nSkipping line 369: expected 4 fields, saw 8\nSkipping line 370: expected 4 fields, saw 8\nSkipping line 371: expected 4 fields, saw 8\nSkipping line 372: expected 4 fields, saw 8\nSkipping line 373: expected 4 fields, saw 8\nSkipping line 374: expected 4 fields, saw 8\nSkipping line 375: expected 4 fields, saw 8\nSkipping line 376: expected 4 fields, saw 8\nSkipping line 377: expected 4 fields, saw 8\nSkipping line 378: expected 4 fields, saw 8\nSkipping line 379: expected 4 fields, saw 8\nSkipping line 380: expected 4 fields, saw 8\nSkipping line 381: expected 4 fields, saw 8\nSkipping line 382: expected 4 fields, saw 8\nSkipping line 383: expected 4 fields, saw 8\nSkipping line 384: expected 4 fields, saw 8\nSkipping line 385: expected 4 fields, saw 8\nSkipping line 386: expected 4 fields, saw 8\nSkipping line 387: expected 4 fields, saw 8\nSkipping line 388: expected 4 fields, saw 8\nSkipping line 389: expected 4 fields, saw 8\nSkipping line 390: expected 4 fields, saw 8\nSkipping line 391: expected 4 fields, saw 8\nSkipping line 392: expected 4 fields, saw 8\nSkipping line 393: expected 4 fields, saw 8\nSkipping line 394: expected 4 fields, saw 8\nSkipping line 395: expected 4 fields, saw 8\nSkipping line 396: expected 4 fields, saw 8\nSkipping line 397: expected 4 fields, saw 8\nSkipping line 398: expected 4 fields, saw 8\nSkipping line 399: expected 4 fields, saw 8\nSkipping line 400: expected 4 fields, saw 8\nSkipping line 401: expected 4 fields, saw 8\nSkipping line 402: expected 4 fields, saw 8\nSkipping line 403: expected 4 fields, saw 8\nSkipping line 404: expected 4 fields, saw 8\nSkipping line 405: expected 4 fields, saw 8\nSkipping line 406: expected 4 fields, saw 8\nSkipping line 407: expected 4 fields, saw 8\nSkipping line 408: expected 4 fields, saw 8\nSkipping line 409: expected 4 fields, saw 8\nSkipping line 410: expected 4 fields, saw 8\nSkipping line 411: expected 4 fields, saw 8\nSkipping line 412: expected 4 fields, saw 8\nSkipping line 413: expected 4 fields, saw 8\nSkipping line 414: expected 4 fields, saw 8\nSkipping line 415: expected 4 fields, saw 8\nSkipping line 416: expected 4 fields, saw 8\nSkipping line 417: expected 4 fields, saw 8\nSkipping line 418: expected 4 fields, saw 8\nSkipping line 419: expected 4 fields, saw 8\nSkipping line 420: expected 4 fields, saw 8\nSkipping line 421: expected 4 fields, saw 8\nSkipping line 422: expected 4 fields, saw 8\nSkipping line 423: expected 4 fields, saw 8\nSkipping line 424: expected 4 fields, saw 8\nSkipping line 425: expected 4 fields, saw 8\nSkipping line 426: expected 4 fields, saw 8\nSkipping line 427: expected 4 fields, saw 8\nSkipping line 428: expected 4 fields, saw 8\nSkipping line 429: expected 4 fields, saw 8\nSkipping line 430: expected 4 fields, saw 8\nSkipping line 431: expected 4 fields, saw 8\nSkipping line 432: expected 4 fields, saw 8\nSkipping line 433: expected 4 fields, saw 8\nSkipping line 434: expected 4 fields, saw 8\nSkipping line 435: expected 4 fields, saw 8\nSkipping line 436: expected 4 fields, saw 8\nSkipping line 437: expected 4 fields, saw 8\nSkipping line 438: expected 4 fields, saw 8\nSkipping line 439: expected 4 fields, saw 8\nSkipping line 440: expected 4 fields, saw 8\nSkipping line 441: expected 4 fields, saw 8\nSkipping line 442: expected 4 fields, saw 8\nSkipping line 443: expected 4 fields, saw 8\nSkipping line 444: expected 4 fields, saw 8\nSkipping line 445: expected 4 fields, saw 8\nSkipping line 446: expected 4 fields, saw 8\nSkipping line 447: expected 4 fields, saw 8\nSkipping line 448: expected 4 fields, saw 8\nSkipping line 449: expected 4 fields, saw 8\nSkipping line 450: expected 4 fields, saw 8\nSkipping line 451: expected 4 fields, saw 8\nSkipping line 452: expected 4 fields, saw 8\nSkipping line 453: expected 4 fields, saw 8\nSkipping line 454: expected 4 fields, saw 8\nSkipping line 455: expected 4 fields, saw 8\nSkipping line 456: expected 4 fields, saw 8\nSkipping line 457: expected 4 fields, saw 8\nSkipping line 458: expected 4 fields, saw 8\nSkipping line 459: expected 4 fields, saw 8\nSkipping line 

    ID  userID           logged        date
0    5      13       81.71.4.55  1388518491
1    4      13       81.71.4.55  1388518469
2    6      13     83.84.78.163  1388591989
3   12      46     2.125.14.193  1388785531
4    9      13  195.240.183.161  1388619667
5   13      46    98.15.189.166  1388785543
6   14      46     2.125.14.193  1388785545
7   15      46  178.167.243.117  1388785662
8   16      46   109.158.251.94  1388787488
9   17      46   109.158.251.94  1388787493
10  21      37   90.223.205.134  1389013584
11  22      74   90.223.205.134  1390943080

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: users
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o email -> useremail 
        o membership -> planid
    - Add required columns:
        o userid
        o expire
    - Split columns:
        o df_logins['username']=df_users['username']
        o df_logins['userip']=df_users['ip']
        o df_logins['date']=timestamp2datetime(df_users['lastlogin'])

## 6.7. Table: 'news'

### How this table looks like without modification?

In [34]:
tablename='news'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   ID                                              title        date
0   1  Welcome to the new and improved NotoriousBoot ...  1388652653
1   2  Power issue is resolved any problems open a ti...  1388652682
2   3  Skype resolver resolves alot faster and pulls ...  1388652691
3   6  Any donations are welcome send them here abase...  1391005526
4   5  Any problems with accounts / power please cont...  1388763412
5   7  All power problems are fucked new AMP / NTP Li...  1391005567
6   8  Check out support on navigation if any help is...  1391005611
7   9  We have switched hosting provider so site shou...  1391351394
8  10  Fixed Skype Resolver it should be more accurat...  1391351667

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.8. Table: 'payments'

### How this table looks like without modification?

In [35]:
tablename='payments'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   ID  paid  plan  user               email                tid        date
0   1    16     7    91  ipdump@outlook.com  67K6343777463533P  1390934463
1   2    21     8   122  dude5606@yahoo.com  5YF61251GM140642M  1391204724

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES 
    - This table looks like: payments
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o date -> timestamp2datetime()
    - On the column name:
        o ID -> id
        o user -> userid
        o paid -> amountpaid 
        o email -> paymentemail 
        o plan -> planid
    - Add required columns:
        o username
    - Split columns:
        o

### Modifying table: 'payments'

In [36]:
# Loading the correct table name
df_payments = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_payments['date'] = timestamp2datetime(df_payments['date']) 

# Changing names of columns
df_payments.rename(inplace=True, columns = {'ID':'id',
                                           'user':'userid',
                                           'paid': 'amountpaid',
                                           'email': 'paymentemail',
                                           'plan':'planid'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_payments['username']=''


# Showing some lines after adapt the table
df_payments.head(10)

,id,amountpaid,planid,userid,paymentemail,tid,date,username
0,1,16,7,91,ipdump@outlook.com,67K6343777463533P,2014-01-28 18:41:03,
1,2,21,8,122,dude5606@yahoo.com,5YF61251GM140642M,2014-01-31 21:45:24,

## 6.9. Table: 'plans'

### How this table looks like without modification?

In [37]:
tablename='plans'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   ID          name   mbt    unit  length  price  concurrents
0   1  Sierra (Life  7200   Years      12    200           15
1   3    Alpha (1/m   120  Months       1      3            1
2   4    Bravo (1/m   300  Months       1      5            1
3   5  Charlie (1/m   600  Months       1      8            1
4   6    Delta (1/m   900  Months       1     13            1
5   7     Echo (1/m  1200  Months       1     16            1
6   8  Foxtrot (1/m  1600  Months       1     21            1
7   9     Golf (3/m  1900  Months       3     30            2
8  10    Hotel (3/m  2300  Months       3     35            2
9  11    India (3/m  2600  Months       3     45            2

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: plans
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o ID -> planid
        o name -> planname 
        o mbt -> maxboottime 
        o concurrents -> concurrecy
    - Add required columns:
        o plandescr
    - Split columns:
        o

### Modifying table: 'plans'

In [38]:
# Loading the correct table name
df_plans = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns


# Changing names of columns
df_plans.rename(inplace=True, columns = {'ID': 'planid',
                                        'name':'planname',
                                        'mbt': 'maxboottime',
                                        'concurrents':'concurrency'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_plans['plandescr']=''

# Showing some lines after adapt the table
df_plans.head(10)

,planid,planname,maxboottime,unit,length,price,concurrency,plandescr
0,1,Sierra (Life,7200,Years,12,200,15,
1,3,Alpha (1/m,120,Months,1,3,1,
2,4,Bravo (1/m,300,Months,1,5,1,
3,5,Charlie (1/m,600,Months,1,8,1,
4,6,Delta (1/m,900,Months,1,13,1,
5,7,Echo (1/m,1200,Months,1,16,1,
6,8,Foxtrot (1/m,1600,Months,1,21,1,
7,9,Golf (3/m,1900,Months,3,30,2,
8,10,Hotel (3/m,2300,Months,3,35,2,
9,11,India (3/m,2600,Months,3,45,2,

## 6.10. Table: 'users'

### How this table looks like without modification?

In [39]:
tablename='users'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,ID,username,password,email,rank,membership,expire,status
0,65,ashes,71d4084be7fb37abb17491310ced29a029b806a1,abased.dns@abaseddns.com,0,16,1397993224,0
1,134,HansKlos,9497b6b88ce82360d3277c9057f4482a06f1e10e,kolo25197@wp.pl,0,0,0,0
2,1,Abased,12bf10a1269d352b803f16d305cf58393bd954cd,abased@live.com,2,24,1768906710,0
3,146,webt89,a456453fd349dae2f1754b12b11dd4131ac00dfa,webt89@comcast.net,0,0,0,0
4,67,Stufflikedat,d7d5ae291a2d3cd588e6dd4e882cb3b4e9bbb015,tclubhd@gmail.com,0,3,1393088350,0
5,68,Protection,b7b6d19bdc197aa0ba0cb2482b46dcab8a6f16bf,dffdf@sdds.nl,0,0,0,0
6,69,tntwolve,f5ce60f9b50290be6498ac82dfb316139105d33a,cccamhd.net@gmail.com,0,0,0,0
7,70,mj4wz,5dd03b3779368a58269974ae7dd838d7f662f2a3,ankas@hotmail.com,0,0,0,0
8,71,Unwrote,aaaa5279d74cf3f78c4c3b0a1622263e71907fa4,Africannn@outlook.com,0,0,0,0
9,72,IRunShit,260a8444fc7acf29775a1fc6a396fae504f45094,blumaarts@gmail.com,0,0,0,0

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES 
    - This table looks like: users
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o expire -> timestamp2datetime()
    - On the column name:
        o ID -> userid
        o email -> useremail 
        o membership -> planid
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'users'

In [40]:
# Loading the correct table name
df_users = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_users['expire'] = timestamp2datetime(df_users['expire']) 

# Changing names of columns
df_users.rename(inplace=True, columns = {'ID':'userid',
                                           'email':'useremail',
                                           'membership': 'planid'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])

# Showing some lines after adapt the table
df_users.head(10)

,userid,username,password,useremail,rank,planid,expire,status
0,65,ashes,71d4084be7fb37abb17491310ced29a029b806a1,abased.dns@abaseddns.com,0,16,2014-04-20 11:27:04,0
1,134,HansKlos,9497b6b88ce82360d3277c9057f4482a06f1e10e,kolo25197@wp.pl,0,0,1970-01-01 00:00:00,0
2,1,Abased,12bf10a1269d352b803f16d305cf58393bd954cd,abased@live.com,2,24,2026-01-20 10:58:30,0
3,146,webt89,a456453fd349dae2f1754b12b11dd4131ac00dfa,webt89@comcast.net,0,0,1970-01-01 00:00:00,0
4,67,Stufflikedat,d7d5ae291a2d3cd588e6dd4e882cb3b4e9bbb015,tclubhd@gmail.com,0,3,2014-02-22 16:59:10,0
5,68,Protection,b7b6d19bdc197aa0ba0cb2482b46dcab8a6f16bf,dffdf@sdds.nl,0,0,1970-01-01 00:00:00,0
6,69,tntwolve,f5ce60f9b50290be6498ac82dfb316139105d33a,cccamhd.net@gmail.com,0,0,1970-01-01 00:00:00,0
7,70,mj4wz,5dd03b3779368a58269974ae7dd838d7f662f2a3,ankas@hotmail.com,0,0,1970-01-01 00:00:00,0
8,71,Unwrote,aaaa5279d74cf3f78c4c3b0a1622263e71907fa4,Africannn@outlook.com,0,0,1970-01-01 00:00:00,0
9,72,IRunShit,260a8444fc7acf29775a1fc6a396fae504f45094,blumaarts@gmail.com,0,0,1970-01-01 00:00:00,0

<h2 align='center'>======================================================================
<br>Final step of the manual part
======================================================================</h2>

## 7. Adding missing tables accordingly to our generic Booter database

In [47]:
df_attacks= pd.DataFrame(columns=['id','userid','username','targetip','targeturl','duration','port','type','date'])
#df_blacklist=pd.DataFrame(columns=['id','ip','note'])
#df_friendsenemies=pd.DataFrame(columns=['id','ip','note','userid','type'])
#df_gateways=pd.DataFrame(columns=['email'])
#df_logins=pd.DataFrame(columns=['id','userid','username','userip','date'])
#df_payments=pd.DataFrame(columns=['id','userid','username','amountpaid','paymentemail','planid','tid','date'])
df_plans=pd.DataFrame(columns=['planid','planname','plandescr','price','maxboottime','concurrency'])
df_servers=pd.DataFrame(columns=['id','ip'])
df_settings=pd.DataFrame(columns=['url','sitename','siteemail'])
#df_users=pd.DataFrame(columns=['userid','username','useremail','password','expire','plan'])      
df_webshells=pd.DataFrame(columns=['id','url','status','lastchecked','attacktype'])

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 2: Data Enrichment<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

### * Depending of the size of the data, this part can take HOURS. I tested for both small and big datasets and it worked. Be pacient. This will pay-off!

## * Libraries needed to retrieve information from external databases

In [ ]:
import subprocess
import cfscrape
from lxml import etree
import os.path
import random
import time

## * Function to enrich IP addresseswith AS information and country

In [ ]:
# THANKS TO: team-cymru.org
def iptoasn(iplist_teamcymruformat_filelocation,outputfile):
    cat = subprocess.Popen(['cat', iplist_teamcymruformat_filelocation], 
                            stdout=subprocess.PIPE)
    
    netcat = subprocess.Popen(['netcat', 'whois.cymru.com', '43'],
                              stdin=cat.stdout,
                              stdout=outputfile)
    time.sleep(3) #for some reason the poll does not work! This was the way to overcome the waiting time.
    
    return netcat.stdout

## * Function to check if an IP address was Tor node in a given moment

In [ ]:
# THANKS TO: exonerator.torproject.org
def WasTorNode(ip, date ):
    url="https://exonerator.torproject.org/?ip="+ip+"&timestamp="+date
    scraper = cfscrape.create_scraper()
    scraped_html=scraper.get(url).content    
    html_tree = etree.HTML(scraped_html)
    result=html_tree.xpath("//h3[@class='panel-title']/text()") # I was looking for <h3 class="panel-title">Result is positive</h3>
    tor_node=True if result == ['Result is positive'] else False
    return tor_node 
# 'date' MUST BE formated as: Year-month-day (2016-03-31)

## * Discovering the middle date of the database

In [ ]:
try:
    try:
        middle_date=(min(df_attacks['date'])+((max(df_attacks['date'])-min(df_attacks['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_logins['date'])+((max(df_logins['date'])-min(df_logins['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_payments['date'])+((max(df_payments['date'])-min(df_payments['date']))/2))
        raise
    except:
        pass
except Exception:
    print("There is no date in the entire dataset")

date_tor_check = middle_date.strftime('%Y-%m-%d')
date_iptoasn_lookup= str(middle_date)
print(date_tor_check)

## * Preparing to Perform IP to ASN info

In [ ]:
df_logins['middledate']=date_iptoasn_lookup
df_attacks['middledate']=date_iptoasn_lookup
df_friendsenemies['middledate']=date_iptoasn_lookup
df_blacklist['middledate']=date_iptoasn_lookup

## 2.1.1  Lookup IP to ASN info of table: logins

In [ ]:
if (os.path.exists('enrichments/logins_iptoasn_out')== False):
    logins_iptoasn_in = open('enrichments/logins_iptoasn_in', 'w+')
    logins_iptoasn_in.write('begin\nverbose\n')
    df_logins[['userip','middledate']].drop_duplicates().to_csv(logins_iptoasn_in,header=False,index=False,sep="\t") 
    logins_iptoasn_in.write('end')
    logins_iptoasn_in.close()

    logins_iptoasn_out = open('logins_iptoasn_out', 'w+')
    iptoasn('logins_iptoasn_in',logins_iptoasn_out)
    logins_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_logins_iptoasn = pd.read_csv('enrichments/logins_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

df_logins_extended= pd.merge(df_logins,
                              df_logins_iptoasn,
                              how = 'left',
                              left_on = 'userip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_logins_extended.rename(columns={'asn':'srcasn', 
                                   'ip':'srcip', 
                                   'bgp_prefix':'srcbgp_prefix', 
                                   'country':'srccountry' ,
                                   'registry':'srcregistry',
                                   'info_date':'srcinfo_date',
                                   'info_request':'srcinfo_request'},
                         inplace=True)


df_logins_extended.head(5)

## 2.1.2  Lookup IP to ASN info of table: attacks

In [ ]:
if (os.path.exists('enrichments/attacks_iptoasn_out')== False):
    attacks_iptoasn_in = open('enrichments/attacks_iptoasn_in', 'w+')
    attacks_iptoasn_in.write('begin\nverbose\n')
    df_attacks[['targetip','middledate']].drop_duplicates().to_csv(attacks_iptoasn_in,header=False,index=False,sep="\t") 
    attacks_iptoasn_in.write('end')
    attacks_iptoasn_in.close()

    attacks_iptoasn_out = open('attacks_iptoasn_out', 'w+')
    iptoasn('attacks_iptoasn_in',attacks_iptoasn_out)
    attacks_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_attacks_iptoasn = pd.read_csv('enrichments/attacks_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_attacks_extended= pd.merge(df_attacks,
                              df_attacks_iptoasn,
                              how = 'left',
                              left_on = 'targetip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_attacks_extended.rename(columns={'asn':'targetasn', 
                                   'ip_y':'targetip', 
                                   'bgp_prefix':'targetbgp_prefix', 
                                   'country_y':'targetcountry' ,
                                   'registry':'targetregistry',
                                   'info_date':'targetinfo_date',
                                   'info_request':'targetinfo_request'},
                         inplace=True)
df_attacks_extended.head(5)

## 2.1.3  Lookup IP to ASN info of table: friendsenemies

In [ ]:
if (os.path.exists('enrichments/friendsenemies_iptoasn_out')== False):
    friendsenemies_iptoasn_in = open('enrichments/friendsenemies_iptoasn_in', 'w+')
    friendsenemies_iptoasn_in.write('begin\nverbose\n')
    df_friendsenemies[['ip','middledate']].drop_duplicates().to_csv(friendsenemies_iptoasn_in,header=False,index=False,sep="\t") 
    friendsenemies_iptoasn_in.write('end')
    friendsenemies_iptoasn_in.close()

    friendsenemies_iptoasn_out = open('friendsenemies_iptoasn_out', 'w+')
    iptoasn('friendsenemies_iptoasn_in',friendsenemies_iptoasn_out)
    friendsenemies_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_friendsenemies_iptoasn = pd.read_csv('enrichments/friendsenemies_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_friendsenemies_extended= pd.merge(df_friendsenemies,
                              df_friendsenemies_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_friendsenemies_extended.rename(columns={'asn':'friendsenemiesasn', 
                                   'ip':'friendsenemiesip', 
                                   'bgp_prefix':'friendsenemiesbgp_prefix', 
                                   'country':'friendsenemiescountry' ,
                                   'registry':'friendsenemiesregistry',
                                   'info_date':'friendsenemiesinfo_date',
                                   'info_request':'friendsenemiesinfo_request',
                                   'as_name': 'friendsenemiesas_name'},
                         inplace=True)

## 2.1.4  Lookup IP to ASN info of table: blacklist

In [ ]:
if (os.path.exists('enrichments/blacklist_iptoasn_out')== False):
    blacklist_iptoasn_in = open('enrichments/blacklist_iptoasn_in', 'w+')
    blacklist_iptoasn_in.write('begin\nverbose\n')
    df_blacklist[['ip','middledate']].drop_duplicates().to_csv(blacklist_iptoasn_in,header=False,index=False,sep="\t") 
    blacklist_iptoasn_in.write('end')
    blacklist_iptoasn_in.close()

    blacklist_iptoasn_out = open('blacklist_iptoasn_out', 'w+')
    iptoasn('blacklist_iptoasn_in',blacklist_iptoasn_out)
    blacklist_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_blacklist_iptoasn = pd.read_csv('enrichments/blacklist_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_blacklist_extended= pd.merge(df_blacklist,
                              df_blacklist_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_blacklist_extended.rename(columns={'asn':'blacklistasn', 
                                   'ip':'blacklistip', 
                                   'bgp_prefix':'blacklistbgp_prefix', 
                                   'country':'blacklistcountry' ,
                                   'registry':'blacklistregistry',
                                   'info_date':'blacklistinfo_date',
                                   'info_request':'blacklistinfo_request',
                                   'as_name': 'blacklistas_name'},
                         inplace=True)
df_blacklist_extended.head(5)

## 2.2.1. Check if IP was a TOR node for table: login

In [ ]:
date_tor_check

In [ ]:
if len(df_logins['userip'].unique())<1200:
    if (os.path.exists('enrichments/logins_torcheck')== False):
        print("Note: it can take a while to finish...")
        logins_torcheck = open('logins_torcheck', 'w+')
        for i in df_logins['userip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=logins_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            logins_torcheck.flush()

        logins_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.")
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_logins_torcheck = pd.read_csv('enrichments/logins_torcheck',\
                          delimiter="\s+",\
                          names = ['userip', 'tor'])

## 2.2.2. Check if IP was a TOR node for table: attacks

In [ ]:
if len(df_attacks['targetip'].unique())<1200:
    if (os.path.exists('enrichments/attacks_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_attacks['targetip'].unique())*3,"seconds (in the worst case).")

        attacks_torcheck = open('attacks_torcheck', 'w+')

        for i in df_attacks['targetip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=attacks_torcheck)
            print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            attacks_torcheck.flush()

        attacks_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_attacks_torcheck = pd.read_csv('enrichments/attacks_torcheck',\
                          delimiter="\s+",\
                          names = ['targetip', 'tor'])

## 2.2.3. Check if IP was a TOR node for table: friendsenemies

In [ ]:
if len(df_friendsenemies['ip'].unique()) <1200:
    if (os.path.exists('enrichments/friendsenemies_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_friendsenemies['ip'].unique())*3,"seconds (in the worst case).")

        friendsenemies_torcheck = open('enrichments/friendsenemies_torcheck', 'w+')

        for i in df_friendsenemies['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=friendsenemies_torcheck)
        #     print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            friendsenemies_torcheck.flush()

        friendsenemies_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_friendsenemies_torcheck = pd.read_csv('enrichments/friendsenemies_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## 2.2.4. Check if IP was a TOR node for table: blacklist

In [ ]:
if len(df_blacklist['ip'].unique()) < 1200:
    if (os.path.exists('enrichments/blacklist_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_blacklist['ip'].unique())*3,"seconds (in the worst case).")

        blacklist_torcheck = open('enrichments/blacklist_torcheck', 'w+')

        for i in df_blacklist['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=blacklist_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            blacklist_torcheck.flush()

        blacklist_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_blacklist_torcheck = pd.read_csv('enrichments/blacklist_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## * Relation between Attack dates and Login dates

In [ ]:
def nearestDate(base_date, date_list):
    nearest={}
    for date in date_list:
        if (base_date.timestamp() - date.timestamp())>=0:
            nearest[base_date.timestamp() - date.timestamp()]= date
    return nearest[min(nearest.keys())]

In [ ]:
#This is the TOTAL number records to be checks!!!!
len(df_attacks)

In [ ]:
df_attacks['nearestlogin']=""
df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])
    
if len(df_attacks)>0 and len(df_logins)>0:
    #When was the last login of the user that performed attacks
    df_attacks['nearestlogin']=""
    df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])

    for index, row in df_attacks.head(100).iterrows():
        intermediate_df= df_logins[df_logins['username']==row['username']]
        nearestlogindate= nearestDate(row['date'],intermediate_df['date'])
        df_attacks.set_value(index, 'nearestlogin', nearestlogindate)

        #DEBUGGING
        if index % 1000 == 0:
            print(index,": +1000 records analysed")

In [ ]:
if len(df_attacks['nearestlogin'].value_counts()) >1:
    df_attacks_and_logins = pd.merge(df_attacks_extended,
                                     df_logins_extended,
                                     how = 'left',
                                     left_on = ['username','nearestlogin'],
                                     right_on = ['username','date'])
else:
    df_attacks_and_logins=""

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 3: Automatic Analysis
<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>

## * Libraries that I use to plot figs

In [ ]:
import matplotlib.pyplot as plt
from matplotlib_venn import *
%matplotlib inline

import seaborn as sns
import itertools

plt.style.use('seaborn-muted')
# plt.rcParams['font.family'] = 'serif'
# plt.rcParams['font.size'] = 12

import warnings
warnings.filterwarnings('ignore')

## A.1. Number of records per table (part of the generic Booter database schema)

In [ ]:
len(df_users),len(df_logins),len(df_attacks),len(df_payments),len(df_settings),len(df_gateways), len(df_friendsenemies),len(df_blacklist),len(df_webshells),len(df_servers),len(df_plans)

## A.2. Number of users, customers, attackers, and their intersection

In [ ]:
if len(set(df_users['userid'].unique())) > 1:
    users_set=set(df_users['userid'].unique())
else:
    users_set=set(df_users['username'].unique())
    
if len(set(df_logins['userid'].unique())) > 1:
    userslogin_set=set(df_logins['userid'].unique())
else:
    userslogin_set=set(df_logins['username'].unique())

if len(set(df_payments['userid'].unique())) > 1:
    customers_set=set(df_payments['userid'].unique())
else:
    customers_set=set(df_payments['username'].unique())

if len(set(df_attacks['userid'].unique())) > 1:
    attackers_set=set(df_attacks['userid'].unique())
else:
    attackers_set=set(df_attacks['username'].unique())

intersec_customers_attacker=pd.Series(list(customers_set.intersection(attackers_set)))
intersec_users_customers=pd.Series(list(users_set.intersection(customers_set)))
intersec_users_attackers=pd.Series(list(users_set.intersection(attackers_set)))
intersec_users_customers_attackers=pd.Series(list(users_set.intersection(customers_set).intersection(attackers_set)))

In [ ]:
len(users_set),len(userslogin_set),len(customers_set),len(attackers_set)

In [ ]:
fig = plt.figure(figsize=(4,3))
fig.suptitle('Users, Customers & Attackers', fontsize=14)

ax = plt.subplot2grid((1,1), (0,0))

venn=venn3(ax=ax,subsets = {'001':len(attackers_set)-len(intersec_customers_attacker)-len(intersec_users_attackers)+len(intersec_users_customers_attackers), 
                            '010':len(customers_set)-len(intersec_users_customers)-len(intersec_customers_attacker)+len(intersec_users_customers_attackers), 
                            '011':len(intersec_customers_attacker)-len(intersec_users_customers_attackers),
                            '100':len(users_set)-len(intersec_users_customers)-len(intersec_users_attackers)+len(intersec_users_customers_attackers),
                            '101':len(intersec_users_attackers)-len(intersec_users_customers_attackers),
                            '110':len(intersec_users_customers)-len(intersec_users_customers_attackers),
                            '111':len(intersec_users_customers_attackers)},\
          set_labels = ('Users', 'Customers','Attackers'),\
          alpha=1)
try:
    venn.get_patch_by_id('100').set_color('#404096')
except:
    print("*Users set is empty!")  
    
try:
    venn.get_patch_by_id('110').set_color('#DEA73A')
except:
    print("*Customers set is empty!")   

try:
    venn.get_patch_by_id('001').set_color('#D92120')
except:
    print("*Attackers set is empty!")

fig.show()
# fig.savefig('../figs/timeseries_attacks.eps', format='eps', dpi=1200)

## A.3. Distribution of login times per user

In [ ]:
if len(df_logins['userid'].value_counts()) > 0:
    num_distinct_logins_per_user=df_logins['userid'].value_counts()
else:
    num_distinct_logins_per_user=df_logins['username'].value_counts()

freq_distinct_logins_per_user=num_distinct_logins_per_user.value_counts()
cum_dist_user_logins = np.linspace(0.,1.,len(num_distinct_logins_per_user))
cdf_user_logins = pd.Series(cum_dist_user_logins, index=num_distinct_logins_per_user.sort_values())

In [ ]:
if len(num_distinct_logins_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Login Times by Users:', fontsize=14, y=1.05,x=0.35)
    
    #Plot CDF
    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_logins.plot(ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# logins")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    ax1.set_title("")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_logins_per_user.plot(ax=ax2,kind='pie', 
                                       labels=None, 
                                       legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    
    
    
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_logins_per_user.values)/(freq_distinct_logins_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_logins_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/login_times.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.3. Number of Users that Login via TOR

In [ ]:
len(df_logins_torcheck[df_logins_torcheck['tor']==True]['userip'].value_counts())

## 5.4. Number of Distinct IP addresses by Users

In [ ]:
if len(df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()) >0:
    num_distinct_ips_per_user=df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()
else:
    num_distinct_ips_per_user=df_logins.groupby(['username','userip']).size().reset_index()['username'].value_counts()
    
freq_distinct_ips_per_user=num_distinct_ips_per_user.value_counts()
cum_dist_user_ips = np.linspace(0.,1.,len(num_distinct_ips_per_user))
cdf_user_ips = pd.Series(cum_dist_user_ips, index=num_distinct_ips_per_user.sort_values())

In [ ]:
if len(num_distinct_ips_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Distinct IP address used by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_ips.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_ips_per_user.plot(ax=ax2,kind='pie',
                                    labels=None,legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_ips_per_user.values)/(freq_distinct_ips_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_ips_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/num_ips_by_users.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.5. Number of Payments by Users

In [ ]:
if len(df_payments['userid'].value_counts())>0:
    num_distinct_payments_per_user=df_payments['userid'].value_counts()
else:
    num_distinct_payments_per_user=df_payments['username'].value_counts()

freq_distinct_payments_per_user=num_distinct_payments_per_user.value_counts()
cum_dist_user_payments = np.linspace(0.,1.,len(num_distinct_payments_per_user))
cdf_user_payments = pd.Series(cum_dist_user_payments, index=num_distinct_payments_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Number of Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# Payment")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_per_user.plot(ax=ax2,kind='pie', 
                                         labels=None,legend=False,
                                         startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_per_user.values)/(freq_distinct_payments_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/payments_distribution.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.6. Total Amount of Money Earned

In [ ]:
if len(df_payments['amountpaid']) >0:
    total_earned=df_payments['amountpaid'].values.sum()
    'US$ {:,.2f}'.format(float(total_earned))
else:
    print("Unfortunately, there is no data available!")

## 5.7. Amount of Money Paid by Users

In [ ]:
num_distinct_payments_money_per_user=df_payments['amountpaid'].value_counts()
freq_distinct_payments_money_per_user=num_distinct_payments_money_per_user.value_counts()
cum_dist_user_payments_money = np.linspace(0.,1.,len(num_distinct_payments_money_per_user))
cdf_user_payments_money = pd.Series(cum_dist_user_payments_money, index=num_distinct_payments_money_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_money_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Money Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments_money.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("$")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_money_per_user.plot(ax=ax2,kind='pie', 
                                               labels=None,legend=False,
                                               startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_money_per_user.values)/(freq_distinct_payments_money_per_user.values.sum())
    labels = ['${0:1.2f} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_money_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.6, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/distribution_amount_paid.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.8. Countries from where Users Access Booters

In [ ]:
logins_country_distribution_sorted = df_logins_iptoasn['country'].value_counts(sort=True,ascending=True)
logins_country_distribution = df_logins_iptoasn['country'].value_counts()

In [ ]:
if len(logins_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Users Accessing from Countries:', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    logins_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    logins_country_distribution.plot(ax=ax2,kind='pie', 
                                     labels=None,legend=False,
                                     startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*logins_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(logins_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/user_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.9. Countries of Blacklisted IPs

In [ ]:
blacklist_country_distribution=df_blacklist_iptoasn['country'].value_counts()
blacklist_country_distribution_sorted=df_blacklist_iptoasn['country'].value_counts(sort=True,ascending=True)

In [ ]:
if len(blacklist_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of blacklisted IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    blacklist_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    blacklist_country_distribution.plot(ax=ax2,kind='pie', 
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*blacklist_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(blacklist_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/blacklist_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.10. Countries of Target IPs

In [ ]:
attacks_country_distribution=df_attacks_iptoasn['country'].value_counts()

In [ ]:
if len(attacks_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of target IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    attacks_country_distribution.plot(ax=ax1,kind='bar')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    attacks_country_distribution.plot(ax=ax2,kind='pie', 
                                      labels=None,legend=False,
                                      startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*attacks_country_distribution.values)/(attacks_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(attacks_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/attack_countries_distribution.eps',bbox_inches='tight', format='eps', dpi=1200) 
else:
    print("Unfortunately, there is no data available!")

## 5.12. Attacks on Same Target

In [ ]:
num_attacks_on_sametarget=df_attacks['targetip'].value_counts()

freq_num_attacks_on_sametarget=num_attacks_on_sametarget.value_counts()
cum_num_attacks_on_sametarget = np.linspace(0.,1.,len(num_attacks_on_sametarget))
cdf_num_attacks_on_sametarget = pd.Series(cum_num_attacks_on_sametarget, index=num_attacks_on_sametarget.sort_values())

In [ ]:
if len(num_attacks_on_sametarget)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Attacks on Same Targets:', fontsize=14, y=1.05,x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_num_attacks_on_sametarget.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_num_attacks_on_sametarget.plot(ax=ax2,kind='pie',
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_num_attacks_on_sametarget.values)/(freq_num_attacks_on_sametarget.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_num_attacks_on_sametarget.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()

    fig.show()
    fig.savefig('figs/attacks_on_same_target.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.11. Attacks per day (timeseries)

In [ ]:
if len(df_attacks)>0:
    attack_timeseries=df_attacks.set_index(['date']).groupby(pd.TimeGrouper(freq='D')).agg(['count'])['action']
    attack_mean_perday=attack_timeseries.mean()
    attack_median_perday=attack_timeseries.median()
else:
    attack_timeseries=""

In [ ]:
if len(attack_timeseries)>0:
    fig = plt.figure(figsize=(6,3))

    ax1 = plt.subplot2grid((1,1), (0,0), rowspan=2)
    attack_timeseries.plot(ax=ax1,
                           lw=2,
                           legend=False,
    #                        style='--'
                          )

    # X and Y Labels and Ticks
    ax1.set_xlabel("Time (bin=day)")
    ax1.set_ylabel("# Attacks")

    ax1.annotate(str(int(attack_median_perday[0]))+' (median)', 
                 (min(df_attacks['date']), attack_median_perday),
                 xytext=(350, -1), 
                 textcoords='offset points',
                 color='black', 
                 arrowprops=dict(arrowstyle='-|>',
                                 color='black'))
    fig.savefig('figs/attacks_timeseries.eps', bbox_inches='tight',format='eps', dpi=1200)

else:
    print("Unfortunately, there is no data available!")

## 5.12. Time Between Logins and Attacks

In [ ]:
if len(df_attacks_and_logins)>0:
    print("redo")
else:
    print("Unfortunately, there is no data available!")

## 5.13. Who attack whom? (users on the country level)

In [ ]:
if len(df_attacks_extended)>0 and len(df_logins_extended)>0:
    merged_attacks_logins = pd.merge(df_attacks_extended,
                                  df_logins_extended,
                                  how = 'left',
                                  left_on = 'date',
                                  right_on = 'date')[['targetcountry','srccountry']]

    who_against_whom = merged_attacks_logins.groupby(['targetcountry','srccountry'])\
                            .size()\
                            .reset_index()\
                            .pivot('srccountry','targetcountry',0)
else:
    who_against_whom =""

In [ ]:
if len(who_against_whom)>0:
    fig = plt.figure(figsize=(8,12))
    fig.suptitle('Countries of Target IPs', fontsize=14, y=.92)

    ax1 = plt.subplot2grid((1,1), (0,0))
    sns.set()
    sns.heatmap(who_against_whom,
                ax=ax1,
#                 cmap="YlGnBu",
    #             linewidths=.5,
    #             annot=True
                )

    ax1.set_ylabel("Source Country")
    ax1.set_xlabel("Attack Target Country")

    fig.show()
    fig.savefig('figs/who_attack_whom.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

<h1 align="center">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
FIFTH PART: Query Interface<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [ ]:
from ipywidgets import widgets, interact, Dropdown,HTML
from IPython.display import display,clear_output

In [ ]:
def search_by_userid_submit(sender):
    clear_output()
    print("Searching by id =",search_by_userid.value)
    
    if len(df_users[df_users['userid']== int(search_by_userid.value)])>0:
        display(df_users[df_logins['userid']== int(search_by_userid.value)])
    
    if len(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])>0:
        display(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])
    
    if len(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])>0:
        display(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])
    
    if len(df_payments[df_payments['userid']== int(search_by_userid.value)])>0:
        display(df_payments[df_payments['userid']== int(search_by_userid.value)])

def search_by_username_submit(sender):
    clear_output()
    print("Searching by username =",search_by_username.value,"\n")
    
    if len(df_users[df_users['username']== search_by_username.value])>0:
        print("Table df_users:")
        display(df_users[df_users['username']== search_by_username.value])
    
    if len(df_logins_extended[df_logins_extended['username']== search_by_username.value])>0:
        print("Table df_logins:")
        display(df_logins_extended[df_logins_extended['username']== search_by_username.value])

    if len(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])>0:
        print("Table df_attacks:")
        display(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])
    
    if len(df_payments[df_payments['username']== search_by_username.value])>0:
        print("Table df_payments:")
        display(df_payments[df_payments['username']== search_by_username.value])
        
def search_by_ip_submit(sender):
    clear_output()
    print("Searching by IP address =",str(search_by_ip.value),"\n")
    
    if len(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])>0:
        print("Table df_logins (as ATTACKER:")
        display(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])
     
    if len(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])  
      
       
def search_by_asn_submit(sender):
    clear_output()
    print("Searching by Autonomous System Number (ASN) =",search_by_asn.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])
    
    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

        
country_list=pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/master/data.csv',delimiter=",",error_bad_lines=False)
def search_by_country_submit():
    country_code=country_list[country_list['Name']==search_by_country.value]['Code'].values[0]
    clear_output()
    print("Searching by Country =",search_by_country.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srccountry']== country_code])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srccountry']== country_code])
    
    if len(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])

In [ ]:
display(HTML('<h3>*Search by (only) one field per time:</h3>'))

search_by_username = widgets.Text(description="username")
display(search_by_username)
search_by_username.on_submit(search_by_username_submit)

search_by_userid = widgets.Text(description="userid")
display(search_by_userid)
search_by_userid.on_submit(search_by_userid_submit)

search_by_ip = widgets.Text(description="IP")
display(search_by_ip)
search_by_ip.on_submit(search_by_ip_submit)

search_by_asn = widgets.Text(description="ASN")
display(search_by_asn)
search_by_asn.on_submit(search_by_asn_submit)

search_by_country = Dropdown(description="Country", options=country_list['Name'].tolist())
search_by_country.on_trait_change(search_by_country_submit, name="value")
display(search_by_country)