<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
Brief explanation on our Booter database analysis methodology: <br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

# Analysis of: xrhostbooter
#### File originally retrieved from: http://4lz5rmnkd6f63tmm.onion/db/xr_hostbooter.sql

## * Libraries that I use to analyse data

In [1]:
import pandas as pd
import numpy as np

from io import StringIO
import re

from IPython.display import display,clear_output

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 0: Reading an input Booter database file<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [2]:
dumpfile='xr_hostbooter.sql'

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 1: Adaptation to our Booter database schema<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

## 1. Reading the first 'N' (100) lines of the input Booter database file

In [3]:
lines_to_read=100

with open(dumpfile) as myfile:
    firstlines=myfile.readlines()[0:lines_to_read] #put here the interval you want
    for x in firstlines:
        print(x.strip())

-- phpMyAdmin SQL Dump
-- version 3.4.10.1
-- http://www.phpmyadmin.net
--
-- Host: localhost
-- Generation Time: Apr 30, 2012 at 08:24 PM
-- Server version: 5.1.62
-- PHP Version: 5.2.6

SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;

--
-- Database: `xrshellb_xrshellb`
--

-- --------------------------------------------------------

--
-- Table structure for table `block_time`
--

CREATE TABLE IF NOT EXISTS `block_time` (
`message2` varchar(100) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

--
-- Dumping data for table `block_time`
--

INSERT INTO `block_time` (`message2`) VALUES
('55');

-- --------------------------------------------------------

--
-- Table structure for table `block_time_gold`
--

CREATE TABLE IF NOT EXISTS `block_time_gold` (
`message14` varchar(100) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

--
-- Dumping data for table `block_time_gold`
--

INSERT INTO `block_time_gold` (`message14`) VALUES
('10');

-- --------------------------------------------------------

--
-- Table structure for table `boot_time`
--

CREATE TABLE IF NOT EXISTS `boot_time` (
`message` varchar(100) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

--
-- Dumping data for table `boot_time`
--

INSERT INTO `boot_time` (`message`) VALUES
('120');

-- --------------------------------------------------------

--
-- Table structure for table `boot_time_gold`
--

CREATE TABLE IF NOT EXISTS `boot_time_gold` (
`message13` varchar(100) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

--
-- Dumping data for table `boot_time_gold`
--

INSERT INTO `boot_time_gold` (`message13`) VALUES
('900');

-- --------------------------------------------------------

--
-- Table structure for table `chat`
--

CREATE TABLE IF NOT EXISTS `chat` (
`message8` varchar(100) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

## 2. Listing tables that have content inserted into the dump file

In [4]:
def list_tables_with_insert(dumpfile):
    tables = []
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            if line.lower().startswith('insert'):
                table = re.findall(r'`(.*?)`', line)
                tables.append(table[0])
    return tables

In [5]:
tables=enumerate(list_tables_with_insert(dumpfile))

for i, item in tables:
    print(i+1,item)

1 block_time
2 block_time_gold
3 boot_time
4 boot_time_gold
5 chat
6 enemies
7 friends
8 getshells
9 log
10 logs
11 membership_coupons
12 membership_rates
13 membership_types
14 menus
15 menu_names
16 news
17 paypal_config
18 postshells
19 profiles
20 roles
21 shells
22 shell_percent_gold
23 shell_percent_silver
24 users
25 users
26 users
27 users
28 users
29 users_in_roles

## How the list above looks like?

<h2 align='center'>======================================================================
If NOT well-formed SQL dump file then you must first do the following:
======================================================================</h2>

## 3. Removing lines that are not part of the actual content to be analysed

## 4. Splitting and naming tables and columns

<h2 align='center'>======================================================================
Additional functions
======================================================================</h2>

In [7]:
# For well formed SQL database dumps!

<h2 align='center'>======================================================================
Adapting EACH existing table
======================================================================</h2>

## 6.1. Table: 'block_time'

### How this table looks like without modification?

In [19]:
tablename='block_time'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   message2
0        55
1        10

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: blacklist
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o ID -> id
        o IP -> ip
    - Add required columns:
        o 
    - Split columns:
        o

## 6.2. Table: 'block_time_gold'

### How this table looks like without modification?

In [20]:
tablename='block_time_gold'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   message14
0         10

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: blacklist
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o ID -> id
        o IP -> ip
    - Add required columns:
        o 
    - Split columns:
        o

## 6.3. Table: 'boot_time'

### How this table looks like without modification?

In [21]:
tablename='boot_time'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   message
0      120
1      900

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.4. Table: 'boot_time_gold'

### How this table looks like without modification?

In [22]:
tablename='boot_time_gold'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   message13
0        900

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.5. Table: 'chat'

### How this table looks like without modification?

In [23]:
tablename='chat'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

  message8
0     demo

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.6. Table: 'enemies'

### How this table looks like without modification?

In [24]:
tablename='enemies'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   id               ip              notes  enemy
0  20     67.188.234.6            Nosmoke    NaN
1  19    82.42.177.171      Im I Double L    NaN
2  21  189.214.207.238         Coco wavey    NaN
3  22    93.174.93.114          MHCBOOTER    NaN
4  23    72.88.142.196               sick    NaN
5  24    176.9.102.234  Suck Deluxegaming    NaN
6  25     46.38.233.76              SA:MP    NaN
7  26     68.11.131.46               Joey    NaN
8  27    78.159.121.64                NaN    NaN
9  28    85.214.43.209       Boot this ;d    NaN

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: friendsenemies
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o notes -> note
    - Add required columns:
        o userid
        o type = 'enemy' 
    - Split columns:
        o

### Modifying table: 'enemies'

In [25]:
# Loading the correct table name
df_friendsenemies = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names
df_friendsenemies.rename(inplace=True, columns={'notes': 'note'})
# Adding missing columns
df_friendsenemies['userid']=np.nan
df_friendsenemies['type']='enemy'

# Showing some lines after adapt the table
df_friendsenemies.head(10)

   id               ip               note  enemy  userid   type
0  20     67.188.234.6            Nosmoke    NaN     NaN  enemy
1  19    82.42.177.171      Im I Double L    NaN     NaN  enemy
2  21  189.214.207.238         Coco wavey    NaN     NaN  enemy
3  22    93.174.93.114          MHCBOOTER    NaN     NaN  enemy
4  23    72.88.142.196               sick    NaN     NaN  enemy
5  24    176.9.102.234  Suck Deluxegaming    NaN     NaN  enemy
6  25     46.38.233.76              SA:MP    NaN     NaN  enemy
7  26     68.11.131.46               Joey    NaN     NaN  enemy
8  27    78.159.121.64                NaN    NaN     NaN  enemy
9  28    85.214.43.209       Boot this ;d    NaN     NaN  enemy

## 6.7. Table: 'friends'

### How this table looks like without modification?

In [26]:
tablename='friends'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   id              ip       notes  friend
0  42    81.99.215.30     vDaarks     NaN
1  41  72.229.145.227  Gh0st Haly     NaN
2  43    68.11.131.46        Joey     NaN
3  44  80.177.163.195        Gusy     NaN

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES, append
    - This table looks like: friendsenemies
#### Q3: Are there modifications required? 
    - On the table name: 
        o friends -> friendsenemies_temp
    - On the column type: 
        o 
    - On the column name:
        o notes -> note
    - Add required columns:
        o userid
        o type = 'friend' 
    - Split columns:
        o

### Modifying table: 'friends'

In [27]:
# Loading the correct table name
df_friendsenemies_temp = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names
df_friendsenemies_temp.rename(inplace=True, columns={'notes': 'note'})
# Adding missing columns
df_friendsenemies_temp['userid']=np.nan
df_friendsenemies_temp['type']='friend'

# Showing some lines after adapt the table
df_friendsenemies_temp.head(10)

   id              ip        note  friend  userid    type
0  42    81.99.215.30     vDaarks     NaN     NaN  friend
1  41  72.229.145.227  Gh0st Haly     NaN     NaN  friend
2  43    68.11.131.46        Joey     NaN     NaN  friend
3  44  80.177.163.195        Gusy     NaN     NaN  friend

In [28]:
df_friendsenemies=df_friendsenemies.append(df_friendsenemies_temp)

## 6.8. Table: 'getshells'

### How this table looks like without modification?

In [29]:
tablename='getshells'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

                                                 URL  online  lastChecked
0     http://93.17.7.150/webdav/greenshell.php \t          0            0
1          http://www.sidarglobal.com/help.php \t          0            0
2  http://190.144.174.250/webdav/greenshell.php \...       0            0
3                 http://cwa3672.org/ulogs.php \t          0            0
4         http://89.104.195.200/webdav/x32.php \t          0            0
5   http://82.114.168.38/webdav/greenshell.php \t          0            0
6  http://www.theresahackforthat.webs.com/shell.p...       0            0
7  http://163.178.170.74/webdav/greenshell.php \t          0            0
8         http://212.143.188.146/webdav/ab.php \t          0            0
9          http://89.104.195.200/webdav/x32.php\t          0            0

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: webshells
#### Q3: Are there modifications required? 
    - On the table name: 
        o getshells -> webshells
    - On the column type: 
        o 
    - On the column name:
        o URL -> url
        o online -> status
        o lastChecked -> lastchecked

    - Add required columns:
        o id
        o attacktype = 'get'
    - Split columns:
        o

### Modifying table: 'getshells'

In [30]:
# Loading the correct table name
df_webshells = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names
df_webshells.rename(inplace=True, columns={'URL':'url',
                                          'online':'status',
                                          'lastChecked':'lastchecked'})

# Adding missing columns
df_webshells['id']=np.nan
df_webshells['attacktype']='get'


# Showing some lines after adapt the table
df_webshells.head(10)

,url,status,lastchecked,id,attacktype
0,http://93.17.7.150/webdav/greenshell.php \t,0,0,NaN,get
1,http://www.sidarglobal.com/help.php \t,0,0,NaN,get
2,http://190.144.174.250/webdav/greenshell.php \...,0,0,NaN,get
3,http://cwa3672.org/ulogs.php \t,0,0,NaN,get
4,http://89.104.195.200/webdav/x32.php \t,0,0,NaN,get
5,http://82.114.168.38/webdav/greenshell.php \t,0,0,NaN,get
6,http://www.theresahackforthat.webs.com/shell.p...,0,0,NaN,get
7,http://163.178.170.74/webdav/greenshell.php \t,0,0,NaN,get
8,http://212.143.188.146/webdav/ab.php \t,0,0,NaN,get
9,http://89.104.195.200/webdav/x32.php\t,0,0,NaN,get

## 6.9. Table: 'log' !!!!

### How this table looks like without modification?

In [31]:
tablename='log'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

b'Skipping line 11: expected 2 fields, saw 5\nSkipping line 12: expected 2 fields, saw 5\nSkipping line 13: expected 2 fields, saw 5\nSkipping line 14: expected 2 fields, saw 5\nSkipping line 15: expected 2 fields, saw 5\nSkipping line 16: expected 2 fields, saw 5\nSkipping line 17: expected 2 fields, saw 5\nSkipping line 18: expected 2 fields, saw 5\nSkipping line 19: expected 2 fields, saw 5\nSkipping line 20: expected 2 fields, saw 5\nSkipping line 21: expected 2 fields, saw 5\nSkipping line 22: expected 2 fields, saw 5\nSkipping line 23: expected 2 fields, saw 5\nSkipping line 24: expected 2 fields, saw 5\nSkipping line 25: expected 2 fields, saw 5\nSkipping line 26: expected 2 fields, saw 5\nSkipping line 27: expected 2 fields, saw 5\nSkipping line 28: expected 2 fields, saw 5\nSkipping line 29: expected 2 fields, saw 5\nSkipping line 30: expected 2 fields, saw 5\nSkipping line 31: expected 2 fields, saw 5\nSkipping line 32: expected 2 fields, saw 5\nSkipping line 33: expected 2 fields, saw 5\nSkipping line 34: expected 2 fields, saw 5\nSkipping line 35: expected 2 fields, saw 5\nSkipping line 36: expected 2 fields, saw 5\nSkipping line 37: expected 2 fields, saw 5\nSkipping line 38: expected 2 fields, saw 5\nSkipping line 39: expected 2 fields, saw 5\nSkipping line 40: expected 2 fields, saw 5\nSkipping line 41: expected 2 fields, saw 5\nSkipping line 42: expected 2 fields, saw 5\nSkipping line 43: expected 2 fields, saw 5\nSkipping line 44: expected 2 fields, saw 5\nSkipping line 45: expected 2 fields, saw 5\nSkipping line 46: expected 2 fields, saw 5\nSkipping line 47: expected 2 fields, saw 5\nSkipping line 48: expected 2 fields, saw 5\nSkipping line 49: expected 2 fields, saw 5\nSkipping line 50: expected 2 fields, saw 5\nSkipping line 51: expected 2 fields, saw 5\nSkipping line 52: expected 2 fields, saw 5\nSkipping line 53: expected 2 fields, saw 5\nSkipping line 54: expected 2 fields, saw 5\nSkipping line 55: expected 2 fields, saw 5\nSkipping line 56: expected 2 fields, saw 5\nSkipping line 57: expected 2 fields, saw 5\nSkipping line 58: expected 2 fields, saw 5\nSkipping line 59: expected 2 fields, saw 5\nSkipping line 60: expected 2 fields, saw 5\nSkipping line 61: expected 2 fields, saw 5\nSkipping line 62: expected 2 fields, saw 5\nSkipping line 63: expected 2 fields, saw 5\nSkipping line 64: expected 2 fields, saw 5\nSkipping line 65: expected 2 fields, saw 5\nSkipping line 66: expected 2 fields, saw 5\nSkipping line 67: expected 2 fields, saw 5\nSkipping line 68: expected 2 fields, saw 5\nSkipping line 69: expected 2 fields, saw 5\nSkipping line 70: expected 2 fields, saw 5\nSkipping line 71: expected 2 fields, saw 5\nSkipping line 72: expected 2 fields, saw 5\nSkipping line 73: expected 2 fields, saw 5\nSkipping line 74: expected 2 fields, saw 5\nSkipping line 75: expected 2 fields, saw 5\nSkipping line 76: expected 2 fields, saw 5\nSkipping line 77: expected 2 fields, saw 5\nSkipping line 78: expected 2 fields, saw 5\nSkipping line 79: expected 2 fields, saw 5\nSkipping line 80: expected 2 fields, saw 5\nSkipping line 81: expected 2 fields, saw 5\nSkipping line 82: expected 2 fields, saw 5\nSkipping line 83: expected 2 fields, saw 5\nSkipping line 84: expected 2 fields, saw 5\nSkipping line 85: expected 2 fields, saw 5\nSkipping line 86: expected 2 fields, saw 5\nSkipping line 87: expected 2 fields, saw 5\nSkipping line 88: expected 2 fields, saw 5\nSkipping line 89: expected 2 fields, saw 5\nSkipping line 90: expected 2 fields, saw 5\nSkipping line 91: expected 2 fields, saw 5\nSkipping line 92: expected 2 fields, saw 5\nSkipping line 93: expected 2 fields, saw 5\nSkipping line 94: expected 2 fields, saw 5\nSkipping line 95: expected 2 fields, saw 5\nSkipping line 96: expected 2 fields, saw 5\nSkipping line 97: expected 2 fields, saw 5\nSkipping line 98: expected 2 fields, saw 5\nSkipping line 99: expected 2 fields, saw 5\nSkipping line 100: expected 2 fields, saw 5\nSkipping line 101: expected 2 fields, saw 5\nSkipping line 102: expected 2 fields, saw 5\nSkipping line 103: expected 2 fields, saw 5\nSkipping line 104: expected 2 fields, saw 5\nSkipping line 105: expected 2 fields, saw 5\nSkipping line 106: expected 2 fields, saw 5\nSkipping line 107: expected 2 fields, saw 5\nSkipping line 108: expected 2 fields, saw 5\nSkipping line 109: expected 2 fields, saw 5\nSkipping line 110: expected 2 fields, saw 5\nSkipping line 111: expected 2 fields, saw 5\nSkipping line 112: expected 2 fields, saw 5\nSkipping line 113: expected 2 fields, saw 5\nSkipping line 114: expected 2 fields, saw 5\nSkipping line 115: expected 2 fields, saw 5\nSkipping line 116: expected 2 fields, saw 5\nSkipping line 117: expected 2 fields, saw 5\nSkipping line 118: expected 2 fields, saw 5\nSkipping line 119: expected 2 fields, saw 5\nSkipping line 120: expected 2 fields, saw 5\nSkipping line 121: expected 2 fields, saw 5\nSkipping line 122: expected 2 fields, saw 5\nSkipping line 123: expected 2 fields, saw 5\nSkipping line 124: expected 2 fields, saw 5\nSkipping line 125: expected 2 fields, saw 5\nSkipping line 126: expected 2 fields, saw 5\nSkipping line 127: expected 2 fields, saw 5\nSkipping line 128: expected 2 fields, saw 5\nSkipping line 129: expected 2 fields, saw 5\nSkipping line 130: expected 2 fields, saw 5\nSkipping line 131: expected 2 fields, saw 5\nSkipping line 132: expected 2 fields, saw 5\nSkipping line 133: expected 2 fields, saw 5\nSkipping line 134: expected 2 fields, saw 5\nSkipping line 135: expected 2 fields, saw 5\nSkipping line 136: expected 2 fields, saw 5\nSkipping line 137: expected 2 fields, saw 5\nSkipping line 138: expected 2 fields, saw 5\nSkipping line 139: expected 2 fields, saw 5\nSkipping line 140: expected 2 fields, saw 5\nSkipping line 141: expected 2 fields, saw 5\nSkipping line 142: expected 2 fields, saw 5\nSkipping line 143: expected 2 fields, saw 5\nSkipping line 144: expected 2 fields, saw 5\nSkipping line 145: expected 2 fields, saw 5\nSkipping line 146: expected 2 fields, saw 5\nSkipping line 147: expected 2 fields, saw 5\nSkipping line 148: expected 2 fields, saw 5\nSkipping line 149: expected 2 fields, saw 5\nSkipping line 150: expected 2 fields, saw 5\nSkipping line 151: expected 2 fields, saw 5\nSkipping line 152: expected 2 fields, saw 5\nSkipping line 153: expected 2 fields, saw 5\nSkipping line 154: expected 2 fields, saw 5\nSkipping line 155: expected 2 fields, saw 5\nSkipping line 156: expected 2 fields, saw 5\nSkipping line 157: expected 2 fields, saw 5\nSkipping line 158: expected 2 fields, saw 5\nSkipping line 159: expected 2 fields, saw 5\nSkipping line 160: expected 2 fields, saw 5\nSkipping line 161: expected 2 fields, saw 5\nSkipping line 162: expected 2 fields, saw 5\nSkipping line 163: expected 2 fields, saw 5\nSkipping line 164: expected 2 fields, saw 5\nSkipping line 165: expected 2 fields, saw 5\nSkipping line 166: expected 2 fields, saw 5\nSkipping line 167: expected 2 fields, saw 5\nSkipping line 168: expected 2 fields, saw 5\nSkipping line 169: expected 2 fields, saw 5\nSkipping line 170: expected 2 fields, saw 5\nSkipping line 171: expected 2 fields, saw 5\nSkipping line 172: expected 2 fields, saw 5\nSkipping line 173: expected 2 fields, saw 5\nSkipping line 174: expected 2 fields, saw 5\nSkipping line 175: expected 2 fields, saw 5\nSkipping line 176: expected 2 fields, saw 5\nSkipping line 177: expected 2 fields, saw 5\nSkipping line 178: expected 2 fields, saw 5\nSkipping line 179: expected 2 fields, saw 5\nSkipping line 180: expected 2 fields, saw 5\nSkipping line 181: expected 2 fields, saw 5\nSkipping line 182: expected 2 fields, saw 5\nSkipping line 183: expected 2 fields, saw 5\nSkipping line 184: expected 2 fields, saw 5\nSkipping line 185: expected 2 fields, saw 5\nSkipping line 186: expected 2 fields, saw 5\nSkipping line 187: expected 2 fields, saw 5\nSkipping line 188: expected 2 fields, saw 5\nSkipping line 189: expected 2 fields, saw 5\nSkipping line 190: expected 2 fields, saw 5\nSkipping line 191: expected 2 fields, saw 5\nSkipping line 192: expected 2 fields, saw 5\nSkipping line 193: expected 2 fields, saw 5\nSkipping line 194: expected 2 fields, saw 5\nSkipping line 195: expected 2 fields, saw 5\nSkipping line 196: expected 2 fields, saw 5\nSkipping line 197: expected 2 fields, saw 5\nSkipping line 198: expected 2 fields, saw 5\nSkipping line 199: expected 2 fields, saw 5\nSkipping line 200: expected 2 fields, saw 5\nSkipping line 201: expected 2 fields, saw 5\nSkipping line 202: expected 2 fields, saw 5\nSkipping line 203: expected 2 fields, saw 5\nSkipping line 204: expected 2 fields, saw 5\nSkipping line 205: expected 2 fields, saw 5\nSkipping line 206: expected 2 fields, saw 5\nSkipping line 207: expected 2 fields, saw 5\nSkipping line 208: expected 2 fields, saw 5\nSkipping line 209: expected 2 fields, saw 5\nSkipping line 210: expected 2 fields, saw 5\nSkipping line 211: expected 2 fields, saw 5\nSkipping line 212: expected 2 fields, saw 5\nSkipping line 213: expected 2 fields, saw 5\nSkipping line 214: expected 2 fields, saw 5\nSkipping line 215: expected 2 fields, saw 5\nSkipping line 216: expected 2 fields, saw 5\nSkipping line 217: expected 2 fields, saw 5\nSkipping line 218: expected 2 fields, saw 5\nSkipping line 219: expected 2 fields, saw 5\nSkipping line 220: expected 2 fields, saw 5\nSkipping line 221: expected 2 fields, saw 5\nSkipping line 222: expected 2 fields, saw 5\nSkipping line 223: expected 2 fields, saw 5\nSkipping line 224: expected 2 fields, saw 5\nSkipping line 225: expected 2 fields, saw 5\nSkipping line 226: expected 2 fields, saw 5\nSkipping line 227: expected 2 fields, saw 5\nSkipping line 228: expected 2 fields, saw 5\nSkipping line 229: expected 2 fields, saw 5\nSkipping line 230: expected 2 fields, saw 5\nSkipping line 231: expected 2 fields, saw 5\nSkipping line 232: expected 2 fields, saw 5\nSkipping line 233: expected 2 fields, saw 5\nSkipping line 234: expected 2 fields, saw 5\nSkipping line 235: expected 2 fields, saw 5\nSkipping line 236: expected 2 fields, saw 5\nSkipping line 237: expected 2 fields, saw 5\nSkipping line 238: expected 2 fields, saw 5\nSkipping line 239: expected 2 fields, saw 5\nSkipping line 240: expected 2 fields, saw 5\nSkipping line 241: expected 2 fields, saw 5\nSkipping line 242: expected 2 fields, saw 5\nSkipping line 243: expected 2 fields, saw 5\nSkipping line 244: expected 2 fields, saw 5\nSkipping line 245: expected 2 fields, saw 5\nSkipping line 246: expected 2 fields, saw 5\nSkipping line 247: expected 2 fields, saw 5\nSkipping line 248: expected 2 fields, saw 5\nSkipping line 249: expected 2 fields, saw 5\nSkipping line 250: expected 2 fields, saw 5\nSkipping line 251: expected 2 fields, saw 5\nSkipping line 252: expected 2 fields, saw 5\nSkipping line 253: expected 2 fields, saw 5\nSkipping line 254: expected 2 fields, saw 5\nSkipping line 255: expected 2 fields, saw 5\nSkipping line 256: expected 2 fields, saw 5\nSkipping line 257: expected 2 fields, saw 5\nSkipping line 258: expected 2 fields, saw 5\nSkipping line 259: expected 2 fields, saw 5\nSkipping line 260: expected 2 fields, saw 5\nSkipping line 261: expected 2 fields, saw 5\nSkipping line 262: expected 2 fields, saw 5\nSkipping line 263: expected 2 fields, saw 5\nSkipping line 264: expected 2 fields, saw 5\nSkipping line 265: expected 2 fields, saw 5\nSkipping line 266: expected 2 fields, saw 5\nSkipping line 267: expected 2 fields, saw 5\nSkipping line 268: expected 2 fields, saw 5\nSkipping line 269: expected 2 fields, saw 5\nSkipping line 270: expected 2 fields, saw 5\nSkipping line 271: expected 2 fields, saw 5\nSkipping line 272: expected 2 fields, saw 5\nSkipping line 273: expected 2 fields, saw 5\nSkipping line 274: expected 2 fields, saw 5\nSkipping line 275: expected 2 fields, saw 5\nSkipping line 276: expected 2 fields, saw 5\nSkipping line 277: expected 2 fields, saw 5\nSkipping line 278: expected 2 fields, saw 5\nSkipping line 279: expected 2 fields, saw 5\nSkipping line 280: expected 2 fields, saw 5\nSkipping line 281: expected 2 fields, saw 5\nSkipping line 282: expected 2 fields, saw 5\nSkipping line 283: expected 2 fields, saw 5\nSkipping line 284: expected 2 fields, saw 5\nSkipping line 285: expected 2 fields, saw 5\nSkipping line 286: expected 2 fields, saw 5\nSkipping line 287: expected 2 fields, saw 5\nSkipping line 288: expected 2 fields, saw 5\nSkipping line 289: expected 2 fields, saw 5\nSkipping line 290: expected 2 fields, saw 5\nSkipping line 291: expected 2 fields, saw 5\nSkipping line 292: expected 2 fields, saw 5\nSkipping line 293: expected 2 fields, saw 5\nSkipping line 294: expected 2 fields, saw 5\nSkipping line 295: expected 2 fields, saw 5\nSkipping line 296: expected 2 fields, saw 5\nSkipping line 297: expected 2 fields, saw 5\nSkipping line 298: expected 2 fields, saw 5\nSkipping line 299: expected 2 fields, saw 5\nSkipping line 300: expected 2 fields, saw 5\nSkipping line 301: expected 2 fields, saw 5\nSkipping line 302: expected 2 fields, saw 5\nSkipping line 303: expected 2 fields, saw 5\nSkipping line 304: expected 2 fields, saw 5\nSkipping line 305: expected 2 fields, saw 5\nSkipping line 306: expected 2 fields, saw 5\nSkipping line 307: expected 2 fields, saw 5\nSkipping line 308: expected 2 fields, saw 5\nSkipping line 309: expected 2 fields, saw 5\nSkipping line 310: expected 2 fields, saw 5\nSkipping line 311: expected 2 fields, saw 5\nSkipping line 312: expected 2 fields, saw 5\nSkipping line 313: expected 2 fields, saw 5\nSkipping line 314: expected 2 fields, saw 5\nSkipping line 315: expected 2 fields, saw 5\nSkipping line 316: expected 2 fields, saw 5\nSkipping line 317: expected 2 fields, saw 5\nSkipping line 318: expected 2 fields, saw 5\nSkipping line 319: expected 2 fields, saw 5\nSkipping line 320: expected 2 fields, saw 5\nSkipping line 321: expected 2 fields, saw 5\nSkipping line 322: expected 2 fields, saw 5\nSkipping line 323: expected 2 fields, saw 5\nSkipping line 324: expected 2 fields, saw 5\nSkipping line 325: expected 2 fields, saw 5\nSkipping line 326: expected 2 fields, saw 5\nSkipping line 327: expected 2 fields, saw 5\nSkipping line 328: expected 2 fields, saw 5\nSkipping line 329: expected 2 fields, saw 5\nSkipping line 330: expected 2 fields, saw 5\nSkipping line 331: expected 2 fields, saw 5\nSkipping line 332: expected 2 fields, saw 5\nSkipping line 333: expected 2 fields, saw 5\nSkipping line 334: expected 2 fields, saw 5\nSkipping line 335: expected 2 fields, saw 5\nSkipping line 336: expected 2 fields, saw 5\nSkipping line 337: expected 2 fields, saw 5\nSkipping line 338: expected 2 fields, saw 5\nSkipping line 339: expected 2 fields, saw 5\nSkipping line 340: expected 2 fields, saw 5\nSkipping line 341: expected 2 fields, saw 5\nSkipping line 342: expected 2 fields, saw 5\nSkipping line 343: expected 2 fields, saw 5\nSkipping line 344: expected 2 fields, saw 5\nSkipping line 345: expected 2 fields, saw 5\nSkipping line 346: expected 2 fields, saw 5\nSkipping line 347: expected 2 fields, saw 5\nSkipping line 348: expected 2 fields, saw 5\nSkipping line 349: expected 2 fields, saw 5\nSkipping line 350: expected 2 fields, saw 5\nSkipping line 351: expected 2 fields, saw 5\nSkipping line 352: expected 2 fields, saw 5\nSkipping line 353: expected 2 fields, saw 5\nSkipping line 354: expected 2 fields, saw 5\nSkipping line 355: expected 2 fields, saw 5\nSkipping line 356: expected 2 fields, saw 5\nSkipping line 357: expected 2 fields, saw 5\nSkipping line 358: expected 2 fields, saw 5\nSkipping line 359: expected 2 fields, saw 5\nSkipping line 360: expected 2 fields, saw 5\nSkipping line 361: expected 2 fields, saw 5\nSkipping line 362: expected 2 fields, saw 5\nSkipping line 363: expected 2 fields, saw 5\nSkipping line 364: expected 2 fields, saw 5\nSkipping line 365: expected 2 fields, saw 5\nSkipping line 366: expected 2 fields, saw 5\nSkipping line 367: expected 2 fields, saw 5\nSkipping line 368: expected 2 fields, saw 5\nSkipping line 369: expected 2 fields, saw 5\nSkipping line 370: expected 2 fields, saw 5\nSkipping line 371: expected 2 fields, saw 5\nSkipping line 372: expected 2 fields, saw 5\nSkipping line 373: expected 2 fields, saw 5\nSkipping line 374: expected 2 fields, saw 5\nSkipping line 375: expected 2 fields, saw 5\nSkipping line 376: expected 2 fields, saw 5\nSkipping line 377: expected 2 fields, saw 5\nSkipping line 378: expected 2 fields, saw 5\nSkipping line 379: expected 2 fields, saw 5\nSkipping line 380: expected 2 fields, saw 5\nSkipping line 381: expected 2 fields, saw 5\nSkipping line 382: expected 2 fields, saw 5\nSkipping line 383: expected 2 fields, saw 5\nSkipping line 384: expected 2 fields, saw 5\nSkipping line 385: expected 2 fields, saw 5\nSkipping line 386: expected 2 fields, saw 5\nSkipping line 387: expected 2 fields, saw 5\nSkipping line 388: expected 2 fields, saw 5\nSkipping line 389: expected 2 fields, saw 5\nSkipping line 390: expected 2 fields, saw 5\nSkipping line 391: expected 2 fields, saw 5\nSkipping line 392: expected 2 fields, saw 5\nSkipping line 393: expected 2 fields, saw 5\nSkipping line 394: expected 2 fields, saw 5\nSkipping line 395: expected 2 fields, saw 5\nSkipping line 396: expected 2 fields, saw 5\nSkipping line 397: expected 2 fields, saw 5\nSkipping line 398: expected 2 fields, saw 5\nSkipping line 399: expected 2 fields, saw 5\nSkipping line 400: expected 2 fields, saw 5\nSkipping line 401: expected 2 fields, saw 5\nSkipping line 402: expected 2 fields, saw 5\nSkipping line 403: expected 2 fields, saw 5\nSkipping line 404: expected 2 fields, saw 5\nSkipping line 405: expected 2 fields, saw 5\nSkipping line 406: expected 2 fields, saw 5\nSkipping line 407: expected 2 fields, saw 5\nSkipping line 408: expected 2 fields, saw 5\nSkipping line 409: expected 2 fields, saw 5\nSkipping line 410: expected 2 fields, saw 5\nSkipping line 411: expected 2 fields, saw 5\nSkipping line 412: expected 2 fields, saw 5\nSkipping line 413: expected 2 fields, saw 5\nSkipping line 414: expected 2 fields, saw 5\nSkipping line 415: expected 2 fields, saw 5\nSkipping line 416: expected 2 fields, saw 5\nSkipping line 417: expected 2 fields, saw 5\nSkipping line 418: expected 2 fields, saw 5\nSkipping line 419: expected 2 fields, saw 5\nSkipping line 420: expected 2 fields, saw 5\nSkipping line 421: expected 2 fields, saw 5\nSkipping line 422: expected 2 fields, saw 5\nSkipping line 423: expected 2 fields, saw 5\nSkipping line 424: expected 2 fields, saw 5\nSkipping line 425: expected 2 fields, saw 5\nSkipping line 426: expected 2 fields, saw 5\nSkipping line 427: expected 2 fields, saw 5\nSkipping line 428: expected 2 fields, saw 5\nSkipping line 429: expected 2 fields, saw 5\nSkipping line 430: expected 2 fields, saw 5\nSkipping line 431: expected 2 fields, saw 5\nSkipping line 432: expected 2 fields, saw 5\nSkipping line 433: expected 2 fields, saw 5\nSkipping line 434: expected 2 fields, saw 5\nSkipping line 435: expected 2 fields, saw 5\nSkipping line 436: expected 2 fields, saw 5\nSkipping line 437: expected 2 fields, saw 5\nSkipping line 438: expected 2 fields, saw 5\nSkipping line 439: expected 2 fields, saw 5\nSkipping line 440: expected 2 fields, saw 5\nSkipping line 441: expected 2 fields, saw 5\nSkipping line 442: expected 2 fields, saw 5\nSkipping line 443: expected 2 fields, saw 5\nSkipping line 444: expected 2 fields, saw 5\nSkipping line 445: expected 2 fields, saw 5\nSkipping line 446: expected 2 fields, saw 5\nSkipping line 447: expected 2 fields, saw 5\nSkipping line 448: expected 2 fields, saw 5\nSkipping line 449: expected 2 fields, saw 5\nSkipping line 450: expected 2 fields, saw 5\nSkipping line 451: expected 2 fields, saw 5\nSkipping line 452: expected 2 fields, saw 5\nSkipping line 453: expected 2 fields, saw 5\nSkipping line 454: expected 2 fields, saw 5\nSkipping line 455: expected 2 fields, saw 5\nSkipping line 456: expected 2 fields, saw 5\nSkipping line 457

               ip                                     date
0     66.249.71.8   Tuesday 20th of March 2012 04:18:35 AM
1   86.14.246.106  Saturday 24th of March 2012 05:28:19 AM
2   86.14.246.106  Saturday 24th of March 2012 05:29:11 AM
3  90.214.233.139  Saturday 24th of March 2012 05:29:38 AM
4  90.214.233.139  Saturday 24th of March 2012 05:29:45 AM
5     2.96.168.87  Saturday 24th of March 2012 05:30:04 AM
6   62.24.252.133  Saturday 24th of March 2012 05:30:35 AM
7  90.214.233.139  Saturday 24th of March 2012 05:30:41 AM
8     2.96.168.87  Saturday 24th of March 2012 05:32:58 AM

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES, append
    - This table looks like: friendsenemies
#### Q3: Are there modifications required? 
    - On the table name: 
        o friends -> friendsenemies_temp
    - On the column type: 
        o 
    - On the column name:
        o notes -> note
    - Add required columns:
        o userid
        o type = 'friend' 
    - Split columns:
        o

## 6.10. Table: 'logs'!!!!!

### How this table looks like without modification?

In [32]:
tablename='logs'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

      username              ip  time  port                    date
0  acevich1988  46.166.151.253    30    80  03-19-2012 07:05:17 pm
1  whysearcher   88.255.200.19   300    80  03-19-2012 07:06:04 pm
2  acevich1988         1.1.1.1    10    80  03-19-2012 07:20:47 pm
3    itz izohh    24.106.68.35    60  3074  03-19-2012 07:27:47 pm
4    itz izohh     95.33.82.74    60  3074  03-19-2012 07:51:47 pm
5    itz izohh    76.71.154.10   120  3074  03-19-2012 08:30:14 pm
6   gamershaze  108.163.164.74   200    80  03-19-2012 08:35:31 pm
7    itz izohh   99.254.92.133     3  3074  03-19-2012 09:28:40 pm
8    itz izohh   74.77.180.159   100  3074  03-19-2012 10:53:37 pm
9    itz izohh   189.196.210.8    60  3074  03-19-2012 10:54:27 pm

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: attacks
#### Q3: Are there modifications required? 
    - On the table name: 
        o logs -> attacks
    - On the column type: 
        o date -> datetimemdyampm2datetime()
        
    - On the column name:
        o ip -> targetip
        o time -> duration
        
    - Add required columns:
        o id
        o userid
        o targeturl
        o type
   - Split columns:
        o

### Modifying table: 'logs'

In [33]:
# Loading the correct table name
df_attacks = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_attacks['date']=datetimemdyampm2datetime(df_attacks['date'])

# Changing column names
df_attacks.rename(inplace=True, columns={'ip':'targetip',
                                        'time':'duration'})
# Adding missing columns
df_attacks['id']=np.nan
df_attacks['userid']=np.nan
df_attacks['targeturl']=np.nan
df_attacks['type']=np.nan

# Showing some lines after adapt the table
df_attacks.head(10)

,username,targetip,duration,port,date,id,userid,targeturl,type
0,acevich1988,46.166.151.253,30,80,2012-03-19 19:05:17,NaN,NaN,NaN,NaN
1,whysearcher,88.255.200.19,300,80,2012-03-19 19:06:04,NaN,NaN,NaN,NaN
2,acevich1988,1.1.1.1,10,80,2012-03-19 19:20:47,NaN,NaN,NaN,NaN
3,itz izohh,24.106.68.35,60,3074,2012-03-19 19:27:47,NaN,NaN,NaN,NaN
4,itz izohh,95.33.82.74,60,3074,2012-03-19 19:51:47,NaN,NaN,NaN,NaN
5,itz izohh,76.71.154.10,120,3074,2012-03-19 20:30:14,NaN,NaN,NaN,NaN
6,gamershaze,108.163.164.74,200,80,2012-03-19 20:35:31,NaN,NaN,NaN,NaN
7,itz izohh,99.254.92.133,3,3074,2012-03-19 21:28:40,NaN,NaN,NaN,NaN
8,itz izohh,74.77.180.159,100,3074,2012-03-19 22:53:37,NaN,NaN,NaN,NaN
9,itz izohh,189.196.210.8,60,3074,2012-03-19 22:54:27,NaN,NaN,NaN,NaN

## 6.11. Table: 'membership_coupons'

### How this table looks like without modification?

In [34]:
tablename='membership_coupons'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,CouponId,CouponCode,Discount,DateStart,DateEnd,DateAdded,IsEnabled,PremiumLevel
0,5,XRGold,20.0,2011-11-02 00:00:00,2012-06-27 00:00:00,2011-11-03 14:43:56,1,2
1,7,XRGold2,40.0,2011-11-18 00:00:00,2011-11-19 00:00:00,2011-11-18 13:01:03,1,2

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.12. Table: 'membership_rates'

### How this table looks like without modification?

In [35]:
tablename='membership_rates'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,RatesId,TypesId,Type,RateTitle,Description,IntervalLength,IntervalType,IsAutoRenew,AutoRenewTimes,IsTrial1,...,Trial1Length,Trial1Type,IsTrial2,Trial2Rate,Trial2Length,Trial2Type,MembershipFee,OrdinalPosition,IsEnabled,PremiumLevel
0,26,2,Silver Membership,Daily - USD 1.00,<p>Daily Subscription - USD 1.00</p>,1,D,0,2,0,...,1,D,0,0.0,1,D,1.00,0,1,1
1,2,2,Silver Membership,Weekly - USD 3.99,<p>Weekly Subscription - USD 3.99</p>,1,W,0,1,0,...,1,M,0,0.0,1,W,3.99,2,1,1
2,4,2,Silver Membership,Yearly - USD 22.99,<p>Yearly Subscription - USD 22.99</p>,1,Y,0,1,0,...,1,M,0,0.0,1,W,22.99,4,1,1
3,6,3,Gold Membership,Yearly - USD 25.99,<p>Yearly Subscription - USD 25.99 - Access to...,1,Y,0,1,0,...,1,M,0,0.0,1,W,25.99,6,1,2
4,23,23,Silver Membership,Montly - USD 7.00,<p>Montly Subscription - USD 7.00</p>,12,M,0,2,0,...,1,D,0,0.0,1,D,7.00,3,1,1
5,24,24,Gold Membership,Montly - USD 10.00,<p>Montly Subscription - USD 10.00</p>,1,M,0,2,0,...,1,D,0,0.0,1,D,10.00,5,1,2

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: plans
#### Q3: Are there modifications required? 
    - On the table name: 
        o membership_rates -> plans
    - On the column type: 
        o 
    - On the column name:
        o RatesId -> planid
        o Type -> planname
        o Description -> plandescr
        o MembershipFee -> price
    - Add required columns:
        o maxboottime
        o concurrecy
    - Split columns:
        o

### Modifying table: 'membership_rates'

In [36]:
# Loading the correct table name
df_plans = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names
df_plans.rename(inplace=True, columns={'RatesId':'planid',
                                      'Type':'planname',
                                      'Description':'plandescr',
                                      'MembershipFee':'price'})
# Adding missing columns
df_plans['maxboottime']=np.nan
df_plans['concurrency']=np.nan

# Showing some lines after adapt the table
df_plans.head(10)

,planid,TypesId,planname,RateTitle,plandescr,IntervalLength,IntervalType,IsAutoRenew,AutoRenewTimes,IsTrial1,...,IsTrial2,Trial2Rate,Trial2Length,Trial2Type,price,OrdinalPosition,IsEnabled,PremiumLevel,maxboottime,concurrency
0,26,2,Silver Membership,Daily - USD 1.00,<p>Daily Subscription - USD 1.00</p>,1,D,0,2,0,...,0,0.0,1,D,1.00,0,1,1,NaN,NaN
1,2,2,Silver Membership,Weekly - USD 3.99,<p>Weekly Subscription - USD 3.99</p>,1,W,0,1,0,...,0,0.0,1,W,3.99,2,1,1,NaN,NaN
2,4,2,Silver Membership,Yearly - USD 22.99,<p>Yearly Subscription - USD 22.99</p>,1,Y,0,1,0,...,0,0.0,1,W,22.99,4,1,1,NaN,NaN
3,6,3,Gold Membership,Yearly - USD 25.99,<p>Yearly Subscription - USD 25.99 - Access to...,1,Y,0,1,0,...,0,0.0,1,W,25.99,6,1,2,NaN,NaN
4,23,23,Silver Membership,Montly - USD 7.00,<p>Montly Subscription - USD 7.00</p>,12,M,0,2,0,...,0,0.0,1,D,7.00,3,1,1,NaN,NaN
5,24,24,Gold Membership,Montly - USD 10.00,<p>Montly Subscription - USD 10.00</p>,1,M,0,2,0,...,0,0.0,1,D,10.00,5,1,2,NaN,NaN

## 6.13. Table: 'membership_types'

### How this table looks like without modification?

In [37]:
tablename='membership_types'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,TypesId,Type,Description,OrdinalPosition,IsEnabled
0,2,Silver Membership,Premium membership with some restrictions.,1,1
1,3,Gold Membership,Top of the line membership access to all options,2,1
2,5,Premium Membership,Best Package!,3,1

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.14. Table: 'menus'

### How this table looks like without modification?

In [38]:
tablename='menus'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,MenuId,MenuName,Url,Target,Label,Title,Description,ParentId,ParentLabel,OrdinalPosition,IsEnabled
0,1,user dash,index.php,_self,My Account,back to user dash home page,NaN,0,My Account,1,1

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.15. Table: 'menu_names'

### How this table looks like without modification?

In [39]:
tablename='menu_names'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   MenuNameId   MenuName      Description
0           1  user dash             none
1           7       Test  Test Testing 12

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.16. Table: 'news'

### How this table looks like without modification?

In [40]:
tablename='news'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

                                     message3
0  Adding ssyn an udp attacks to the booter :

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.17. Table: 'paypal_config'

### How this table looks like without modification?

In [41]:
tablename='paypal_config'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,ConfigId,PaypalGateway,PaypalSandbox,MerchantAccountId,IsSandbox,PaypalCurrency,CurrencySymbol,SuccessURL,CancelURL,IpnURL
0,1,https://www.paypal.com/cgi-bin/webscr,https://www.sandbox.paypal.com/cgi-bin/webscr,hoeksmav@gmail.com,0,USD,$,http://www.xrshellbooter.com/site/user/payment...,http://www.xrshellbooter.com/siter/user/paymen...,http://www.xrshellbooter.com/siter/user/paypal...

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: gateways
#### Q3: Are there modifications required? 
    - On the table name: 
        o paypal_config -> gateways
    - On the column type: 
        o MerchantAccountId -> email
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'paypal_config'

In [42]:
# Loading the correct table name
df_gateways = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns


# Changing names of columns
df_gateways.rename(inplace=True, columns={'MerchatAccountId':'email'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_gateways['username']=np.nan

# Showing some lines after adapt the table
df_gateways.head(10)

,ConfigId,PaypalGateway,PaypalSandbox,MerchantAccountId,IsSandbox,PaypalCurrency,CurrencySymbol,SuccessURL,CancelURL,IpnURL,username
0,1,https://www.paypal.com/cgi-bin/webscr,https://www.sandbox.paypal.com/cgi-bin/webscr,hoeksmav@gmail.com,0,USD,$,http://www.xrshellbooter.com/site/user/payment...,http://www.xrshellbooter.com/siter/user/paymen...,http://www.xrshellbooter.com/siter/user/paypal...,NaN

## 6.18. Table: 'postshells'

### How this table looks like without modification?

In [45]:
tablename='postshells'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

                                                 URL  online  lastChecked
0             http://belakshell.50webs.com/index.php       0            0
1                  http://d-dos.50webs.com/ddos.php        0            0
2    http://feeds2.feedburner.com/alivingtruth/DRwH        0            0
3                 http://firman-mannte.blogspot.com/       0            0
4  http://toutsourtous.webobo.biz/html.php?id_men...       0            0
5  http://webcache.googleusercontent.com/search?q...       0            0
6  http://mehdi4604.persiangig.com/vbulltien/ddos...       0            0
7                          http://dinamo.com.nu/php/       0            0
8                http://avatarmovieonline.110mb.com/       0            0
9      http://niyuavalon.webege.com/phpddos/control/       0            0

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES, append
    - This table looks like: webshells
#### Q3: Are there modifications required? 
    - On the table name: 
        o postshells -> webshells
    - On the column type: 
        o 
    - On the column name:
        o URL -> url
        o online -> status
        o lastChecked -> lastchecked

    - Add required columns:
        o id
        o attacktype = 'get'
    - Split columns:
        o

### Modifying table: 'getshells'

In [47]:
# Loading the correct table name
df_webshells_temp = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names
df_webshells_temp.rename(inplace=True, columns={'URL':'url',
                                          'online':'status',
                                          'lastChecked':'lastchecked'})

# Adding missing columns
df_webshells_temp['id']=np.nan
df_webshells_temp['attacktype']='post'


# Showing some lines after adapt the table
df_webshells_temp.head(10)

,url,status,lastchecked,id,attacktype
0,http://belakshell.50webs.com/index.php,0,0,NaN,post
1,http://d-dos.50webs.com/ddos.php,0,0,NaN,post
2,http://feeds2.feedburner.com/alivingtruth/DRwH,0,0,NaN,post
3,http://firman-mannte.blogspot.com/,0,0,NaN,post
4,http://toutsourtous.webobo.biz/html.php?id_men...,0,0,NaN,post
5,http://webcache.googleusercontent.com/search?q...,0,0,NaN,post
6,http://mehdi4604.persiangig.com/vbulltien/ddos...,0,0,NaN,post
7,http://dinamo.com.nu/php/,0,0,NaN,post
8,http://avatarmovieonline.110mb.com/,0,0,NaN,post
9,http://niyuavalon.webege.com/phpddos/control/,0,0,NaN,post

In [48]:
df_webshells=df_webshells.append(df_webshells_temp)

## 6.19. Table: 'profiles'

### How this table looks like without modification?

In [49]:
tablename='profiles'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,ProfileId,UserId,UserName,FirstName,LastName,CompanyName,WebsiteUrl,ProfileTitle,ProfileText,Phone,Address,Street,City,State,Zip,Country,AvatarImage,Newsletter,Promotion
0,21,46,kuky14lf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://xrshellbooter.com/site/user/uploads/ava...,0,0
1,22,8,arronxr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://xrshellbooter.com/site/user/uploads/ava...,0,0
2,23,95,epicxr,scott,lock,NaN,NaN,Manchester United,NaN,NaN,NaN,NaN,Manchester,NaN,NaN,United Kingdom,NaN,0,1
3,24,63,engagetutorials,Gene,NaN,NaN,http://www.YouTube.com/EngageTutorials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
4,25,105,nvt,NvT,OwneD,NaN,http://,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
5,26,189,dshunia,dejuana,edede,killz,http://,got scamed,yoyo,3.035578e+09,438 hickory st,NaN,Oct,Colorado,80021.0,United States,NaN,1,1
6,27,187,blu185,Jeremy,Capenter,NaN,http://,bLu185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
7,28,260,2specedo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://xrshellbooter.com/site/user/uploads/ava...,0,0
8,29,110,mw3xp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://xrshellbooter.com/site/user/uploads/ava...,0,0
9,30,321,wannabehacker,James,Freeman,NaN,http://,Im a wanna be,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.20. Table: 'roles'

### How this table looks like without modification?

In [50]:
tablename='roles'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

b'Skipping line 7: expected 3 fields, saw 4\nSkipping line 8: expected 3 fields, saw 4\nSkipping line 9: expected 3 fields, saw 4\nSkipping line 10: expected 3 fields, saw 4\nSkipping line 11: expected 3 fields, saw 4\nSkipping line 12: expected 3 fields, saw 4\nSkipping line 13: expected 3 fields, saw 4\nSkipping line 14: expected 3 fields, saw 4\nSkipping line 15: expected 3 fields, saw 4\nSkipping line 16: expected 3 fields, saw 4\nSkipping line 17: expected 3 fields, saw 4\nSkipping line 18: expected 3 fields, saw 4\nSkipping line 19: expected 3 fields, saw 4\nSkipping line 20: expected 3 fields, saw 4\nSkipping line 21: expected 3 fields, saw 4\nSkipping line 22: expected 3 fields, saw 4\nSkipping line 23: expected 3 fields, saw 4\nSkipping line 24: expected 3 fields, saw 4\nSkipping line 25: expected 3 fields, saw 4\nSkipping line 26: expected 3 fields, saw 4\nSkipping line 27: expected 3 fields, saw 4\nSkipping line 28: expected 3 fields, saw 4\nSkipping line 29: expected 3 fields, saw 4\nSkipping line 30: expected 3 fields, saw 4\nSkipping line 31: expected 3 fields, saw 4\nSkipping line 32: expected 3 fields, saw 4\nSkipping line 33: expected 3 fields, saw 4\nSkipping line 34: expected 3 fields, saw 4\nSkipping line 35: expected 3 fields, saw 4\nSkipping line 36: expected 3 fields, saw 4\nSkipping line 37: expected 3 fields, saw 4\nSkipping line 38: expected 3 fields, saw 4\nSkipping line 39: expected 3 fields, saw 4\nSkipping line 40: expected 3 fields, saw 4\nSkipping line 41: expected 3 fields, saw 4\nSkipping line 42: expected 3 fields, saw 4\nSkipping line 43: expected 3 fields, saw 4\nSkipping line 44: expected 3 fields, saw 4\nSkipping line 45: expected 3 fields, saw 4\nSkipping line 46: expected 3 fields, saw 4\nSkipping line 47: expected 3 fields, saw 4\nSkipping line 48: expected 3 fields, saw 4\nSkipping line 49: expected 3 fields, saw 4\nSkipping line 50: expected 3 fields, saw 4\nSkipping line 51: expected 3 fields, saw 4\nSkipping line 52: expected 3 fields, saw 4\nSkipping line 53: expected 3 fields, saw 4\nSkipping line 54: expected 3 fields, saw 4\nSkipping line 55: expected 3 fields, saw 4\nSkipping line 56: expected 3 fields, saw 4\nSkipping line 57: expected 3 fields, saw 4\nSkipping line 58: expected 3 fields, saw 4\nSkipping line 59: expected 3 fields, saw 4\nSkipping line 60: expected 3 fields, saw 4\nSkipping line 61: expected 3 fields, saw 4\nSkipping line 62: expected 3 fields, saw 4\nSkipping line 63: expected 3 fields, saw 4\nSkipping line 64: expected 3 fields, saw 4\nSkipping line 65: expected 3 fields, saw 4\nSkipping line 66: expected 3 fields, saw 4\nSkipping line 67: expected 3 fields, saw 4\nSkipping line 68: expected 3 fields, saw 4\nSkipping line 69: expected 3 fields, saw 4\nSkipping line 70: expected 3 fields, saw 4\nSkipping line 71: expected 3 fields, saw 4\nSkipping line 72: expected 3 fields, saw 4\nSkipping line 73: expected 3 fields, saw 4\nSkipping line 74: expected 3 fields, saw 4\nSkipping line 75: expected 3 fields, saw 4\nSkipping line 76: expected 3 fields, saw 4\nSkipping line 77: expected 3 fields, saw 4\nSkipping line 78: expected 3 fields, saw 4\nSkipping line 79: expected 3 fields, saw 4\nSkipping line 80: expected 3 fields, saw 4\nSkipping line 81: expected 3 fields, saw 4\nSkipping line 82: expected 3 fields, saw 4\nSkipping line 83: expected 3 fields, saw 4\nSkipping line 84: expected 3 fields, saw 4\nSkipping line 85: expected 3 fields, saw 4\nSkipping line 86: expected 3 fields, saw 4\nSkipping line 87: expected 3 fields, saw 4\nSkipping line 88: expected 3 fields, saw 4\nSkipping line 89: expected 3 fields, saw 4\nSkipping line 90: expected 3 fields, saw 4\nSkipping line 91: expected 3 fields, saw 4\nSkipping line 92: expected 3 fields, saw 4\nSkipping line 93: expected 3 fields, saw 4\nSkipping line 94: expected 3 fields, saw 4\nSkipping line 95: expected 3 fields, saw 4\nSkipping line 96: expected 3 fields, saw 4\nSkipping line 97: expected 3 fields, saw 4\nSkipping line 98: expected 3 fields, saw 4\nSkipping line 99: expected 3 fields, saw 4\nSkipping line 100: expected 3 fields, saw 4\nSkipping line 101: expected 3 fields, saw 4\nSkipping line 102: expected 3 fields, saw 4\nSkipping line 103: expected 3 fields, saw 4\nSkipping line 104: expected 3 fields, saw 4\nSkipping line 105: expected 3 fields, saw 4\nSkipping line 106: expected 3 fields, saw 4\nSkipping line 107: expected 3 fields, saw 4\nSkipping line 108: expected 3 fields, saw 4\nSkipping line 109: expected 3 fields, saw 4\nSkipping line 110: expected 3 fields, saw 4\nSkipping line 111: expected 3 fields, saw 4\nSkipping line 112: expected 3 fields, saw 4\nSkipping line 113: expected 3 fields, saw 4\nSkipping line 114: expected 3 fields, saw 4\nSkipping line 115: expected 3 fields, saw 4\nSkipping line 116: expected 3 fields, saw 4\nSkipping line 117: expected 3 fields, saw 4\nSkipping line 118: expected 3 fields, saw 4\nSkipping line 119: expected 3 fields, saw 4\nSkipping line 120: expected 3 fields, saw 4\nSkipping line 121: expected 3 fields, saw 4\nSkipping line 122: expected 3 fields, saw 4\nSkipping line 123: expected 3 fields, saw 4\nSkipping line 124: expected 3 fields, saw 4\nSkipping line 125: expected 3 fields, saw 4\nSkipping line 126: expected 3 fields, saw 4\nSkipping line 127: expected 3 fields, saw 4\nSkipping line 128: expected 3 fields, saw 4\nSkipping line 129: expected 3 fields, saw 4\nSkipping line 130: expected 3 fields, saw 4\nSkipping line 131: expected 3 fields, saw 4\nSkipping line 132: expected 3 fields, saw 4\nSkipping line 133: expected 3 fields, saw 4\nSkipping line 134: expected 3 fields, saw 4\nSkipping line 135: expected 3 fields, saw 4\nSkipping line 136: expected 3 fields, saw 4\nSkipping line 137: expected 3 fields, saw 4\nSkipping line 138: expected 3 fields, saw 4\nSkipping line 139: expected 3 fields, saw 4\nSkipping line 140: expected 3 fields, saw 4\nSkipping line 141: expected 3 fields, saw 4\nSkipping line 142: expected 3 fields, saw 4\nSkipping line 143: expected 3 fields, saw 4\nSkipping line 144: expected 3 fields, saw 4\nSkipping line 145: expected 3 fields, saw 4\nSkipping line 146: expected 3 fields, saw 4\nSkipping line 147: expected 3 fields, saw 4\nSkipping line 148: expected 3 fields, saw 4\nSkipping line 149: expected 3 fields, saw 4\nSkipping line 150: expected 3 fields, saw 4\nSkipping line 151: expected 3 fields, saw 4\nSkipping line 152: expected 3 fields, saw 4\nSkipping line 153: expected 3 fields, saw 4\nSkipping line 154: expected 3 fields, saw 4\nSkipping line 155: expected 3 fields, saw 4\nSkipping line 156: expected 3 fields, saw 4\nSkipping line 157: expected 3 fields, saw 4\nSkipping line 158: expected 3 fields, saw 4\nSkipping line 159: expected 3 fields, saw 4\nSkipping line 160: expected 3 fields, saw 4\nSkipping line 161: expected 3 fields, saw 4\nSkipping line 162: expected 3 fields, saw 4\nSkipping line 163: expected 3 fields, saw 4\nSkipping line 164: expected 3 fields, saw 4\nSkipping line 165: expected 3 fields, saw 4\nSkipping line 166: expected 3 fields, saw 4\nSkipping line 167: expected 3 fields, saw 4\nSkipping line 168: expected 3 fields, saw 4\nSkipping line 169: expected 3 fields, saw 4\nSkipping line 170: expected 3 fields, saw 4\nSkipping line 171: expected 3 fields, saw 4\nSkipping line 172: expected 3 fields, saw 4\nSkipping line 173: expected 3 fields, saw 4\nSkipping line 174: expected 3 fields, saw 4\nSkipping line 175: expected 3 fields, saw 4\nSkipping line 176: expected 3 fields, saw 4\nSkipping line 177: expected 3 fields, saw 4\nSkipping line 178: expected 3 fields, saw 4\nSkipping line 179: expected 3 fields, saw 4\nSkipping line 180: expected 3 fields, saw 4\nSkipping line 181: expected 3 fields, saw 4\nSkipping line 182: expected 3 fields, saw 4\nSkipping line 183: expected 3 fields, saw 4\nSkipping line 184: expected 3 fields, saw 4\nSkipping line 185: expected 3 fields, saw 4\nSkipping line 186: expected 3 fields, saw 4\nSkipping line 187: expected 3 fields, saw 4\nSkipping line 188: expected 3 fields, saw 4\nSkipping line 189: expected 3 fields, saw 4\nSkipping line 190: expected 3 fields, saw 4\nSkipping line 191: expected 3 fields, saw 4\nSkipping line 192: expected 3 fields, saw 4\nSkipping line 193: expected 3 fields, saw 4\nSkipping line 194: expected 3 fields, saw 4\nSkipping line 195: expected 3 fields, saw 4\nSkipping line 196: expected 3 fields, saw 4\nSkipping line 197: expected 3 fields, saw 4\nSkipping line 198: expected 3 fields, saw 4\nSkipping line 199: expected 3 fields, saw 4\nSkipping line 200: expected 3 fields, saw 4\nSkipping line 201: expected 3 fields, saw 4\nSkipping line 202: expected 3 fields, saw 4\nSkipping line 203: expected 3 fields, saw 4\nSkipping line 204: expected 3 fields, saw 4\nSkipping line 205: expected 3 fields, saw 4\nSkipping line 206: expected 3 fields, saw 4\nSkipping line 207: expected 3 fields, saw 4\nSkipping line 208: expected 3 fields, saw 4\nSkipping line 209: expected 3 fields, saw 4\nSkipping line 210: expected 3 fields, saw 4\nSkipping line 211: expected 3 fields, saw 4\nSkipping line 212: expected 3 fields, saw 4\nSkipping line 213: expected 3 fields, saw 4\nSkipping line 214: expected 3 fields, saw 4\nSkipping line 215: expected 3 fields, saw 4\nSkipping line 216: expected 3 fields, saw 4\nSkipping line 217: expected 3 fields, saw 4\nSkipping line 218: expected 3 fields, saw 4\nSkipping line 219: expected 3 fields, saw 4\nSkipping line 220: expected 3 fields, saw 4\nSkipping line 221: expected 3 fields, saw 4\nSkipping line 222: expected 3 fields, saw 4\nSkipping line 223: expected 3 fields, saw 4\nSkipping line 224: expected 3 fields, saw 4\nSkipping line 225: expected 3 fields, saw 4\nSkipping line 226: expected 3 fields, saw 4\nSkipping line 227: expected 3 fields, saw 4\nSkipping line 228: expected 3 fields, saw 4\nSkipping line 229: expected 3 fields, saw 4\nSkipping line 230: expected 3 fields, saw 4\nSkipping line 231: expected 3 fields, saw 4\nSkipping line 232: expected 3 fields, saw 4\nSkipping line 233: expected 3 fields, saw 4\nSkipping line 234: expected 3 fields, saw 4\nSkipping line 235: expected 3 fields, saw 4\nSkipping line 236: expected 3 fields, saw 4\nSkipping line 237: expected 3 fields, saw 4\nSkipping line 238: expected 3 fields, saw 4\nSkipping line 239: expected 3 fields, saw 4\nSkipping line 240: expected 3 fields, saw 4\nSkipping line 241: expected 3 fields, saw 4\nSkipping line 242: expected 3 fields, saw 4\nSkipping line 243: expected 3 fields, saw 4\nSkipping line 244: expected 3 fields, saw 4\nSkipping line 245: expected 3 fields, saw 4\nSkipping line 246: expected 3 fields, saw 4\nSkipping line 247: expected 3 fields, saw 4\nSkipping line 248: expected 3 fields, saw 4\nSkipping line 249: expected 3 fields, saw 4\nSkipping line 250: expected 3 fields, saw 4\nSkipping line 251: expected 3 fields, saw 4\nSkipping line 252: expected 3 fields, saw 4\nSkipping line 253: expected 3 fields, saw 4\nSkipping line 254: expected 3 fields, saw 4\nSkipping line 255: expected 3 fields, saw 4\nSkipping line 256: expected 3 fields, saw 4\nSkipping line 257: expected 3 fields, saw 4\nSkipping line 258: expected 3 fields, saw 4\nSkipping line 259: expected 3 fields, saw 4\nSkipping line 260: expected 3 fields, saw 4\nSkipping line 261: expected 3 fields, saw 4\nSkipping line 262: expected 3 fields, saw 4\nSkipping line 263: expected 3 fields, saw 4\nSkipping line 264: expected 3 fields, saw 4\nSkipping line 265: expected 3 fields, saw 4\nSkipping line 266: expected 3 fields, saw 4\nSkipping line 267: expected 3 fields, saw 4\nSkipping line 268: expected 3 fields, saw 4\nSkipping line 269: expected 3 fields, saw 4\nSkipping line 270: expected 3 fields, saw 4\nSkipping line 271: expected 3 fields, saw 4\nSkipping line 272: expected 3 fields, saw 4\nSkipping line 273: expected 3 fields, saw 4\nSkipping line 274: expected 3 fields, saw 4\nSkipping line 275: expected 3 fields, saw 4\nSkipping line 276: expected 3 fields, saw 4\nSkipping line 277: expected 3 fields, saw 4\nSkipping line 278: expected 3 fields, saw 4\nSkipping line 279: expected 3 fields, saw 4\nSkipping line 280: expected 3 fields, saw 4\nSkipping line 281: expected 3 fields, saw 4\nSkipping line 282: expected 3 fields, saw 4\nSkipping line 283: expected 3 fields, saw 4\nSkipping line 284: expected 3 fields, saw 4\nSkipping line 285: expected 3 fields, saw 4\nSkipping line 286: expected 3 fields, saw 4\nSkipping line 287: expected 3 fields, saw 4\nSkipping line 288: expected 3 fields, saw 4\nSkipping line 289: expected 3 fields, saw 4\nSkipping line 290: expected 3 fields, saw 4\nSkipping line 291: expected 3 fields, saw 4\nSkipping line 292: expected 3 fields, saw 4\nSkipping line 293: expected 3 fields, saw 4\nSkipping line 294: expected 3 fields, saw 4\nSkipping line 295: expected 3 fields, saw 4\nSkipping line 296: expected 3 fields, saw 4\nSkipping line 297: expected 3 fields, saw 4\nSkipping line 298: expected 3 fields, saw 4\nSkipping line 299: expected 3 fields, saw 4\nSkipping line 300: expected 3 fields, saw 4\nSkipping line 301: expected 3 fields, saw 4\nSkipping line 302: expected 3 fields, saw 4\nSkipping line 303: expected 3 fields, saw 4\nSkipping line 304: expected 3 fields, saw 4\nSkipping line 305: expected 3 fields, saw 4\nSkipping line 306: expected 3 fields, saw 4\nSkipping line 307: expected 3 fields, saw 4\nSkipping line 308: expected 3 fields, saw 4\nSkipping line 309: expected 3 fields, saw 4\nSkipping line 310: expected 3 fields, saw 4\nSkipping line 311: expected 3 fields, saw 4\nSkipping line 312: expected 3 fields, saw 4\nSkipping line 313: expected 3 fields, saw 4\nSkipping line 314: expected 3 fields, saw 4\nSkipping line 315: expected 3 fields, saw 4\nSkipping line 316: expected 3 fields, saw 4\nSkipping line 317: expected 3 fields, saw 4\nSkipping line 318: expected 3 fields, saw 4\nSkipping line 319: expected 3 fields, saw 4\nSkipping line 320: expected 3 fields, saw 4\nSkipping line 321: expected 3 fields, saw 4\nSkipping line 322: expected 3 fields, saw 4\nSkipping line 323: expected 3 fields, saw 4\nSkipping line 324: expected 3 fields, saw 4\nSkipping line 325: expected 3 fields, saw 4\nSkipping line 326: expected 3 fields, saw 4\nSkipping line 327: expected 3 fields, saw 4\nSkipping line 328: expected 3 fields, saw 4\nSkipping line 329: expected 3 fields, saw 4\nSkipping line 330: expected 3 fields, saw 4\nSkipping line 331: expected 3 fields, saw 4\nSkipping line 332: expected 3 fields, saw 4\nSkipping line 333: expected 3 fields, saw 4\nSkipping line 334: expected 3 fields, saw 4\nSkipping line 335: expected 3 fields, saw 4\nSkipping line 336: expected 3 fields, saw 4\nSkipping line 337: expected 3 fields, saw 4\nSkipping line 338: expected 3 fields, saw 4\nSkipping line 339: expected 3 fields, saw 4\nSkipping line 340: expected 3 fields, saw 4\nSkipping line 341: expected 3 fields, saw 4\nSkipping line 342: expected 3 fields, saw 4\nSkipping line 343: expected 3 fields, saw 4\nSkipping line 344: expected 3 fields, saw 4\nSkipping line 345: expected 3 fields, saw 4\nSkipping line 346: expected 3 fields, saw 4\nSkipping line 347: expected 3 fields, saw 4\nSkipping line 348: expected 3 fields, saw 4\nSkipping line 349: expected 3 fields, saw 4\nSkipping line 350: expected 3 fields, saw 4\nSkipping line 351: expected 3 fields, saw 4\nSkipping line 352: expected 3 fields, saw 4\nSkipping line 353: expected 3 fields, saw 4\nSkipping line 354: expected 3 fields, saw 4\nSkipping line 355: expected 3 fields, saw 4\nSkipping line 356: expected 3 fields, saw 4\nSkipping line 357: expected 3 fields, saw 4\nSkipping line 358: expected 3 fields, saw 4\nSkipping line 359: expected 3 fields, saw 4\nSkipping line 360: expected 3 fields, saw 4\nSkipping line 361: expected 3 fields, saw 4\nSkipping line 362: expected 3 fields, saw 4\nSkipping line 363: expected 3 fields, saw 4\nSkipping line 364: expected 3 fields, saw 4\nSkipping line 365: expected 3 fields, saw 4\nSkipping line 366: expected 3 fields, saw 4\nSkipping line 367: expected 3 fields, saw 4\nSkipping line 368: expected 3 fields, saw 4\nSkipping line 369: expected 3 fields, saw 4\nSkipping line 370: expected 3 fields, saw 4\nSkipping line 371: expected 3 fields, saw 4\nSkipping line 372: expected 3 fields, saw 4\nSkipping line 373: expected 3 fields, saw 4\nSkipping line 374: expected 3 fields, saw 4\nSkipping line 375: expected 3 fields, saw 4\nSkipping line 376: expected 3 fields, saw 4\nSkipping line 377: expected 3 fields, saw 4\nSkipping line 378: expected 3 fields, saw 4\nSkipping line 379: expected 3 fields, saw 4\nSkipping line 380: expected 3 fields, saw 4\nSkipping line 381: expected 3 fields, saw 4\nSkipping line 382: expected 3 fields, saw 4\nSkipping line 383: expected 3 fields, saw 4\nSkipping line 384: expected 3 fields, saw 4\nSkipping line 385: expected 3 fields, saw 4\nSkipping line 386: expected 3 fields, saw 4\nSkipping line 387: expected 3 fields, saw 4\nSkipping line 388: expected 3 fields, saw 4\nSkipping line 389: expected 3 fields, saw 4\nSkipping line 390: expected 3 fields, saw 4\nSkipping line 391: expected 3 fields, saw 4\nSkipping line 392: expected 3 fields, saw 4\n'

   RoleId       RoleName                                        Description
0       1          owner  Priority 1 - Role with HIGHEST privileges - Mu...
1       2     superadmin     Priority 2 - Role with 2nd. HIGHEST privileges
2       3  administrator     Priority 3 - Role with 3rd. HIGHEST privileges
3       4         member  Priority 4 - Privileges are one step above "us...
4       5           user  Priority 5 - Role with LOWEST privileges - Thi...

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.21. Table: 'shells'

### How this table looks like without modification?

In [57]:
tablename='shells'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

b'Skipping line 208: expected 3 fields, saw 5\nSkipping line 209: expected 3 fields, saw 5\n'

                                                 URL  online  lastChecked
0     http://93.17.7.150/webdav/greenshell.php \t          0            0
1          http://www.sidarglobal.com/help.php \t          0            0
2  http://190.144.174.250/webdav/greenshell.php \...       0            0
3                 http://cwa3672.org/ulogs.php \t          0            0
4         http://89.104.195.200/webdav/x32.php \t          0            0
5   http://82.114.168.38/webdav/greenshell.php \t          0            0
6  http://www.theresahackforthat.webs.com/shell.p...       0            0
7  http://163.178.170.74/webdav/greenshell.php \t          0            0
8         http://212.143.188.146/webdav/ab.php \t          0            0
9          http://89.104.195.200/webdav/x32.php\t          0            0

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES, append
    - This table looks like: webshells
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o URL -> strip_tab()
    - On the column name:
        o URL -> url
        o online -> status
        o lastChecked -> lastchecked
    - Add required columns:
        o id
        o attacktype
    - Split columns:
        o

### Modifying table: 'shells'

In [58]:
# Loading the correct table name
df_webshells_temp = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_webshells_temp['URL']=strip_tab(df_webshells_temp['URL'])


# Changing column names
df_webshells_temp.rename(inplace=True, columns={'URL':'url',
                                          'online':'status',
                                          'lastChecked':'lastchecked'})

# Adding missing columns
df_webshells_temp['id']=np.nan
df_webshells_temp['attacktype']=np.nan


# Showing some lines after adapt the table
df_webshells_temp.head(10)

b'Skipping line 208: expected 3 fields, saw 5\nSkipping line 209: expected 3 fields, saw 5\n'

,url,status,lastchecked,id,attacktype
0,http://93.17.7.150/webdav/greenshell.php \t,0,0,NaN,NaN
1,http://www.sidarglobal.com/help.php \t,0,0,NaN,NaN
2,http://190.144.174.250/webdav/greenshell.php \...,0,0,NaN,NaN
3,http://cwa3672.org/ulogs.php \t,0,0,NaN,NaN
4,http://89.104.195.200/webdav/x32.php \t,0,0,NaN,NaN
5,http://82.114.168.38/webdav/greenshell.php \t,0,0,NaN,NaN
6,http://www.theresahackforthat.webs.com/shell.p...,0,0,NaN,NaN
7,http://163.178.170.74/webdav/greenshell.php \t,0,0,NaN,NaN
8,http://212.143.188.146/webdav/ab.php \t,0,0,NaN,NaN
9,http://89.104.195.200/webdav/x32.php\t,0,0,NaN,NaN

In [59]:
df_webshells=df_webshells.append(df_webshells_temp)

## 6.22. Table: 'shell_percent_gold'

### How this table looks like without modification?

In [61]:
tablename='shell_percent_gold'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   message4
0       100

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.23. Table: 'shell_percent_silver'

### How this table looks like without modification?

In [62]:
tablename='shell_percent_silver'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   message5
0        50

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.24. Table: 'users'

### How this table looks like without modification?

In [63]:
tablename='users'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,UserId,UserName,Password,PasswordQuestion,PasswordAnswer,Email,myAttacks,attacks,notepad,IsApproved,...,PremiumStartDate,PremiumEndDate,PremiumAmount,IsCancelled,CancelledDate,IsEndOfTerm,EndOfTermDate,IsPending,PendingDate,PremiumLevel
0,9,iamthemayo,dfa25541961b29f99ed798d9e58fa7f123d52b34,n.o.f.a,philutd2008,morrisman1@live.co.uk,1.0,121.72.235.9--1322172927::,NaN,1.0,...,2011-10-27 00:00:00,2012-07-26 00:00:00,0.00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,2.0
1,2,existence,20ed3307bcee6005bb173ed4c3979031b701c979,Mudkipz,Do you like mudkip?,muiltyhunter@live.com,0.0,NaN,NaN,1.0,...,2011-10-26 00:00:00,2012-08-21 00:00:00,10.00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,2.0
2,3,falconi,9ab85f0809fa7746bf981a32b0eaf11ccdc36efa,dog name,honey,chandler12@hotmail.co.uk,17.0,83.230.182.106--1321030801::189.152.173.145--1...,NaN,1.0,...,2011-10-28 00:00:00,2011-11-28 00:00:00,8.00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0
3,4,baker,1c69c8c848447175b691ac1230c498458408a903,Whats my favourite number,12345,gearard2@gmail.com,130.0,76.116.249.115--1331086214::,NaN,1.0,...,2011-10-26 00:00:00,2013-03-27 00:00:00,4.00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,2.0
4,5,grandpa,d052f85fa58fb0497ad4bb7f2d069dd486c4a9aa,lol,lol,grandpa@clants.org,9.0,118.92.124.212--1319712616::,NaN,1.0,...,2011-10-26 00:00:00,2011-10-28 00:00:00,0.99,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,1.0
5,10,deanie,4882c59f8c0fa8fc5d8974114e1545161d78966a,best friend?,marsel,deano2005@msn.com,212.0,75.3.128.232--1332546195::,NaN,1.0,...,2011-10-27 00:00:00,2012-12-28 00:00:00,0.00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,1.0
6,23,supers0ak,30d63295564bca6bccfb3c265c79576a0324ab6e,what was your username on neopets?,therarjnzo,hbombyomama@hotmail.com,0.0,NaN,NaN,1.0,...,2011-10-27 00:00:00,2012-04-30 00:00:00,0.00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,2.0
7,6,trthawk,b3a9ac06e8f432b91745757d98bf241c024fe86c,pet,barney,trthawk@hotmail.com,121.0,86.67.178.91--1330894230::,NaN,1.0,...,2011-10-26 00:00:00,2012-03-14 00:00:00,0.00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,2.0
8,7,lazboy,534e56df4e0d6bf3a9cb0350c63590ce2cec9e9c,name i like,gunner,billyspurlock@gmail.com,3.0,72.4.117.217--1319753211::64.239.253.7--131975...,NaN,1.0,...,2011-10-25 00:00:00,2011-11-02 00:00:00,3.00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0
9,8,arronxr,c7f6a3cfab9f7b32121e2ca4fc3042e7eb3fe0b5,my aim is,arronxr,support@arronxr.net,381.0,108.166.79.143--1335793003::,NaN,1.0,...,2011-10-24 00:00:00,2014-10-29 00:00:00,0.00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,0.0,0000-00-00 00:00:00,2.0

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES 
    - This table looks like: users
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o expire -> timestamp2datetime()
    - On the column name:
        o ID -> userid
              
    - Add required columns:
        o useremail 
        o planid
    - Split columns:
        o

### Modifying table: 'users'

In [65]:
### Loading the column converting columns with predefined functions
df_users = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)
                    
df_users['EndOfTermDate']=datetimeinvertedstring2datetime(strip_tab(df_users['EndOfTermDate']))

###Changing names of columns
df_users.rename(columns = {'UserId': 'userid',
                          'UserName': 'username',
                          'Email':'useremail',
                          'Password':'password',
                          'EndOfTermDate': 'expire'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_users['planid'] = ""

###Showing some lines after adapt the table
df_users.head(10)

,userid,username,password,PasswordQuestion,PasswordAnswer,useremail,myAttacks,attacks,notepad,IsApproved,...,PremiumEndDate,PremiumAmount,IsCancelled,CancelledDate,IsEndOfTerm,expire,IsPending,PendingDate,PremiumLevel,planid
0,9,iamthemayo,dfa25541961b29f99ed798d9e58fa7f123d52b34,n.o.f.a,philutd2008,morrisman1@live.co.uk,1.0,121.72.235.9--1322172927::,NaN,1.0,...,2012-07-26 00:00:00,0.00,0.0,0000-00-00 00:00:00,0.0,NaT,0.0,0000-00-00 00:00:00,2.0,
1,2,existence,20ed3307bcee6005bb173ed4c3979031b701c979,Mudkipz,Do you like mudkip?,muiltyhunter@live.com,0.0,NaN,NaN,1.0,...,2012-08-21 00:00:00,10.00,0.0,0000-00-00 00:00:00,0.0,NaT,0.0,0000-00-00 00:00:00,2.0,
2,3,falconi,9ab85f0809fa7746bf981a32b0eaf11ccdc36efa,dog name,honey,chandler12@hotmail.co.uk,17.0,83.230.182.106--1321030801::189.152.173.145--1...,NaN,1.0,...,2011-11-28 00:00:00,8.00,0.0,0000-00-00 00:00:00,0.0,NaT,0.0,0000-00-00 00:00:00,0.0,
3,4,baker,1c69c8c848447175b691ac1230c498458408a903,Whats my favourite number,12345,gearard2@gmail.com,130.0,76.116.249.115--1331086214::,NaN,1.0,...,2013-03-27 00:00:00,4.00,0.0,0000-00-00 00:00:00,0.0,NaT,0.0,0000-00-00 00:00:00,2.0,
4,5,grandpa,d052f85fa58fb0497ad4bb7f2d069dd486c4a9aa,lol,lol,grandpa@clants.org,9.0,118.92.124.212--1319712616::,NaN,1.0,...,2011-10-28 00:00:00,0.99,0.0,0000-00-00 00:00:00,0.0,NaT,0.0,0000-00-00 00:00:00,1.0,
5,10,deanie,4882c59f8c0fa8fc5d8974114e1545161d78966a,best friend?,marsel,deano2005@msn.com,212.0,75.3.128.232--1332546195::,NaN,1.0,...,2012-12-28 00:00:00,0.00,0.0,0000-00-00 00:00:00,0.0,NaT,0.0,0000-00-00 00:00:00,1.0,
6,23,supers0ak,30d63295564bca6bccfb3c265c79576a0324ab6e,what was your username on neopets?,therarjnzo,hbombyomama@hotmail.com,0.0,NaN,NaN,1.0,...,2012-04-30 00:00:00,0.00,0.0,0000-00-00 00:00:00,0.0,NaT,0.0,0000-00-00 00:00:00,2.0,
7,6,trthawk,b3a9ac06e8f432b91745757d98bf241c024fe86c,pet,barney,trthawk@hotmail.com,121.0,86.67.178.91--1330894230::,NaN,1.0,...,2012-03-14 00:00:00,0.00,0.0,0000-00-00 00:00:00,0.0,NaT,0.0,0000-00-00 00:00:00,2.0,
8,7,lazboy,534e56df4e0d6bf3a9cb0350c63590ce2cec9e9c,name i like,gunner,billyspurlock@gmail.com,3.0,72.4.117.217--1319753211::64.239.253.7--131975...,NaN,1.0,...,2011-11-02 00:00:00,3.00,0.0,0000-00-00 00:00:00,0.0,NaT,0.0,0000-00-00 00:00:00,0.0,
9,8,arronxr,c7f6a3cfab9f7b32121e2ca4fc3042e7eb3fe0b5,my aim is,arronxr,support@arronxr.net,381.0,108.166.79.143--1335793003::,NaN,1.0,...,2014-10-29 00:00:00,0.00,0.0,0000-00-00 00:00:00,0.0,NaT,0.0,0000-00-00 00:00:00,2.0,

In [66]:
len(df_users), len(df_users.drop_duplicates())

(760, 760)

## 6.25. Table: 'users_in_roles'

### How this table looks like without modification?

In [67]:
tablename='users_in_roles'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   UsersInRolesId  UserId  RoleId    RoleName
0             652       9       5        user
1             636       2       5        user
2             637       3       5        user
3             857     167       5        user
4             639       5       5        user
5             856     166       5        user
6             984       6       5        user
7             644       7       5        user
8             646       8       1       owner
9             647       8       2  superadmin

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO 
    - This table looks like:
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

<h2 align='center'>======================================================================
<br>Final step of the manual part
======================================================================</h2>

## 7. Adding missing tables accordingly to our generic Booter database

In [ ]:
df_attacks= pd.DataFrame(columns=['id','userid','username','targetip','targeturl','duration','port','type','date'])
#df_blacklist=pd.DataFrame(columns=['id','ip','note'])
#df_friendsenemies=pd.DataFrame(columns=['id','ip','note','userid','type'])
#df_gateways=pd.DataFrame(columns=['email'])
#df_logins=pd.DataFrame(columns=['id','userid','username','userip','date'])
#df_payments=pd.DataFrame(columns=['id','userid','username','amountpaid','paymentemail','planid','tid','date'])
df_plans=pd.DataFrame(columns=['planid','planname','plandescr','price','maxboottime','concurrency'])
df_servers=pd.DataFrame(columns=['id','ip'])
df_settings=pd.DataFrame(columns=['url','sitename','siteemail'])
#df_users=pd.DataFrame(columns=['userid','username','useremail','password','expire','plan'])      
df_webshells=pd.DataFrame(columns=['id','url','status','lastchecked','attacktype'])

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 2: Data Enrichment<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

### * Depending of the size of the data, this part can take HOURS. I tested for both small and big datasets and it worked. Be pacient. This will pay-off!

## * Libraries needed to retrieve information from external databases

In [ ]:
import subprocess
import cfscrape
from lxml import etree
import os.path
import random
import time

## * Function to enrich IP addresseswith AS information and country

In [ ]:
# THANKS TO: team-cymru.org
def iptoasn(iplist_teamcymruformat_filelocation,outputfile):
    cat = subprocess.Popen(['cat', iplist_teamcymruformat_filelocation], 
                            stdout=subprocess.PIPE)
    
    netcat = subprocess.Popen(['netcat', 'whois.cymru.com', '43'],
                              stdin=cat.stdout,
                              stdout=outputfile)
    time.sleep(3) #for some reason the poll does not work! This was the way to overcome the waiting time.
    
    return netcat.stdout

## * Function to check if an IP address was Tor node in a given moment

In [ ]:
# THANKS TO: exonerator.torproject.org
def WasTorNode(ip, date ):
    url="https://exonerator.torproject.org/?ip="+ip+"&timestamp="+date
    scraper = cfscrape.create_scraper()
    scraped_html=scraper.get(url).content    
    html_tree = etree.HTML(scraped_html)
    result=html_tree.xpath("//h3[@class='panel-title']/text()") # I was looking for <h3 class="panel-title">Result is positive</h3>
    tor_node=True if result == ['Result is positive'] else False
    return tor_node 
# 'date' MUST BE formated as: Year-month-day (2016-03-31)

## * Discovering the middle date of the database

In [ ]:
try:
    try:
        middle_date=(min(df_attacks['date'])+((max(df_attacks['date'])-min(df_attacks['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_logins['date'])+((max(df_logins['date'])-min(df_logins['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_payments['date'])+((max(df_payments['date'])-min(df_payments['date']))/2))
        raise
    except:
        pass
except Exception:
    print("There is no date in the entire dataset")

date_tor_check = middle_date.strftime('%Y-%m-%d')
date_iptoasn_lookup= str(middle_date)
print(date_tor_check)

## * Preparing to Perform IP to ASN info

In [ ]:
df_logins['middledate']=date_iptoasn_lookup
df_attacks['middledate']=date_iptoasn_lookup
df_friendsenemies['middledate']=date_iptoasn_lookup
df_blacklist['middledate']=date_iptoasn_lookup

## 2.1.1  Lookup IP to ASN info of table: logins

In [ ]:
if (os.path.exists('enrichments/logins_iptoasn_out')== False):
    logins_iptoasn_in = open('enrichments/logins_iptoasn_in', 'w+')
    logins_iptoasn_in.write('begin\nverbose\n')
    df_logins[['userip','middledate']].drop_duplicates().to_csv(logins_iptoasn_in,header=False,index=False,sep="\t") 
    logins_iptoasn_in.write('end')
    logins_iptoasn_in.close()

    logins_iptoasn_out = open('logins_iptoasn_out', 'w+')
    iptoasn('logins_iptoasn_in',logins_iptoasn_out)
    logins_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_logins_iptoasn = pd.read_csv('enrichments/logins_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

df_logins_extended= pd.merge(df_logins,
                              df_logins_iptoasn,
                              how = 'left',
                              left_on = 'userip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_logins_extended.rename(columns={'asn':'srcasn', 
                                   'ip':'srcip', 
                                   'bgp_prefix':'srcbgp_prefix', 
                                   'country':'srccountry' ,
                                   'registry':'srcregistry',
                                   'info_date':'srcinfo_date',
                                   'info_request':'srcinfo_request'},
                         inplace=True)


df_logins_extended.head(5)

## 2.1.2  Lookup IP to ASN info of table: attacks

In [ ]:
if (os.path.exists('enrichments/attacks_iptoasn_out')== False):
    attacks_iptoasn_in = open('enrichments/attacks_iptoasn_in', 'w+')
    attacks_iptoasn_in.write('begin\nverbose\n')
    df_attacks[['targetip','middledate']].drop_duplicates().to_csv(attacks_iptoasn_in,header=False,index=False,sep="\t") 
    attacks_iptoasn_in.write('end')
    attacks_iptoasn_in.close()

    attacks_iptoasn_out = open('attacks_iptoasn_out', 'w+')
    iptoasn('attacks_iptoasn_in',attacks_iptoasn_out)
    attacks_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_attacks_iptoasn = pd.read_csv('enrichments/attacks_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_attacks_extended= pd.merge(df_attacks,
                              df_attacks_iptoasn,
                              how = 'left',
                              left_on = 'targetip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_attacks_extended.rename(columns={'asn':'targetasn', 
                                   'ip_y':'targetip', 
                                   'bgp_prefix':'targetbgp_prefix', 
                                   'country_y':'targetcountry' ,
                                   'registry':'targetregistry',
                                   'info_date':'targetinfo_date',
                                   'info_request':'targetinfo_request'},
                         inplace=True)
df_attacks_extended.head(5)

## 2.1.3  Lookup IP to ASN info of table: friendsenemies

In [ ]:
if (os.path.exists('enrichments/friendsenemies_iptoasn_out')== False):
    friendsenemies_iptoasn_in = open('enrichments/friendsenemies_iptoasn_in', 'w+')
    friendsenemies_iptoasn_in.write('begin\nverbose\n')
    df_friendsenemies[['ip','middledate']].drop_duplicates().to_csv(friendsenemies_iptoasn_in,header=False,index=False,sep="\t") 
    friendsenemies_iptoasn_in.write('end')
    friendsenemies_iptoasn_in.close()

    friendsenemies_iptoasn_out = open('friendsenemies_iptoasn_out', 'w+')
    iptoasn('friendsenemies_iptoasn_in',friendsenemies_iptoasn_out)
    friendsenemies_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_friendsenemies_iptoasn = pd.read_csv('enrichments/friendsenemies_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_friendsenemies_extended= pd.merge(df_friendsenemies,
                              df_friendsenemies_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_friendsenemies_extended.rename(columns={'asn':'friendsenemiesasn', 
                                   'ip':'friendsenemiesip', 
                                   'bgp_prefix':'friendsenemiesbgp_prefix', 
                                   'country':'friendsenemiescountry' ,
                                   'registry':'friendsenemiesregistry',
                                   'info_date':'friendsenemiesinfo_date',
                                   'info_request':'friendsenemiesinfo_request',
                                   'as_name': 'friendsenemiesas_name'},
                         inplace=True)

## 2.1.4  Lookup IP to ASN info of table: blacklist

In [ ]:
if (os.path.exists('enrichments/blacklist_iptoasn_out')== False):
    blacklist_iptoasn_in = open('enrichments/blacklist_iptoasn_in', 'w+')
    blacklist_iptoasn_in.write('begin\nverbose\n')
    df_blacklist[['ip','middledate']].drop_duplicates().to_csv(blacklist_iptoasn_in,header=False,index=False,sep="\t") 
    blacklist_iptoasn_in.write('end')
    blacklist_iptoasn_in.close()

    blacklist_iptoasn_out = open('blacklist_iptoasn_out', 'w+')
    iptoasn('blacklist_iptoasn_in',blacklist_iptoasn_out)
    blacklist_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_blacklist_iptoasn = pd.read_csv('enrichments/blacklist_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_blacklist_extended= pd.merge(df_blacklist,
                              df_blacklist_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_blacklist_extended.rename(columns={'asn':'blacklistasn', 
                                   'ip':'blacklistip', 
                                   'bgp_prefix':'blacklistbgp_prefix', 
                                   'country':'blacklistcountry' ,
                                   'registry':'blacklistregistry',
                                   'info_date':'blacklistinfo_date',
                                   'info_request':'blacklistinfo_request',
                                   'as_name': 'blacklistas_name'},
                         inplace=True)
df_blacklist_extended.head(5)

## 2.2.1. Check if IP was a TOR node for table: login

In [ ]:
date_tor_check

In [ ]:
if len(df_logins['userip'].unique())<1200:
    if (os.path.exists('enrichments/logins_torcheck')== False):
        print("Note: it can take a while to finish...")
        logins_torcheck = open('logins_torcheck', 'w+')
        for i in df_logins['userip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=logins_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            logins_torcheck.flush()

        logins_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.")
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_logins_torcheck = pd.read_csv('enrichments/logins_torcheck',\
                          delimiter="\s+",\
                          names = ['userip', 'tor'])

## 2.2.2. Check if IP was a TOR node for table: attacks

In [ ]:
if len(df_attacks['targetip'].unique())<1200:
    if (os.path.exists('enrichments/attacks_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_attacks['targetip'].unique())*3,"seconds (in the worst case).")

        attacks_torcheck = open('attacks_torcheck', 'w+')

        for i in df_attacks['targetip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=attacks_torcheck)
            print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            attacks_torcheck.flush()

        attacks_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_attacks_torcheck = pd.read_csv('enrichments/attacks_torcheck',\
                          delimiter="\s+",\
                          names = ['targetip', 'tor'])

## 2.2.3. Check if IP was a TOR node for table: friendsenemies

In [ ]:
if len(df_friendsenemies['ip'].unique()) <1200:
    if (os.path.exists('enrichments/friendsenemies_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_friendsenemies['ip'].unique())*3,"seconds (in the worst case).")

        friendsenemies_torcheck = open('enrichments/friendsenemies_torcheck', 'w+')

        for i in df_friendsenemies['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=friendsenemies_torcheck)
        #     print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            friendsenemies_torcheck.flush()

        friendsenemies_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_friendsenemies_torcheck = pd.read_csv('enrichments/friendsenemies_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## 2.2.4. Check if IP was a TOR node for table: blacklist

In [ ]:
if len(df_blacklist['ip'].unique()) < 1200:
    if (os.path.exists('enrichments/blacklist_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_blacklist['ip'].unique())*3,"seconds (in the worst case).")

        blacklist_torcheck = open('enrichments/blacklist_torcheck', 'w+')

        for i in df_blacklist['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=blacklist_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            blacklist_torcheck.flush()

        blacklist_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_blacklist_torcheck = pd.read_csv('enrichments/blacklist_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## * Relation between Attack dates and Login dates

In [ ]:
def nearestDate(base_date, date_list):
    nearest={}
    for date in date_list:
        if (base_date.timestamp() - date.timestamp())>=0:
            nearest[base_date.timestamp() - date.timestamp()]= date
    return nearest[min(nearest.keys())]

In [ ]:
#This is the TOTAL number records to be checks!!!!
len(df_attacks)

In [ ]:
df_attacks['nearestlogin']=""
df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])
    
if len(df_attacks)>0 and len(df_logins)>0:
    #When was the last login of the user that performed attacks
    df_attacks['nearestlogin']=""
    df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])

    for index, row in df_attacks.head(100).iterrows():
        intermediate_df= df_logins[df_logins['username']==row['username']]
        nearestlogindate= nearestDate(row['date'],intermediate_df['date'])
        df_attacks.set_value(index, 'nearestlogin', nearestlogindate)

        #DEBUGGING
        if index % 1000 == 0:
            print(index,": +1000 records analysed")

In [ ]:
if len(df_attacks['nearestlogin'].value_counts()) >1:
    df_attacks_and_logins = pd.merge(df_attacks_extended,
                                     df_logins_extended,
                                     how = 'left',
                                     left_on = ['username','nearestlogin'],
                                     right_on = ['username','date'])
else:
    df_attacks_and_logins=""

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 3: Automatic Analysis
<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>

## * Libraries that I use to plot figs

In [ ]:
import matplotlib.pyplot as plt
from matplotlib_venn import *
%matplotlib inline

import seaborn as sns
import itertools

plt.style.use('seaborn-muted')
# plt.rcParams['font.family'] = 'serif'
# plt.rcParams['font.size'] = 12

import warnings
warnings.filterwarnings('ignore')

## A.1. Number of records per table (part of the generic Booter database schema)

In [ ]:
len(df_users),len(df_logins),len(df_attacks),len(df_payments),len(df_settings),len(df_gateways), len(df_friendsenemies),len(df_blacklist),len(df_webshells),len(df_servers),len(df_plans)

## A.2. Number of users, customers, attackers, and their intersection

In [ ]:
if len(set(df_users['userid'].unique())) > 1:
    users_set=set(df_users['userid'].unique())
else:
    users_set=set(df_users['username'].unique())
    
if len(set(df_logins['userid'].unique())) > 1:
    userslogin_set=set(df_logins['userid'].unique())
else:
    userslogin_set=set(df_logins['username'].unique())

if len(set(df_payments['userid'].unique())) > 1:
    customers_set=set(df_payments['userid'].unique())
else:
    customers_set=set(df_payments['username'].unique())

if len(set(df_attacks['userid'].unique())) > 1:
    attackers_set=set(df_attacks['userid'].unique())
else:
    attackers_set=set(df_attacks['username'].unique())

intersec_customers_attacker=pd.Series(list(customers_set.intersection(attackers_set)))
intersec_users_customers=pd.Series(list(users_set.intersection(customers_set)))
intersec_users_attackers=pd.Series(list(users_set.intersection(attackers_set)))
intersec_users_customers_attackers=pd.Series(list(users_set.intersection(customers_set).intersection(attackers_set)))

In [ ]:
len(users_set),len(userslogin_set),len(customers_set),len(attackers_set)

In [ ]:
fig = plt.figure(figsize=(4,3))
fig.suptitle('Users, Customers & Attackers', fontsize=14)

ax = plt.subplot2grid((1,1), (0,0))

venn=venn3(ax=ax,subsets = {'001':len(attackers_set)-len(intersec_customers_attacker)-len(intersec_users_attackers)+len(intersec_users_customers_attackers), 
                            '010':len(customers_set)-len(intersec_users_customers)-len(intersec_customers_attacker)+len(intersec_users_customers_attackers), 
                            '011':len(intersec_customers_attacker)-len(intersec_users_customers_attackers),
                            '100':len(users_set)-len(intersec_users_customers)-len(intersec_users_attackers)+len(intersec_users_customers_attackers),
                            '101':len(intersec_users_attackers)-len(intersec_users_customers_attackers),
                            '110':len(intersec_users_customers)-len(intersec_users_customers_attackers),
                            '111':len(intersec_users_customers_attackers)},\
          set_labels = ('Users', 'Customers','Attackers'),\
          alpha=1)
try:
    venn.get_patch_by_id('100').set_color('#404096')
except:
    print("*Users set is empty!")  
    
try:
    venn.get_patch_by_id('110').set_color('#DEA73A')
except:
    print("*Customers set is empty!")   

try:
    venn.get_patch_by_id('001').set_color('#D92120')
except:
    print("*Attackers set is empty!")

fig.show()
# fig.savefig('../figs/timeseries_attacks.eps', format='eps', dpi=1200)

## A.3. Distribution of login times per user

In [ ]:
if len(df_logins['userid'].value_counts()) > 0:
    num_distinct_logins_per_user=df_logins['userid'].value_counts()
else:
    num_distinct_logins_per_user=df_logins['username'].value_counts()

freq_distinct_logins_per_user=num_distinct_logins_per_user.value_counts()
cum_dist_user_logins = np.linspace(0.,1.,len(num_distinct_logins_per_user))
cdf_user_logins = pd.Series(cum_dist_user_logins, index=num_distinct_logins_per_user.sort_values())

In [ ]:
if len(num_distinct_logins_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Login Times by Users:', fontsize=14, y=1.05,x=0.35)
    
    #Plot CDF
    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_logins.plot(ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# logins")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    ax1.set_title("")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_logins_per_user.plot(ax=ax2,kind='pie', 
                                       labels=None, 
                                       legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    
    
    
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_logins_per_user.values)/(freq_distinct_logins_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_logins_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/login_times.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.3. Number of Users that Login via TOR

In [ ]:
len(df_logins_torcheck[df_logins_torcheck['tor']==True]['userip'].value_counts())

## 5.4. Number of Distinct IP addresses by Users

In [ ]:
if len(df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()) >0:
    num_distinct_ips_per_user=df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()
else:
    num_distinct_ips_per_user=df_logins.groupby(['username','userip']).size().reset_index()['username'].value_counts()
    
freq_distinct_ips_per_user=num_distinct_ips_per_user.value_counts()
cum_dist_user_ips = np.linspace(0.,1.,len(num_distinct_ips_per_user))
cdf_user_ips = pd.Series(cum_dist_user_ips, index=num_distinct_ips_per_user.sort_values())

In [ ]:
if len(num_distinct_ips_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Distinct IP address used by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_ips.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_ips_per_user.plot(ax=ax2,kind='pie',
                                    labels=None,legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_ips_per_user.values)/(freq_distinct_ips_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_ips_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/num_ips_by_users.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.5. Number of Payments by Users

In [ ]:
if len(df_payments['userid'].value_counts())>0:
    num_distinct_payments_per_user=df_payments['userid'].value_counts()
else:
    num_distinct_payments_per_user=df_payments['username'].value_counts()

freq_distinct_payments_per_user=num_distinct_payments_per_user.value_counts()
cum_dist_user_payments = np.linspace(0.,1.,len(num_distinct_payments_per_user))
cdf_user_payments = pd.Series(cum_dist_user_payments, index=num_distinct_payments_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Number of Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# Payment")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_per_user.plot(ax=ax2,kind='pie', 
                                         labels=None,legend=False,
                                         startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_per_user.values)/(freq_distinct_payments_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/payments_distribution.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.6. Total Amount of Money Earned

In [ ]:
if len(df_payments['amountpaid']) >0:
    total_earned=df_payments['amountpaid'].values.sum()
    'US$ {:,.2f}'.format(float(total_earned))
else:
    print("Unfortunately, there is no data available!")

## 5.7. Amount of Money Paid by Users

In [ ]:
num_distinct_payments_money_per_user=df_payments['amountpaid'].value_counts()
freq_distinct_payments_money_per_user=num_distinct_payments_money_per_user.value_counts()
cum_dist_user_payments_money = np.linspace(0.,1.,len(num_distinct_payments_money_per_user))
cdf_user_payments_money = pd.Series(cum_dist_user_payments_money, index=num_distinct_payments_money_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_money_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Money Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments_money.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("$")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_money_per_user.plot(ax=ax2,kind='pie', 
                                               labels=None,legend=False,
                                               startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_money_per_user.values)/(freq_distinct_payments_money_per_user.values.sum())
    labels = ['${0:1.2f} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_money_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.6, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/distribution_amount_paid.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.8. Countries from where Users Access Booters

In [ ]:
logins_country_distribution_sorted = df_logins_iptoasn['country'].value_counts(sort=True,ascending=True)
logins_country_distribution = df_logins_iptoasn['country'].value_counts()

In [ ]:
if len(logins_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Users Accessing from Countries:', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    logins_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    logins_country_distribution.plot(ax=ax2,kind='pie', 
                                     labels=None,legend=False,
                                     startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*logins_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(logins_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/user_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.9. Countries of Blacklisted IPs

In [ ]:
blacklist_country_distribution=df_blacklist_iptoasn['country'].value_counts()
blacklist_country_distribution_sorted=df_blacklist_iptoasn['country'].value_counts(sort=True,ascending=True)

In [ ]:
if len(blacklist_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of blacklisted IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    blacklist_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    blacklist_country_distribution.plot(ax=ax2,kind='pie', 
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*blacklist_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(blacklist_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/blacklist_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.10. Countries of Target IPs

In [ ]:
attacks_country_distribution=df_attacks_iptoasn['country'].value_counts()

In [ ]:
if len(attacks_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of target IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    attacks_country_distribution.plot(ax=ax1,kind='bar')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    attacks_country_distribution.plot(ax=ax2,kind='pie', 
                                      labels=None,legend=False,
                                      startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*attacks_country_distribution.values)/(attacks_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(attacks_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/attack_countries_distribution.eps',bbox_inches='tight', format='eps', dpi=1200) 
else:
    print("Unfortunately, there is no data available!")

## 5.12. Attacks on Same Target

In [ ]:
num_attacks_on_sametarget=df_attacks['targetip'].value_counts()

freq_num_attacks_on_sametarget=num_attacks_on_sametarget.value_counts()
cum_num_attacks_on_sametarget = np.linspace(0.,1.,len(num_attacks_on_sametarget))
cdf_num_attacks_on_sametarget = pd.Series(cum_num_attacks_on_sametarget, index=num_attacks_on_sametarget.sort_values())

In [ ]:
if len(num_attacks_on_sametarget)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Attacks on Same Targets:', fontsize=14, y=1.05,x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_num_attacks_on_sametarget.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_num_attacks_on_sametarget.plot(ax=ax2,kind='pie',
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_num_attacks_on_sametarget.values)/(freq_num_attacks_on_sametarget.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_num_attacks_on_sametarget.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()

    fig.show()
    fig.savefig('figs/attacks_on_same_target.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.11. Attacks per day (timeseries)

In [ ]:
if len(df_attacks)>0:
    attack_timeseries=df_attacks.set_index(['date']).groupby(pd.TimeGrouper(freq='D')).agg(['count'])['action']
    attack_mean_perday=attack_timeseries.mean()
    attack_median_perday=attack_timeseries.median()
else:
    attack_timeseries=""

In [ ]:
if len(attack_timeseries)>0:
    fig = plt.figure(figsize=(6,3))

    ax1 = plt.subplot2grid((1,1), (0,0), rowspan=2)
    attack_timeseries.plot(ax=ax1,
                           lw=2,
                           legend=False,
    #                        style='--'
                          )

    # X and Y Labels and Ticks
    ax1.set_xlabel("Time (bin=day)")
    ax1.set_ylabel("# Attacks")

    ax1.annotate(str(int(attack_median_perday[0]))+' (median)', 
                 (min(df_attacks['date']), attack_median_perday),
                 xytext=(350, -1), 
                 textcoords='offset points',
                 color='black', 
                 arrowprops=dict(arrowstyle='-|>',
                                 color='black'))
    fig.savefig('figs/attacks_timeseries.eps', bbox_inches='tight',format='eps', dpi=1200)

else:
    print("Unfortunately, there is no data available!")

## 5.12. Time Between Logins and Attacks

In [ ]:
if len(df_attacks_and_logins)>0:
    print("redo")
else:
    print("Unfortunately, there is no data available!")

## 5.13. Who attack whom? (users on the country level)

In [ ]:
if len(df_attacks_extended)>0 and len(df_logins_extended)>0:
    merged_attacks_logins = pd.merge(df_attacks_extended,
                                  df_logins_extended,
                                  how = 'left',
                                  left_on = 'date',
                                  right_on = 'date')[['targetcountry','srccountry']]

    who_against_whom = merged_attacks_logins.groupby(['targetcountry','srccountry'])\
                            .size()\
                            .reset_index()\
                            .pivot('srccountry','targetcountry',0)
else:
    who_against_whom =""

In [ ]:
if len(who_against_whom)>0:
    fig = plt.figure(figsize=(8,12))
    fig.suptitle('Countries of Target IPs', fontsize=14, y=.92)

    ax1 = plt.subplot2grid((1,1), (0,0))
    sns.set()
    sns.heatmap(who_against_whom,
                ax=ax1,
#                 cmap="YlGnBu",
    #             linewidths=.5,
    #             annot=True
                )

    ax1.set_ylabel("Source Country")
    ax1.set_xlabel("Attack Target Country")

    fig.show()
    fig.savefig('figs/who_attack_whom.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

<h1 align="center">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
FIFTH PART: Query Interface<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [ ]:
from ipywidgets import widgets, interact, Dropdown,HTML
from IPython.display import display,clear_output

In [ ]:
def search_by_userid_submit(sender):
    clear_output()
    print("Searching by id =",search_by_userid.value)
    
    if len(df_users[df_users['userid']== int(search_by_userid.value)])>0:
        display(df_users[df_logins['userid']== int(search_by_userid.value)])
    
    if len(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])>0:
        display(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])
    
    if len(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])>0:
        display(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])
    
    if len(df_payments[df_payments['userid']== int(search_by_userid.value)])>0:
        display(df_payments[df_payments['userid']== int(search_by_userid.value)])

def search_by_username_submit(sender):
    clear_output()
    print("Searching by username =",search_by_username.value,"\n")
    
    if len(df_users[df_users['username']== search_by_username.value])>0:
        print("Table df_users:")
        display(df_users[df_users['username']== search_by_username.value])
    
    if len(df_logins_extended[df_logins_extended['username']== search_by_username.value])>0:
        print("Table df_logins:")
        display(df_logins_extended[df_logins_extended['username']== search_by_username.value])

    if len(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])>0:
        print("Table df_attacks:")
        display(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])
    
    if len(df_payments[df_payments['username']== search_by_username.value])>0:
        print("Table df_payments:")
        display(df_payments[df_payments['username']== search_by_username.value])
        
def search_by_ip_submit(sender):
    clear_output()
    print("Searching by IP address =",str(search_by_ip.value),"\n")
    
    if len(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])>0:
        print("Table df_logins (as ATTACKER:")
        display(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])
     
    if len(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])  
      
       
def search_by_asn_submit(sender):
    clear_output()
    print("Searching by Autonomous System Number (ASN) =",search_by_asn.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])
    
    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

        
country_list=pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/master/data.csv',delimiter=",",error_bad_lines=False)
def search_by_country_submit():
    country_code=country_list[country_list['Name']==search_by_country.value]['Code'].values[0]
    clear_output()
    print("Searching by Country =",search_by_country.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srccountry']== country_code])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srccountry']== country_code])
    
    if len(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])

In [ ]:
display(HTML('<h3>*Search by (only) one field per time:</h3>'))

search_by_username = widgets.Text(description="username")
display(search_by_username)
search_by_username.on_submit(search_by_username_submit)

search_by_userid = widgets.Text(description="userid")
display(search_by_userid)
search_by_userid.on_submit(search_by_userid_submit)

search_by_ip = widgets.Text(description="IP")
display(search_by_ip)
search_by_ip.on_submit(search_by_ip_submit)

search_by_asn = widgets.Text(description="ASN")
display(search_by_asn)
search_by_asn.on_submit(search_by_asn_submit)

search_by_country = Dropdown(description="Country", options=country_list['Name'].tolist())
search_by_country.on_trait_change(search_by_country_submit, name="value")
display(search_by_country)