<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
Brief explanation on our Booter database analysis methodology: <br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

# Analysis of: vaporizedbooter
#### File originally retrieved from: http://pastebin.com/ccfdEF2p

## * Libraries that I use to analyse data

In [2]:
import pandas as pd
import numpy as np

from io import StringIO
import re

from IPython.display import display,clear_output

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 0: Reading an input Booter database file<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [3]:
dumpfile='vaporizedbooter.sql'

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 1: Adaptation to our Booter database schema<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

## 1. Reading the first 'N' (100) lines of the input Booter database file

In [4]:
lines_to_read=100

with open(dumpfile) as myfile:
    firstlines=myfile.readlines()[0:lines_to_read] #put here the interval you want
    for x in firstlines:
        print(x.strip())

# Dumped by c999Shell.SQL v. 1.0 pre-release build #16

# Home page: http://ccteam.ru

#

# Host settings:

# MySQL version: (5.1.62-cll) running on 109.163.231.194 (109.163.231.194)

# Date: 03.05.2012 01:44:28

# DB: "vaporize_bootme4"

#---------------------------------------------------------

DROP TABLE IF EXISTS `email_templates`;
CREATE TABLE `email_templates` (
`id` int(5) NOT NULL AUTO_INCREMENT,
`name` varchar(200) NOT NULL,
`subject` varchar(255) NOT NULL,
`help` text,
`body` text,
PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=15 DEFAULT CHARSET=utf8;

INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('1', 'Registration Email', 'Please verify your email', 'This template is used to send Registration Verification Email, when Configuration->Registration Verification is set to YES', '&lt;div align=&quot;center&quot;&gt;
&lt;table cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; width=&quot;600&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Welcome [NAME]! Thanks for registering.&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;Hello,&lt;br /&gt;
&lt;br /&gt;
You&#039;re now a member of [SITE_NAME].&lt;br /&gt;
&lt;br /&gt;
Here are your login details. Please keep them in a safe place:&lt;br /&gt;
&lt;br /&gt;
Username: &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;
Password: &lt;strong&gt;[PASSWORD]&lt;/strong&gt;         &lt;hr /&gt;
The administrator of this site has requested all new accounts&lt;br /&gt;
to be activated by the users who created them thus your account&lt;br /&gt;
is currently inactive. To activate your account,&lt;br /&gt;
please visit the link below and enter the following:&lt;hr /&gt;
Token: &lt;strong&gt;[TOKEN]&lt;/strong&gt;&lt;br /&gt;
Email: &lt;strong&gt;[EMAIL]&lt;/strong&gt;         &lt;hr /&gt;
&lt;a href=&quot;[LINK]&quot;&gt;Click here to activate tour account&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;text-align: left;&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;
[SITE_NAME] Team&lt;br /&gt;
&lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;');
INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('2', 'Forgot Password Email', 'Password Reset', 'This template is used for retrieving lost user password', '&lt;div align=&quot;center&quot;&gt;
&lt;table width=&quot;600&quot; cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;New password reset from [SITE_NAME]!&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;Hello, &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;
&lt;br /&gt;
It seems that you or someone requested a new password for you.&lt;br /&gt;
We have generated a new password, as requested:&lt;br /&gt;
&lt;br /&gt;
Your new password: &lt;strong&gt;[PASSWORD]&lt;/strong&gt;&lt;br /&gt;
&lt;br /&gt;
To use the new password you need to activate it. To do this click the link provided below and login with your new password.&lt;br /&gt;
&lt;a href=&quot;[LINK]&quot;&gt;[LINK]&lt;/a&gt;&lt;br /&gt;
&lt;br /&gt;
You can change your password after you sign in.&lt;hr /&gt;
Password requested from IP: [IP]&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;text-align: left;&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;
[SITE_NAME] Team&lt;br /&gt;
&lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;');
INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('3', 'Welcome Mail From Admin', 'You have been registered', 'This template is used to send welcome email, when user is added by administrator', '&lt;div align=&quot;center&quot;&gt;
&lt;table cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; width=&quot;600&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Welcome [NAME]! You have been Registered.&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;text-align: left;&quot;&gt;Hello,&lt;br /&gt;
&lt;br /&gt;
You&#039;re now a member of [SITE_NAME].&lt;br /&gt;
&lt;br /&gt;
Here are your login details. Please keep them in a safe place:&lt;br /&gt;
&lt;br /&gt;
Username: &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;
Password: &lt;strong&gt;[PASSWORD]&lt;/strong&gt;&lt;/td&gt;

## 2. Listing tables that have content inserted into the dump file

In [5]:
def list_tables_with_insert(dumpfile):
    tables = []
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            if line.lower().startswith('insert'):
                table = re.findall(r'`(.*?)`', line)
                tables.append(table[0])
    return tables

In [6]:
tables=enumerate(list_tables_with_insert(dumpfile))

for i, item in tables:
    print(i+1,item)

1 email_templates
2 email_templates
3 email_templates
4 email_templates
5 email_templates
6 email_templates
7 email_templates
8 email_templates
9 email_templates
10 email_templates
11 email_templates
12 email_templates
13 email_templates
14 gateways
15 gateways
16 getshells
17 getshells
18 getshells
19 getshells
20 getshells
21 getshells
22 getshells
23 getshells
24 getshells
25 getshells
26 getshells
27 getshells
28 getshells
29 getshells
30 getshells
31 getshells
32 getshells
33 getshells
34 getshells
35 getshells
36 getshells
37 getshells
38 getshells
39 getshells
40 getshells
41 getshells
42 getshells
43 getshells
44 getshells
45 getshells
46 getshells
47 getshells
48 getshells
49 getshells
50 getshells
51 getshells
52 getshells
53 getshells
54 getshells
55 getshells
56 getshells
57 getshells
58 getshells
59 getshells
60 getshells
61 getshells
62 getshells
63 getshells
64 getshells
65 getshells
66 getshells
67 getshells
68 getshells
69 getshells
70 getshells
71 getshells
72 getshells
73 getshells
74 getshells
75 getshells
76 getshells
77 getshells
78 getshells
79 getshells
80 getshells
81 getshells
82 getshells
83 getshells
84 getshells
85 getshells
86 getshells
87 getshells
88 getshells
89 getshells
90 getshells
91 getshells
92 getshells
93 getshells
94 getshells
95 getshells
96 getshells
97 getshells
98 getshells
99 getshells
100 getshells
101 getshells
102 getshells
103 getshells
104 getshells
105 getshells
106 getshells
107 getshells
108 getshells
109 getshells
110 getshells
111 getshells
112 getshells
113 getshells
114 getshells
115 getshells
116 getshells
117 getshells
118 getshells
119 getshells
120 getshells
121 getshells
122 getshells
123 getshells
124 getshells
125 getshells
126 getshells
127 getshells
128 getshells
129 getshells
130 getshells
131 getshells
132 getshells
133 getshells
134 getshells
135 getshells
136 getshells
137 getshells
138 getshells
139 getshells
140 getshells
141 getshells
142 getshells
143 getshells
144 getshells
145 getshells
146 getshells
147 getshells
148 getshells
149 getshells
150 getshells
151 getshells
152 getshells
153 getshells
154 getshells
155 getshells
156 getshells
157 getshells
158 getshells
159 getshells
160 getshells
161 getshells
162 getshells
163 getshells
164 getshells
165 getshells
166 getshells
167 getshells
168 getshells
169 getshells
170 getshells
171 getshells
172 getshells
173 getshells
174 getshells
175 getshells
176 getshells
177 getshells
178 getshells
179 getshells
180 getshells
181 getshells
182 getshells
183 getshells
184 getshells
185 getshells
186 getshells
187 getshells
188 getshells
189 getshells
190 getshells
191 getshells
192 getshells
193 getshells
194 getshells
195 getshells
196 getshells
197 getshells
198 getshells
199 getshells
200 getshells
201 getshells
202 getshells
203 getshells
204 getshells
205 getshells
206 getshells
207 getshells
208 getshells
209 getshells
210 getshells
211 getshells
212 getshells
213 getshells
214 getshells
215 getshells
216 getshells
217 getshells
218 getshells
219 getshells
220 getshells
221 getshells
222 getshells
223 getshells
224 getshells
225 logs
226 logs
227 logs
228 logs
229 logs
230 logs
231 logs
232 logs
233 logs
234 logs
235 logs
236 logs
237 logs
238 logs
239 logs
240 logs
241 logs
242 logs
243 logs
244 logs
245 logs
246 logs
247 logs
248 logs
249 logs
250 logs
251 logs
252 logs
253 logs
254 logs
255 logs
256 logs
257 logs
258 logs
259 logs
260 logs
261 logs
262 logs
263 logs
264 logs
265 logs
266 logs
267 logs
268 logs
269 logs
270 logs
271 logs
272 logs
273 logs
274 logs
275 logs
276 logs
277 logs
278 logs
279 logs
280 logs
281 logs
282 logs
283 logs
284 logs
285 logs
286 logs
287 logs
288 logs
289 logs
290 logs
291 logs
292 logs
293 logs
294 logs
295 logs
296 logs
297 logs
298 logs
299 logs
300 logs
301 logs
302 logs
303 logs
304 logs
305 logs
306 logs
307 logs
308 logs
309 logs
310 logs
311 logs
312 logs
313 logs
314 logs
315 logs
316 logs
317 logs
318 logs
319 logs
320 logs
321 logs
322 logs
323 logs
324 logs
325 logs
326 logs
327 logs
328 logs
329 logs
330 logs
331 logs
332 logs
333 logs
334 logs
335 logs
336 logs
337 logs
338 logs
339 logs
340 logs
341 logs
342 logs
343 logs
344 logs
345 logs
346 logs
347 logs
348 logs
349 logs
350 logs
351 logs
352 logs
353 logs
354 logs
355 logs
356 logs
357 logs
358 logs
359 logs
360 logs
361 logs
362 logs
363 logs
364 logs
365 logs
366 logs
367 logs
368 logs
369 logs
370 logs
371 logs
372 logs
373 logs
374 logs
375 logs
376 logs
377 logs
378 logs
379 logs
380 logs
381 logs
382 logs
383 logs
384 logs
385 logs
386 logs
387 logs
388 logs
389 logs
390 logs
391 logs
392 logs
393 logs
394 logs
395 logs
396 logs
397 logs
398 logs
399 logs
400 logs
401 logs
402 logs
403 logs
404 logs
405 logs
406 logs
407 logs
408 logs
409 logs
410 logs
411 logs
412 logs
413 logs
414 logs
415 logs
416 logs
417 logs
418 logs
419 logs
420 logs
421 logs
422 logs
423 logs
424 logs
425 logs
426 logs
427 logs
428 logs
429 logs
430 logs
431 logs
432 logs
433 logs
434 logs
435 logs
436 logs
437 logs
438 logs
439 logs
440 logs
441 logs
442 logs
443 logs
444 logs
445 logs
446 logs
447 logs
448 logs
449 logs
450 logs
451 logs
452 logs
453 logs
454 logs
455 logs
456 logs
457 logs
458 logs
459 logs
460 logs
461 logs
462 logs
463 logs
464 logs
465 logs
466 logs
467 logs
468 logs
469 logs
470 logs
471 logs
472 logs
473 logs
474 logs
475 logs
476 logs
477 logs
478 logs
479 logs
480 logs
481 logs
482 logs
483 logs
484 logs
485 logs
486 logs
487 logs
488 logs
489 logs
490 logs
491 logs
492 logs
493 logs
494 logs
495 logs
496 logs
497 logs
498 logs
499 logs
500 logs
501 logs
502 logs
503 logs
504 logs
505 logs
506 logs
507 logs
508 logs
509 logs
510 logs
511 logs
512 logs
513 logs
514 logs
515 logs
516 logs
517 logs
518 logs
519 logs
520 logs
521 logs
522 logs
523 logs
524 logs
525 logs
526 logs
527 logs
528 logs
529 logs
530 logs
531 logs
532 logs
533 logs
534 logs
535 logs
536 logs
537 logs
538 logs
539 logs
540 logs
541 logs
542 logs
543 logs
544 logs
545 logs
546 logs
547 logs
548 logs
549 logs
550 logs
551 logs
552 logs
553 logs
554 logs
555 logs
556 logs
557 logs
558 logs
559 logs
560 logs
561 logs
562 logs
563 logs
564 logs
565 logs
566 logs
567 logs
568 logs
569 logs
570 logs
571 logs
572 logs
573 logs
574 logs
575 logs
576 logs
577 logs
578 logs
579 logs
580 logs
581 logs
582 logs
583 logs
584 logs
585 logs
586 logs
587 logs
588 logs
589 logs
590 logs
591 logs
592 logs
593 logs
594 logs
595 logs
596 logs
597 logs
598 logs
599 logs
600 logs
601 logs
602 logs
603 logs
604 logs
605 logs
606 logs
607 logs
608 logs
609 logs
610 logs
611 logs
612 logs
613 logs
614 logs
615 logs
616 logs
617 logs
618 logs
619 logs
620 logs
621 logs
622 logs
623 logs
624 logs
625 logs
626 logs
627 logs
628 logs
629 logs
630 logs
631 logs
632 logs
633 logs
634 logs
635 logs
636 logs
637 logs
638 logs
639 logs
640 logs
641 logs
642 logs
643 logs
644 logs
645 logs
646 logs
647 logs
648 logs
649 logs
650 logs
651 logs
652 logs
653 logs
654 logs
655 logs
656 logs
657 logs
658 logs
659 logs
660 logs
661 logs
662 logs
663 logs
664 logs
665 logs
666 logs
667 logs
668 logs
669 logs
670 logs
671 logs
672 logs
673 logs
674 logs
675 logs
676 logs
677 logs
678 logs
679 logs
680 logs
681 logs
682 logs
683 logs
684 logs
685 logs
686 logs
687 logs
688 logs
689 logs
690 logs
691 logs
692 logs
693 logs
694 logs
695 logs
696 logs
697 logs
698 logs
699 logs
700 logs
701 logs
702 logs
703 logs
704 logs
705 logs
706 logs
707 logs
708 logs
709 logs
710 logs
711 logs
712 logs
713 logs
714 logs
715 logs
716 logs
717 logs
718 logs
719 logs
720 logs
721 logs
722 logs
723 logs
724 logs
725 logs
726 logs
727 logs
728 logs
729 logs
730 logs
731 logs
732 logs
733 logs
734 logs
735 logs
736 logs
737 logs
738 logs
739 logs
740 logs
741 logs
742 logs
743 logs
744 logs
745 logs
746 logs
747 logs
748 logs
749 logs
750 logs
751 logs
752 logs
753 logs
754 logs
755 logs
756 logs
757 logs
758 logs
759 logs
760 logs
761 logs
762 logs
763 logs
764 logs
765 logs
766 logs
767 logs
768 logs
769 logs
770 logs
771 logs
772 logs
773 logs
774 logs
775 logs
776 logs
777 logs
778 logs
779 logs
780 logs
781 logs
782 logs
783 logs
784 logs
785 logs
786 logs
787 logs
788 logs
789 logs
790 logs
791 logs
792 logs
793 logs
794 logs
795 logs
796 logs
797 logs
798 logs
799 logs
800 logs
801 logs
802 logs
803 logs
804 logs
805 logs
806 logs
807 logs
808 logs
809 logs
810 logs
811 logs
812 logs
813 logs
814 logs
815 logs
816 logs
817 logs
818 logs
819 logs
820 logs
821 logs
822 logs
823 logs
824 logs
825 logs
826 logs
827 logs
828 logs
829 logs
830 logs
831 logs
832 logs
833 logs
834 logs
835 logs
836 logs
837 logs
838 logs
839 logs
840 logs
841 logs
842 logs
843 logs
844 logs
845 logs
846 logs
847 logs
848 logs
849 logs
850 logs
851 logs
852 logs
853 logs
854 logs
855 logs
856 logs
857 logs
858 logs
859 logs
860 logs
861 logs
862 logs
863 logs
864 logs
865 logs
866 logs
867 logs
868 logs
869 logs
870 logs
871 logs
872 logs
873 logs
874 logs
875 logs
876 logs
877 logs
878 logs
879 logs
880 logs
881 logs
882 logs
883 logs
884 logs
885 logs
886 logs
887 logs
888 logs
889 logs
890 logs
891 logs
892 logs
893 logs
894 logs
895 logs
896 logs
897 logs
898 logs
899 logs
900 logs
901 logs
902 logs
903 logs
904 logs
905 logs
906 logs
907 logs
908 logs
909 logs
910 logs
911 logs
912 logs
913 logs
914 logs
915 logs
916 logs
917 logs
918 logs
919 logs
920 logs
921 logs
922 logs
923 logs
924 logs
925 logs
926 logs
927 logs
928 logs
929 logs
930 logs
931 logs
932 logs
933 logs
934 logs
935 logs
936 logs
937 logs
938 logs
939 logs
940 logs
941 logs
942 logs
943 logs
944 logs
945 logs
946 logs
947 logs
948 logs
949 logs
950 memberships
951 memberships
952 memberships
953 memberships
954 memberships
955 memberships
956 memberships
957 memberships
958 memberships
959 memberships
960 memberships
961 news
962 settings
963 users
964 users
965 users
966 users
967 users
968 users
969 users
970 users
971 users
972 users
973 users
974 users
975 users
976 users
977 users
978 users
979 users

## How the list above looks like?

<h2 align='center'>======================================================================
If NOT well-formed SQL dump file then you must first do the following:
======================================================================</h2>

## 3. Removing lines that are not part of the actual content to be analysed

## 4. Splitting and naming tables and columns

<h2 align='center'>======================================================================
Additional functions
======================================================================</h2>

## * Function to read tables from wel-formed SQL database dump

In [7]:
# For well formed SQL database dumps!
def read_inserted_table(dumpfile, target_table):
    sio = StringIO()
    fast_forward = True
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            line = re.sub("(?!(([^']*'){2})*[^']*$)\)", '',line) #Step0:remove any ")" from the content of columns
            if line.lower().startswith('insert') and target_table in line:
                fast_forward = False
            if fast_forward:
                continue
            data = re.findall('\([^\)]*\)', line) #Step1: get the content between parentesis (i.e., insert line)
            try:
                newline = data[0].strip('()') #Step2:remove parenthesis
                newline=newline.replace('`','') #Step3: remove ` (usually in table names)
                newline=re.sub(r'(?!(([^\']*\'){2})*[^\']*$),', '', newline) #Step4: remove commas from the content of columns
                newline=newline.replace('\'','') #Step5: remove single quotes
                newline=newline.replace(', ', ',') #Step6: remove single spaces after comma (i.e., in the beginning of a column)
                sio.write(newline)
                sio.write("\n")
            except IndexError:
                pass
            if line.endswith(';'):
                break
    sio.seek(0)
    return sio

## * Converter functions for formatting content of columns

In [8]:
def tolowercase(text):
    try:
        return text.lower()
    except AttributeError:
        return text

In [9]:
def strip_singlequote(text):
    try:
        return text.strip('\'')
    except AttributeError:
        return text

In [10]:
def timestamp2datetime(timestamp):
    try:
        return  pd.to_datetime(timestamp,unit='s')
    except AttributeError:
        return timestamp

In [26]:
def datetimestring2datetime(text):
    try:
        return  pd.to_datetime(text,format='%d-%m-%Y %H:%M')
    except AttributeError:
        return text

In [71]:
def datetimeinvertedstring2datetime(text):
    try:
        return  pd.to_datetime(text,format='%Y-%m-%d %H:%M:%S')
    except AttributeError:
        return text

In [39]:
def datetimeampm2datetime(text):
    try:
        return  pd.to_datetime(text,format='%d-%m-%Y %I:%M:%S %p')
    except AttributeError:
        return text

In [12]:
def strip_singlequote_and_tolowercase(text):
    try:
        return text.strip('\'').lower()
    except AttributeError:
        return text

In [13]:
def strip_singlequote_and_dateformat2datetime(text):
    try:
        return  pd.to_datetime(text.strip('\''),format='%d-%m-%Y %H:%M')
    except AttributeError:
        return text

In [14]:
def strip_parenthesisandsemicolon(text):
    try:
        return text.replace(');',"")
    except AttributeError:
        return text

In [15]:
def strip_insertintologs(text):
    try:
        return int(text.replace('INSERT INTO `logs` VALUES (',""))
    except AttributeError:
        return text

<h2 align='center'>======================================================================
Adapting EACH existing table
======================================================================</h2>

## 6.1. Table: 'email_templates'

### How this table looks like without modification?

In [17]:
tablename='email_templates'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,id,name,subject,help,body
0,1,Registration Email,Please verify your email,This template is used to send Registration Ver...,&lt;div align=&quot;center&quot;&gt;\n&lt;tabl...
1,2,Forgot Password Email,Password Reset,This template is used for retrieving lost user...,&lt;div align=&quot;center&quot;&gt;\n&lt;tabl...
2,3,Welcome Mail From Admin,You have been registered,This template is used to send welcome email wh...,&lt;div align=&quot;center&quot;&gt;\n&lt;tabl...
3,4,Default Newsletter,Newsletter,This is a default newsletter template,&lt;div align=&quot;center&quot;&gt;\n&lt;tabl...
4,5,Transaction Completed,Payment Completed,This template is used to notify administrator ...,&lt;div align=&quot;center&quot;&gt;\n&lt;tabl...
5,6,Transaction Suspicious,Suspicious Transaction,This template is used to notify administrator ...,&lt;div align=&quot;center&quot;&gt;\n&lt;tabl...
6,7,Welcome Email,Welcome,This template is used to welcome newly registe...,&lt;div align=&quot;center&quot;&gt;\n&lt;tabl...
7,8,Membership Expire 7 days,Your membership will expire in 7 days,This template is used to remind user that memb...,&lt;div align=&quot;center&quot;&gt;\n&lt;tabl...
8,9,Membership Expired Today,Your membership has expired,This template is used to remind user that memb...,&lt;div align=&quot;center&quot;&gt;\n&lt;tabl...
9,10,Contact Request,Contact Inquiry,This template is used to send default Contact ...,&lt;div align=&quot;center&quot;&gt;\n&lt;tabl...

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    - The blacklist table must to have the columns: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o    
    - On the column name:
        o  
    - Split columns:
        o 
    - Add required columns:
        o

## 6.2. Table: 'gateways'

### How this table looks like without modification?

In [18]:
tablename='gateways'

# Only displaying the results
pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,id,name,displayname,dir,demo,extra_txt,extra_txt2,extra_txt3,extra,extra2,extra3,is_recurring,active
0,1,paypal,PayPal,paypal,1,Paypal Email Address,Currency Code,Not in Use,hfdeceive@hotmail.com,USD,NaN,1,1
1,2,moneybookers,MoneyBookers,moneybookers,0,MoneyBookers Email Address,Currency Code,Secret Passphrase,moneybookers@address.com,EUR,mypassphrase,1,0

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: gateways
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o    
    - On the column name:
        o extra => email
    - Split columns:
        o 
    - Add required columns:
        o

### Modifying table: 'gateways'

In [19]:
df_gateways = pd.read_csv(read_inserted_table(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

###Changing names of columns
df_gateways.rename(columns = {'extra': 'email'},
                         inplace=True)

###Showing some lines after adapt the table
df_gateways.head(10)

,id,name,displayname,dir,demo,extra_txt,extra_txt2,extra_txt3,email,extra2,extra3,is_recurring,active
0,1,paypal,PayPal,paypal,1,Paypal Email Address,Currency Code,Not in Use,hfdeceive@hotmail.com,USD,NaN,1,1
1,2,moneybookers,MoneyBookers,moneybookers,0,MoneyBookers Email Address,Currency Code,Secret Passphrase,moneybookers@address.com,EUR,mypassphrase,1,0

## 6.3. Table: 'getshells'

### How this table looks like without modification?

In [20]:
tablename='getshells'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

                                                 URL  online  lastChecked
0    http://www.filbanken.nu/awstats/awstats/UDP.php       0            0
1  http://www.indianethicalhacker.blackapplehost....       0            0
2  http://www.indianethicalhacker.blackapplehost....       0            0
3  http://www.indianethicalhacker.blackapplehost....       0            0
4        http://163.178.170.74/webdav/greenshell.php       0            0
5  http://mapi.co.kr/zb41pl7/bbs/data/mapi_bbs/se...       0            0
6  http://indianethicalhacker.blackapplehost.com/...       0            0
7       http://theresahackforthat.webs.com/shell.php       0            0
8               http://www.ecofilms.gr/search_gr.asp       0            0
9                     http://mmx1.webs.com/shell.php       0            0

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: 'webshells'
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o getshells => webshells
    - On the column type: 
    - On the column name:
        o URL => url
        o online => status
        o lastChecked => lastchecked
    - Add required columns:
        o attacktype = "GET"
    - Split columns:
        o

### Modifying table: 'getshells'

In [54]:
### Loading the column converting columns with predefined functions
df_webshells = pd.read_csv(read_inserted_table(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

###Changing names of columns
df_webshells.rename(columns = {'URL': 'url',
                               'online': 'status',
                               'lastChecked': 'lastchecked'},
                         inplace=True)

##Creating empty columns (with "" [for future string] or np.nan [for future float])
df_webshells['attacktype'] = "GET"

###Showing some lines after adapt the table
df_webshells.head(10)

,url,status,lastchecked,attacktype
0,http://feeds2.feedburner.com/alivingtruth/DRwH,0,0,GET
1,http://d-dos.50webs.com/ddos.php,0,0,GET
2,http://belakshell.50webs.com/index.php,0,0,GET
3,http://reksa.indonesianhacker.com/php_dos/,0,0,GET
4,http://yogeshmehra1987.110mb.com/index.php,0,0,GET
5,http://kala13.110mb.com/dos/,0,0,GET
6,http://urmybest.110mb.com/phpdos.php,0,0,GET
7,http://urmybest.110mb.com/phpdos.php,0,0,GET
8,http://yogeshmehra1987.110mb.com/index.php,0,0,GET
9,http://firman-mannte.blogspot.com/2011_04_01_a...,0,0,GET

## 6.4. Table: 'logs'

### How this table looks like without modification?

In [24]:
tablename='logs'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

  username              ip  time  port                    date
0  Deceive  174.143.55.236   120    80  09-05-2011 06:57:38 am
1  Deceive    71.85.210.57    10    80  09-05-2011 06:58:47 am
2  Deceive    71.85.210.57    30    80  09-05-2011 07:02:59 am
3  Deceive    71.85.210.57    10    80  09-05-2011 07:05:59 am
4  Deceive    71.85.210.57    30    80  09-05-2011 07:10:56 am
5  Deceive   71.85.212.244    30    80  09-06-2011 12:55:50 am
6  MrdoPii   184.27.173.69    30    80  09-06-2011 01:08:06 am
7  MrdoPii    70.95.48.252    30    80  09-06-2011 01:17:43 am
8  MrdoPii   68.231.155.71    30    80  09-06-2011 01:22:05 am
9  MrdoPii      96.2.25.88    30    80  09-06-2011 01:24:32 am

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: attacks
#### Q3: Are there modifications required? 
    - On the table name: 
        o logs => attacks
    - On the column type: 
        o date => datestimetring2datetime()  
    - On the column name:
        o ip => targetip
        o time => duration
    - Add required columns:
        o id
        o userid
        o targeturl
    - Split columns:
        o

### Modifying table: 'logs'

In [40]:
### Loading the column converting columns with predefined functions
df_attacks = pd.read_csv(read_inserted_table(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False,
                       converters = {'date':datetimeampm2datetime})

###Changing names of columns
df_attacks.rename(columns = {'ip': 'targetip',
                                    'time': 'duration'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_attacks['id'] = np.nan
df_attacks['userid'] = np.nan
df_attacks['targeturl'] = ""

###Showing some lines after adapt the table
df_attacks.head(10)

,username,targetip,duration,port,date,id,userid,targeturl
0,Deceive,174.143.55.236,120,80,2011-05-09 06:57:38,NaN,NaN,
1,Deceive,71.85.210.57,10,80,2011-05-09 06:58:47,NaN,NaN,
2,Deceive,71.85.210.57,30,80,2011-05-09 07:02:59,NaN,NaN,
3,Deceive,71.85.210.57,10,80,2011-05-09 07:05:59,NaN,NaN,
4,Deceive,71.85.210.57,30,80,2011-05-09 07:10:56,NaN,NaN,
5,Deceive,71.85.212.244,30,80,2011-06-09 00:55:50,NaN,NaN,
6,MrdoPii,184.27.173.69,30,80,2011-06-09 01:08:06,NaN,NaN,
7,MrdoPii,70.95.48.252,30,80,2011-06-09 01:17:43,NaN,NaN,
8,MrdoPii,68.231.155.71,30,80,2011-06-09 01:22:05,NaN,NaN,
9,MrdoPii,96.2.25.88,30,80,2011-06-09 01:24:32,NaN,NaN,

## 6.5 Table: 'memberships'

### How this table looks like without modification?

In [41]:
tablename='memberships'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,id,title,description,price,days,period,trial,recurring,private,active
0,10,3 Months Gold,3 Months to Gold Access.,25.0,3,M,0,1,0,1
1,9,3 Months Gold,3 Months to Gold Access.,25.0,3,M,0,1,0,1
2,8,1 Month Gold,1 Month to Gold Access.,15.0,1,M,0,1,0,1
3,6,24 Hour Trial,24 Hours to Gold Access.,2.0,1,D,0,1,0,1
4,7,1 Week Gold,1 Week to Gold Access.,6.5,1,W,0,1,0,1

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: plans
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o memberships => plans
    - On the column type: 
    - On the column name:
        o id => planid
        o title => planname 
        o description => plandescr
        o recurring => concurrecy
    - Add required columns:
        o maxboottime 
    - Split columns:
        o

### Modifying table: 'memberships'

In [43]:
### Loading the column converting columns with predefined functions
df_plans = pd.read_csv(read_inserted_table(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

###Changing names of columns
df_plans.rename(columns = {'id': 'planid',
                                    'title': 'planname',
                           'description':'plandescr',
                          'recurring':'concurrency'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_plans['maxboottime'] = np.nan

###Showing some lines after adapt the table
df_plans.head(10)

,planid,planname,plandescr,price,days,period,trial,concurrency,private,active,maxboottime
0,10,3 Months Gold,3 Months to Gold Access.,25.0,3,M,0,1,0,1,NaN
1,9,3 Months Gold,3 Months to Gold Access.,25.0,3,M,0,1,0,1,NaN
2,8,1 Month Gold,1 Month to Gold Access.,15.0,1,M,0,1,0,1,NaN
3,6,24 Hour Trial,24 Hours to Gold Access.,2.0,1,D,0,1,0,1,NaN
4,7,1 Week Gold,1 Week to Gold Access.,6.5,1,W,0,1,0,1,NaN

## 6.6. Table: 'news'

### How this table looks like without modification?

In [44]:
tablename='news'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,id,title,body,author,created,active
0,1,Welcome to our Client Area!,0x266c743b702667743b57652061726520706c65617365...,Administrator,2011-07-10,1

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o    
    - On the column name:
        o  
    - Add required columns:
        o 
    - Split columns:
        o

## 6.7. Table: 'payments'

### How this table looks like without modification?

In [45]:
tablename='payments'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,id,txn_id,membership_id,user_id,rate_amount,currency,date,pp,ip,status
0,1,NaN,2,1,5.0,CAD,2011-04-05 14:12:32,PayPal,NaN,1
1,2,NaN,2,2,5.0,CAD,2011-03-12 14:12:32,PayPal,NaN,0
2,3,NaN,3,3,10.0,CAD,2011-03-05 16:47:36,MoneyBookers,NaN,1

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: payments
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o date => datetimetillsecondstring2datetime()
        
    - On the column name:
        o user_id => userid  
        o rate_amount => amountpaid  
        o membership_id => planid
        o txn_id => tid
    - Add required columns:
        o username
        o paymentemail
    - Split columns:
        o

### Modifying table: 'memberships'

In [51]:
### Loading the column converting columns with predefined functions
df_payments = pd.read_csv(read_inserted_table(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False,
                         converters = {'date':datetimeinvertedstring2datetime})

###Changing names of columns
df_payments.rename(columns = {'user_id': 'userid',
                                    'rate_amount': 'amountpaid',
                           'membership_id':'planid',
                          'txn_id':'tid'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_payments['username'] = ""
df_payments['paymentemail'] = ""

###Showing some lines after adapt the table
df_payments.head(10)

,id,tid,planid,userid,amountpaid,currency,date,pp,ip,status,username,paymentemail
0,1,NaN,2,1,5.0,CAD,2011-04-05 14:12:32,PayPal,NaN,1,,
1,2,NaN,2,2,5.0,CAD,2011-03-12 14:12:32,PayPal,NaN,0,,
2,3,NaN,3,3,10.0,CAD,2011-03-05 16:47:36,MoneyBookers,NaN,1,,

## 6.8. Table: 'postshells'

### How this table looks like without modification?

In [52]:
tablename='postshells'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

                                                 URL  online  lastChecked
0     http://feeds2.feedburner.com/alivingtruth/DRwH       0            0
1                   http://d-dos.50webs.com/ddos.php       0            0
2             http://belakshell.50webs.com/index.php       0            0
3         http://reksa.indonesianhacker.com/php_dos/       0            0
4         http://yogeshmehra1987.110mb.com/index.php       0            0
5                       http://kala13.110mb.com/dos/       0            0
6               http://urmybest.110mb.com/phpdos.php       0            0
7              http://urmybest.110mb.com/phpdos.php        0            0
8        http://yogeshmehra1987.110mb.com/index.php        0            0
9  http://firman-mannte.blogspot.com/2011_04_01_a...       0            0

#### Q1: Is this table different from other previous loaded table? YES, although very similar APPEND!!!!
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: webshells
#### Q3: Are there modifications required? 
    - On the table name: 
        o postshells => webshells2 THEN append with webshell
    - On the column type: 
        o    
    - On the column name:
        o URL => url
        o online => status
        o lastChecked => lastchecked 
    - Add required columns:
        o id
        o attacktype = 'POST'
    - Split columns:
        o

### Modifying table: 'postshells'

In [56]:
### Loading the column converting columns with predefined functions
df_webshells2 = pd.read_csv(read_inserted_table(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

###Changing names of columns
df_webshells2.rename(columns = {'URL': 'url',
                               'online': 'status',
                               'lastChecked': 'lastchecked'},
                         inplace=True)

##Creating empty columns (with "" [for future string] or np.nan [for future float])
df_webshells2['attacktype'] = "POST"

###Showing some lines after adapt the table
df_webshells2.head(10)

,url,status,lastchecked,attacktype
0,http://feeds2.feedburner.com/alivingtruth/DRwH,0,0,POST
1,http://d-dos.50webs.com/ddos.php,0,0,POST
2,http://belakshell.50webs.com/index.php,0,0,POST
3,http://reksa.indonesianhacker.com/php_dos/,0,0,POST
4,http://yogeshmehra1987.110mb.com/index.php,0,0,POST
5,http://kala13.110mb.com/dos/,0,0,POST
6,http://urmybest.110mb.com/phpdos.php,0,0,POST
7,http://urmybest.110mb.com/phpdos.php,0,0,POST
8,http://yogeshmehra1987.110mb.com/index.php,0,0,POST
9,http://firman-mannte.blogspot.com/2011_04_01_a...,0,0,POST

In [63]:
df_webshells = df_webshells.append(df_webshells2)

## 6.9. Table: 'settings'

### How this table looks like without modification?

In [64]:
tablename='settings'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,site_name,site_email,site_url,reg_allowed,user_limit,reg_verify,notify_admin,auto_verify,user_perpage,thumb_w,thumb_h,backup,currency,cur_symbol,mailer,smtp_host,smtp_user,smtp_pass,smtp_port,version
0,Legion Booter,legionbooter@hotmail.com,http://legionbooter.info,1,0,1,0,1,10,80,100,NaN,CAD,$,PHP,NaN,NaN,NaN,0,2.0

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: settings
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o    
    - On the column name:
        o site_url => url 
        o site_name =>sitename
        o site_email => siteemail
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'settings'

In [68]:
### Loading the column converting columns with predefined functions
df_settings = pd.read_csv(read_inserted_table(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

###Changing names of columns
df_settings.rename(columns = {'site_url': 'url',
                              'site_name':'sitename',
                              'site_email': 'siteemail'},
                         inplace=True)

###Showing some lines after adapt the table
df_settings.head(10)

,id,username,password,membership_id,mem_expire,trial_used,email,fname,lname,token,newsletter,userlevel,created,lastlogin,lastip,avatar,active,myAttacks
0,10,Deceive,a9136c70f7062283456ee7ddb679a699a0acf5c5,9,2011-12-05 00:55:35,0,legionbooter@hotmail.com,Web,Master,0,0,9,2011-09-05 05:47:36,2011-09-06 00:50:25,71.85.212.244,NaN,y,6.0
1,2,DanesxD,f24d94daafa069eef94a9b3e4636113c0145f4ff,6,2011-09-06 22:05:11,0,danes@hotmail.com,Dane,Roro,0,0,9,2011-09-05 22:05:11,2011-09-05 22:07:29,24.234.194.205,NaN,y,NaN
2,3,MrdoPii,af8b443e6898bcf8d41e3fd61fe674b75379c3c3,8,2011-10-06 00:51:57,0,jcorrna@yahoo.com,Andy,Linares,0,0,1,2011-09-06 00:51:57,2011-09-06 04:29:29,174.48.5.85,NaN,y,22.0
3,1,test,3c37f78b94ca21941b902ffb0a67143fc4373ae5,9,2011-12-05 13:09:35,0,benlove94@hotmail.co.uk,Ben,Love,ed67a12f7c24b47b77bfff6b538005c476b028d8,0,9,2011-09-06 12:53:37,2011-09-06 12:56:37,86.162.152.46,NaN,y,NaN
4,5,Orgy,9d74d4e49cd7a1fb862a69cbbb6f3cc896a9984b,9,0000-00-00 00:00:00,0,rrawbb@gmail.com,ORGY,LOL,0,0,9,2011-09-06 12:53:46,2011-09-06 12:55:46,173.93.199.231,NaN,y,NaN

## 6.10. Table: 'users'

### How this table looks like without modification?

In [69]:
tablename='users'

pd.read_csv(read_inserted_table(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(10)

,id,username,password,membership_id,mem_expire,trial_used,email,fname,lname,token,newsletter,userlevel,created,lastlogin,lastip,avatar,active,myAttacks
0,10,Deceive,a9136c70f7062283456ee7ddb679a699a0acf5c5,9,2011-12-05 00:55:35,0,legionbooter@hotmail.com,Web,Master,0,0,9,2011-09-05 05:47:36,2011-09-06 00:50:25,71.85.212.244,NaN,y,6.0
1,2,DanesxD,f24d94daafa069eef94a9b3e4636113c0145f4ff,6,2011-09-06 22:05:11,0,danes@hotmail.com,Dane,Roro,0,0,9,2011-09-05 22:05:11,2011-09-05 22:07:29,24.234.194.205,NaN,y,NaN
2,3,MrdoPii,af8b443e6898bcf8d41e3fd61fe674b75379c3c3,8,2011-10-06 00:51:57,0,jcorrna@yahoo.com,Andy,Linares,0,0,1,2011-09-06 00:51:57,2011-09-06 04:29:29,174.48.5.85,NaN,y,22.0
3,1,test,3c37f78b94ca21941b902ffb0a67143fc4373ae5,9,2011-12-05 13:09:35,0,benlove94@hotmail.co.uk,Ben,Love,ed67a12f7c24b47b77bfff6b538005c476b028d8,0,9,2011-09-06 12:53:37,2011-09-06 12:56:37,86.162.152.46,NaN,y,NaN
4,5,Orgy,9d74d4e49cd7a1fb862a69cbbb6f3cc896a9984b,9,0000-00-00 00:00:00,0,rrawbb@gmail.com,ORGY,LOL,0,0,9,2011-09-06 12:53:46,2011-09-06 12:55:46,173.93.199.231,NaN,y,NaN

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: users
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o mem_expire => datetimestringinverted2datetime 
        o lastlogin => datetimestringinverted2datetime
    - On the column name:
        o id => userid
        o email => useremail 
        o mem_expire => expire
        o membership_id => planid
    - Add required columns:
        o 
    - Split columns:
        o 
        
    - Split columns to create new table:
    df_logins = df_users[['userid','username','lastlogin','lastip']]
    then change:
    lastlogin => date
    lastip => userip

### Modifying table: 'users'

In [76]:
### Loading the column converting columns with predefined functions
df_users = pd.read_csv(read_inserted_table(dumpfile, tablename),
                                delimiter=",",
                                error_bad_lines=False)

###Changing names of columns
df_users.rename(columns = {'id': 'userid',
                          'email': 'useremail',
                          'mem_expire': 'expire',
                          'membership_id': 'planid'},
                         inplace=True)

###Showing some lines after adapt the table
df_users.head(10)

,userid,username,password,planid,expire,trial_used,useremail,fname,lname,token,newsletter,userlevel,created,lastlogin,lastip,avatar,active,myAttacks
0,10,Deceive,a9136c70f7062283456ee7ddb679a699a0acf5c5,9,2011-12-05 00:55:35,0,legionbooter@hotmail.com,Web,Master,0,0,9,2011-09-05 05:47:36,2011-09-06 00:50:25,71.85.212.244,NaN,y,6.0
1,2,DanesxD,f24d94daafa069eef94a9b3e4636113c0145f4ff,6,2011-09-06 22:05:11,0,danes@hotmail.com,Dane,Roro,0,0,9,2011-09-05 22:05:11,2011-09-05 22:07:29,24.234.194.205,NaN,y,NaN
2,3,MrdoPii,af8b443e6898bcf8d41e3fd61fe674b75379c3c3,8,2011-10-06 00:51:57,0,jcorrna@yahoo.com,Andy,Linares,0,0,1,2011-09-06 00:51:57,2011-09-06 04:29:29,174.48.5.85,NaN,y,22.0
3,1,test,3c37f78b94ca21941b902ffb0a67143fc4373ae5,9,2011-12-05 13:09:35,0,benlove94@hotmail.co.uk,Ben,Love,ed67a12f7c24b47b77bfff6b538005c476b028d8,0,9,2011-09-06 12:53:37,2011-09-06 12:56:37,86.162.152.46,NaN,y,NaN
4,5,Orgy,9d74d4e49cd7a1fb862a69cbbb6f3cc896a9984b,9,0000-00-00 00:00:00,0,rrawbb@gmail.com,ORGY,LOL,0,0,9,2011-09-06 12:53:46,2011-09-06 12:55:46,173.93.199.231,NaN,y,NaN

<h2 align='center'>======================================================================
<br>Final step of the manual part
======================================================================</h2>

## 7. Adding missing tables accordingly to our generic Booter database

In [77]:
# df_attacks= pd.DataFrame(columns=['id','userid','username','targetip','targeturl','duration','port','type','date'])
df_blacklist=pd.DataFrame(columns=['id','ip','note'])
df_friendsenemies=pd.DataFrame(columns=['id','ip','note','userid','type'])
# df_gateways=pd.DataFrame(columns=['email'])
df_logins=pd.DataFrame(columns=['id','userid','username','userip','date'])
# df_payments=pd.DataFrame(columns=['id','userid','username','amountpaid','paymentemail','planid','tid','date'])
# df_plans=pd.DataFrame(columns=['planid','planname','plandescr','price','maxboottime','concurrency'])
df_servers=pd.DataFrame(columns=['id','ip'])
# df_settings=pd.DataFrame(columns=['url','sitename','siteemail'])
# df_users=pd.DataFrame(columns=['userid','username','useremail','password','expire','plan'])      
# df_webshells=pd.DataFrame(columns=['id','url','status','lastchecked','attacktype'])

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 2: Data Enrichment<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

### * Depending of the size of the data, this part can take HOURS. I tested for both small and big datasets and it worked. Be pacient. This will pay-off!

## * Libraries needed to retrieve information from external databases

In [ ]:
import subprocess
import cfscrape
from lxml import etree
import os.path
import random
import time

## * Function to enrich IP addresseswith AS information and country

In [ ]:
# THANKS TO: team-cymru.org
def iptoasn(iplist_teamcymruformat_filelocation,outputfile):
    cat = subprocess.Popen(['cat', iplist_teamcymruformat_filelocation], 
                            stdout=subprocess.PIPE)
    
    netcat = subprocess.Popen(['netcat', 'whois.cymru.com', '43'],
                              stdin=cat.stdout,
                              stdout=outputfile)
    time.sleep(3) #for some reason the poll does not work! This was the way to overcome the waiting time.
    
    return netcat.stdout

## * Function to check if an IP address was Tor node in a given moment

In [ ]:
# THANKS TO: exonerator.torproject.org
def WasTorNode(ip, date ):
    url="https://exonerator.torproject.org/?ip="+ip+"&timestamp="+date
    scraper = cfscrape.create_scraper()
    scraped_html=scraper.get(url).content    
    html_tree = etree.HTML(scraped_html)
    result=html_tree.xpath("//h3[@class='panel-title']/text()") # I was looking for <h3 class="panel-title">Result is positive</h3>
    tor_node=True if result == ['Result is positive'] else False
    return tor_node 
# 'date' MUST BE formated as: Year-month-day (2016-03-31)

## * Discovering the middle date of the database

In [ ]:
try:
    try:
        middle_date=(min(df_attacks['date'])+((max(df_attacks['date'])-min(df_attacks['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_logins['date'])+((max(df_logins['date'])-min(df_logins['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_payments['date'])+((max(df_payments['date'])-min(df_payments['date']))/2))
        raise
    except:
        pass
except Exception:
    print("There is no date in the entire dataset")

date_tor_check = middle_date.strftime('%Y-%m-%d')
date_iptoasn_lookup= str(middle_date)
print(date_tor_check)

## * Preparing to Perform IP to ASN info

In [ ]:
df_logins['middledate']=date_iptoasn_lookup
df_attacks['middledate']=date_iptoasn_lookup
df_friendsenemies['middledate']=date_iptoasn_lookup
df_blacklist['middledate']=date_iptoasn_lookup

## 2.1.1  Lookup IP to ASN info of table: logins

In [ ]:
if (os.path.exists('enrichments/logins_iptoasn_out')== False):
    logins_iptoasn_in = open('enrichments/logins_iptoasn_in', 'w+')
    logins_iptoasn_in.write('begin\nverbose\n')
    df_logins[['userip','middledate']].drop_duplicates().to_csv(logins_iptoasn_in,header=False,index=False,sep="\t") 
    logins_iptoasn_in.write('end')
    logins_iptoasn_in.close()

    logins_iptoasn_out = open('logins_iptoasn_out', 'w+')
    iptoasn('logins_iptoasn_in',logins_iptoasn_out)
    logins_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_logins_iptoasn = pd.read_csv('enrichments/logins_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

df_logins_extended= pd.merge(df_logins,
                              df_logins_iptoasn,
                              how = 'left',
                              left_on = 'userip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_logins_extended.rename(columns={'asn':'srcasn', 
                                   'ip':'srcip', 
                                   'bgp_prefix':'srcbgp_prefix', 
                                   'country':'srccountry' ,
                                   'registry':'srcregistry',
                                   'info_date':'srcinfo_date',
                                   'info_request':'srcinfo_request'},
                         inplace=True)


df_logins_extended.head(5)

## 2.1.2  Lookup IP to ASN info of table: attacks

In [ ]:
if (os.path.exists('enrichments/attacks_iptoasn_out')== False):
    attacks_iptoasn_in = open('enrichments/attacks_iptoasn_in', 'w+')
    attacks_iptoasn_in.write('begin\nverbose\n')
    df_attacks[['targetip','middledate']].drop_duplicates().to_csv(attacks_iptoasn_in,header=False,index=False,sep="\t") 
    attacks_iptoasn_in.write('end')
    attacks_iptoasn_in.close()

    attacks_iptoasn_out = open('attacks_iptoasn_out', 'w+')
    iptoasn('attacks_iptoasn_in',attacks_iptoasn_out)
    attacks_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_attacks_iptoasn = pd.read_csv('enrichments/attacks_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_attacks_extended= pd.merge(df_attacks,
                              df_attacks_iptoasn,
                              how = 'left',
                              left_on = 'targetip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_attacks_extended.rename(columns={'asn':'targetasn', 
                                   'ip_y':'targetip', 
                                   'bgp_prefix':'targetbgp_prefix', 
                                   'country_y':'targetcountry' ,
                                   'registry':'targetregistry',
                                   'info_date':'targetinfo_date',
                                   'info_request':'targetinfo_request'},
                         inplace=True)
df_attacks_extended.head(5)

## 2.1.3  Lookup IP to ASN info of table: friendsenemies

In [ ]:
if (os.path.exists('enrichments/friendsenemies_iptoasn_out')== False):
    friendsenemies_iptoasn_in = open('enrichments/friendsenemies_iptoasn_in', 'w+')
    friendsenemies_iptoasn_in.write('begin\nverbose\n')
    df_friendsenemies[['ip','middledate']].drop_duplicates().to_csv(friendsenemies_iptoasn_in,header=False,index=False,sep="\t") 
    friendsenemies_iptoasn_in.write('end')
    friendsenemies_iptoasn_in.close()

    friendsenemies_iptoasn_out = open('friendsenemies_iptoasn_out', 'w+')
    iptoasn('friendsenemies_iptoasn_in',friendsenemies_iptoasn_out)
    friendsenemies_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_friendsenemies_iptoasn = pd.read_csv('enrichments/friendsenemies_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_friendsenemies_extended= pd.merge(df_friendsenemies,
                              df_friendsenemies_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_friendsenemies_extended.rename(columns={'asn':'friendsenemiesasn', 
                                   'ip':'friendsenemiesip', 
                                   'bgp_prefix':'friendsenemiesbgp_prefix', 
                                   'country':'friendsenemiescountry' ,
                                   'registry':'friendsenemiesregistry',
                                   'info_date':'friendsenemiesinfo_date',
                                   'info_request':'friendsenemiesinfo_request',
                                   'as_name': 'friendsenemiesas_name'},
                         inplace=True)

## 2.1.4  Lookup IP to ASN info of table: blacklist

In [ ]:
if (os.path.exists('enrichments/blacklist_iptoasn_out')== False):
    blacklist_iptoasn_in = open('enrichments/blacklist_iptoasn_in', 'w+')
    blacklist_iptoasn_in.write('begin\nverbose\n')
    df_blacklist[['ip','middledate']].drop_duplicates().to_csv(blacklist_iptoasn_in,header=False,index=False,sep="\t") 
    blacklist_iptoasn_in.write('end')
    blacklist_iptoasn_in.close()

    blacklist_iptoasn_out = open('blacklist_iptoasn_out', 'w+')
    iptoasn('blacklist_iptoasn_in',blacklist_iptoasn_out)
    blacklist_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_blacklist_iptoasn = pd.read_csv('enrichments/blacklist_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_blacklist_extended= pd.merge(df_blacklist,
                              df_blacklist_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_blacklist_extended.rename(columns={'asn':'blacklistasn', 
                                   'ip':'blacklistip', 
                                   'bgp_prefix':'blacklistbgp_prefix', 
                                   'country':'blacklistcountry' ,
                                   'registry':'blacklistregistry',
                                   'info_date':'blacklistinfo_date',
                                   'info_request':'blacklistinfo_request',
                                   'as_name': 'blacklistas_name'},
                         inplace=True)
df_blacklist_extended.head(5)

## 2.2.1. Check if IP was a TOR node for table: login

In [ ]:
date_tor_check

In [ ]:
if len(df_logins['userip'].unique())<1200:
    if (os.path.exists('enrichments/logins_torcheck')== False):
        print("Note: it can take a while to finish...")
        logins_torcheck = open('logins_torcheck', 'w+')
        for i in df_logins['userip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=logins_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            logins_torcheck.flush()

        logins_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.")
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_logins_torcheck = pd.read_csv('enrichments/logins_torcheck',\
                          delimiter="\s+",\
                          names = ['userip', 'tor'])

## 2.2.2. Check if IP was a TOR node for table: attacks

In [ ]:
if len(df_attacks['targetip'].unique())<1200:
    if (os.path.exists('enrichments/attacks_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_attacks['targetip'].unique())*3,"seconds (in the worst case).")

        attacks_torcheck = open('attacks_torcheck', 'w+')

        for i in df_attacks['targetip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=attacks_torcheck)
            print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            attacks_torcheck.flush()

        attacks_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_attacks_torcheck = pd.read_csv('enrichments/attacks_torcheck',\
                          delimiter="\s+",\
                          names = ['targetip', 'tor'])

## 2.2.3. Check if IP was a TOR node for table: friendsenemies

In [ ]:
if len(df_friendsenemies['ip'].unique()) <1200:
    if (os.path.exists('enrichments/friendsenemies_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_friendsenemies['ip'].unique())*3,"seconds (in the worst case).")

        friendsenemies_torcheck = open('enrichments/friendsenemies_torcheck', 'w+')

        for i in df_friendsenemies['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=friendsenemies_torcheck)
        #     print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            friendsenemies_torcheck.flush()

        friendsenemies_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_friendsenemies_torcheck = pd.read_csv('enrichments/friendsenemies_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## 2.2.4. Check if IP was a TOR node for table: blacklist

In [ ]:
if len(df_blacklist['ip'].unique()) < 1200:
    if (os.path.exists('enrichments/blacklist_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_blacklist['ip'].unique())*3,"seconds (in the worst case).")

        blacklist_torcheck = open('enrichments/blacklist_torcheck', 'w+')

        for i in df_blacklist['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=blacklist_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            blacklist_torcheck.flush()

        blacklist_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_blacklist_torcheck = pd.read_csv('enrichments/blacklist_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## * Relation between Attack dates and Login dates

In [ ]:
def nearestDate(base_date, date_list):
    nearest={}
    for date in date_list:
        if (base_date.timestamp() - date.timestamp())>=0:
            nearest[base_date.timestamp() - date.timestamp()]= date
    return nearest[min(nearest.keys())]

In [ ]:
#This is the TOTAL number records to be checks!!!!
len(df_attacks)

In [ ]:
df_attacks['nearestlogin']=""
df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])
    
if len(df_attacks)>0 and len(df_logins)>0:
    #When was the last login of the user that performed attacks
    df_attacks['nearestlogin']=""
    df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])

    for index, row in df_attacks.head(100).iterrows():
        intermediate_df= df_logins[df_logins['username']==row['username']]
        nearestlogindate= nearestDate(row['date'],intermediate_df['date'])
        df_attacks.set_value(index, 'nearestlogin', nearestlogindate)

        #DEBUGGING
        if index % 1000 == 0:
            print(index,": +1000 records analysed")

In [ ]:
if len(df_attacks['nearestlogin'].value_counts()) >1:
    df_attacks_and_logins = pd.merge(df_attacks_extended,
                                     df_logins_extended,
                                     how = 'left',
                                     left_on = ['username','nearestlogin'],
                                     right_on = ['username','date'])
else:
    df_attacks_and_logins=""

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 3: Automatic Analysis
<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>

## * Libraries that I use to plot figs

In [ ]:
import matplotlib.pyplot as plt
from matplotlib_venn import *
%matplotlib inline

import seaborn as sns
import itertools

plt.style.use('seaborn-muted')
# plt.rcParams['font.family'] = 'serif'
# plt.rcParams['font.size'] = 12

import warnings
warnings.filterwarnings('ignore')

## A.1. Number of records per table (part of the generic Booter database schema)

In [ ]:
len(df_users),len(df_logins),len(df_attacks),len(df_payments),len(df_settings),len(df_gateways), len(df_friendsenemies),len(df_blacklist),len(df_webshells),len(df_servers),len(df_plans)

## A.2. Number of users, customers, attackers, and their intersection

In [ ]:
if len(set(df_users['userid'].unique())) > 1:
    users_set=set(df_users['userid'].unique())
else:
    users_set=set(df_users['username'].unique())
    
if len(set(df_logins['userid'].unique())) > 1:
    userslogin_set=set(df_logins['userid'].unique())
else:
    userslogin_set=set(df_logins['username'].unique())

if len(set(df_payments['userid'].unique())) > 1:
    customers_set=set(df_payments['userid'].unique())
else:
    customers_set=set(df_payments['username'].unique())

if len(set(df_attacks['userid'].unique())) > 1:
    attackers_set=set(df_attacks['userid'].unique())
else:
    attackers_set=set(df_attacks['username'].unique())

intersec_customers_attacker=pd.Series(list(customers_set.intersection(attackers_set)))
intersec_users_customers=pd.Series(list(users_set.intersection(customers_set)))
intersec_users_attackers=pd.Series(list(users_set.intersection(attackers_set)))
intersec_users_customers_attackers=pd.Series(list(users_set.intersection(customers_set).intersection(attackers_set)))

In [ ]:
len(users_set),len(userslogin_set),len(customers_set),len(attackers_set)

In [ ]:
fig = plt.figure(figsize=(4,3))
fig.suptitle('Users, Customers & Attackers', fontsize=14)

ax = plt.subplot2grid((1,1), (0,0))

venn=venn3(ax=ax,subsets = {'001':len(attackers_set)-len(intersec_customers_attacker)-len(intersec_users_attackers)+len(intersec_users_customers_attackers), 
                            '010':len(customers_set)-len(intersec_users_customers)-len(intersec_customers_attacker)+len(intersec_users_customers_attackers), 
                            '011':len(intersec_customers_attacker)-len(intersec_users_customers_attackers),
                            '100':len(users_set)-len(intersec_users_customers)-len(intersec_users_attackers)+len(intersec_users_customers_attackers),
                            '101':len(intersec_users_attackers)-len(intersec_users_customers_attackers),
                            '110':len(intersec_users_customers)-len(intersec_users_customers_attackers),
                            '111':len(intersec_users_customers_attackers)},\
          set_labels = ('Users', 'Customers','Attackers'),\
          alpha=1)
try:
    venn.get_patch_by_id('100').set_color('#404096')
except:
    print("*Users set is empty!")  
    
try:
    venn.get_patch_by_id('110').set_color('#DEA73A')
except:
    print("*Customers set is empty!")   

try:
    venn.get_patch_by_id('001').set_color('#D92120')
except:
    print("*Attackers set is empty!")

fig.show()
# fig.savefig('../figs/timeseries_attacks.eps', format='eps', dpi=1200)

## A.3. Distribution of login times per user

In [ ]:
if len(df_logins['userid'].value_counts()) > 0:
    num_distinct_logins_per_user=df_logins['userid'].value_counts()
else:
    num_distinct_logins_per_user=df_logins['username'].value_counts()

freq_distinct_logins_per_user=num_distinct_logins_per_user.value_counts()
cum_dist_user_logins = np.linspace(0.,1.,len(num_distinct_logins_per_user))
cdf_user_logins = pd.Series(cum_dist_user_logins, index=num_distinct_logins_per_user.sort_values())

In [ ]:
if len(num_distinct_logins_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Login Times by Users:', fontsize=14, y=1.05,x=0.35)
    
    #Plot CDF
    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_logins.plot(ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# logins")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    ax1.set_title("")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_logins_per_user.plot(ax=ax2,kind='pie', 
                                       labels=None, 
                                       legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    
    
    
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_logins_per_user.values)/(freq_distinct_logins_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_logins_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/login_times.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.3. Number of Users that Login via TOR

In [ ]:
len(df_logins_torcheck[df_logins_torcheck['tor']==True]['userip'].value_counts())

## 5.4. Number of Distinct IP addresses by Users

In [ ]:
if len(df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()) >0:
    num_distinct_ips_per_user=df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()
else:
    num_distinct_ips_per_user=df_logins.groupby(['username','userip']).size().reset_index()['username'].value_counts()
    
freq_distinct_ips_per_user=num_distinct_ips_per_user.value_counts()
cum_dist_user_ips = np.linspace(0.,1.,len(num_distinct_ips_per_user))
cdf_user_ips = pd.Series(cum_dist_user_ips, index=num_distinct_ips_per_user.sort_values())

In [ ]:
if len(num_distinct_ips_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Distinct IP address used by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_ips.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_ips_per_user.plot(ax=ax2,kind='pie',
                                    labels=None,legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_ips_per_user.values)/(freq_distinct_ips_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_ips_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/num_ips_by_users.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.5. Number of Payments by Users

In [ ]:
if len(df_payments['userid'].value_counts())>0:
    num_distinct_payments_per_user=df_payments['userid'].value_counts()
else:
    num_distinct_payments_per_user=df_payments['username'].value_counts()

freq_distinct_payments_per_user=num_distinct_payments_per_user.value_counts()
cum_dist_user_payments = np.linspace(0.,1.,len(num_distinct_payments_per_user))
cdf_user_payments = pd.Series(cum_dist_user_payments, index=num_distinct_payments_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Number of Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# Payment")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_per_user.plot(ax=ax2,kind='pie', 
                                         labels=None,legend=False,
                                         startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_per_user.values)/(freq_distinct_payments_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/payments_distribution.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.6. Total Amount of Money Earned

In [ ]:
if len(df_payments['amountpaid']) >0:
    total_earned=df_payments['amountpaid'].values.sum()
    'US$ {:,.2f}'.format(float(total_earned))
else:
    print("Unfortunately, there is no data available!")

## 5.7. Amount of Money Paid by Users

In [ ]:
num_distinct_payments_money_per_user=df_payments['amountpaid'].value_counts()
freq_distinct_payments_money_per_user=num_distinct_payments_money_per_user.value_counts()
cum_dist_user_payments_money = np.linspace(0.,1.,len(num_distinct_payments_money_per_user))
cdf_user_payments_money = pd.Series(cum_dist_user_payments_money, index=num_distinct_payments_money_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_money_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Money Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments_money.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("$")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_money_per_user.plot(ax=ax2,kind='pie', 
                                               labels=None,legend=False,
                                               startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_money_per_user.values)/(freq_distinct_payments_money_per_user.values.sum())
    labels = ['${0:1.2f} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_money_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.6, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/distribution_amount_paid.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.8. Countries from where Users Access Booters

In [ ]:
logins_country_distribution_sorted = df_logins_iptoasn['country'].value_counts(sort=True,ascending=True)
logins_country_distribution = df_logins_iptoasn['country'].value_counts()

In [ ]:
if len(logins_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Users Accessing from Countries:', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    logins_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    logins_country_distribution.plot(ax=ax2,kind='pie', 
                                     labels=None,legend=False,
                                     startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*logins_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(logins_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/user_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.9. Countries of Blacklisted IPs

In [ ]:
blacklist_country_distribution=df_blacklist_iptoasn['country'].value_counts()
blacklist_country_distribution_sorted=df_blacklist_iptoasn['country'].value_counts(sort=True,ascending=True)

In [ ]:
if len(blacklist_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of blacklisted IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    blacklist_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    blacklist_country_distribution.plot(ax=ax2,kind='pie', 
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*blacklist_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(blacklist_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/blacklist_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.10. Countries of Target IPs

In [ ]:
attacks_country_distribution=df_attacks_iptoasn['country'].value_counts()

In [ ]:
if len(attacks_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of target IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    attacks_country_distribution.plot(ax=ax1,kind='bar')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    attacks_country_distribution.plot(ax=ax2,kind='pie', 
                                      labels=None,legend=False,
                                      startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*attacks_country_distribution.values)/(attacks_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(attacks_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/attack_countries_distribution.eps',bbox_inches='tight', format='eps', dpi=1200) 
else:
    print("Unfortunately, there is no data available!")

## 5.12. Attacks on Same Target

In [ ]:
num_attacks_on_sametarget=df_attacks['targetip'].value_counts()

freq_num_attacks_on_sametarget=num_attacks_on_sametarget.value_counts()
cum_num_attacks_on_sametarget = np.linspace(0.,1.,len(num_attacks_on_sametarget))
cdf_num_attacks_on_sametarget = pd.Series(cum_num_attacks_on_sametarget, index=num_attacks_on_sametarget.sort_values())

In [ ]:
if len(num_attacks_on_sametarget)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Attacks on Same Targets:', fontsize=14, y=1.05,x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_num_attacks_on_sametarget.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_num_attacks_on_sametarget.plot(ax=ax2,kind='pie',
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_num_attacks_on_sametarget.values)/(freq_num_attacks_on_sametarget.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_num_attacks_on_sametarget.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()

    fig.show()
    fig.savefig('figs/attacks_on_same_target.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.11. Attacks per day (timeseries)

In [ ]:
if len(df_attacks)>0:
    attack_timeseries=df_attacks.set_index(['date']).groupby(pd.TimeGrouper(freq='D')).agg(['count'])['action']
    attack_mean_perday=attack_timeseries.mean()
    attack_median_perday=attack_timeseries.median()
else:
    attack_timeseries=""

In [ ]:
if len(attack_timeseries)>0:
    fig = plt.figure(figsize=(6,3))

    ax1 = plt.subplot2grid((1,1), (0,0), rowspan=2)
    attack_timeseries.plot(ax=ax1,
                           lw=2,
                           legend=False,
    #                        style='--'
                          )

    # X and Y Labels and Ticks
    ax1.set_xlabel("Time (bin=day)")
    ax1.set_ylabel("# Attacks")

    ax1.annotate(str(int(attack_median_perday[0]))+' (median)', 
                 (min(df_attacks['date']), attack_median_perday),
                 xytext=(350, -1), 
                 textcoords='offset points',
                 color='black', 
                 arrowprops=dict(arrowstyle='-|>',
                                 color='black'))
    fig.savefig('figs/attacks_timeseries.eps', bbox_inches='tight',format='eps', dpi=1200)

else:
    print("Unfortunately, there is no data available!")

## 5.12. Time Between Logins and Attacks

In [ ]:
if len(df_attacks_and_logins)>0:
    print("redo")
else:
    print("Unfortunately, there is no data available!")

## 5.13. Who attack whom? (users on the country level)

In [ ]:
if len(df_attacks_extended)>0 and len(df_logins_extended)>0:
    merged_attacks_logins = pd.merge(df_attacks_extended,
                                  df_logins_extended,
                                  how = 'left',
                                  left_on = 'date',
                                  right_on = 'date')[['targetcountry','srccountry']]

    who_against_whom = merged_attacks_logins.groupby(['targetcountry','srccountry'])\
                            .size()\
                            .reset_index()\
                            .pivot('srccountry','targetcountry',0)
else:
    who_against_whom =""

In [ ]:
if len(who_against_whom)>0:
    fig = plt.figure(figsize=(8,12))
    fig.suptitle('Countries of Target IPs', fontsize=14, y=.92)

    ax1 = plt.subplot2grid((1,1), (0,0))
    sns.set()
    sns.heatmap(who_against_whom,
                ax=ax1,
#                 cmap="YlGnBu",
    #             linewidths=.5,
    #             annot=True
                )

    ax1.set_ylabel("Source Country")
    ax1.set_xlabel("Attack Target Country")

    fig.show()
    fig.savefig('figs/who_attack_whom.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

<h1 align="center">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
FIFTH PART: Query Interface<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [ ]:
from ipywidgets import widgets, interact, Dropdown,HTML
from IPython.display import display,clear_output

In [ ]:
def search_by_userid_submit(sender):
    clear_output()
    print("Searching by id =",search_by_userid.value)
    
    if len(df_users[df_users['userid']== int(search_by_userid.value)])>0:
        display(df_users[df_logins['userid']== int(search_by_userid.value)])
    
    if len(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])>0:
        display(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])
    
    if len(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])>0:
        display(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])
    
    if len(df_payments[df_payments['userid']== int(search_by_userid.value)])>0:
        display(df_payments[df_payments['userid']== int(search_by_userid.value)])

def search_by_username_submit(sender):
    clear_output()
    print("Searching by username =",search_by_username.value,"\n")
    
    if len(df_users[df_users['username']== search_by_username.value])>0:
        print("Table df_users:")
        display(df_users[df_users['username']== search_by_username.value])
    
    if len(df_logins_extended[df_logins_extended['username']== search_by_username.value])>0:
        print("Table df_logins:")
        display(df_logins_extended[df_logins_extended['username']== search_by_username.value])

    if len(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])>0:
        print("Table df_attacks:")
        display(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])
    
    if len(df_payments[df_payments['username']== search_by_username.value])>0:
        print("Table df_payments:")
        display(df_payments[df_payments['username']== search_by_username.value])
        
def search_by_ip_submit(sender):
    clear_output()
    print("Searching by IP address =",str(search_by_ip.value),"\n")
    
    if len(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])>0:
        print("Table df_logins (as ATTACKER:")
        display(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])
     
    if len(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])  
      
       
def search_by_asn_submit(sender):
    clear_output()
    print("Searching by Autonomous System Number (ASN) =",search_by_asn.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])
    
    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

        
country_list=pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/master/data.csv',delimiter=",",error_bad_lines=False)
def search_by_country_submit():
    country_code=country_list[country_list['Name']==search_by_country.value]['Code'].values[0]
    clear_output()
    print("Searching by Country =",search_by_country.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srccountry']== country_code])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srccountry']== country_code])
    
    if len(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])

In [ ]:
display(HTML('<h3>*Search by (only) one field per time:</h3>'))

search_by_username = widgets.Text(description="username")
display(search_by_username)
search_by_username.on_submit(search_by_username_submit)

search_by_userid = widgets.Text(description="userid")
display(search_by_userid)
search_by_userid.on_submit(search_by_userid_submit)

search_by_ip = widgets.Text(description="IP")
display(search_by_ip)
search_by_ip.on_submit(search_by_ip_submit)

search_by_asn = widgets.Text(description="ASN")
display(search_by_asn)
search_by_asn.on_submit(search_by_asn_submit)

search_by_country = Dropdown(description="Country", options=country_list['Name'].tolist())
search_by_country.on_trait_change(search_by_country_submit, name="value")
display(search_by_country)