<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
Brief explanation on our Booter database analysis methodology: <br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

# Analysis of: vaporizedbooter
#### File originally retrieved from: http://pastebin.com/ccfdEF2p

## * Libraries that I use to analyse data

In [1]:
import pandas as pd
import numpy as np

from io import StringIO
import re

from IPython.display import display,clear_output

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 0: Reading an input Booter database file<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [2]:
dumpfile='vaporizedbooter.sql'

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 1: Adaptation to our Booter database schema<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

## 1. Reading the first 'N' (100) lines of the input Booter database file

In [3]:
lines_to_read=100

with open(dumpfile) as myfile:
    firstlines=myfile.readlines()[0:lines_to_read] #put here the interval you want
    for x in firstlines:
        print(x.strip())

# Dumped by c999Shell.SQL v. 1.0 pre-release build #16

# Home page: http://ccteam.ru

#

# Host settings:

# MySQL version: (5.1.62-cll) running on 109.163.231.194 (109.163.231.194)

# Date: 03.05.2012 01:44:28

# DB: "vaporize_bootme4"

#---------------------------------------------------------

DROP TABLE IF EXISTS `email_templates`;
CREATE TABLE `email_templates` (
`id` int(5) NOT NULL AUTO_INCREMENT,
`name` varchar(200) NOT NULL,
`subject` varchar(255) NOT NULL,
`help` text,
`body` text,
PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=15 DEFAULT CHARSET=utf8;

INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('1', 'Registration Email', 'Please verify your email', 'This template is used to send Registration Verification Email, when Configuration->Registration Verification is set to YES', '&lt;div align=&quot;center&quot;&gt;
&lt;table cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; width=&quot;600&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Welcome [NAME]! Thanks for registering.&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;Hello,&lt;br /&gt;
&lt;br /&gt;
You&#039;re now a member of [SITE_NAME].&lt;br /&gt;
&lt;br /&gt;
Here are your login details. Please keep them in a safe place:&lt;br /&gt;
&lt;br /&gt;
Username: &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;
Password: &lt;strong&gt;[PASSWORD]&lt;/strong&gt;         &lt;hr /&gt;
The administrator of this site has requested all new accounts&lt;br /&gt;
to be activated by the users who created them thus your account&lt;br /&gt;
is currently inactive. To activate your account,&lt;br /&gt;
please visit the link below and enter the following:&lt;hr /&gt;
Token: &lt;strong&gt;[TOKEN]&lt;/strong&gt;&lt;br /&gt;
Email: &lt;strong&gt;[EMAIL]&lt;/strong&gt;         &lt;hr /&gt;
&lt;a href=&quot;[LINK]&quot;&gt;Click here to activate tour account&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;text-align: left;&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;
[SITE_NAME] Team&lt;br /&gt;
&lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;');
INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('2', 'Forgot Password Email', 'Password Reset', 'This template is used for retrieving lost user password', '&lt;div align=&quot;center&quot;&gt;
&lt;table width=&quot;600&quot; cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;New password reset from [SITE_NAME]!&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;Hello, &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;
&lt;br /&gt;
It seems that you or someone requested a new password for you.&lt;br /&gt;
We have generated a new password, as requested:&lt;br /&gt;
&lt;br /&gt;
Your new password: &lt;strong&gt;[PASSWORD]&lt;/strong&gt;&lt;br /&gt;
&lt;br /&gt;
To use the new password you need to activate it. To do this click the link provided below and login with your new password.&lt;br /&gt;
&lt;a href=&quot;[LINK]&quot;&gt;[LINK]&lt;/a&gt;&lt;br /&gt;
&lt;br /&gt;
You can change your password after you sign in.&lt;hr /&gt;
Password requested from IP: [IP]&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;text-align: left;&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;
[SITE_NAME] Team&lt;br /&gt;
&lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;');
INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('3', 'Welcome Mail From Admin', 'You have been registered', 'This template is used to send welcome email, when user is added by administrator', '&lt;div align=&quot;center&quot;&gt;
&lt;table cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; width=&quot;600&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Welcome [NAME]! You have been Registered.&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;text-align: left;&quot;&gt;Hello,&lt;br /&gt;
&lt;br /&gt;
You&#039;re now a member of [SITE_NAME].&lt;br /&gt;
&lt;br /&gt;
Here are your login details. Please keep them in a safe place:&lt;br /&gt;
&lt;br /&gt;
Username: &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;
Password: &lt;strong&gt;[PASSWORD]&lt;/strong&gt;&lt;/td&gt;

## 2. Listing tables that have content inserted into the dump file

In [4]:
def list_tables_with_insert(dumpfile):
    tables = []
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            if line.lower().startswith('insert'):
                table = re.findall(r'`(.*?)`', line)
                tables.append(table[0])
    return tables

In [5]:
tables=enumerate(list_tables_with_insert(dumpfile))

for i, item in tables:
    print(i+1,item)

1 email_templates
2 email_templates
3 email_templates
4 email_templates
5 email_templates
6 email_templates
7 email_templates
8 email_templates
9 email_templates
10 email_templates
11 email_templates
12 email_templates
13 email_templates
14 gateways
15 gateways
16 getshells
17 getshells
18 getshells
19 getshells
20 getshells
21 getshells
22 getshells
23 getshells
24 getshells
25 getshells
26 getshells
27 getshells
28 getshells
29 getshells
30 getshells
31 getshells
32 getshells
33 getshells
34 getshells
35 getshells
36 getshells
37 getshells
38 getshells
39 getshells
40 getshells
41 getshells
42 getshells
43 getshells
44 getshells
45 getshells
46 getshells
47 getshells
48 getshells
49 getshells
50 getshells
51 getshells
52 getshells
53 getshells
54 getshells
55 getshells
56 getshells
57 getshells
58 getshells
59 getshells
60 getshells
61 getshells
62 getshells
63 getshells
64 getshells
65 getshells
66 getshells
67 getshells
68 getshells
69 getshells
70 getshells
71 getshells
72 getshells
73 getshells
74 getshells
75 getshells
76 getshells
77 getshells
78 getshells
79 getshells
80 getshells
81 getshells
82 getshells
83 getshells
84 getshells
85 getshells
86 getshells
87 getshells
88 getshells
89 getshells
90 getshells
91 getshells
92 getshells
93 getshells
94 getshells
95 getshells
96 getshells
97 getshells
98 getshells
99 getshells
100 getshells
101 getshells
102 getshells
103 getshells
104 getshells
105 getshells
106 getshells
107 getshells
108 getshells
109 getshells
110 getshells
111 getshells
112 getshells
113 getshells
114 getshells
115 getshells
116 getshells
117 getshells
118 getshells
119 getshells
120 getshells
121 getshells
122 getshells
123 getshells
124 getshells
125 getshells
126 getshells
127 getshells
128 getshells
129 getshells
130 getshells
131 getshells
132 getshells
133 getshells
134 getshells
135 getshells
136 getshells
137 getshells
138 getshells
139 getshells
140 getshells
141 getshells
142 getshells
143 getshells
144 getshells
145 getshells
146 getshells
147 getshells
148 getshells
149 getshells
150 getshells
151 getshells
152 getshells
153 getshells
154 getshells
155 getshells
156 getshells
157 getshells
158 getshells
159 getshells
160 getshells
161 getshells
162 getshells
163 getshells
164 getshells
165 getshells
166 getshells
167 getshells
168 getshells
169 getshells
170 getshells
171 getshells
172 getshells
173 getshells
174 getshells
175 getshells
176 getshells
177 getshells
178 getshells
179 getshells
180 getshells
181 getshells
182 getshells
183 getshells
184 getshells
185 getshells
186 getshells
187 getshells
188 getshells
189 getshells
190 getshells
191 getshells
192 getshells
193 getshells
194 getshells
195 getshells
196 getshells
197 getshells
198 getshells
199 getshells
200 getshells
201 getshells
202 getshells
203 getshells
204 getshells
205 getshells
206 getshells
207 getshells
208 getshells
209 getshells
210 getshells
211 getshells
212 getshells
213 getshells
214 getshells
215 getshells
216 getshells
217 getshells
218 getshells
219 getshells
220 getshells
221 getshells
222 getshells
223 getshells
224 getshells
225 logs
226 logs
227 logs
228 logs
229 logs
230 logs
231 logs
232 logs
233 logs
234 logs
235 logs
236 logs
237 logs
238 logs
239 logs
240 logs
241 logs
242 logs
243 logs
244 logs
245 logs
246 logs
247 logs
248 logs
249 logs
250 logs
251 logs
252 logs
253 logs
254 logs
255 logs
256 logs
257 logs
258 logs
259 logs
260 logs
261 logs
262 logs
263 logs
264 logs
265 logs
266 logs
267 logs
268 logs
269 logs
270 logs
271 logs
272 logs
273 logs
274 logs
275 logs
276 logs
277 logs
278 logs
279 logs
280 logs
281 logs
282 logs
283 logs
284 logs
285 logs
286 logs
287 logs
288 logs
289 logs
290 logs
291 logs
292 logs
293 logs
294 logs
295 logs
296 logs
297 logs
298 logs
299 logs
300 logs
301 logs
302 logs
303 logs
304 logs
305 logs
306 logs
307 logs
308 logs
309 logs
310 logs
311 logs
312 logs
313 logs
314 logs
315 logs
316 logs
317 logs
318 logs
319 logs
320 logs
321 logs
322 logs
323 logs
324 logs
325 logs
326 logs
327 logs
328 logs
329 logs
330 logs
331 logs
332 logs
333 logs
334 logs
335 logs
336 logs
337 logs
338 logs
339 logs
340 logs
341 logs
342 logs
343 logs
344 logs
345 logs
346 logs
347 logs
348 logs
349 logs
350 logs
351 logs
352 logs
353 logs
354 logs
355 logs
356 logs
357 logs
358 logs
359 logs
360 logs
361 logs
362 logs
363 logs
364 logs
365 logs
366 logs
367 logs
368 logs
369 logs
370 logs
371 logs
372 logs
373 logs
374 logs
375 logs
376 logs
377 logs
378 logs
379 logs
380 logs
381 logs
382 logs
383 logs
384 logs
385 logs
386 logs
387 logs
388 logs
389 logs
390 logs
391 logs
392 logs
393 logs
394 logs
395 logs
396 logs
397 logs
398 logs
399 logs
400 logs
401 logs
402 logs
403 logs
404 logs
405 logs
406 logs
407 logs
408 logs
409 logs
410 logs
411 logs
412 logs
413 logs
414 logs
415 logs
416 logs
417 logs
418 logs
419 logs
420 logs
421 logs
422 logs
423 logs
424 logs
425 logs
426 logs
427 logs
428 logs
429 logs
430 logs
431 logs
432 logs
433 logs
434 logs
435 logs
436 logs
437 logs
438 logs
439 logs
440 logs
441 logs
442 logs
443 logs
444 logs
445 logs
446 logs
447 logs
448 logs
449 logs
450 logs
451 logs
452 logs
453 logs
454 logs
455 logs
456 logs
457 logs
458 logs
459 logs
460 logs
461 logs
462 logs
463 logs
464 logs
465 logs
466 logs
467 logs
468 logs
469 logs
470 logs
471 logs
472 logs
473 logs
474 logs
475 logs
476 logs
477 logs
478 logs
479 logs
480 logs
481 logs
482 logs
483 logs
484 logs
485 logs
486 logs
487 logs
488 logs
489 logs
490 logs
491 logs
492 logs
493 logs
494 logs
495 logs
496 logs
497 logs
498 logs
499 logs
500 logs
501 logs
502 logs
503 logs
504 logs
505 logs
506 logs
507 logs
508 logs
509 logs
510 logs
511 logs
512 logs
513 logs
514 logs
515 logs
516 logs
517 logs
518 logs
519 logs
520 logs
521 logs
522 logs
523 logs
524 logs
525 logs
526 logs
527 logs
528 logs
529 logs
530 logs
531 logs
532 logs
533 logs
534 logs
535 logs
536 logs
537 logs
538 logs
539 logs
540 logs
541 logs
542 logs
543 logs
544 logs
545 logs
546 logs
547 logs
548 logs
549 logs
550 logs
551 logs
552 logs
553 logs
554 logs
555 logs
556 logs
557 logs
558 logs
559 logs
560 logs
561 logs
562 logs
563 logs
564 logs
565 logs
566 logs
567 logs
568 logs
569 logs
570 logs
571 logs
572 logs
573 logs
574 logs
575 logs
576 logs
577 logs
578 logs
579 logs
580 logs
581 logs
582 logs
583 logs
584 logs
585 logs
586 logs
587 logs
588 logs
589 logs
590 logs
591 logs
592 logs
593 logs
594 logs
595 logs
596 logs
597 logs
598 logs
599 logs
600 logs
601 logs
602 logs
603 logs
604 logs
605 logs
606 logs
607 logs
608 logs
609 logs
610 logs
611 logs
612 logs
613 logs
614 logs
615 logs
616 logs
617 logs
618 logs
619 logs
620 logs
621 logs
622 logs
623 logs
624 logs
625 logs
626 logs
627 logs
628 logs
629 logs
630 logs
631 logs
632 logs
633 logs
634 logs
635 logs
636 logs
637 logs
638 logs
639 logs
640 logs
641 logs
642 logs
643 logs
644 logs
645 logs
646 logs
647 logs
648 logs
649 logs
650 logs
651 logs
652 logs
653 logs
654 logs
655 logs
656 logs
657 logs
658 logs
659 logs
660 logs
661 logs
662 logs
663 logs
664 logs
665 logs
666 logs
667 logs
668 logs
669 logs
670 logs
671 logs
672 logs
673 logs
674 logs
675 logs
676 logs
677 logs
678 logs
679 logs
680 logs
681 logs
682 logs
683 logs
684 logs
685 logs
686 logs
687 logs
688 logs
689 logs
690 logs
691 logs
692 logs
693 logs
694 logs
695 logs
696 logs
697 logs
698 logs
699 logs
700 logs
701 logs
702 logs
703 logs
704 logs
705 logs
706 logs
707 logs
708 logs
709 logs
710 logs
711 logs
712 logs
713 logs
714 logs
715 logs
716 logs
717 logs
718 logs
719 logs
720 logs
721 logs
722 logs
723 logs
724 logs
725 logs
726 logs
727 logs
728 logs
729 logs
730 logs
731 logs
732 logs
733 logs
734 logs
735 logs
736 logs
737 logs
738 logs
739 logs
740 logs
741 logs
742 logs
743 logs
744 logs
745 logs
746 logs
747 logs
748 logs
749 logs
750 logs
751 logs
752 logs
753 logs
754 logs
755 logs
756 logs
757 logs
758 logs
759 logs
760 logs
761 logs
762 logs
763 logs
764 logs
765 logs
766 logs
767 logs
768 logs
769 logs
770 logs
771 logs
772 logs
773 logs
774 logs
775 logs
776 logs
777 logs
778 logs
779 logs
780 logs
781 logs
782 logs
783 logs
784 logs
785 logs
786 logs
787 logs
788 logs
789 logs
790 logs
791 logs
792 logs
793 logs
794 logs
795 logs
796 logs
797 logs
798 logs
799 logs
800 logs
801 logs
802 logs
803 logs
804 logs
805 logs
806 logs
807 logs
808 logs
809 logs
810 logs
811 logs
812 logs
813 logs
814 logs
815 logs
816 logs
817 logs
818 logs
819 logs
820 logs
821 logs
822 logs
823 logs
824 logs
825 logs
826 logs
827 logs
828 logs
829 logs
830 logs
831 logs
832 logs
833 logs
834 logs
835 logs
836 logs
837 logs
838 logs
839 logs
840 logs
841 logs
842 logs
843 logs
844 logs
845 logs
846 logs
847 logs
848 logs
849 logs
850 logs
851 logs
852 logs
853 logs
854 logs
855 logs
856 logs
857 logs
858 logs
859 logs
860 logs
861 logs
862 logs
863 logs
864 logs
865 logs
866 logs
867 logs
868 logs
869 logs
870 logs
871 logs
872 logs
873 logs
874 logs
875 logs
876 logs
877 logs
878 logs
879 logs
880 logs
881 logs
882 logs
883 logs
884 logs
885 logs
886 logs
887 logs
888 logs
889 logs
890 logs
891 logs
892 logs
893 logs
894 logs
895 logs
896 logs
897 logs
898 logs
899 logs
900 logs
901 logs
902 logs
903 logs
904 logs
905 logs
906 logs
907 logs
908 logs
909 logs
910 logs
911 logs
912 logs
913 logs
914 logs
915 logs
916 logs
917 logs
918 logs
919 logs
920 logs
921 logs
922 logs
923 logs
924 logs
925 logs
926 logs
927 logs
928 logs
929 logs
930 logs
931 logs
932 logs
933 logs
934 logs
935 logs
936 logs
937 logs
938 logs
939 logs
940 logs
941 logs
942 logs
943 logs
944 logs
945 logs
946 logs
947 logs
948 logs
949 logs
950 memberships
951 memberships
952 memberships
953 memberships
954 memberships
955 memberships
956 memberships
957 memberships
958 memberships
959 memberships
960 memberships
961 news
962 settings
963 users
964 users
965 users
966 users
967 users
968 users
969 users
970 users
971 users
972 users
973 users
974 users
975 users
976 users
977 users
978 users
979 users

## How the list above looks like?

<h2 align='center'>======================================================================
If NOT well-formed SQL dump file then you must first do the following:
======================================================================</h2>

## 3. Removing lines that are not part of the actual content to be analysed

## 4. Splitting and naming tables and columns

<h2 align='center'>======================================================================
Additional functions
======================================================================</h2>

## * Function to read tables from wel-formed SQL database dump

In [35]:
# For well formed SQL database dumps!
def read_inserted_table(dumpfile, target_table):
    sio = StringIO()
    fast_forward = True
    already_header = False
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            line = re.sub("(?!(([^']*'){2})*[^']*$)\)", '',line) #Step0:remove any ")" from the content of columns
            if line.lower().startswith('insert') and target_table in line:
                fast_forward = False
                if already_header:
                    continue
            if fast_forward:
                continue
            
            data = re.findall('\([^\)]*\)', line) #Step1: get the content between parentesis (i.e., insert line)
            print(data)
            try:
                newline = data[0].strip('()') #Step2:remove parenthesis
                newline=newline.replace('`','') #Step3: remove ` (usually in table names)
                newline=re.sub(r'(?!(([^\']*\'){2})*[^\']*$),','', newline) #Step4: remove commas from the content of columns
                newline=newline.replace('\'','') #Step5: remove single quotes
                newline=newline.replace(', ', ',') #Step6: remove single spaces after comma (i.e., in the beginning of a column)
                sio.write(newline)
                sio.write("\n")
            except IndexError:
                pass
            if line.endswith(';'):
                fast_forward = True
                already_header = True
    sio.seek(0)
    return sio

In [40]:
# For well formed SQL database dumps!
def read_inserted_table_entirein1line(dumpfile, target_table):
    sio = StringIO()
    fast_forward = True
    already_header = False
    with open(dumpfile, 'rb') as f:
        for line in f:
            print(line)
            line = line.decode("utf-8").strip()
            line = re.sub("(?!(([^']*'){2})*[^']*$)\)", '',line) #Step0:remove any ")" from the content of columns
            if line.lower().startswith('insert') and target_table in line:
                fast_forward = False
                if already_header:
                    continue
            if fast_forward:
                continue
            
            data = re.findall('\([^\)]*\)', line) #Step1: get the content between parentesis (i.e., insert operation)
            print(data)
            #Main difference btw this fuction and the one before is this loop
            for record in data:
                try:
                    newline = record.strip('()') #Step2:remove parenthesis
                    newline=newline.replace('`','') #Step3: remove ` (usually in table names)
                    newline=re.sub(r'(?!(([^\']*\'){2})*[^\']*$),','', newline) #Step4: remove commas from the content of columns
                    newline=newline.replace('\'','') #Step5: remove single quotes
                    newline=newline.replace(', ', ',') #Step6: remove single spaces after comma (i.e., in the beginning of a column)
                    sio.write(newline)
                    sio.write("\n")
                except IndexError:
                    pass
                
            if line.endswith(';'):
                fast_forward = True
                already_header = True
    sio.seek(0)
    return sio

In [41]:
tablename='email_templates'

pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(20)

b'# Dumped by c999Shell.SQL v. 1.0 pre-release build #16\n'
b'\n'
b'# Home page: http://ccteam.ru\n'
b'\n'
b'#\n'
b'\n'
b'# Host settings:\n'
b'\n'
b'# MySQL version: (5.1.62-cll) running on 109.163.231.194 (109.163.231.194)\n'
b'\n'
b'# Date: 03.05.2012 01:44:28\n'
b'\n'
b'# DB: "vaporize_bootme4"\n'
b'\n'
b'#---------------------------------------------------------\n'
b'\n'
b'DROP TABLE IF EXISTS `email_templates`;\n'
b'CREATE TABLE `email_templates` (\n'
b'  `id` int(5) NOT NULL AUTO_INCREMENT,\n'
b'  `name` varchar(200) NOT NULL,\n'
b'  `subject` varchar(255) NOT NULL,\n'
b'  `help` text,\n'
b'  `body` text,\n'
b'  PRIMARY KEY (`id`)\n'
b') ENGINE=MyISAM AUTO_INCREMENT=15 DEFAULT CHARSET=utf8;\n'
b'\n'
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('1', 'Registration Email', 'Please verify your email', 'This template is used to send Registration Verification Email, when Configuration->Registration Verification is set to YES', '&lt;div align=&quot;center&quot;&gt;\n"
[]
b'&lt;table cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; width=&quot;600&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
b'    &lt;tbody&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Welcome [NAME]! Thanks for registering.&lt;/th&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;Hello,&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            You&#039;re now a member of [SITE_NAME].&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            Here are your login details. Please keep them in a safe place:&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            Username: &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Password: &lt;strong&gt;[PASSWORD]&lt;/strong&gt;         &lt;hr /&gt;\n'
b'            The administrator of this site has requested all new accounts&lt;br /&gt;\n'
b'            to be activated by the users who created them thus your account&lt;br /&gt;\n'
b'            is currently inactive. To activate your account,&lt;br /&gt;\n'
b'            please visit the link below and enter the following:&lt;hr /&gt;\n'
b'            Token: &lt;strong&gt;[TOKEN]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Email: &lt;strong&gt;[EMAIL]&lt;/strong&gt;         &lt;hr /&gt;\n'
b'            &lt;a href=&quot;[LINK]&quot;&gt;Click here to activate tour account&lt;/a&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td style=&quot;text-align: left;&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;\n'
b'            [SITE_NAME] Team&lt;br /&gt;\n'
b'            &lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'&lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('2', 'Forgot Password Email', 'Password Reset', 'This template is used for retrieving lost user password', '&lt;div align=&quot;center&quot;&gt;\n"
b'&lt;table width=&quot;600&quot; cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
['(244, 244, 244)', '(102, 102, 102)']
b'    &lt;tbody&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;New password reset from [SITE_NAME]!&lt;/th&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;Hello, &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            It seems that you or someone requested a new password for you.&lt;br /&gt;\n'
b'            We have generated a new password, as requested:&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            Your new password: &lt;strong&gt;[PASSWORD]&lt;/strong&gt;&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            To use the new password you need to activate it. To do this click the link provided below and login with your new password.&lt;br /&gt;\n'
b'            &lt;a href=&quot;[LINK]&quot;&gt;[LINK]&lt;/a&gt;&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            You can change your password after you sign in.&lt;hr /&gt;\n'
b'            Password requested from IP: [IP]&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td style=&quot;text-align: left;&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;\n'
b'            [SITE_NAME] Team&lt;br /&gt;\n'
b'            &lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'&lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('3', 'Welcome Mail From Admin', 'You have been registered', 'This template is used to send welcome email, when user is added by administrator', '&lt;div align=&quot;center&quot;&gt;\n"
b'&lt;table cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; width=&quot;600&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
['(244, 244, 244)', '(102, 102, 102)']
b'    &lt;tbody&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Welcome [NAME]! You have been Registered.&lt;/th&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td style=&quot;text-align: left;&quot;&gt;Hello,&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            You&#039;re now a member of [SITE_NAME].&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            Here are your login details. Please keep them in a safe place:&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            Username: &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Password: &lt;strong&gt;[PASSWORD]&lt;/strong&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td style=&quot;text-align: left;&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;\n'
b'            [SITE_NAME] Team&lt;br /&gt;\n'
b'            &lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'&lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('4', 'Default Newsletter', 'Newsletter', 'This is a default newsletter template', '&lt;div align=&quot;center&quot;&gt;\n"
b'&lt;table width=&quot;600&quot; cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
['(244, 244, 244)', '(102, 102, 102)']
b'    &lt;tbody&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Hello [NAME]!&lt;/th&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;You are receiving this email as a part of your newsletter subscription.         &lt;hr /&gt;\n'
b'            Here goes your newsletter content         &lt;hr /&gt;\n'
b'            &lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td style=&quot;text-align: left;&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;\n'
b'            [SITE_NAME] Team&lt;br /&gt;\n'
b'            &lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;         &lt;hr /&gt;\n'
b'            &lt;span style=&quot;font-size: 11px;&quot;&gt;&lt;em&gt;To stop receiving future newsletters please login into your account         and uncheck newsletter subscription box.&lt;/em&gt;&lt;/span&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'&lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('5', 'Transaction Completed', 'Payment Completed', 'This template is used to notify administrator on successful payment transaction', '&lt;div align=&quot;center&quot;&gt;\n"
b'&lt;table width=&quot;600&quot; cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
['(244, 244, 244)', '(102, 102, 102)']
b'    &lt;tbody&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Hello, Admin&lt;/th&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;You have received new payment following:&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            Username: &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Membership: &lt;strong&gt;[ITEMNAME]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Price: &lt;strong&gt;[PRICE]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Status: &lt;strong&gt;[STATUS] &lt;/strong&gt;&lt;br /&gt;\n'
b'            Processor: &lt;strong&gt;[PP] &lt;/strong&gt;&lt;br /&gt;\n'
b'            IP: &lt;strong&gt;[IP] &lt;/strong&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;&lt;em&gt;You can view this transaction from your admin panel&lt;/em&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'&lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('6', 'Transaction Suspicious', 'Suspicious Transaction', 'This template is used to notify administrator on failed/suspicious payment transaction', '&lt;div align=&quot;center&quot;&gt;\n"
b'&lt;table width=&quot;600&quot; cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
['(244, 244, 244)', '(102, 102, 102)']
b'    &lt;tbody&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;th style=&quot;background-color:#ccc&quot;&gt;Hello, Admin&lt;/th&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td valign=&quot;top&quot; style=&quot;text-align:left&quot;&gt;The following transaction has been disabled due to suspicious activity:&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            Buyer: &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Item: &lt;strong&gt;[ITEM]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Price: &lt;strong&gt;[PRICE]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Status: &lt;strong&gt;[STATUS]&lt;/strong&gt;&lt;/td&gt;\n'
b'            Processor: &lt;strong&gt;[PP] &lt;/strong&gt;&lt;br /&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td style=&quot;text-align:left&quot;&gt;&lt;em&gt;Please verify this transaction is correct. If it is, please activate it in the transaction section of your site&#039;s &lt;br /&gt;\n'
b'            administration control panel. If not, it appears that someone tried to fraudulently obtain products from your site.&lt;/em&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'&lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('7', 'Welcome Email', 'Welcome', 'This template is used to welcome newly registered user when Configuration->Registration Verification and Configuration->Auto Registration are both set to YES', '&lt;div align=&quot;center&quot;&gt;\n"
b'&lt;table width=&quot;600&quot; cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
['(244, 244, 244)', '(102, 102, 102)']
b'    &lt;tbody&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Welcome [NAME]! Thanks for registering.&lt;/th&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td style=&quot;text-align: left;&quot;&gt;Hello,&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            You&#039;re now a member of [SITE_NAME].&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            Here are your login details. Please keep them in a safe place:&lt;br /&gt;\n'
b'            &lt;br /&gt;\n'
b'            Username: &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Password: &lt;strong&gt;[PASSWORD]&lt;/strong&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td style=&quot;text-align: left;&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;\n'
b'            [SITE_NAME] Team&lt;br /&gt;\n'
b'            &lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'&lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('8', 'Membership Expire 7 days', 'Your membership will expire in 7 days', 'This template is used to remind user that membership will expire in 7 days', '&lt;div align=&quot;center&quot;&gt;\n"
b'&lt;table cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; width=&quot;600&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
['(244, 244, 244)', '(102, 102, 102)']
b'    &lt;tbody&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Hello, [NAME]&lt;/th&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;\n'
b'            &lt;h2 style=&quot;color: rgb(255, 0, 0);&quot;&gt;Your current membership will expire in 7 days&lt;/h2&gt;\n'
b'            Please login to your user panel to extend or upgrade your membership.&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td style=&quot;text-align: left;&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;\n'
b'            [SITE_NAME] Team&lt;br /&gt;\n'
b'            &lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'&lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('9', 'Membership Expired Today', 'Your membership has expired', 'This template is used to remind user that membership had expired', '&lt;div align=&quot;center&quot;&gt;\n"
b'&lt;table width=&quot;600&quot; cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
['(244, 244, 244)', '(102, 102, 102)']
b'    &lt;tbody&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Hello, [NAME]&lt;/th&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;\n'
b'            &lt;h2 style=&quot;color: rgb(255, 0, 0);&quot;&gt;Your current membership has expired!&lt;/h2&gt;\n'
b'            Please login to your user panel to extend or upgrade your membership.&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td style=&quot;text-align: left;&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;\n'
b'            [SITE_NAME] Team&lt;br /&gt;\n'
b'            &lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'&lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('10', 'Contact Request', 'Contact Inquiry', 'This template is used to send default Contact Request Form', '&lt;div align=&quot;center&quot;&gt;\n"
b'&lt;table width=&quot;600&quot; cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
['(244, 244, 244)', '(102, 102, 102)']
b'    &lt;tbody&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Hello Admin&lt;/th&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;You have a new contact request:         &lt;hr /&gt;\n'
b'            [MESSAGE]         &lt;hr /&gt;\n'
b'            From: &lt;strong&gt;[SENDER] - [NAME]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Subject: &lt;strong&gt;[MAILSUBJECT]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Senders IP: &lt;strong&gt;[IP]&lt;/strong&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'&lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('12', 'Single Email', 'Single User Email', 'This template is used to email single user', '&lt;div align=&quot;center&quot;&gt;\n"
b'  &lt;table width=&quot;600&quot; cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
['(244, 244, 244)', '(102, 102, 102)']
b'    &lt;tbody&gt;\n'
b'      &lt;tr&gt;\n'
b'        &lt;th style=&quot;background-color:#ccc&quot;&gt;Hello [NAME]&lt;/th&gt;\n'
b'      &lt;/tr&gt;\n'
b'      &lt;tr&gt;\n'
b'        &lt;td valign=&quot;top&quot; style=&quot;text-align:left&quot;&gt;Your message goes here...&lt;/td&gt;\n'
b'      &lt;/tr&gt;\n'
b'      &lt;tr&gt;\n'
b'        &lt;td style=&quot;text-align:left&quot;&gt;&lt;em&gt;Thanks,&lt;br /&gt;\n'
b'          [SITE_NAME] Team&lt;br /&gt;\n'
b'          &lt;a href=&quot;[URL]&quot;&gt;[URL]&lt;/a&gt;&lt;/em&gt;&lt;/td&gt;\n'
b'      &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'  &lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('13', 'Notify Admin', 'New User Registration', 'This template is used to notify admin of new registration when Configuration->Registration Notification is set to YES', '&lt;div align=&quot;center&quot;&gt;\n"
b'&lt;table cellspacing=&quot;5&quot; cellpadding=&quot;5&quot; border=&quot;0&quot; width=&quot;600&quot; style=&quot;background: none repeat scroll 0% 0% rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102);&quot;&gt;\n'
['(244, 244, 244)', '(102, 102, 102)']
b'    &lt;tbody&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;th style=&quot;background-color: rgb(204, 204, 204);&quot;&gt;Hello Admin&lt;/th&gt;\n'
b'        &lt;/tr&gt;\n'
b'        &lt;tr&gt;\n'
b'            &lt;td valign=&quot;top&quot; style=&quot;text-align: left;&quot;&gt;You have a new user registration. You can login into your admin panel to view details:&lt;hr /&gt;\n'
b'            Username: &lt;strong&gt;[USERNAME]&lt;/strong&gt;&lt;br /&gt;\n'
b'            Name: &lt;strong&gt;[NAME]&lt;/strong&gt;&lt;br /&gt;\n'
b'            IP: &lt;strong&gt;[IP]&lt;/strong&gt;&lt;/td&gt;\n'
b'        &lt;/tr&gt;\n'
b'    &lt;/tbody&gt;\n'
b'&lt;/table&gt;\n'
b"&lt;/div&gt;');\n"
b"INSERT INTO `email_templates`(`id`, `name`, `subject`, `help`, `body`) VALUES ('14', 'Registration Pending', 'Registration Verification Pending', 'This template is used to send Registration Verification Email, when Configuration->Auto Registration is set to NO', '&lt;div align=&quot;center&quot;&gt;\n"

    244  244.1  244.2
0   102    102    102
1   244    244    244
2   102    102    102
3   244    244    244
4   102    102    102
5   244    244    244
6   102    102    102
7   244    244    244
8   102    102    102
9   244    244    244
10  102    102    102
11  244    244    244
12  102    102    102
13  244    244    244
14  102    102    102
15  244    244    244
16  102    102    102
17  244    244    244
18  102    102    102
19  244    244    244

## * Converter functions for formatting content of columns
Attention, it is better to perform the conversion based on a series than a string (http://stackoverflow.com/questions/42462906/pandas-read-csv-converters-performance-issue)

In [22]:
def tolowercase(series):
    return series.str.lower()

In [23]:
def strip_singlequote(series):
    return series.str.strip('\'')

In [24]:
def timestamp2datetime(series):
    return  pd.to_datetime(series,unit='s',errors='coerce')

In [25]:
def datetimestring2datetime(series):
    return  pd.to_datetime(series, format='%d-%m-%Y %H:%M',errors='coerce')

In [26]:
def datetimeinvertedstring2datetime(series):
    return pd.to_datetime(series, format='%Y-%m-%d %H:%M:%S',errors='coerce')

In [27]:
def datetimeampm2datetime(series):
    return  pd.to_datetime(series,format='%d-%m-%Y %I:%M:%S %p',errors='coerce')

In [28]:
def datetimemdyampm2datetime(series):
    return  pd.to_datetime(series, format='%m-%d-%Y %I:%M:%S %p',errors='coerce')

In [29]:
def strip_parenthesisandsemicolon(series):
    return series.str.strip(');')

In [30]:
def strip_insertintologs(series):
    return int(series.str.strip('INSERT INTO `logs` VALUES ('))

In [31]:
def strip_tab(series):
    return series.str.strip('\t')

In [32]:
def friendsenemies_type(series):
    return series.str.replace('f','friend').replace('e','enemy')

<h2 align='center'>======================================================================
Adapting EACH existing table
======================================================================</h2>

## 6.1. Table: 'email_templates'

### How this table looks like without modification?

In [34]:
tablename='email_templates'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(20)

    244  244.1  244.2
0   244    244    244
1   244    244    244
2   244    244    244
3   244    244    244
4   244    244    244
5   244    244    244
6   244    244    244
7   244    244    244
8   244    244    244
9   244    244    244
10  244    244    244

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: blacklist
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o ID -> id
        o IP -> ip
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'blacklist'

In [25]:
# Loading the correct table name
df_blacklist = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names
df_blacklist.rename(inplace=True, columns={'ID':'id',
                                          'IP':'ip'})

# Adding missing columns (with "" [for future string] or np.nan [for future float])

###Showing some lines after adapt the table
df_blacklist.head(10)

   id               ip       note
0  41        127.0.0.1       test
1  48        127.0.0.1     Server
2  49    5.135.145.220     frmodz
3  40   199.16.130.194   PlayModz
4  50  188.138.106.110       test
5  51          1.1.1.1  BlackList
6  52    83.156.176.10        NaN

## 6.2. Table: 'gateway'

### How this table looks like without modification?

In [26]:
tablename='gateway'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

                    email
0  vps-serveur@outlook.fr

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: gateways
#### Q3: Are there modifications required? 
    - On the table name: 
        o gateway -> gateways
    - On the column type: 
        o  
    - On the column name:
        o 
    - Add required columns:
        o
    - Split columns:
        o

### Modifying table: 'gateway'

In [27]:
# Loading the correct table name
df_gateways = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names

# Adding missing columns (with "" [for future string] or np.nan [for future float])

###Showing some lines after adapt the table
df_gateways.head(10)

                    email
0  vps-serveur@outlook.fr

In [24]:
# Loading the correct table name
df_gateways = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names

# Showing some lines after adapt the table
df_gateways.head(10)

             email
0  solace@love.com

## 6.3. Table: 'iplogs'

### How this table looks like without modification?

In [28]:
tablename='iplogs'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   ID  userID               IP        time
0   1    4267      50.17.69.56  1379189986
1   2    4267   108.171.179.20  1379189986
2   3    4161  173.252.112.114  1379190000
3   4     777    87.98.151.104  1379203403
4   5    3478  173.252.100.116  1379209015
5   6     777  202.169.236.195  1379215442
6   7     777     66.249.66.20  1379226995
7   8     777     66.249.66.20  1379240913
8   9    3983     90.3.159.111  1379278795
9  10     777    46.118.113.33  1379290796

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: logins
#### Q3: Are there modifications required? 
    - On the table name: 
        o iplogs -> logins
    - On the column type: 
        o time -> timestamp2datetime()
    - On the column name:
        o ID -> id
        o userID -> userid
        o IP -> userip
        
    - Add required columns:
        o username 
   - Split columns:
        o

### Modifying table: 'iplogs'

In [30]:
# Loading the correct table name
df_logins = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_logins['date']=timestamp2datetime(df_logins['time'])

# Changing column names
df_logins.rename(inplace=True, columns={'ID':'id',
                                        'userID':'userid',
                                        'IP':'userip'})
# Adding missing columns
df_logins['username']=np.nan

# Showing some lines after adapt the table
df_logins.head(10)

   id  userid           userip        time                date  username
0   1    4267      50.17.69.56  1379189986 2013-09-14 20:19:46       NaN
1   2    4267   108.171.179.20  1379189986 2013-09-14 20:19:46       NaN
2   3    4161  173.252.112.114  1379190000 2013-09-14 20:20:00       NaN
3   4     777    87.98.151.104  1379203403 2013-09-15 00:03:23       NaN
4   5    3478  173.252.100.116  1379209015 2013-09-15 01:36:55       NaN
5   6     777  202.169.236.195  1379215442 2013-09-15 03:24:02       NaN
6   7     777     66.249.66.20  1379226995 2013-09-15 06:36:35       NaN
7   8     777     66.249.66.20  1379240913 2013-09-15 10:28:33       NaN
8   9    3983     90.3.159.111  1379278795 2013-09-15 20:59:55       NaN
9  10     777    46.118.113.33  1379290796 2013-09-16 00:19:56       NaN

## 6.4. Table: 'logs'!!!!!

### How this table looks like without modification?

In [31]:
tablename='logs'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

b'Skipping line 57: expected 4 fields, saw 6\nSkipping line 58: expected 4 fields, saw 6\nSkipping line 59: expected 4 fields, saw 6\nSkipping line 60: expected 4 fields, saw 6\nSkipping line 61: expected 4 fields, saw 6\nSkipping line 62: expected 4 fields, saw 6\nSkipping line 63: expected 4 fields, saw 6\nSkipping line 64: expected 4 fields, saw 6\nSkipping line 65: expected 4 fields, saw 6\nSkipping line 66: expected 4 fields, saw 6\nSkipping line 67: expected 4 fields, saw 6\nSkipping line 68: expected 4 fields, saw 6\nSkipping line 69: expected 4 fields, saw 6\nSkipping line 70: expected 4 fields, saw 6\nSkipping line 71: expected 4 fields, saw 6\nSkipping line 72: expected 4 fields, saw 6\nSkipping line 73: expected 4 fields, saw 6\nSkipping line 74: expected 4 fields, saw 6\nSkipping line 75: expected 4 fields, saw 6\nSkipping line 76: expected 4 fields, saw 6\nSkipping line 77: expected 4 fields, saw 6\nSkipping line 78: expected 4 fields, saw 6\nSkipping line 79: expected 4 fields, saw 6\nSkipping line 80: expected 4 fields, saw 6\nSkipping line 81: expected 4 fields, saw 6\nSkipping line 82: expected 4 fields, saw 6\nSkipping line 83: expected 4 fields, saw 6\nSkipping line 84: expected 4 fields, saw 6\nSkipping line 85: expected 4 fields, saw 6\nSkipping line 86: expected 4 fields, saw 6\nSkipping line 87: expected 4 fields, saw 6\nSkipping line 88: expected 4 fields, saw 6\nSkipping line 89: expected 4 fields, saw 6\nSkipping line 90: expected 4 fields, saw 6\nSkipping line 91: expected 4 fields, saw 6\nSkipping line 92: expected 4 fields, saw 6\nSkipping line 93: expected 4 fields, saw 6\nSkipping line 94: expected 4 fields, saw 6\nSkipping line 95: expected 4 fields, saw 6\nSkipping line 96: expected 4 fields, saw 6\nSkipping line 97: expected 4 fields, saw 6\nSkipping line 98: expected 4 fields, saw 6\nSkipping line 99: expected 4 fields, saw 6\nSkipping line 100: expected 4 fields, saw 6\nSkipping line 101: expected 4 fields, saw 6\nSkipping line 102: expected 4 fields, saw 6\nSkipping line 103: expected 4 fields, saw 6\nSkipping line 104: expected 4 fields, saw 6\nSkipping line 105: expected 4 fields, saw 6\nSkipping line 106: expected 4 fields, saw 6\nSkipping line 107: expected 4 fields, saw 6\nSkipping line 108: expected 4 fields, saw 6\nSkipping line 109: expected 4 fields, saw 6\nSkipping line 110: expected 4 fields, saw 6\nSkipping line 111: expected 4 fields, saw 6\nSkipping line 112: expected 4 fields, saw 6\nSkipping line 113: expected 4 fields, saw 6\nSkipping line 114: expected 4 fields, saw 6\nSkipping line 115: expected 4 fields, saw 6\nSkipping line 116: expected 4 fields, saw 6\nSkipping line 117: expected 4 fields, saw 6\nSkipping line 118: expected 4 fields, saw 6\nSkipping line 119: expected 4 fields, saw 6\nSkipping line 120: expected 4 fields, saw 6\nSkipping line 121: expected 4 fields, saw 6\nSkipping line 122: expected 4 fields, saw 6\nSkipping line 123: expected 4 fields, saw 6\nSkipping line 124: expected 4 fields, saw 6\nSkipping line 125: expected 4 fields, saw 6\nSkipping line 126: expected 4 fields, saw 6\nSkipping line 127: expected 4 fields, saw 6\nSkipping line 128: expected 4 fields, saw 6\nSkipping line 129: expected 4 fields, saw 6\nSkipping line 130: expected 4 fields, saw 6\nSkipping line 131: expected 4 fields, saw 6\nSkipping line 132: expected 4 fields, saw 6\nSkipping line 133: expected 4 fields, saw 6\nSkipping line 134: expected 4 fields, saw 6\nSkipping line 135: expected 4 fields, saw 6\nSkipping line 136: expected 4 fields, saw 6\nSkipping line 137: expected 4 fields, saw 6\nSkipping line 138: expected 4 fields, saw 6\nSkipping line 139: expected 4 fields, saw 6\nSkipping line 140: expected 4 fields, saw 6\nSkipping line 141: expected 4 fields, saw 6\nSkipping line 142: expected 4 fields, saw 6\nSkipping line 143: expected 4 fields, saw 6\nSkipping line 144: expected 4 fields, saw 6\nSkipping line 145: expected 4 fields, saw 6\nSkipping line 146: expected 4 fields, saw 6\nSkipping line 147: expected 4 fields, saw 6\nSkipping line 148: expected 4 fields, saw 6\nSkipping line 149: expected 4 fields, saw 6\nSkipping line 150: expected 4 fields, saw 6\nSkipping line 151: expected 4 fields, saw 6\nSkipping line 152: expected 4 fields, saw 6\nSkipping line 153: expected 4 fields, saw 6\nSkipping line 154: expected 4 fields, saw 6\nSkipping line 155: expected 4 fields, saw 6\nSkipping line 156: expected 4 fields, saw 6\nSkipping line 157: expected 4 fields, saw 6\nSkipping line 158: expected 4 fields, saw 6\nSkipping line 159: expected 4 fields, saw 6\nSkipping line 160: expected 4 fields, saw 6\nSkipping line 161: expected 4 fields, saw 6\nSkipping line 162: expected 4 fields, saw 6\nSkipping line 163: expected 4 fields, saw 6\nSkipping line 164: expected 4 fields, saw 6\nSkipping line 165: expected 4 fields, saw 6\nSkipping line 166: expected 4 fields, saw 6\nSkipping line 167: expected 4 fields, saw 6\nSkipping line 168: expected 4 fields, saw 6\nSkipping line 169: expected 4 fields, saw 6\nSkipping line 170: expected 4 fields, saw 6\nSkipping line 171: expected 4 fields, saw 6\nSkipping line 172: expected 4 fields, saw 6\nSkipping line 173: expected 4 fields, saw 6\nSkipping line 174: expected 4 fields, saw 6\nSkipping line 175: expected 4 fields, saw 6\nSkipping line 176: expected 4 fields, saw 6\nSkipping line 177: expected 4 fields, saw 6\nSkipping line 178: expected 4 fields, saw 6\nSkipping line 179: expected 4 fields, saw 6\nSkipping line 180: expected 4 fields, saw 6\nSkipping line 181: expected 4 fields, saw 6\nSkipping line 182: expected 4 fields, saw 6\nSkipping line 183: expected 4 fields, saw 6\nSkipping line 184: expected 4 fields, saw 6\nSkipping line 185: expected 4 fields, saw 6\nSkipping line 186: expected 4 fields, saw 6\nSkipping line 187: expected 4 fields, saw 6\nSkipping line 188: expected 4 fields, saw 6\nSkipping line 189: expected 4 fields, saw 6\nSkipping line 190: expected 4 fields, saw 6\nSkipping line 191: expected 4 fields, saw 6\nSkipping line 192: expected 4 fields, saw 6\nSkipping line 193: expected 4 fields, saw 6\nSkipping line 194: expected 4 fields, saw 6\nSkipping line 195: expected 4 fields, saw 6\nSkipping line 196: expected 4 fields, saw 6\nSkipping line 197: expected 4 fields, saw 6\nSkipping line 198: expected 4 fields, saw 6\nSkipping line 199: expected 4 fields, saw 6\nSkipping line 200: expected 4 fields, saw 6\nSkipping line 201: expected 4 fields, saw 6\nSkipping line 202: expected 4 fields, saw 6\nSkipping line 203: expected 4 fields, saw 6\nSkipping line 204: expected 4 fields, saw 6\nSkipping line 205: expected 4 fields, saw 6\nSkipping line 206: expected 4 fields, saw 6\nSkipping line 207: expected 4 fields, saw 6\nSkipping line 208: expected 4 fields, saw 6\nSkipping line 209: expected 4 fields, saw 6\nSkipping line 210: expected 4 fields, saw 6\nSkipping line 211: expected 4 fields, saw 6\nSkipping line 212: expected 4 fields, saw 6\nSkipping line 213: expected 4 fields, saw 6\nSkipping line 214: expected 4 fields, saw 6\nSkipping line 215: expected 4 fields, saw 6\nSkipping line 216: expected 4 fields, saw 6\nSkipping line 217: expected 4 fields, saw 6\nSkipping line 218: expected 4 fields, saw 6\nSkipping line 219: expected 4 fields, saw 6\nSkipping line 220: expected 4 fields, saw 6\nSkipping line 221: expected 4 fields, saw 6\nSkipping line 222: expected 4 fields, saw 6\nSkipping line 223: expected 4 fields, saw 6\nSkipping line 224: expected 4 fields, saw 6\nSkipping line 225: expected 4 fields, saw 6\nSkipping line 226: expected 4 fields, saw 6\nSkipping line 227: expected 4 fields, saw 6\nSkipping line 228: expected 4 fields, saw 6\nSkipping line 229: expected 4 fields, saw 6\nSkipping line 230: expected 4 fields, saw 6\nSkipping line 231: expected 4 fields, saw 6\nSkipping line 232: expected 4 fields, saw 6\nSkipping line 233: expected 4 fields, saw 6\nSkipping line 234: expected 4 fields, saw 6\nSkipping line 235: expected 4 fields, saw 6\nSkipping line 236: expected 4 fields, saw 6\nSkipping line 237: expected 4 fields, saw 6\nSkipping line 238: expected 4 fields, saw 6\nSkipping line 239: expected 4 fields, saw 6\nSkipping line 240: expected 4 fields, saw 6\nSkipping line 241: expected 4 fields, saw 6\nSkipping line 242: expected 4 fields, saw 6\nSkipping line 243: expected 4 fields, saw 6\nSkipping line 244: expected 4 fields, saw 6\nSkipping line 245: expected 4 fields, saw 6\nSkipping line 246: expected 4 fields, saw 6\nSkipping line 247: expected 4 fields, saw 6\nSkipping line 248: expected 4 fields, saw 6\nSkipping line 249: expected 4 fields, saw 6\nSkipping line 250: expected 4 fields, saw 6\nSkipping line 251: expected 4 fields, saw 6\nSkipping line 252: expected 4 fields, saw 6\nSkipping line 253: expected 4 fields, saw 6\nSkipping line 254: expected 4 fields, saw 6\nSkipping line 255: expected 4 fields, saw 6\nSkipping line 256: expected 4 fields, saw 6\nSkipping line 257: expected 4 fields, saw 6\nSkipping line 258: expected 4 fields, saw 6\nSkipping line 259: expected 4 fields, saw 6\nSkipping line 260: expected 4 fields, saw 6\nSkipping line 261: expected 4 fields, saw 6\nSkipping line 262: expected 4 fields, saw 6\nSkipping line 263: expected 4 fields, saw 6\nSkipping line 264: expected 4 fields, saw 6\nSkipping line 265: expected 4 fields, saw 6\nSkipping line 266: expected 4 fields, saw 6\nSkipping line 267: expected 4 fields, saw 6\nSkipping line 268: expected 4 fields, saw 6\nSkipping line 269: expected 4 fields, saw 6\nSkipping line 270: expected 4 fields, saw 6\nSkipping line 271: expected 4 fields, saw 6\nSkipping line 272: expected 4 fields, saw 6\nSkipping line 273: expected 4 fields, saw 6\nSkipping line 274: expected 4 fields, saw 6\nSkipping line 275: expected 4 fields, saw 6\nSkipping line 276: expected 4 fields, saw 6\nSkipping line 277: expected 4 fields, saw 6\nSkipping line 278: expected 4 fields, saw 6\nSkipping line 279: expected 4 fields, saw 6\nSkipping line 280: expected 4 fields, saw 6\nSkipping line 281: expected 4 fields, saw 6\nSkipping line 282: expected 4 fields, saw 6\nSkipping line 283: expected 4 fields, saw 6\nSkipping line 284: expected 4 fields, saw 6\nSkipping line 285: expected 4 fields, saw 6\nSkipping line 286: expected 4 fields, saw 6\nSkipping line 287: expected 4 fields, saw 6\nSkipping line 288: expected 4 fields, saw 6\nSkipping line 289: expected 4 fields, saw 6\nSkipping line 290: expected 4 fields, saw 6\nSkipping line 291: expected 4 fields, saw 6\nSkipping line 292: expected 4 fields, saw 6\nSkipping line 293: expected 4 fields, saw 6\nSkipping line 294: expected 4 fields, saw 6\nSkipping line 295: expected 4 fields, saw 6\nSkipping line 296: expected 4 fields, saw 6\nSkipping line 297: expected 4 fields, saw 6\nSkipping line 298: expected 4 fields, saw 6\nSkipping line 299: expected 4 fields, saw 6\nSkipping line 300: expected 4 fields, saw 6\nSkipping line 301: expected 4 fields, saw 6\nSkipping line 302: expected 4 fields, saw 6\nSkipping line 303: expected 4 fields, saw 6\nSkipping line 304: expected 4 fields, saw 6\nSkipping line 305: expected 4 fields, saw 6\nSkipping line 306: expected 4 fields, saw 6\nSkipping line 307: expected 4 fields, saw 6\nSkipping line 308: expected 4 fields, saw 6\nSkipping line 309: expected 4 fields, saw 6\nSkipping line 310: expected 4 fields, saw 6\nSkipping line 311: expected 4 fields, saw 6\nSkipping line 312: expected 4 fields, saw 6\nSkipping line 313: expected 4 fields, saw 6\nSkipping line 314: expected 4 fields, saw 6\nSkipping line 315: expected 4 fields, saw 6\nSkipping line 316: expected 4 fields, saw 6\nSkipping line 317: expected 4 fields, saw 6\nSkipping line 318: expected 4 fields, saw 6\nSkipping line 319: expected 4 fields, saw 6\nSkipping line 320: expected 4 fields, saw 6\nSkipping line 321: expected 4 fields, saw 6\nSkipping line 322: expected 4 fields, saw 6\nSkipping line 323: expected 4 fields, saw 6\nSkipping line 324: expected 4 fields, saw 6\nSkipping line 325: expected 4 fields, saw 6\nSkipping line 326: expected 4 fields, saw 6\nSkipping line 327: expected 4 fields, saw 6\nSkipping line 328: expected 4 fields, saw 6\nSkipping line 329: expected 4 fields, saw 6\nSkipping line 330: expected 4 fields, saw 6\nSkipping line 331: expected 4 fields, saw 6\nSkipping line 332: expected 4 fields, saw 6\nSkipping line 333: expected 4 fields, saw 6\nSkipping line 334: expected 4 fields, saw 6\nSkipping line 335: expected 4 fields, saw 6\nSkipping line 336: expected 4 fields, saw 6\nSkipping line 337: expected 4 fields, saw 6\nSkipping line 338: expected 4 fields, saw 6\nSkipping line 339: expected 4 fields, saw 6\nSkipping line 340: expected 4 fields, saw 6\nSkipping line 341: expected 4 fields, saw 6\nSkipping line 342: expected 4 fields, saw 6\nSkipping line 343: expected 4 fields, saw 6\nSkipping line 344: expected 4 fields, saw 6\nSkipping line 345: expected 4 fields, saw 6\nSkipping line 346: expected 4 fields, saw 6\nSkipping line 347: expected 4 fields, saw 6\nSkipping line 348: expected 4 fields, saw 6\nSkipping line 349: expected 4 fields, saw 6\nSkipping line 350: expected 4 fields, saw 6\nSkipping line 351: expected 4 fields, saw 6\nSkipping line 352: expected 4 fields, saw 6\nSkipping line 353: expected 4 fields, saw 6\nSkipping line 354: expected 4 fields, saw 6\nSkipping line 355: expected 4 fields, saw 6\nSkipping line 356: expected 4 fields, saw 6\nSkipping line 357: expected 4 fields, saw 6\nSkipping line 358: expected 4 fields, saw 6\nSkipping line 359: expected 4 fields, saw 6\nSkipping line 360: expected 4 fields, saw 6\nSkipping line 361: expected 4 fields, saw 6\nSkipping line 362: expected 4 fields, saw 6\nSkipping line 363: expected 4 fields, saw 6\nSkipping line 364: expected 4 fields, saw 6\nSkipping line 365: expected 4 fields, saw 6\nSkipping line 366: expected 4 fields, saw 6\nSkipping line 367: expected 4 fields, saw 6\nSkipping line 368: expected 4 fields, saw 6\nSkipping line 369: expected 4 fields, saw 6\nSkipping line 370: expected 4 fields, saw 6\nSkipping line 371: expected 4 fields, saw 6\nSkipping line 372: expected 4 fields, saw 6\nSkipping line 373: expected 4 fields, saw 6\nSkipping line 374: expected 4 fields, saw 6\nSkipping line 375: expected 4 fields, saw 6\nSkipping line 376: expected 4 fields, saw 6\nSkipping line 377: expected 4 fields, saw 6\nSkipping line 378: expected 4 fields, saw 6\nSkipping line 379: expected 4 fields, saw 6\nSkipping line 380: expected 4 fields, saw 6\nSkipping line 381: expected 4 fields, saw 6\nSkipping line 382: expected 4 fields, saw 6\nSkipping line 383: expected 4 fields, saw 6\nSkipping line 384: expected 4 fields, saw 6\nSkipping line 385: expected 4 fields, saw 6\nSkipping line 386: expected 4 fields, saw 6\nSkipping line 387: expected 4 fields, saw 6\nSkipping line 388: expected 4 fields, saw 6\nSkipping line 389: expected 4 fields, saw 6\nSkipping line 390: expected 4 fields, saw 6\nSkipping line 391: expected 4 fields, saw 6\nSkipping line 392: expected 4 fields, saw 6\nSkipping line 393: expected 4 fields, saw 6\nSkipping line 394: expected 4 fields, saw 6\nSkipping line 395: expected 4 fields, saw 6\nSkipping line 396: expected 4 fields, saw 6\nSkipping line 397: expected 4 fields, saw 6\nSkipping line 398: expected 4 fields, saw 6\nSkipping line 399: expected 4 fields, saw 6\nSkipping line 400: expected 4 fields, saw 6\nSkipping line 401: expected 4 fields, saw 6\nSkipping line 402: expected 4 fields, saw 6\nSkipping line 403: expected 4 fields, saw 6\nSkipping line 404: expected 4 fields, saw 6\nSkipping line 405: expected 4 fields, saw 6\nSkipping line 406: expected 4 fields, saw 6\nSkipping line 407: expected 4 fields, saw 6\nSkipping line 408: expected 4 fields, saw 6\nSkipping line 409: expected 4 fields, saw 6\nSkipping line 410: expected 4 fields, saw 6\nSkipping line 411: expected 4 fields, saw 6\nSkipping line 412: expected 4 fields, saw 6\nSkipping line 413: expected 4 fields, saw 6\nSkipping line 414: expected 4 fields, saw 6\nSkipping line 415: expected 4 fields, saw 6\nSkipping line 416: expected 4 fields, saw 6\nSkipping line 417: expected 4 fields, saw 6\nSkipping line 418: expected 4 fields, saw 6\nSkipping line 419: expected 4 fields, saw 6\nSkipping line 420: expected 4 fields, saw 6\nSkipping line 421: expected 4 fields, saw 6\nSkipping line 422: expected 4 fields, saw 6\nSkipping line 423: expected 4 fields, saw 6\nSkipping line 424: expected 4 fields, saw 6\nSkipping line 425: expected 4 fields, saw 6\nSkipping line 426: expected 4 fields, saw 6\nSkipping line 427: expected 4 fields, saw 6\nSkipping line 428: expected 4 fields, saw 6\nSkipping line 429: expected 4 fields, saw 6\nSkipping line 430: expected 4 fields, saw 6\nSkipping line 431: expected 4 fields, saw 6\nSkipping line 432: expected 4 fields, saw 6\nSkipping line 433: expected 4 fields, saw 6\nSkipping line 434: expected 4 fields, saw 6\nSkipping line 435: expected 4 fields, saw 6\nSkipping line 436: expected 4 fields, saw 6\nSkipping line 437: expected 4 fields, saw 6\nSkipping line 438: expected 4 fields, saw 6\nSkipping line 439: expected 4 fields, saw 6\nSkipping line 440: expected 4 fields, saw 6\nSkipping line 441: expected 4 fields, saw 6\nSkipping line 442: expected 4 fields, saw 6\nSkipping line 443: expected 4 fields, saw 6\nSkipping line 444: expected 4 fields, saw 6\nSkipping line 445: expected 4 fields, saw 6\nSkipping line 446: expected 4 fields, saw 6\nSkipping line 447: expected 4 fields, saw 6\nSkipping line 448: expected 4 fields, saw 6\nSkipping line 449: expected 4 fields, saw 6\nSkipping line 450: expected 4 fields, saw 6\nSkipping line 451: expected 4 fields, saw 6\nSkipping line 452: expected 4 fields, saw 6\nSkipping line 453: expected 4 fields, saw 6\nSkipping line 454: expected 4 fields, saw 6\nSkipping line 455: expected 4 fields, saw 6\nSkipping line 456: expected 4 fields, saw 6\nSkipping line 457: expected 4 fields, saw 6\nSkipping line 458: expected 4 fields, saw 6\nSkipping line 459: expected 4 fields, saw 6\nSkipping line 460: expected 4 fields, saw 6\nSkipping line 461: expected 4 fields, saw 6\nSkipping line 462: expected 4 fields, saw 6\nSkipping line 463: expected 4 fields, saw 6\nSkipping line 464: expected 4 fields, saw 6\nSkipping line 465: expected 4 fields, saw 6\nSkipping line 466: expected 4 fields, saw 6\nSkipping line 467: expected 4 fields, saw 6\nSkipping line 468: expected 4 fields, saw 6\nSkipping line 469: expected 4 fields, saw 6\nSkipping line 470: expected 4 fields, saw 6\nSkipping line 471: expected 4 fields, saw 6\nSkipping line 472: expected 4 fields, saw 6\nSkipping line 473: expected 4 fields, saw 6\nSkipping line 474: expected 4 fields, saw 6\nSkipping line 475: expected 4 fields, saw 6\nSkipping line 476: expected 4 fields, saw 6\nSkipping line 477: expected 4 fields, saw 6\nSkipping line 478: expected 4 fields, saw 6\nSkipping line 479: expected 4 fields, saw 6\nSkipping line 480: expected 4 fields, saw 6\nSkipping line 481: expected 4 fields, saw 6\nSkipping line 482: expected 4 fields, saw 6\nSkipping line 483: expected 4 fields, saw 6\nSkipping line 484: expected 4 fields, saw 6\nSkipping line 485: expected 4 fields, saw 6\nSkipping line 486: expected 4 fields, saw 6\nSkipping line 487: expected 4 fields, saw 6\nSkipping line 488: expected 4 fields, saw 6\nSkipping line 489: expected 4 fields, saw 6\nSkipping line 490: expected 4 fields, saw 6\nSkipping line 491: expected 4 fields, saw 6\nSkipping line 492: expected 4 fields, saw 6\nSkipping line 493: expected 4 fields, saw 6\nSkipping line 494: expected 4 fields, saw 6\nSkipping line 495: expected 4 fields, saw 6\nSkipping line 496: expected 4 fields, saw 6\nSkipping line 497: expected 4 fields, saw 6\nSkipping line 498: expected 4 fields, saw 6\nSkipping line 499: expected 4 fields, saw 6\nSkipping line 500: expected 4 fields, saw 6\nSkipping line 501: expected 4 fields, saw 6\nSkipping line 50

   ID  userID               IP        time
0   1    4267      50.17.69.56  1379189986
1   2    4267   108.171.179.20  1379189986
2   3    4161  173.252.112.114  1379190000
3   4     777    87.98.151.104  1379203403
4   5    3478  173.252.100.116  1379209015
5   6     777  202.169.236.195  1379215442
6   7     777     66.249.66.20  1379226995
7   8     777     66.249.66.20  1379240913
8   9    3983     90.3.159.111  1379278795
9  10     777    46.118.113.33  1379290796

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: logins
#### Q3: Are there modifications required? 
    - On the table name: 
        o iplogs -> logins
    - On the column type: 
        o date -> timestamp2datetime()
    - On the column name:
        o ID -> id
        o userID -> userid
        o logged -> userip
        
    - Add required columns:
        o username 
   - Split columns:
        o

### Modifying table: 'logs'

In [28]:
# Loading the correct table name
df_logins = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_logins['date']=timestamp2datetime(df_logins['date'])

# Changing column names
df_logins.rename(inplace=True, columns={'ID':'id',
                                        'userID':'userid',
                                        'logged':'userip'})
# Adding missing columns
df_logins['username']=np.nan

# Showing some lines after adapt the table
df_logins.head(10)

    id  userid          userip                date  username
0  110     169  99.228.120.154 2012-08-01 12:47:46       NaN
1    3      17     82.19.49.66 2012-07-26 19:21:16       NaN
2  643     123    66.249.85.58 2012-12-12 22:42:02       NaN
3  109     169  97.112.157.117 2012-08-01 12:43:55       NaN
4  108     169   98.127.42.196 2012-08-01 12:41:09       NaN
5   12      62   90.184.187.69 2012-07-28 12:00:25       NaN
6   13      62    62.107.45.66 2012-07-28 13:24:20       NaN
7   14      62   90.184.187.69 2012-07-28 18:59:18       NaN
8   15      62   90.184.187.69 2012-07-28 18:59:37       NaN
9   16      62    62.107.45.66 2012-07-28 19:18:27       NaN

## 6.5. Table: 'months'

### How this table looks like without modification?

In [32]:
tablename='months'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

    ID             name description   mbt    unit  length  price
0  108  Ultimate Pack 2        5600  5600  Months       1     53
1  107  MemberShip Pack        3600  3600  Months       1     38
2  106    Ultimate Pack        Pack  2400    Days       1     32
3  105        Blue Pack        1800  1800  Months       1     26
4  104         Red Pack        1200  1200  Months       1     18
5  103      Yellow Pack         900   900  Months       1     12
6  102       Green Pack         600   600  Months       1      6
7  101      Silver Pack         120   300  Months       1      3

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: plans
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o ID -> planid
        o name -> planname
        o description -> plandescr
        o mbt -> maxboottime
        
    - Add required columns:
        o concurrecy
    - Split columns:
        o

### Modifying table: 'months'

In [35]:
# Loading the correct table name
df_plans = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing names of columns
df_plans.rename(inplace=True, columns={'ID':'planid',
                                      ' name': 'planname',
                                      ' description': ' plandescr',
                                      ' mbt':' maxboottime'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_plans['concurrency']=np.nan

# Showing some lines after adapt the table
df_plans.head(10)

,planid,name,description,mbt,unit,length,price,concurrency
0,108,Ultimate Pack 2,5600,5600,Months,1,53,NaN
1,107,MemberShip Pack,3600,3600,Months,1,38,NaN
2,106,Ultimate Pack,Pack,2400,Days,1,32,NaN
3,105,Blue Pack,1800,1800,Months,1,26,NaN
4,104,Red Pack,1200,1200,Months,1,18,NaN
5,103,Yellow Pack,900,900,Months,1,12,NaN
6,102,Green Pack,600,600,Months,1,6,NaN
7,101,Silver Pack,120,300,Months,1,3,NaN

## 6.6. Table: 'news'

### How this table looks like without modification?

In [36]:
tablename='news'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   ID title                                             detail        date
0  37    NS  Hello NationalStresser is now the rotation ser...  1379588490

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.7. Table: 'payments'

### How this table looks like without modification?

In [37]:
tablename='payments'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,ID,paid,plan,user,email,tid,date
0,1,15,31,194,kevin.benaroche@hotmail.fr,11W69868WX2888303,1354389662
1,2,3,38,497,mikedelija@gmail.com,9B578750YB669902P,1354421172
2,3,3,38,498,lisburbage@blueyonder.co.uk,6X266797TH430374M,1354466613
3,4,3,38,213,boolastar2@hotmail.fr,4SP87033JK2354245,1354481462
4,5,15,31,502,sunilmeboss1@yahoo.com,3RV205149P7488819,1354485493
5,6,30,33,503,youngminecrafter@live.com,7456208460098734Y,1354486827
6,7,15,31,482,hassell.w@gmail.com,05373516BM892900W,1354487180
7,8,3,38,500,oleandreas.98@hotmail.com,6XS1683572882372T,1354488792
8,9,3,38,513,michaelflamini6155@hotmail.fr,4FM57049D9988614Y,1354515469
9,10,3,38,518,mark3526200@gmail.com,5X405403U9429834F,1354556304

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES 
    - This table looks like: payments
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o date -> timestamp2datetime()
    - On the column name:
        o ID -> id
        o paid -> amountpaid
        o plan ->planid
        o user -> userid
        o email -> paymentemail
        
    - Add required columns:
        o username
    - Split columns:
        o

### Modifying table: 'payments'

In [38]:
# Loading the correct table name
df_payments = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_payments['date'] = timestamp2datetime(df_payments['date']) 

# Changing names of columns
df_payments.rename(inplace=True, columns={'ID':'id',
                                        'paid':'amount',
                                         'plan':'planid',
                                         'user':'userid',
                                         'email':'paymentemail'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_payments['username']=np.nan

# Showing some lines after adapt the table
df_payments.head(10)

,id,amount,planid,userid,paymentemail,tid,date,username
0,1,15,31,194,kevin.benaroche@hotmail.fr,11W69868WX2888303,2012-12-01 19:21:02,NaN
1,2,3,38,497,mikedelija@gmail.com,9B578750YB669902P,2012-12-02 04:06:12,NaN
2,3,3,38,498,lisburbage@blueyonder.co.uk,6X266797TH430374M,2012-12-02 16:43:33,NaN
3,4,3,38,213,boolastar2@hotmail.fr,4SP87033JK2354245,2012-12-02 20:51:02,NaN
4,5,15,31,502,sunilmeboss1@yahoo.com,3RV205149P7488819,2012-12-02 21:58:13,NaN
5,6,30,33,503,youngminecrafter@live.com,7456208460098734Y,2012-12-02 22:20:27,NaN
6,7,15,31,482,hassell.w@gmail.com,05373516BM892900W,2012-12-02 22:26:20,NaN
7,8,3,38,500,oleandreas.98@hotmail.com,6XS1683572882372T,2012-12-02 22:53:12,NaN
8,9,3,38,513,michaelflamini6155@hotmail.fr,4FM57049D9988614Y,2012-12-03 06:17:49,NaN
9,10,3,38,518,mark3526200@gmail.com,5X405403U9429834F,2012-12-03 17:38:24,NaN

## 6.8. Table: 'plans'

### How this table looks like without modification?

In [39]:
tablename='plans'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,ID,name,description,mbt,unit,length,price
0,84,Blue Pack,MemberShip Blue Pack,1200,Years,10,26
1,85,Red Pack,MemberShip New Pack Unlocked Restricted Area,1800,Years,10,32
2,86,Ultimate Pack,Ultimate Pack MemberShip,5600,Years,30,98
3,87,Pack Premium,NS,2400,Years,10,38
4,81,Gold Pack,MemberShip Restricted Unlocked,300,Years,10,6
5,82,Green Pack,MemberShip NationalStresser Buy Now,600,Years,10,12
6,83,Yellow Pack,MemberShip Buisness Yellow Pack,900,Years,10,18
7,89,NS,4200,3600,Years,10,57

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: plans
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o ID -> planid
        o name -> planname
        o description -> plandescr
        o mbt -> maxboottime
    - Add required columns:
        o concurrecy
    - Split columns:
        o

### Modifying table: 'plans'

In [40]:
# Loading the correct table name
df_plans = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing names of columns
df_plans.rename(inplace=True, columns={'ID':'planid',
                                         'name':'planname',
                                         'description': 'plandescr',
                                         'mbt':'maxboottime'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_plans['concurrency']=np.nan

# Showing some lines after adapt the table
df_plans.head(10)

,planid,planname,plandescr,maxboottime,unit,length,price,concurrency
0,84,Blue Pack,MemberShip Blue Pack,1200,Years,10,26,NaN
1,85,Red Pack,MemberShip New Pack Unlocked Restricted Area,1800,Years,10,32,NaN
2,86,Ultimate Pack,Ultimate Pack MemberShip,5600,Years,30,98,NaN
3,87,Pack Premium,NS,2400,Years,10,38,NaN
4,81,Gold Pack,MemberShip Restricted Unlocked,300,Years,10,6,NaN
5,82,Green Pack,MemberShip NationalStresser Buy Now,600,Years,10,12,NaN
6,83,Yellow Pack,MemberShip Buisness Yellow Pack,900,Years,10,18,NaN
7,89,NS,4200,3600,Years,10,57,NaN

## 6.9. Table: 'settings'

### How this table looks like without modification?

In [41]:
tablename='settings'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

Empty DataFrame
Columns: [API]
Index: []

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.9. Table: 'users'

### How this table looks like without modification?

In [42]:
tablename='users'

pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,ID,username,password,status,rank,mbt,expire
0,42,kyubi,946ae17537269629c017992d68496cc9981ff88195b3fa...,0,0,0,1367691180
1,43,Azapo,c3555b15c17ec6d775561b03261c94ea910f83eff525f5...,0,0,0,1367777580
2,45,iExoTicK,ba3253876aed6bc22d4a6ff53d8406c6ad864195ed144a...,0,0,0,1590789600
3,47,Pikachu7390,3b443808c21868ab5c21102572dbb1e86ff641db12715d...,0,0,600,1432936800
4,48,Akerio,3fce4c8c3ee963f1ad71c4bb393ff09b3fb9a21935cbe2...,0,0,0,1369937580
5,49,Hacks116,9f281740d815393fba449c824665ffc357bb1e2c39f506...,0,0,0,1369937580
6,50,chybe21,b109f3bbbc244eb82441917ed06d618b9008dd09b3befd...,0,0,0,1369937580
7,51,Daveskee,9c7bf89a08dbb0bcf38b6d759476c0d785b49a1010870a...,0,0,0,1369937580
8,52,FOXNONAD,418d940c10e17197ebc4007af1d8e555c6f8d81bc0c060...,0,0,1200,1451516400
9,53,gamingzmod,ba3253876aed6bc22d4a6ff53d8406c6ad864195ed144a...,0,0,300,1590789600

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES 
    - This table looks like: users
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o expire -> timestamp2datetime()
    - On the column name:
        o ID -> userid
              
    - Add required columns:
        o useremail 
        o planid
    - Split columns:
        o

### Modifying table: 'users'

In [43]:
# Loading the correct table name
df_users = pd.read_csv(read_inserted_table(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_users['expire'] = timestamp2datetime(df_users['expire']) 

# Changing names of columns
df_users.rename(inplace=True, columns={'ID':'userid'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_users[' useremail']=np.nan
df_users['planid']=np.nan

# Showing some lines after adapt the table
df_users.head(10)

,userid,username,password,status,rank,mbt,expire,useremail,planid
0,42,kyubi,946ae17537269629c017992d68496cc9981ff88195b3fa...,0,0,0,2013-05-04 18:13:00,NaN,NaN
1,43,Azapo,c3555b15c17ec6d775561b03261c94ea910f83eff525f5...,0,0,0,2013-05-05 18:13:00,NaN,NaN
2,45,iExoTicK,ba3253876aed6bc22d4a6ff53d8406c6ad864195ed144a...,0,0,0,2020-05-29 22:00:00,NaN,NaN
3,47,Pikachu7390,3b443808c21868ab5c21102572dbb1e86ff641db12715d...,0,0,600,2015-05-29 22:00:00,NaN,NaN
4,48,Akerio,3fce4c8c3ee963f1ad71c4bb393ff09b3fb9a21935cbe2...,0,0,0,2013-05-30 18:13:00,NaN,NaN
5,49,Hacks116,9f281740d815393fba449c824665ffc357bb1e2c39f506...,0,0,0,2013-05-30 18:13:00,NaN,NaN
6,50,chybe21,b109f3bbbc244eb82441917ed06d618b9008dd09b3befd...,0,0,0,2013-05-30 18:13:00,NaN,NaN
7,51,Daveskee,9c7bf89a08dbb0bcf38b6d759476c0d785b49a1010870a...,0,0,0,2013-05-30 18:13:00,NaN,NaN
8,52,FOXNONAD,418d940c10e17197ebc4007af1d8e555c6f8d81bc0c060...,0,0,1200,2015-12-30 23:00:00,NaN,NaN
9,53,gamingzmod,ba3253876aed6bc22d4a6ff53d8406c6ad864195ed144a...,0,0,300,2020-05-29 22:00:00,NaN,NaN

In [48]:
len(df_users), len(df_users.drop_duplicates())

(1892, 1892)

<h2 align='center'>======================================================================
<br>Final step of the manual part
======================================================================</h2>

## 7. Adding missing tables accordingly to our generic Booter database

In [ ]:
df_attacks= pd.DataFrame(columns=['id','userid','username','targetip','targeturl','duration','port','type','date'])
#df_blacklist=pd.DataFrame(columns=['id','ip','note'])
#df_friendsenemies=pd.DataFrame(columns=['id','ip','note','userid','type'])
#df_gateways=pd.DataFrame(columns=['email'])
#df_logins=pd.DataFrame(columns=['id','userid','username','userip','date'])
#df_payments=pd.DataFrame(columns=['id','userid','username','amountpaid','paymentemail','planid','tid','date'])
df_plans=pd.DataFrame(columns=['planid','planname','plandescr','price','maxboottime','concurrency'])
df_servers=pd.DataFrame(columns=['id','ip'])
df_settings=pd.DataFrame(columns=['url','sitename','siteemail'])
#df_users=pd.DataFrame(columns=['userid','username','useremail','password','expire','plan'])      
df_webshells=pd.DataFrame(columns=['id','url','status','lastchecked','attacktype'])

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 2: Data Enrichment<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

### * Depending of the size of the data, this part can take HOURS. I tested for both small and big datasets and it worked. Be pacient. This will pay-off!

## * Libraries needed to retrieve information from external databases

In [ ]:
import subprocess
import cfscrape
from lxml import etree
import os.path
import random
import time

## * Function to enrich IP addresseswith AS information and country

In [ ]:
# THANKS TO: team-cymru.org
def iptoasn(iplist_teamcymruformat_filelocation,outputfile):
    cat = subprocess.Popen(['cat', iplist_teamcymruformat_filelocation], 
                            stdout=subprocess.PIPE)
    
    netcat = subprocess.Popen(['netcat', 'whois.cymru.com', '43'],
                              stdin=cat.stdout,
                              stdout=outputfile)
    time.sleep(3) #for some reason the poll does not work! This was the way to overcome the waiting time.
    
    return netcat.stdout

## * Function to check if an IP address was Tor node in a given moment

In [ ]:
# THANKS TO: exonerator.torproject.org
def WasTorNode(ip, date ):
    url="https://exonerator.torproject.org/?ip="+ip+"&timestamp="+date
    scraper = cfscrape.create_scraper()
    scraped_html=scraper.get(url).content    
    html_tree = etree.HTML(scraped_html)
    result=html_tree.xpath("//h3[@class='panel-title']/text()") # I was looking for <h3 class="panel-title">Result is positive</h3>
    tor_node=True if result == ['Result is positive'] else False
    return tor_node 
# 'date' MUST BE formated as: Year-month-day (2016-03-31)

## * Discovering the middle date of the database

In [ ]:
try:
    try:
        middle_date=(min(df_attacks['date'])+((max(df_attacks['date'])-min(df_attacks['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_logins['date'])+((max(df_logins['date'])-min(df_logins['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_payments['date'])+((max(df_payments['date'])-min(df_payments['date']))/2))
        raise
    except:
        pass
except Exception:
    print("There is no date in the entire dataset")

date_tor_check = middle_date.strftime('%Y-%m-%d')
date_iptoasn_lookup= str(middle_date)
print(date_tor_check)

## * Preparing to Perform IP to ASN info

In [ ]:
df_logins['middledate']=date_iptoasn_lookup
df_attacks['middledate']=date_iptoasn_lookup
df_friendsenemies['middledate']=date_iptoasn_lookup
df_blacklist['middledate']=date_iptoasn_lookup

## 2.1.1  Lookup IP to ASN info of table: logins

In [ ]:
if (os.path.exists('enrichments/logins_iptoasn_out')== False):
    logins_iptoasn_in = open('enrichments/logins_iptoasn_in', 'w+')
    logins_iptoasn_in.write('begin\nverbose\n')
    df_logins[['userip','middledate']].drop_duplicates().to_csv(logins_iptoasn_in,header=False,index=False,sep="\t") 
    logins_iptoasn_in.write('end')
    logins_iptoasn_in.close()

    logins_iptoasn_out = open('logins_iptoasn_out', 'w+')
    iptoasn('logins_iptoasn_in',logins_iptoasn_out)
    logins_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_logins_iptoasn = pd.read_csv('enrichments/logins_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

df_logins_extended= pd.merge(df_logins,
                              df_logins_iptoasn,
                              how = 'left',
                              left_on = 'userip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_logins_extended.rename(columns={'asn':'srcasn', 
                                   'ip':'srcip', 
                                   'bgp_prefix':'srcbgp_prefix', 
                                   'country':'srccountry' ,
                                   'registry':'srcregistry',
                                   'info_date':'srcinfo_date',
                                   'info_request':'srcinfo_request'},
                         inplace=True)


df_logins_extended.head(5)

## 2.1.2  Lookup IP to ASN info of table: attacks

In [ ]:
if (os.path.exists('enrichments/attacks_iptoasn_out')== False):
    attacks_iptoasn_in = open('enrichments/attacks_iptoasn_in', 'w+')
    attacks_iptoasn_in.write('begin\nverbose\n')
    df_attacks[['targetip','middledate']].drop_duplicates().to_csv(attacks_iptoasn_in,header=False,index=False,sep="\t") 
    attacks_iptoasn_in.write('end')
    attacks_iptoasn_in.close()

    attacks_iptoasn_out = open('attacks_iptoasn_out', 'w+')
    iptoasn('attacks_iptoasn_in',attacks_iptoasn_out)
    attacks_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_attacks_iptoasn = pd.read_csv('enrichments/attacks_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_attacks_extended= pd.merge(df_attacks,
                              df_attacks_iptoasn,
                              how = 'left',
                              left_on = 'targetip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_attacks_extended.rename(columns={'asn':'targetasn', 
                                   'ip_y':'targetip', 
                                   'bgp_prefix':'targetbgp_prefix', 
                                   'country_y':'targetcountry' ,
                                   'registry':'targetregistry',
                                   'info_date':'targetinfo_date',
                                   'info_request':'targetinfo_request'},
                         inplace=True)
df_attacks_extended.head(5)

## 2.1.3  Lookup IP to ASN info of table: friendsenemies

In [ ]:
if (os.path.exists('enrichments/friendsenemies_iptoasn_out')== False):
    friendsenemies_iptoasn_in = open('enrichments/friendsenemies_iptoasn_in', 'w+')
    friendsenemies_iptoasn_in.write('begin\nverbose\n')
    df_friendsenemies[['ip','middledate']].drop_duplicates().to_csv(friendsenemies_iptoasn_in,header=False,index=False,sep="\t") 
    friendsenemies_iptoasn_in.write('end')
    friendsenemies_iptoasn_in.close()

    friendsenemies_iptoasn_out = open('friendsenemies_iptoasn_out', 'w+')
    iptoasn('friendsenemies_iptoasn_in',friendsenemies_iptoasn_out)
    friendsenemies_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_friendsenemies_iptoasn = pd.read_csv('enrichments/friendsenemies_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_friendsenemies_extended= pd.merge(df_friendsenemies,
                              df_friendsenemies_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_friendsenemies_extended.rename(columns={'asn':'friendsenemiesasn', 
                                   'ip':'friendsenemiesip', 
                                   'bgp_prefix':'friendsenemiesbgp_prefix', 
                                   'country':'friendsenemiescountry' ,
                                   'registry':'friendsenemiesregistry',
                                   'info_date':'friendsenemiesinfo_date',
                                   'info_request':'friendsenemiesinfo_request',
                                   'as_name': 'friendsenemiesas_name'},
                         inplace=True)

## 2.1.4  Lookup IP to ASN info of table: blacklist

In [ ]:
if (os.path.exists('enrichments/blacklist_iptoasn_out')== False):
    blacklist_iptoasn_in = open('enrichments/blacklist_iptoasn_in', 'w+')
    blacklist_iptoasn_in.write('begin\nverbose\n')
    df_blacklist[['ip','middledate']].drop_duplicates().to_csv(blacklist_iptoasn_in,header=False,index=False,sep="\t") 
    blacklist_iptoasn_in.write('end')
    blacklist_iptoasn_in.close()

    blacklist_iptoasn_out = open('blacklist_iptoasn_out', 'w+')
    iptoasn('blacklist_iptoasn_in',blacklist_iptoasn_out)
    blacklist_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_blacklist_iptoasn = pd.read_csv('enrichments/blacklist_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_blacklist_extended= pd.merge(df_blacklist,
                              df_blacklist_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_blacklist_extended.rename(columns={'asn':'blacklistasn', 
                                   'ip':'blacklistip', 
                                   'bgp_prefix':'blacklistbgp_prefix', 
                                   'country':'blacklistcountry' ,
                                   'registry':'blacklistregistry',
                                   'info_date':'blacklistinfo_date',
                                   'info_request':'blacklistinfo_request',
                                   'as_name': 'blacklistas_name'},
                         inplace=True)
df_blacklist_extended.head(5)

## 2.2.1. Check if IP was a TOR node for table: login

In [ ]:
date_tor_check

In [ ]:
if len(df_logins['userip'].unique())<1200:
    if (os.path.exists('enrichments/logins_torcheck')== False):
        print("Note: it can take a while to finish...")
        logins_torcheck = open('logins_torcheck', 'w+')
        for i in df_logins['userip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=logins_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            logins_torcheck.flush()

        logins_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.")
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_logins_torcheck = pd.read_csv('enrichments/logins_torcheck',\
                          delimiter="\s+",\
                          names = ['userip', 'tor'])

## 2.2.2. Check if IP was a TOR node for table: attacks

In [ ]:
if len(df_attacks['targetip'].unique())<1200:
    if (os.path.exists('enrichments/attacks_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_attacks['targetip'].unique())*3,"seconds (in the worst case).")

        attacks_torcheck = open('attacks_torcheck', 'w+')

        for i in df_attacks['targetip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=attacks_torcheck)
            print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            attacks_torcheck.flush()

        attacks_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_attacks_torcheck = pd.read_csv('enrichments/attacks_torcheck',\
                          delimiter="\s+",\
                          names = ['targetip', 'tor'])

## 2.2.3. Check if IP was a TOR node for table: friendsenemies

In [ ]:
if len(df_friendsenemies['ip'].unique()) <1200:
    if (os.path.exists('enrichments/friendsenemies_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_friendsenemies['ip'].unique())*3,"seconds (in the worst case).")

        friendsenemies_torcheck = open('enrichments/friendsenemies_torcheck', 'w+')

        for i in df_friendsenemies['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=friendsenemies_torcheck)
        #     print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            friendsenemies_torcheck.flush()

        friendsenemies_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_friendsenemies_torcheck = pd.read_csv('enrichments/friendsenemies_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## 2.2.4. Check if IP was a TOR node for table: blacklist

In [ ]:
if len(df_blacklist['ip'].unique()) < 1200:
    if (os.path.exists('enrichments/blacklist_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_blacklist['ip'].unique())*3,"seconds (in the worst case).")

        blacklist_torcheck = open('enrichments/blacklist_torcheck', 'w+')

        for i in df_blacklist['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=blacklist_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            blacklist_torcheck.flush()

        blacklist_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_blacklist_torcheck = pd.read_csv('enrichments/blacklist_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## * Relation between Attack dates and Login dates

In [ ]:
def nearestDate(base_date, date_list):
    nearest={}
    for date in date_list:
        if (base_date.timestamp() - date.timestamp())>=0:
            nearest[base_date.timestamp() - date.timestamp()]= date
    return nearest[min(nearest.keys())]

In [ ]:
#This is the TOTAL number records to be checks!!!!
len(df_attacks)

In [ ]:
df_attacks['nearestlogin']=""
df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])
    
if len(df_attacks)>0 and len(df_logins)>0:
    #When was the last login of the user that performed attacks
    df_attacks['nearestlogin']=""
    df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])

    for index, row in df_attacks.head(100).iterrows():
        intermediate_df= df_logins[df_logins['username']==row['username']]
        nearestlogindate= nearestDate(row['date'],intermediate_df['date'])
        df_attacks.set_value(index, 'nearestlogin', nearestlogindate)

        #DEBUGGING
        if index % 1000 == 0:
            print(index,": +1000 records analysed")

In [ ]:
if len(df_attacks['nearestlogin'].value_counts()) >1:
    df_attacks_and_logins = pd.merge(df_attacks_extended,
                                     df_logins_extended,
                                     how = 'left',
                                     left_on = ['username','nearestlogin'],
                                     right_on = ['username','date'])
else:
    df_attacks_and_logins=""

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 3: Automatic Analysis
<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>

## * Libraries that I use to plot figs

In [ ]:
import matplotlib.pyplot as plt
from matplotlib_venn import *
%matplotlib inline

import seaborn as sns
import itertools

plt.style.use('seaborn-muted')
# plt.rcParams['font.family'] = 'serif'
# plt.rcParams['font.size'] = 12

import warnings
warnings.filterwarnings('ignore')

## A.1. Number of records per table (part of the generic Booter database schema)

In [ ]:
len(df_users),len(df_logins),len(df_attacks),len(df_payments),len(df_settings),len(df_gateways), len(df_friendsenemies),len(df_blacklist),len(df_webshells),len(df_servers),len(df_plans)

## A.2. Number of users, customers, attackers, and their intersection

In [ ]:
if len(set(df_users['userid'].unique())) > 1:
    users_set=set(df_users['userid'].unique())
else:
    users_set=set(df_users['username'].unique())
    
if len(set(df_logins['userid'].unique())) > 1:
    userslogin_set=set(df_logins['userid'].unique())
else:
    userslogin_set=set(df_logins['username'].unique())

if len(set(df_payments['userid'].unique())) > 1:
    customers_set=set(df_payments['userid'].unique())
else:
    customers_set=set(df_payments['username'].unique())

if len(set(df_attacks['userid'].unique())) > 1:
    attackers_set=set(df_attacks['userid'].unique())
else:
    attackers_set=set(df_attacks['username'].unique())

intersec_customers_attacker=pd.Series(list(customers_set.intersection(attackers_set)))
intersec_users_customers=pd.Series(list(users_set.intersection(customers_set)))
intersec_users_attackers=pd.Series(list(users_set.intersection(attackers_set)))
intersec_users_customers_attackers=pd.Series(list(users_set.intersection(customers_set).intersection(attackers_set)))

In [ ]:
len(users_set),len(userslogin_set),len(customers_set),len(attackers_set)

In [ ]:
fig = plt.figure(figsize=(4,3))
fig.suptitle('Users, Customers & Attackers', fontsize=14)

ax = plt.subplot2grid((1,1), (0,0))

venn=venn3(ax=ax,subsets = {'001':len(attackers_set)-len(intersec_customers_attacker)-len(intersec_users_attackers)+len(intersec_users_customers_attackers), 
                            '010':len(customers_set)-len(intersec_users_customers)-len(intersec_customers_attacker)+len(intersec_users_customers_attackers), 
                            '011':len(intersec_customers_attacker)-len(intersec_users_customers_attackers),
                            '100':len(users_set)-len(intersec_users_customers)-len(intersec_users_attackers)+len(intersec_users_customers_attackers),
                            '101':len(intersec_users_attackers)-len(intersec_users_customers_attackers),
                            '110':len(intersec_users_customers)-len(intersec_users_customers_attackers),
                            '111':len(intersec_users_customers_attackers)},\
          set_labels = ('Users', 'Customers','Attackers'),\
          alpha=1)
try:
    venn.get_patch_by_id('100').set_color('#404096')
except:
    print("*Users set is empty!")  
    
try:
    venn.get_patch_by_id('110').set_color('#DEA73A')
except:
    print("*Customers set is empty!")   

try:
    venn.get_patch_by_id('001').set_color('#D92120')
except:
    print("*Attackers set is empty!")

fig.show()
# fig.savefig('../figs/timeseries_attacks.eps', format='eps', dpi=1200)

## A.3. Distribution of login times per user

In [ ]:
if len(df_logins['userid'].value_counts()) > 0:
    num_distinct_logins_per_user=df_logins['userid'].value_counts()
else:
    num_distinct_logins_per_user=df_logins['username'].value_counts()

freq_distinct_logins_per_user=num_distinct_logins_per_user.value_counts()
cum_dist_user_logins = np.linspace(0.,1.,len(num_distinct_logins_per_user))
cdf_user_logins = pd.Series(cum_dist_user_logins, index=num_distinct_logins_per_user.sort_values())

In [ ]:
if len(num_distinct_logins_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Login Times by Users:', fontsize=14, y=1.05,x=0.35)
    
    #Plot CDF
    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_logins.plot(ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# logins")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    ax1.set_title("")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_logins_per_user.plot(ax=ax2,kind='pie', 
                                       labels=None, 
                                       legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    
    
    
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_logins_per_user.values)/(freq_distinct_logins_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_logins_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/login_times.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.3. Number of Users that Login via TOR

In [ ]:
len(df_logins_torcheck[df_logins_torcheck['tor']==True]['userip'].value_counts())

## 5.4. Number of Distinct IP addresses by Users

In [ ]:
if len(df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()) >0:
    num_distinct_ips_per_user=df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()
else:
    num_distinct_ips_per_user=df_logins.groupby(['username','userip']).size().reset_index()['username'].value_counts()
    
freq_distinct_ips_per_user=num_distinct_ips_per_user.value_counts()
cum_dist_user_ips = np.linspace(0.,1.,len(num_distinct_ips_per_user))
cdf_user_ips = pd.Series(cum_dist_user_ips, index=num_distinct_ips_per_user.sort_values())

In [ ]:
if len(num_distinct_ips_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Distinct IP address used by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_ips.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_ips_per_user.plot(ax=ax2,kind='pie',
                                    labels=None,legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_ips_per_user.values)/(freq_distinct_ips_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_ips_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/num_ips_by_users.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.5. Number of Payments by Users

In [ ]:
if len(df_payments['userid'].value_counts())>0:
    num_distinct_payments_per_user=df_payments['userid'].value_counts()
else:
    num_distinct_payments_per_user=df_payments['username'].value_counts()

freq_distinct_payments_per_user=num_distinct_payments_per_user.value_counts()
cum_dist_user_payments = np.linspace(0.,1.,len(num_distinct_payments_per_user))
cdf_user_payments = pd.Series(cum_dist_user_payments, index=num_distinct_payments_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Number of Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# Payment")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_per_user.plot(ax=ax2,kind='pie', 
                                         labels=None,legend=False,
                                         startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_per_user.values)/(freq_distinct_payments_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/payments_distribution.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.6. Total Amount of Money Earned

In [ ]:
if len(df_payments['amountpaid']) >0:
    total_earned=df_payments['amountpaid'].values.sum()
    'US$ {:,.2f}'.format(float(total_earned))
else:
    print("Unfortunately, there is no data available!")

## 5.7. Amount of Money Paid by Users

In [ ]:
num_distinct_payments_money_per_user=df_payments['amountpaid'].value_counts()
freq_distinct_payments_money_per_user=num_distinct_payments_money_per_user.value_counts()
cum_dist_user_payments_money = np.linspace(0.,1.,len(num_distinct_payments_money_per_user))
cdf_user_payments_money = pd.Series(cum_dist_user_payments_money, index=num_distinct_payments_money_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_money_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Money Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments_money.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("$")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_money_per_user.plot(ax=ax2,kind='pie', 
                                               labels=None,legend=False,
                                               startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_money_per_user.values)/(freq_distinct_payments_money_per_user.values.sum())
    labels = ['${0:1.2f} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_money_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.6, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/distribution_amount_paid.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.8. Countries from where Users Access Booters

In [ ]:
logins_country_distribution_sorted = df_logins_iptoasn['country'].value_counts(sort=True,ascending=True)
logins_country_distribution = df_logins_iptoasn['country'].value_counts()

In [ ]:
if len(logins_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Users Accessing from Countries:', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    logins_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    logins_country_distribution.plot(ax=ax2,kind='pie', 
                                     labels=None,legend=False,
                                     startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*logins_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(logins_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/user_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.9. Countries of Blacklisted IPs

In [ ]:
blacklist_country_distribution=df_blacklist_iptoasn['country'].value_counts()
blacklist_country_distribution_sorted=df_blacklist_iptoasn['country'].value_counts(sort=True,ascending=True)

In [ ]:
if len(blacklist_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of blacklisted IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    blacklist_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    blacklist_country_distribution.plot(ax=ax2,kind='pie', 
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*blacklist_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(blacklist_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/blacklist_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.10. Countries of Target IPs

In [ ]:
attacks_country_distribution=df_attacks_iptoasn['country'].value_counts()

In [ ]:
if len(attacks_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of target IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    attacks_country_distribution.plot(ax=ax1,kind='bar')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    attacks_country_distribution.plot(ax=ax2,kind='pie', 
                                      labels=None,legend=False,
                                      startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*attacks_country_distribution.values)/(attacks_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(attacks_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/attack_countries_distribution.eps',bbox_inches='tight', format='eps', dpi=1200) 
else:
    print("Unfortunately, there is no data available!")

## 5.12. Attacks on Same Target

In [ ]:
num_attacks_on_sametarget=df_attacks['targetip'].value_counts()

freq_num_attacks_on_sametarget=num_attacks_on_sametarget.value_counts()
cum_num_attacks_on_sametarget = np.linspace(0.,1.,len(num_attacks_on_sametarget))
cdf_num_attacks_on_sametarget = pd.Series(cum_num_attacks_on_sametarget, index=num_attacks_on_sametarget.sort_values())

In [ ]:
if len(num_attacks_on_sametarget)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Attacks on Same Targets:', fontsize=14, y=1.05,x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_num_attacks_on_sametarget.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_num_attacks_on_sametarget.plot(ax=ax2,kind='pie',
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_num_attacks_on_sametarget.values)/(freq_num_attacks_on_sametarget.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_num_attacks_on_sametarget.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()

    fig.show()
    fig.savefig('figs/attacks_on_same_target.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.11. Attacks per day (timeseries)

In [ ]:
if len(df_attacks)>0:
    attack_timeseries=df_attacks.set_index(['date']).groupby(pd.TimeGrouper(freq='D')).agg(['count'])['action']
    attack_mean_perday=attack_timeseries.mean()
    attack_median_perday=attack_timeseries.median()
else:
    attack_timeseries=""

In [ ]:
if len(attack_timeseries)>0:
    fig = plt.figure(figsize=(6,3))

    ax1 = plt.subplot2grid((1,1), (0,0), rowspan=2)
    attack_timeseries.plot(ax=ax1,
                           lw=2,
                           legend=False,
    #                        style='--'
                          )

    # X and Y Labels and Ticks
    ax1.set_xlabel("Time (bin=day)")
    ax1.set_ylabel("# Attacks")

    ax1.annotate(str(int(attack_median_perday[0]))+' (median)', 
                 (min(df_attacks['date']), attack_median_perday),
                 xytext=(350, -1), 
                 textcoords='offset points',
                 color='black', 
                 arrowprops=dict(arrowstyle='-|>',
                                 color='black'))
    fig.savefig('figs/attacks_timeseries.eps', bbox_inches='tight',format='eps', dpi=1200)

else:
    print("Unfortunately, there is no data available!")

## 5.12. Time Between Logins and Attacks

In [ ]:
if len(df_attacks_and_logins)>0:
    print("redo")
else:
    print("Unfortunately, there is no data available!")

## 5.13. Who attack whom? (users on the country level)

In [ ]:
if len(df_attacks_extended)>0 and len(df_logins_extended)>0:
    merged_attacks_logins = pd.merge(df_attacks_extended,
                                  df_logins_extended,
                                  how = 'left',
                                  left_on = 'date',
                                  right_on = 'date')[['targetcountry','srccountry']]

    who_against_whom = merged_attacks_logins.groupby(['targetcountry','srccountry'])\
                            .size()\
                            .reset_index()\
                            .pivot('srccountry','targetcountry',0)
else:
    who_against_whom =""

In [ ]:
if len(who_against_whom)>0:
    fig = plt.figure(figsize=(8,12))
    fig.suptitle('Countries of Target IPs', fontsize=14, y=.92)

    ax1 = plt.subplot2grid((1,1), (0,0))
    sns.set()
    sns.heatmap(who_against_whom,
                ax=ax1,
#                 cmap="YlGnBu",
    #             linewidths=.5,
    #             annot=True
                )

    ax1.set_ylabel("Source Country")
    ax1.set_xlabel("Attack Target Country")

    fig.show()
    fig.savefig('figs/who_attack_whom.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

<h1 align="center">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
FIFTH PART: Query Interface<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [ ]:
from ipywidgets import widgets, interact, Dropdown,HTML
from IPython.display import display,clear_output

In [ ]:
def search_by_userid_submit(sender):
    clear_output()
    print("Searching by id =",search_by_userid.value)
    
    if len(df_users[df_users['userid']== int(search_by_userid.value)])>0:
        display(df_users[df_logins['userid']== int(search_by_userid.value)])
    
    if len(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])>0:
        display(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])
    
    if len(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])>0:
        display(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])
    
    if len(df_payments[df_payments['userid']== int(search_by_userid.value)])>0:
        display(df_payments[df_payments['userid']== int(search_by_userid.value)])

def search_by_username_submit(sender):
    clear_output()
    print("Searching by username =",search_by_username.value,"\n")
    
    if len(df_users[df_users['username']== search_by_username.value])>0:
        print("Table df_users:")
        display(df_users[df_users['username']== search_by_username.value])
    
    if len(df_logins_extended[df_logins_extended['username']== search_by_username.value])>0:
        print("Table df_logins:")
        display(df_logins_extended[df_logins_extended['username']== search_by_username.value])

    if len(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])>0:
        print("Table df_attacks:")
        display(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])
    
    if len(df_payments[df_payments['username']== search_by_username.value])>0:
        print("Table df_payments:")
        display(df_payments[df_payments['username']== search_by_username.value])
        
def search_by_ip_submit(sender):
    clear_output()
    print("Searching by IP address =",str(search_by_ip.value),"\n")
    
    if len(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])>0:
        print("Table df_logins (as ATTACKER:")
        display(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])
     
    if len(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])  
      
       
def search_by_asn_submit(sender):
    clear_output()
    print("Searching by Autonomous System Number (ASN) =",search_by_asn.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])
    
    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

        
country_list=pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/master/data.csv',delimiter=",",error_bad_lines=False)
def search_by_country_submit():
    country_code=country_list[country_list['Name']==search_by_country.value]['Code'].values[0]
    clear_output()
    print("Searching by Country =",search_by_country.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srccountry']== country_code])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srccountry']== country_code])
    
    if len(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])

In [ ]:
display(HTML('<h3>*Search by (only) one field per time:</h3>'))

search_by_username = widgets.Text(description="username")
display(search_by_username)
search_by_username.on_submit(search_by_username_submit)

search_by_userid = widgets.Text(description="userid")
display(search_by_userid)
search_by_userid.on_submit(search_by_userid_submit)

search_by_ip = widgets.Text(description="IP")
display(search_by_ip)
search_by_ip.on_submit(search_by_ip_submit)

search_by_asn = widgets.Text(description="ASN")
display(search_by_asn)
search_by_asn.on_submit(search_by_asn_submit)

search_by_country = Dropdown(description="Country", options=country_list['Name'].tolist())
search_by_country.on_trait_change(search_by_country_submit, name="value")
display(search_by_country)