<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
Brief explanation on our Booter database analysis methodology: <br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

# Analysis of: flashstresser
#### File originally retrieved from: http://4lz5rmnkd6f63tmm.onion/db/flashstresser.sql

## * Libraries that I use to analyse data

In [1]:
import pandas as pd
import numpy as np

from io import StringIO
import re

from IPython.display import display,clear_output

In [3]:
%run '../booter_db_analysis_functions.ipynb'

 Functions loaded!!!!

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 0: Reading an input Booter database file<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [2]:
dumpfile='flashstresser.sql'

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 1: Adaptation to our Booter database schema<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

## 1. Reading the first 'N' (100) lines of the input Booter database file

In [7]:
lines_to_read=100

with open(dumpfile) as myfile:
    firstlines=myfile.readlines()[0:lines_to_read] #put here the interval you want
    for x in firstlines:
        print(x.strip())

-- phpMyAdmin SQL Dump
-- version 3.5.5
-- http://www.phpmyadmin.net
--
-- Host: localhost
-- Generation Time: May 26, 2013 at 07:12 AM
-- Server version: 5.1.68-cll
-- PHP Version: 5.3.17

SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO"; SET time_zone = "+00:00";
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;

--
-- --------------------------------------------------------
--
-- Table structure for table `API`
--

CREATE TABLE IF NOT EXISTS `API` ( `UDP` text NOT NULL ) ENGINE=MyISAM DEFAULT CHARSET=latin1;
--
-- Dumping data for table `API`
--
INSERT INTO `API` (`UDP`) VALUES ('http://82.196.3.101/send.php?host=[host]&time=[time]&port=[port]&key=ras&user=ras&method=[method] http://bestbooter.com/send.php?key=335rifrt5&host=[host]&time=[time]&port=[port] http://missiontech.us/API/send.php?key=2844459ti59&host=[host]&time=[time]&port=[port] http://zstress.info/revenge.php?key=revenge&host=[host]&port=[port]&time=[time]&method=[method] http://api5.powerapi.net/api/send.php?key=PowerAPI&host=[host]&port=[port]&time=[time]&method=[method] http://api6.powerapi.net/api/send.php?key=PowerAPI&host=[host]&port=[port]&time=[time]&method=[method] http://api7.powerapi.net/api/send.php?key=PowerAPI&host=[host]&port=[port]&time=[time]&method=[method]');
-- --------------------------------------------------------
--
-- Table structure for table `blacklist`
--
CREATE TABLE IF NOT EXISTS `blacklist` ( `ID` int(11) NOT NULL AUTO_INCREMENT, `IP` varchar(15) NOT NULL, `note` text NOT NULL, PRIMARY KEY (`ID`) ) ENGINE=MyISAM DEFAULT CHARSET=latin1 AUTO_INCREMENT=15 ;
--
-- Dumping data for table `blacklist`
--
INSERT INTO `blacklist` (`ID`, `IP`, `note`) VALUES
(10, '127.0.0.1', 'fuckstick'),
(6, '68.58.13.198', 'Classified'),
(8, '37.221.170.105', ''),
(9, '72.21.81.85', ''),
(11, '72.21.81.85', 'FBI'),
(13, '198.81.129.107', 'CIA'),
(14, '178.33.198.208', 'cakes dick');
-- --------------------------------------------------------
--
-- Table structure for table `fe`
--
CREATE TABLE IF NOT EXISTS `fe` ( `ID` int(11) NOT NULL AUTO_INCREMENT, `userID` int(11) NOT NULL, `type` varchar(1) NOT NULL, `ip` varchar(15) NOT NULL, `note` text NOT NULL, PRIMARY KEY (`ID`) ) ENGINE=MyISAM DEFAULT CHARSET=latin1 AUTO_INCREMENT=96 ;
--
-- Dumping data for table `fe`
--
INSERT INTO `fe` (`ID`, `userID`, `type`, `ip`, `note`) VALUES
(1, 11, 'f', '99.7.66.252', 'Afri'),
(3, 21, 'e', '184.151.63.185', 'nevertrapx'),
(5, 21, 'e', '174.29.111.208', 'neversacx'),
(10, 8, 'f', '92.21.192.90', 'luke\r\n'),
(11, 8, 'e', '88.89.219.61', 'weeD?\r\n'),
(12, 115, 'f', '86.186.237.65', 'Ryan Don\\''t Touch!'),
(13, 66, 'f', '173.245.56.177', 'MayoDwarf'),
(15, 66, 'f', '99.247.212.76', 'DXColdFusionXD'),
(16, 139, 'f', '50.142.160.74', 'Charlene.!<3'),
(17, 134, 'e', '202.124.96.151', 'SANTA'),
(18, 169, 'e', '184.156.219.5', 'PROFAGSKI'),
(19, 163, 'f', '74.199.94.248', 'Friend,dont u dare fucking ddos,getting and email if u do and blocked'),
(20, 186, 'f', '173.189.14.59', ''),
(21, 186, 'f', '71.59.229.31', ''),
(22, 186, 'f', '98.230.56.167', ''),
(23, 199, 'f', '142.167.158.252', 'Jonathan'),
(24, 199, 'f', '142.239.254.19', 'Ammar'),
(25, 199, 'e', '72.92.223.231', 'Kobi borden\r\n\r\nrsn: Kobi69'),
(26, 199, 'e', '174.236.33.210', '0T3 FC owner'),
(27, 199, 'f', '216.218.29.212', 'Sumit'),
(28, 199, 'e', '142.68.226.83', 'Majed Edrisi'),
(29, 203, 'e', '208.255.153.10', 'SHMS'),
(30, 26, 'e', '168.62.23.92', 'host'),
(33, 376, 'f', '127.0.0.1', 'fagg<>'),
(32, 373, 'f', '216.38.7.227', ':)'),
(34, 376, 'e', '127.0.0.2', 'fagg2<>'),
(35, 378, 'f', '95.141.40.14', 'EMS only nuke'),
(36, 378, 'e', '95.141.40.57', 'Server SWF'),
(37, 375, 'e', '95.241.103.150', 'Connessione Scuola.'),
(38, 8, 'e', '109.156.20.239', 'kingyo\r\n'),
(47, 427, 'e', '67.84.177.227', 'this kid needs to be hit'),
(45, 405, 'f', '130.180.80.43', 'Kucki'),
(46, 427, 'e', '69.74.165.132', 'this needs to be taken down'),
(43, 375, 'e', '109.168.106.107', 'Mumble GameHosting'),
(44, 152, 'f', '67.8.172.133', 'luis'),
(48, 405, 'f', '93.14.54.144', 'Nexor'),
(49, 405, 'f', '109.193.180.157', 'Failzor'),
(50, 405, 'f', '95.208.240.174', 'Steven'),
(51, 405, 'e', '109.208.169.160', 'Eleven'),
(52, 449, 'e', '69.74.165.132', 'School '),
(53, 66, 'e', '74.75.63.101', 'Dominik the fag'),
(54, 747, 'f', '184.190.66.160', 'Friend'),
(55, 446, 'e', '37.59.50.34', 'Port: 25570\r\nDrama''s Server\r\nSSYN attack.'),
(56, 446, 'e', '46.4.81.41', 'Port: 25704\r\nAde''s Server\r\nUDP attack.'),
(57, 385, 'e', '108.80.144.211', 'brody'),
(58, 812, 'e', '79.0.166.217', 'Dossare Sempre'),
(59, 812, 'e', '77.111.194.119', ''),
(60, 800, 'e', '68.207.210.116', 'bama1411'),
(61, 815, 'e', '95.141.32.114', ''),

## 2. Listing tables that have content inserted into the dump file

In [8]:
def list_tables_with_insert(dumpfile):
    tables = []
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            if line.lower().startswith('insert'):
                table = re.findall(r'`(.*?)`', line)
                tables.append(table[0])
    return tables

In [9]:
tables=enumerate(list_tables_with_insert(dumpfile))

for i, item in tables:
    print(i+1,item)

1 API
2 blacklist
3 fe
4 gateway
5 iplogs
6 loginlogs
7 loginlogs
8 loginlogs
9 loginlogs
10 loginlogs
11 logs
12 messages
13 news
14 payments
15 plans
16 tickets
17 users
18 users

## How the list above looks like?

<h2 align='center'>======================================================================
If NOT well-formed SQL dump file then you must first do the following:
======================================================================</h2>

## 3. Removing lines that are not part of the actual content to be analysed

## 4. Splitting and naming tables and columns

<h2 align='center'>======================================================================
Adapting EACH existing table
======================================================================</h2>

## 6.1. Table: 'API'

### How this table looks like without modification?

In [10]:
tablename='API'

pd.read_csv(read_inserted_table1(dumpfile,tablename),delimiter=",",error_bad_lines=False)

Empty DataFrame
Columns: [UDP]
Index: []

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o 
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.2. Table: 'blacklist'

### How this table looks like without modification?

In [11]:
tablename='blacklist'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   ID              IP        note
0  10       127.0.0.1   fuckstick
1   6    68.58.13.198  Classified
2   8  37.221.170.105         NaN
3   9     72.21.81.85         NaN
4  11     72.21.81.85         FBI
5  13  198.81.129.107         CIA
6  14  178.33.198.208  cakes dick

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: blacklist
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o ID -> id
        o IP -> ip
    - Add required columns:
        o  
    - Split columns:
        o

### Modifying table: 'blacklist'

In [12]:
# Loading the correct table name
df_blacklist = pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names
df_blacklist.rename(inplace=True, columns = {'ID': 'id',
                                            'IP':'ip'})

# Adding missing columns (with "" [for future string] or np.nan [for future float])

###Showing some lines after adapt the table
df_blacklist.head(10)

   id              ip        note
0  10       127.0.0.1   fuckstick
1   6    68.58.13.198  Classified
2   8  37.221.170.105         NaN
3   9     72.21.81.85         NaN
4  11     72.21.81.85         FBI
5  13  198.81.129.107         CIA
6  14  178.33.198.208  cakes dick

## 6.3. Table: 'fe'

### How this table looks like without modification?

In [13]:
tablename='fe'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   ID  userID type              ip                note
0   1      11    f     99.7.66.252                Afri
1   3      21    e  184.151.63.185          nevertrapx
2   5      21    e  174.29.111.208           neversacx
3  10       8    f    92.21.192.90            luke\r\n
4  11       8    e    88.89.219.61           weeD?\r\n
5  12     115    f   86.186.237.65  Ryan Don\\t Touch!
6  13      66    f  173.245.56.177           MayoDwarf
7  15      66    f   99.247.212.76      DXColdFusionXD
8  16     139    f   50.142.160.74        Charlene.!<3
9  17     134    e  202.124.96.151               SANTA

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: friendsenemies
#### Q3: Are there modifications required? 
    - On the table name: 
        o fe -> friendsenemies
    - On the column type: 
        o type -> friendsenemies_type() 
    - On the column name:
        o ID -> id
        o userID -> userid
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'fe'

In [14]:
# Loading the correct table name
df_friendenemies = pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_friendenemies['type']=friendsenemies_type(df_friendenemies['type'])

# Changing column names
df_friendenemies.rename(inplace=True, columns = {'ID': 'id',
                                            'userID':'userid'})

# Adding missing columns (with "" [for future string] or np.nan [for future float])

###Showing some lines after adapt the table
df_friendenemies.head(10)

   id  userid    type              ip                note
0   1      11  friend     99.7.66.252                Afri
1   3      21   enemy  184.151.63.185          nevertrapx
2   5      21   enemy  174.29.111.208           neversacx
3  10       8  friend    92.21.192.90            luke\r\n
4  11       8   enemy    88.89.219.61           weeD?\r\n
5  12     115  friend   86.186.237.65  Ryan Don\\t Touch!
6  13      66  friend  173.245.56.177           MayoDwarf
7  15      66  friend   99.247.212.76      DXColdFusionXD
8  16     139  friend   50.142.160.74        Charlene.!<3
9  17     134   enemy  202.124.96.151               SANTA

## 6.4. Table: 'gateway'

### How this table looks like without modification?

In [15]:
tablename='gateway'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

Empty DataFrame
Columns: [email]
Index: []

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: gateways
#### Q3: Are there modifications required? 
    - On the table name: 
        o gateway -> gateways
    - On the column type: 
        o  
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'gateway'

In [16]:
# Loading the correct table name
df_gateways = pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names

# Showing some lines after adapt the tabledf_plans['maxboottime'] = np.nan

# Showing some lines after adapt the table
df_gateways.head(10)

Empty DataFrame
Columns: [email]
Index: []

## 6.5. Table: 'iplogs'

### How this table looks like without modification?

In [17]:
tablename='iplogs'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   ID  userID           logged        date
0   1      27  123.243.160.138  1362335704
1   2     843     199.21.99.80  1362338690
2   3      18   174.108.22.149  1362369409
3   4       8    81.205.42.137  1362419514
4   5       8     46.129.74.73  1362419524
5   6       8     86.186.3.202  1362419525
6   7       8     46.129.74.73  1362419529
7   8       8     46.129.74.73  1362419554
8   9       8     46.129.74.73  1362419559
9  10       8   208.94.145.108  1362419589

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: logins
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o date -> timestamp2datetime()
    - On the column name:
        o ID -> id
        o userID -> userid
        o logged -> userip
    - Add required columns:
        o username
    - Split columns:
        o

### Modifying table: 'iplogs'

In [18]:
# Loading the correct table name
df_logins = pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_logins['date'] = timestamp2datetime(df_logins['date']) 

# Changing names of columns
df_logins.rename(inplace=True, columns = {'ID': 'id',
                                         'userID': 'userid',
                                         'logged':'userip'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_logins['username']=''


# Showing some lines after adapt the table
df_logins.head(10)

   id  userid           userip                date username
0   1      27  123.243.160.138 2013-03-03 18:35:04
1   2     843     199.21.99.80 2013-03-03 19:24:50
2   3      18   174.108.22.149 2013-03-04 03:56:49
3   4       8    81.205.42.137 2013-03-04 17:51:54
4   5       8     46.129.74.73 2013-03-04 17:52:04
5   6       8     86.186.3.202 2013-03-04 17:52:05
6   7       8     46.129.74.73 2013-03-04 17:52:09
7   8       8     46.129.74.73 2013-03-04 17:52:34
8   9       8     46.129.74.73 2013-03-04 17:52:39
9  10       8   208.94.145.108 2013-03-04 17:53:09

## 6.6. Table: 'loginlogs'

### How this table looks like without modification?

In [19]:
tablename='loginlogs'

pd.read_csv(read_inserted_table2(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

  username               ip        date
0    admin   99.229.169.138  1362249359
1  mastery   142.134.44.232  1362249431
2    Poppe    90.229.239.18  1362250950
3   google   99.164.164.252  1362251377
4    Mewtu    85.245.62.109  1362251799
5     ycie    81.205.42.137  1362251912
6  madhawk  123.236.189.171  1362252484
7    Poppe    90.229.239.18  1362255695
8  Nyanbot   122.57.224.195  1362256133
9     Help    204.14.79.111  1362257770

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES  and APPEND
    - This table looks like: logins
#### Q3: Are there modifications required? 
    - On the table name: 
        o loginlogs -> logins_temp
    - On the column type: 
        o date -> timestamp2datetime()
    - On the column name:
        o ip -> userip
    - Add required columns:
        o id
        o userid
    - Split columns:
        o

### Modifying table: 'loginlogs'

In [20]:
# Loading the correct table name
df_logins_temp = pd.read_csv(read_inserted_table2(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_logins_temp['date'] = timestamp2datetime(df_logins_temp['date']) 

# Changing names of columns
df_logins_temp.rename(inplace=True, columns = {'ip':'userip'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_logins_temp['id']=''
df_logins_temp['userid']=''


# Showing some lines after adapt the table
df_logins_temp.head(10)

  username           userip                date id userid
0    admin   99.229.169.138 2013-03-02 18:35:59
1  mastery   142.134.44.232 2013-03-02 18:37:11
2    Poppe    90.229.239.18 2013-03-02 19:02:30
3   google   99.164.164.252 2013-03-02 19:09:37
4    Mewtu    85.245.62.109 2013-03-02 19:16:39
5     ycie    81.205.42.137 2013-03-02 19:18:32
6  madhawk  123.236.189.171 2013-03-02 19:28:04
7    Poppe    90.229.239.18 2013-03-02 20:21:35
8  Nyanbot   122.57.224.195 2013-03-02 20:28:53
9     Help    204.14.79.111 2013-03-02 20:56:10

In [21]:
df_logins=df_logins.append(df_logins_temp)

## 6.7. Table: 'logs'

### How this table looks like without modification?

In [23]:
tablename='logs'

pd.read_csv(read_inserted_table3(dumpfile, tablename,"`",[1]),delimiter=",",error_bad_lines=False)

DEBUG (get table): INSERT INTO `logs` (`user`, `ip`, `port`, `time`, `method`, `date`) VALUES

             user                ip   port  time method        date
0      RaphaSande     187.109.170.4   8000   600    udp  1369407362
1            Mark    178.33.234.202     80   150    tcp  1369407404
2         sinnerz    71.235.201.178     80   900    udp  1369407570
3      RaphaSande      69.162.72.43  25565   600    udp  1369407972
4           Creep      37.59.28.132  25565   600    udp  1369408126
5           Karlo     62.75.184.204     80   300    udp  1369408346
6       thegamewe    158.58.173.203     80   600    udp  1369408426
7    kevin127bror      213.67.137.2     80   200    udp  1369408597
8          Kratus      78.36.140.27     80   300    udp  1369408770
9      vnevermore     66.79.184.152     80    80    udp  1369409004
10     vnevermore     66.79.184.152     80    80    udp  1369409135
11     RaphaSande   192.119.149.195  25565   600    udp  1369409186
12          Creep      37.59.28.132  25565   600    udp  1369409731
13    thenono2110    82.231.54.155      80    10    udp  1369409825
14          Karlo     85.190.168.55     22    30    udp  1369414619
15     RaphaSande   192.119.149.195  25565   600    udp  1369414938
16      thegamewe     95.141.32.119     80   600    udp  1369414945
17     RaphaSande    186.212.31.152     80   125    tcp  1369415659
18        ricoIII     80.241.209.60  25565    50    tcp  1369415690
19        ricoIII     80.241.209.60     80   100  essyn  1369415779
20     RaphaSande  200.98.200.251\t  25565   200    udp  1369415903
21     vnevermore     66.79.184.152     80   120  essyn  1369415937
22     vnevermore    188.215.52.169     80    60  essyn  1369416068
23        ricoIII    151.64.149.16   25565    50    udp  1369416094
24     RaphaSande   173.192.120.143     80   600    tcp  1369416149
25        ricoIII     151.64.149.16     80   100    udp  1369416180
26     vnevermore    188.215.52.169     80    60  essyn  1369416181
27     vnevermore    188.215.52.169     80    60    tcp  1369416293
28    littleapple      66.215.65.20     80    60    udp  1369416430
29     vnevermore    188.215.52.169     80    60  essyn  1369416447
..            ...               ...    ...   ...    ...         ...
550         wmj11       209.91.9.55     80   300    udp  1369530504
551  america2007a    109.127.81.200     80   200    udp  1369530560
552         wmj11       209.91.9.55     80   100    udp  1369531031
553    RaphaSande    177.189.34.234     80   600    udp  1369531116
554         wmj11       209.91.9.55     80   100    udp  1369531319
555  america2007a      78.164.14.28     80   300    udp  1369531523
556         wmj11       209.91.9.55     80   100    udp  1369531586
557         wmj11       209.91.9.55     80   100    udp  1369531775
558       Rasbora      109.3.51.194     80    35    udp  1369532462
559          rulz    178.33.117.239   7777   300    udp  1369532674
560         Admin      109.3.51.194     80   100    udp  1369532723
561         wmj11       209.91.9.55     80   100    udp  1369533670
562          rulz    178.33.117.239     21   300  essyn  1369533837
563         qNxX1    109.230.236.82  27015   300    udp  1369533903
564         Bread      109.3.51.194     80    30    udp  1369534188
565       MonstaR    173.254.28.116     80    60  essyn  1369534613
566     zilogical     99.183.128.13     80   250    udp  1369534883
567       SolDram      190.93.253.6     80   300  essyn  1369535107
568         Admin      109.3.51.194     80   120    udp  1369535481
569         Bread       69.31.20.84     80    30    udp  1369535806
570         Admin      109.3.51.194     80   100    tcp  1369535857
571    RaphaSande    177.189.34.234     80   600    udp  1369535946
572         qNxX1    71.231.168.219  27015   300    udp  1369536004
573    RaphaSande     177.193.73.57     80   100    udp  1369536760
574         Bread   216.107.144.201     80   600    udp  1369537534
575    RaphaSande      177.3.50.181     80    50    udp  1369538008
576        Kinect     64.94.101.160  25200  3600  essyn  1369538323
577    RaphaSande      69.162.72.43  25565    50    udp  1369539341
578    RaphaSande    177.189.34.234     80   600    udp  1369540128
579        Jarful      96.238.0.182   3074   200    udp  1369541652

[580 rows x 6 columns]

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: attacks
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o logs -> attacks
    - On the column type: 
        o date -> timestamp2datetime
    - On the column name:
        o user-> username
        o ip -> targetip
        o time -> duration
        o method -> type
    - Add required columns:
        o id
        o userid
        o targeturl        
    - Split columns:
        o

### Modifying table: 'logs'

In [24]:
# Loading the correct table name
df_attacks = pd.read_csv(read_inserted_table3(dumpfile, tablename,"`",[1]),delimiter=",",error_bad_lines=False)

# Converting columns
df_attacks['date'] = timestamp2datetime(df_attacks['date']) 

# Changing names of columns
df_attacks.rename(inplace=True, columns = {'user':'username',
                                          'ip': 'targetip',
                                          'time':'duration',
                                          'method':'type'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_attacks['id']=np.nan
df_attacks['userid']=np.nan
df_attacks['targeturl']=np.nan

# Showing some lines after adapt the table
df_attacks.head(10)

DEBUG (get table): INSERT INTO `logs` (`user`, `ip`, `port`, `time`, `method`, `date`) VALUES

,username,targetip,port,duration,type,date,id,userid,targeturl
0,RaphaSande,187.109.170.4,8000,600,udp,2013-05-24 14:56:02,NaN,NaN,NaN
1,Mark,178.33.234.202,80,150,tcp,2013-05-24 14:56:44,NaN,NaN,NaN
2,sinnerz,71.235.201.178,80,900,udp,2013-05-24 14:59:30,NaN,NaN,NaN
3,RaphaSande,69.162.72.43,25565,600,udp,2013-05-24 15:06:12,NaN,NaN,NaN
4,Creep,37.59.28.132,25565,600,udp,2013-05-24 15:08:46,NaN,NaN,NaN
5,Karlo,62.75.184.204,80,300,udp,2013-05-24 15:12:26,NaN,NaN,NaN
6,thegamewe,158.58.173.203,80,600,udp,2013-05-24 15:13:46,NaN,NaN,NaN
7,kevin127bror,213.67.137.2,80,200,udp,2013-05-24 15:16:37,NaN,NaN,NaN
8,Kratus,78.36.140.27,80,300,udp,2013-05-24 15:19:30,NaN,NaN,NaN
9,vnevermore,66.79.184.152,80,80,udp,2013-05-24 15:23:24,NaN,NaN,NaN

## 6.8. Table: 'messages'

### How this table looks like without modification?

In [25]:
tablename='messages'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,messageid,ticketid,content,sender
0,1,1,Working.,Admin
1,2,2,dsfrdg,Admin
2,3,3,Hey whats up,Admin
3,4,4,Yes the Steam Resolver does not work Steam res...,Admin
4,5,5,It\\s hitting like a truck atm try again.,Admin
5,6,6,Currently no although we will work on a featur...,Admin
6,7,7,fffgfh,Admin
7,8,10,I have updated you.,Admin
8,9,11,I\\m bronze lifetime member. Could log in just...,Client
9,10,12,You would have Platinum Lifetime here can you ...,Admin

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.9. Table: 'news'

### How this table looks like without modification?

In [26]:
tablename='news'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

Empty DataFrame
Columns: [ID, title, detail, date]
Index: []

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.10. Table: 'payments'

### How this table looks like without modification?

In [28]:
tablename='payments'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,ID,paid,plan,user,email,tid,date
0,1,0.05,80,920,hf.diamond@yahoo.com,75J4505810889372S,1369430055
1,2,5.00,66,922,opietros3@gmail.com,3SP599764G888202C,1369431344
2,3,15.00,67,826,AluAir95@gmail.com,6588089194246584A,1369434707
3,4,15.00,67,907,joannminor9471@yahoo.com,6EL234543D167345L,1369443250
4,5,25.00,72,931,zach.j.smith@gmail.com,59B19714W7154672B,1369450757
5,6,30.00,69,880,kleemartin@t-online.de,00H78920PK528422Y,1369476182
6,7,5.00,66,937,lory-ermejo@live.it,9BW51169NP3184444,1369476375
7,8,10.00,68,939,andreas_kavouri@hotmail.com,50V7141949681860K,1369481022
8,9,5.00,66,884,ngoj3000@gmail.com,3U41391264641894C,1369482720
9,10,5.00,66,924,brunetto-angioni@tiscali.it,0L086667KV695845A,1369487839

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES 
    - This table looks like: payments
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o date -> timestamp2datetime()
    - On the column name:
        o ID -> id
        o user -> userid
        o paid -> amountpaid 
        o email -> paymentemail 
        o plan -> planid
    - Add required columns:
        o username
    - Split columns:
        o

### Modifying table: 'payments'

In [29]:
# Loading the correct table name
df_payments = pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_payments['date'] = timestamp2datetime(df_payments['date']) 

# Changing names of columns
df_payments.rename(inplace=True, columns = {'ID':'id',
                                           'user':'userid',
                                           'paid': 'amountpaid',
                                           'email': 'paymentemail',
                                           'plan':'planid'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_payments['username']=''


# Showing some lines after adapt the table
df_payments.head(10)

,id,amountpaid,planid,userid,paymentemail,tid,date,username
0,1,0.05,80,920,hf.diamond@yahoo.com,75J4505810889372S,2013-05-24 21:14:15,
1,2,5.00,66,922,opietros3@gmail.com,3SP599764G888202C,2013-05-24 21:35:44,
2,3,15.00,67,826,AluAir95@gmail.com,6588089194246584A,2013-05-24 22:31:47,
3,4,15.00,67,907,joannminor9471@yahoo.com,6EL234543D167345L,2013-05-25 00:54:10,
4,5,25.00,72,931,zach.j.smith@gmail.com,59B19714W7154672B,2013-05-25 02:59:17,
5,6,30.00,69,880,kleemartin@t-online.de,00H78920PK528422Y,2013-05-25 10:03:02,
6,7,5.00,66,937,lory-ermejo@live.it,9BW51169NP3184444,2013-05-25 10:06:15,
7,8,10.00,68,939,andreas_kavouri@hotmail.com,50V7141949681860K,2013-05-25 11:23:42,
8,9,5.00,66,884,ngoj3000@gmail.com,3U41391264641894C,2013-05-25 11:52:00,
9,10,5.00,66,924,brunetto-angioni@tiscali.it,0L086667KV695845A,2013-05-25 13:17:19,

## 6.11. Table: 'tickets'

### How this table looks like without modification?

In [30]:
tablename='tickets'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,subject,content,status,username
0,1,Test,Test,Closed,Mastery
1,2,fggg,fg,Closed,Admin
2,3,Test 2,Testing to see if this works.,Closed,Mastery
3,4,Steam Resolver,Everytime I use the steam resolver I input the...,Waiting for user response,lm0drevil
4,5,Doesn\\t hit!,Hey bro I am excited about your booter and hav...,Waiting for user response,american
5,6,IP Logger,Can we make the link for the IP Logger differe...,Waiting for user response,DXColdFusionXD
6,7,fgfg,Enter your message here!fffff,Closed,Admin
7,10,900 seconds instead of 3600,Hello\r\n\r\nI bought the 3600 lifetime packag...,Waiting for user response,domi
8,14,skype resolver,hello my skype ip resolver has not been workin...,Waiting for user response,gunner3349
9,15,Hitting Power atm?,Hello my Question are what are the actually hi...,Waiting for user response,Karlo

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.12. Table: 'users'

### How this table looks like without modification?

In [35]:
tablename='users'

pd.read_csv(read_inserted_table2(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,ID,username,password,email,rank,membership,expire,status
0,4,Poppe,3f706ce3b63dfcfab8835acfcfee1f0bb5d95ecc,negatr00n@gmail.com,0,57,1364930514,0
1,5,tec1,1adc8691f8805276baa2b36862d63ea208dcc940,rockwings00@gmail.com,0,71,1526587038,0
2,6,google,759730a97e4373f3a0ee12805db065e3a4a649a5,googlepops@gmail.com,0,0,0,0
3,7,Mewtu,24ee40936359b9a1f241ab8d3135149aa53a12b2,jorgegodinho3@gmail.com,0,0,0,0
4,8,ycie,141248fa91c52a213353d0bba6b7e827e8472ba6,ycie@live.nl,0,73,1524698518,0
5,9,madhawk,10e6d337c871aab90e191da78a8338addf52ce12,tmkcama@gmail.com,0,0,0,0
6,127,lukesanchezz,d14b17a9f0dd009b5eee643f1bd2103f7542fa6e,lukee2121@gmail.com,0,0,0,0
7,11,Help,cf7d73bb6ed704cf1c5d23f3bd537d07a85b95e2,helpscreations@gmail.com,0,61,1520024959,0
8,12,DarkComet,80718abd1d4604e1d0f68aa116f0dfa0c4a14f36,darkcometderp333@gmail.com,0,0,1364944965,0
9,13,yahtalksucks,8473d7d363baa4cea898d9c0752ff0fc8ef425cc,phatbeatz___@hotmail.com,0,0,0,0

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES 
    - This table looks like: users
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o expire -> timestamp2datetime()
    - On the column name:
        o ID -> userid
        o email -> useremail 
        o membership -> planid
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'users'

In [36]:
# Loading the correct table name
df_users = pd.read_csv(read_inserted_table2(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_users['expire'] = timestamp2datetime(df_users['expire']) 

# Changing names of columns
df_users.rename(inplace=True, columns = {'ID':'userid',
                                           'email':'useremail',
                                           'membership': 'planid'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])

# Showing some lines after adapt the table
df_users.head(10)

,userid,username,password,useremail,rank,planid,expire,status
0,4,Poppe,3f706ce3b63dfcfab8835acfcfee1f0bb5d95ecc,negatr00n@gmail.com,0,57,2013-04-02 19:21:54,0
1,5,tec1,1adc8691f8805276baa2b36862d63ea208dcc940,rockwings00@gmail.com,0,71,2018-05-17 19:57:18,0
2,6,google,759730a97e4373f3a0ee12805db065e3a4a649a5,googlepops@gmail.com,0,0,1970-01-01 00:00:00,0
3,7,Mewtu,24ee40936359b9a1f241ab8d3135149aa53a12b2,jorgegodinho3@gmail.com,0,0,1970-01-01 00:00:00,0
4,8,ycie,141248fa91c52a213353d0bba6b7e827e8472ba6,ycie@live.nl,0,73,2018-04-25 23:21:58,0
5,9,madhawk,10e6d337c871aab90e191da78a8338addf52ce12,tmkcama@gmail.com,0,0,1970-01-01 00:00:00,0
6,127,lukesanchezz,d14b17a9f0dd009b5eee643f1bd2103f7542fa6e,lukee2121@gmail.com,0,0,1970-01-01 00:00:00,0
7,11,Help,cf7d73bb6ed704cf1c5d23f3bd537d07a85b95e2,helpscreations@gmail.com,0,61,2018-03-02 21:09:19,0
8,12,DarkComet,80718abd1d4604e1d0f68aa116f0dfa0c4a14f36,darkcometderp333@gmail.com,0,0,2013-04-02 23:22:45,0
9,13,yahtalksucks,8473d7d363baa4cea898d9c0752ff0fc8ef425cc,phatbeatz___@hotmail.com,0,0,1970-01-01 00:00:00,0

<h2 align='center'>======================================================================
<br>Final step of the manual part
======================================================================</h2>

# 7. Adding missing tables accordingly to our generic Booter database

In [37]:
#df_attacks= pd.DataFrame(columns=['id','userid','username','targetip','targeturl','duration','port','type','date'])
#df_blacklist=pd.DataFrame(columns=['id','ip','note'])
#df_friendsenemies=pd.DataFrame(columns=['id','ip','note','userid','type'])
#df_gateways=pd.DataFrame(columns=['email'])
#df_logins=pd.DataFrame(columns=['id','userid','username','userip','date'])
#df_payments=pd.DataFrame(columns=['id','userid','username','amountpaid','paymentemail','planid','tid','date'])
df_plans=pd.DataFrame(columns=['planid','planname','plandescr','price','maxboottime','concurrency'])
df_servers=pd.DataFrame(columns=['id','ip'])
df_settings=pd.DataFrame(columns=['url','sitename','siteemail'])
#df_users=pd.DataFrame(columns=['userid','username','useremail','password','expire','plan'])      
df_webshells=pd.DataFrame(columns=['id','url','status','lastchecked','attacktype'])

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 2: Data Enrichment<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

### * Depending of the size of the data, this part can take HOURS. I tested for both small and big datasets and it worked. Be pacient. This will pay-off!

## * Libraries needed to retrieve information from external databases

In [ ]:
import subprocess
import cfscrape
from lxml import etree
import os.path
import random
import time

## * Function to enrich IP addresseswith AS information and country

In [ ]:
# THANKS TO: team-cymru.org
def iptoasn(iplist_teamcymruformat_filelocation,outputfile):
    cat = subprocess.Popen(['cat', iplist_teamcymruformat_filelocation], 
                            stdout=subprocess.PIPE)
    
    netcat = subprocess.Popen(['netcat', 'whois.cymru.com', '43'],
                              stdin=cat.stdout,
                              stdout=outputfile)
    time.sleep(3) #for some reason the poll does not work! This was the way to overcome the waiting time.
    
    return netcat.stdout

## * Function to check if an IP address was Tor node in a given moment

In [ ]:
# THANKS TO: exonerator.torproject.org
def WasTorNode(ip, date ):
    url="https://exonerator.torproject.org/?ip="+ip+"&timestamp="+date
    scraper = cfscrape.create_scraper()
    scraped_html=scraper.get(url).content    
    html_tree = etree.HTML(scraped_html)
    result=html_tree.xpath("//h3[@class='panel-title']/text()") # I was looking for <h3 class="panel-title">Result is positive</h3>
    tor_node=True if result == ['Result is positive'] else False
    return tor_node 
# 'date' MUST BE formated as: Year-month-day (2016-03-31)

## * Discovering the middle date of the database

In [ ]:
try:
    try:
        middle_date=(min(df_attacks['date'])+((max(df_attacks['date'])-min(df_attacks['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_logins['date'])+((max(df_logins['date'])-min(df_logins['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_payments['date'])+((max(df_payments['date'])-min(df_payments['date']))/2))
        raise
    except:
        pass
except Exception:
    print("There is no date in the entire dataset")

date_tor_check = middle_date.strftime('%Y-%m-%d')
date_iptoasn_lookup= str(middle_date)
print(date_tor_check)

## * Preparing to Perform IP to ASN info

In [ ]:
df_logins['middledate']=date_iptoasn_lookup
df_attacks['middledate']=date_iptoasn_lookup
df_friendsenemies['middledate']=date_iptoasn_lookup
df_blacklist['middledate']=date_iptoasn_lookup

## 2.1.1  Lookup IP to ASN info of table: logins

In [ ]:
if (os.path.exists('enrichments/logins_iptoasn_out')== False):
    logins_iptoasn_in = open('enrichments/logins_iptoasn_in', 'w+')
    logins_iptoasn_in.write('begin\nverbose\n')
    df_logins[['userip','middledate']].drop_duplicates().to_csv(logins_iptoasn_in,header=False,index=False,sep="\t") 
    logins_iptoasn_in.write('end')
    logins_iptoasn_in.close()

    logins_iptoasn_out = open('logins_iptoasn_out', 'w+')
    iptoasn('logins_iptoasn_in',logins_iptoasn_out)
    logins_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_logins_iptoasn = pd.read_csv('enrichments/logins_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

df_logins_extended= pd.merge(df_logins,
                              df_logins_iptoasn,
                              how = 'left',
                              left_on = 'userip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_logins_extended.rename(columns={'asn':'srcasn', 
                                   'ip':'srcip', 
                                   'bgp_prefix':'srcbgp_prefix', 
                                   'country':'srccountry' ,
                                   'registry':'srcregistry',
                                   'info_date':'srcinfo_date',
                                   'info_request':'srcinfo_request'},
                         inplace=True)


df_logins_extended.head(5)

## 2.1.2  Lookup IP to ASN info of table: attacks

In [ ]:
if (os.path.exists('enrichments/attacks_iptoasn_out')== False):
    attacks_iptoasn_in = open('enrichments/attacks_iptoasn_in', 'w+')
    attacks_iptoasn_in.write('begin\nverbose\n')
    df_attacks[['targetip','middledate']].drop_duplicates().to_csv(attacks_iptoasn_in,header=False,index=False,sep="\t") 
    attacks_iptoasn_in.write('end')
    attacks_iptoasn_in.close()

    attacks_iptoasn_out = open('attacks_iptoasn_out', 'w+')
    iptoasn('attacks_iptoasn_in',attacks_iptoasn_out)
    attacks_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_attacks_iptoasn = pd.read_csv('enrichments/attacks_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_attacks_extended= pd.merge(df_attacks,
                              df_attacks_iptoasn,
                              how = 'left',
                              left_on = 'targetip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_attacks_extended.rename(columns={'asn':'targetasn', 
                                   'ip_y':'targetip', 
                                   'bgp_prefix':'targetbgp_prefix', 
                                   'country_y':'targetcountry' ,
                                   'registry':'targetregistry',
                                   'info_date':'targetinfo_date',
                                   'info_request':'targetinfo_request'},
                         inplace=True)
df_attacks_extended.head(5)

## 2.1.3  Lookup IP to ASN info of table: friendsenemies

In [ ]:
if (os.path.exists('enrichments/friendsenemies_iptoasn_out')== False):
    friendsenemies_iptoasn_in = open('enrichments/friendsenemies_iptoasn_in', 'w+')
    friendsenemies_iptoasn_in.write('begin\nverbose\n')
    df_friendsenemies[['ip','middledate']].drop_duplicates().to_csv(friendsenemies_iptoasn_in,header=False,index=False,sep="\t") 
    friendsenemies_iptoasn_in.write('end')
    friendsenemies_iptoasn_in.close()

    friendsenemies_iptoasn_out = open('friendsenemies_iptoasn_out', 'w+')
    iptoasn('friendsenemies_iptoasn_in',friendsenemies_iptoasn_out)
    friendsenemies_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_friendsenemies_iptoasn = pd.read_csv('enrichments/friendsenemies_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_friendsenemies_extended= pd.merge(df_friendsenemies,
                              df_friendsenemies_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_friendsenemies_extended.rename(columns={'asn':'friendsenemiesasn', 
                                   'ip':'friendsenemiesip', 
                                   'bgp_prefix':'friendsenemiesbgp_prefix', 
                                   'country':'friendsenemiescountry' ,
                                   'registry':'friendsenemiesregistry',
                                   'info_date':'friendsenemiesinfo_date',
                                   'info_request':'friendsenemiesinfo_request',
                                   'as_name': 'friendsenemiesas_name'},
                         inplace=True)

## 2.1.4  Lookup IP to ASN info of table: blacklist

In [ ]:
if (os.path.exists('enrichments/blacklist_iptoasn_out')== False):
    blacklist_iptoasn_in = open('enrichments/blacklist_iptoasn_in', 'w+')
    blacklist_iptoasn_in.write('begin\nverbose\n')
    df_blacklist[['ip','middledate']].drop_duplicates().to_csv(blacklist_iptoasn_in,header=False,index=False,sep="\t") 
    blacklist_iptoasn_in.write('end')
    blacklist_iptoasn_in.close()

    blacklist_iptoasn_out = open('blacklist_iptoasn_out', 'w+')
    iptoasn('blacklist_iptoasn_in',blacklist_iptoasn_out)
    blacklist_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_blacklist_iptoasn = pd.read_csv('enrichments/blacklist_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_blacklist_extended= pd.merge(df_blacklist,
                              df_blacklist_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_blacklist_extended.rename(columns={'asn':'blacklistasn', 
                                   'ip':'blacklistip', 
                                   'bgp_prefix':'blacklistbgp_prefix', 
                                   'country':'blacklistcountry' ,
                                   'registry':'blacklistregistry',
                                   'info_date':'blacklistinfo_date',
                                   'info_request':'blacklistinfo_request',
                                   'as_name': 'blacklistas_name'},
                         inplace=True)
df_blacklist_extended.head(5)

## 2.2.1. Check if IP was a TOR node for table: login

In [ ]:
date_tor_check

In [ ]:
if len(df_logins['userip'].unique())<1200:
    if (os.path.exists('enrichments/logins_torcheck')== False):
        print("Note: it can take a while to finish...")
        logins_torcheck = open('logins_torcheck', 'w+')
        for i in df_logins['userip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=logins_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            logins_torcheck.flush()

        logins_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.")
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_logins_torcheck = pd.read_csv('enrichments/logins_torcheck',\
                          delimiter="\s+",\
                          names = ['userip', 'tor'])

## 2.2.2. Check if IP was a TOR node for table: attacks

In [ ]:
if len(df_attacks['targetip'].unique())<1200:
    if (os.path.exists('enrichments/attacks_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_attacks['targetip'].unique())*3,"seconds (in the worst case).")

        attacks_torcheck = open('attacks_torcheck', 'w+')

        for i in df_attacks['targetip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=attacks_torcheck)
            print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            attacks_torcheck.flush()

        attacks_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_attacks_torcheck = pd.read_csv('enrichments/attacks_torcheck',\
                          delimiter="\s+",\
                          names = ['targetip', 'tor'])

## 2.2.3. Check if IP was a TOR node for table: friendsenemies

In [ ]:
if len(df_friendsenemies['ip'].unique()) <1200:
    if (os.path.exists('enrichments/friendsenemies_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_friendsenemies['ip'].unique())*3,"seconds (in the worst case).")

        friendsenemies_torcheck = open('enrichments/friendsenemies_torcheck', 'w+')

        for i in df_friendsenemies['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=friendsenemies_torcheck)
        #     print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            friendsenemies_torcheck.flush()

        friendsenemies_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_friendsenemies_torcheck = pd.read_csv('enrichments/friendsenemies_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## 2.2.4. Check if IP was a TOR node for table: blacklist

In [ ]:
if len(df_blacklist['ip'].unique()) < 1200:
    if (os.path.exists('enrichments/blacklist_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_blacklist['ip'].unique())*3,"seconds (in the worst case).")

        blacklist_torcheck = open('enrichments/blacklist_torcheck', 'w+')

        for i in df_blacklist['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=blacklist_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            blacklist_torcheck.flush()

        blacklist_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_blacklist_torcheck = pd.read_csv('enrichments/blacklist_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## * Relation between Attack dates and Login dates

In [ ]:
def nearestDate(base_date, date_list):
    nearest={}
    for date in date_list:
        if (base_date.timestamp() - date.timestamp())>=0:
            nearest[base_date.timestamp() - date.timestamp()]= date
    return nearest[min(nearest.keys())]

In [ ]:
#This is the TOTAL number records to be checks!!!!
len(df_attacks)

In [ ]:
df_attacks['nearestlogin']=""
df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])
    
if len(df_attacks)>0 and len(df_logins)>0:
    #When was the last login of the user that performed attacks
    df_attacks['nearestlogin']=""
    df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])

    for index, row in df_attacks.head(100).iterrows():
        intermediate_df= df_logins[df_logins['username']==row['username']]
        nearestlogindate= nearestDate(row['date'],intermediate_df['date'])
        df_attacks.set_value(index, 'nearestlogin', nearestlogindate)

        #DEBUGGING
        if index % 1000 == 0:
            print(index,": +1000 records analysed")

In [ ]:
if len(df_attacks['nearestlogin'].value_counts()) >1:
    df_attacks_and_logins = pd.merge(df_attacks_extended,
                                     df_logins_extended,
                                     how = 'left',
                                     left_on = ['username','nearestlogin'],
                                     right_on = ['username','date'])
else:
    df_attacks_and_logins=""

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 3: Automatic Analysis
<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>

## * Libraries that I use to plot figs

In [ ]:
import matplotlib.pyplot as plt
from matplotlib_venn import *
%matplotlib inline

import seaborn as sns
import itertools

plt.style.use('seaborn-muted')
# plt.rcParams['font.family'] = 'serif'
# plt.rcParams['font.size'] = 12

import warnings
warnings.filterwarnings('ignore')

## A.1. Number of records per table (part of the generic Booter database schema)

In [ ]:
len(df_users),len(df_logins),len(df_attacks),len(df_payments),len(df_settings),len(df_gateways), len(df_friendsenemies),len(df_blacklist),len(df_webshells),len(df_servers),len(df_plans)

## A.2. Number of users, customers, attackers, and their intersection

In [ ]:
if len(set(df_users['userid'].unique())) > 1:
    users_set=set(df_users['userid'].unique())
else:
    users_set=set(df_users['username'].unique())
    
if len(set(df_logins['userid'].unique())) > 1:
    userslogin_set=set(df_logins['userid'].unique())
else:
    userslogin_set=set(df_logins['username'].unique())

if len(set(df_payments['userid'].unique())) > 1:
    customers_set=set(df_payments['userid'].unique())
else:
    customers_set=set(df_payments['username'].unique())

if len(set(df_attacks['userid'].unique())) > 1:
    attackers_set=set(df_attacks['userid'].unique())
else:
    attackers_set=set(df_attacks['username'].unique())

intersec_customers_attacker=pd.Series(list(customers_set.intersection(attackers_set)))
intersec_users_customers=pd.Series(list(users_set.intersection(customers_set)))
intersec_users_attackers=pd.Series(list(users_set.intersection(attackers_set)))
intersec_users_customers_attackers=pd.Series(list(users_set.intersection(customers_set).intersection(attackers_set)))

In [ ]:
len(users_set),len(userslogin_set),len(customers_set),len(attackers_set)

In [ ]:
fig = plt.figure(figsize=(4,3))
fig.suptitle('Users, Customers & Attackers', fontsize=14)

ax = plt.subplot2grid((1,1), (0,0))

venn=venn3(ax=ax,subsets = {'001':len(attackers_set)-len(intersec_customers_attacker)-len(intersec_users_attackers)+len(intersec_users_customers_attackers), 
                            '010':len(customers_set)-len(intersec_users_customers)-len(intersec_customers_attacker)+len(intersec_users_customers_attackers), 
                            '011':len(intersec_customers_attacker)-len(intersec_users_customers_attackers),
                            '100':len(users_set)-len(intersec_users_customers)-len(intersec_users_attackers)+len(intersec_users_customers_attackers),
                            '101':len(intersec_users_attackers)-len(intersec_users_customers_attackers),
                            '110':len(intersec_users_customers)-len(intersec_users_customers_attackers),
                            '111':len(intersec_users_customers_attackers)},\
          set_labels = ('Users', 'Customers','Attackers'),\
          alpha=1)
try:
    venn.get_patch_by_id('100').set_color('#404096')
except:
    print("*Users set is empty!")  
    
try:
    venn.get_patch_by_id('110').set_color('#DEA73A')
except:
    print("*Customers set is empty!")   

try:
    venn.get_patch_by_id('001').set_color('#D92120')
except:
    print("*Attackers set is empty!")

fig.show()
# fig.savefig('../figs/timeseries_attacks.eps', format='eps', dpi=1200)

## A.3. Distribution of login times per user

In [ ]:
if len(df_logins['userid'].value_counts()) > 0:
    num_distinct_logins_per_user=df_logins['userid'].value_counts()
else:
    num_distinct_logins_per_user=df_logins['username'].value_counts()

freq_distinct_logins_per_user=num_distinct_logins_per_user.value_counts()
cum_dist_user_logins = np.linspace(0.,1.,len(num_distinct_logins_per_user))
cdf_user_logins = pd.Series(cum_dist_user_logins, index=num_distinct_logins_per_user.sort_values())

In [ ]:
if len(num_distinct_logins_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Login Times by Users:', fontsize=14, y=1.05,x=0.35)
    
    #Plot CDF
    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_logins.plot(ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# logins")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    ax1.set_title("")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_logins_per_user.plot(ax=ax2,kind='pie', 
                                       labels=None, 
                                       legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    
    
    
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_logins_per_user.values)/(freq_distinct_logins_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_logins_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/login_times.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.3. Number of Users that Login via TOR

In [ ]:
len(df_logins_torcheck[df_logins_torcheck['tor']==True]['userip'].value_counts())

## 5.4. Number of Distinct IP addresses by Users

In [ ]:
if len(df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()) >0:
    num_distinct_ips_per_user=df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()
else:
    num_distinct_ips_per_user=df_logins.groupby(['username','userip']).size().reset_index()['username'].value_counts()
    
freq_distinct_ips_per_user=num_distinct_ips_per_user.value_counts()
cum_dist_user_ips = np.linspace(0.,1.,len(num_distinct_ips_per_user))
cdf_user_ips = pd.Series(cum_dist_user_ips, index=num_distinct_ips_per_user.sort_values())

In [ ]:
if len(num_distinct_ips_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Distinct IP address used by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_ips.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_ips_per_user.plot(ax=ax2,kind='pie',
                                    labels=None,legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_ips_per_user.values)/(freq_distinct_ips_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_ips_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/num_ips_by_users.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.5. Number of Payments by Users

In [ ]:
if len(df_payments['userid'].value_counts())>0:
    num_distinct_payments_per_user=df_payments['userid'].value_counts()
else:
    num_distinct_payments_per_user=df_payments['username'].value_counts()

freq_distinct_payments_per_user=num_distinct_payments_per_user.value_counts()
cum_dist_user_payments = np.linspace(0.,1.,len(num_distinct_payments_per_user))
cdf_user_payments = pd.Series(cum_dist_user_payments, index=num_distinct_payments_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Number of Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# Payment")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_per_user.plot(ax=ax2,kind='pie', 
                                         labels=None,legend=False,
                                         startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_per_user.values)/(freq_distinct_payments_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/payments_distribution.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.6. Total Amount of Money Earned

In [ ]:
if len(df_payments['amountpaid']) >0:
    total_earned=df_payments['amountpaid'].values.sum()
    'US$ {:,.2f}'.format(float(total_earned))
else:
    print("Unfortunately, there is no data available!")

## 5.7. Amount of Money Paid by Users

In [ ]:
num_distinct_payments_money_per_user=df_payments['amountpaid'].value_counts()
freq_distinct_payments_money_per_user=num_distinct_payments_money_per_user.value_counts()
cum_dist_user_payments_money = np.linspace(0.,1.,len(num_distinct_payments_money_per_user))
cdf_user_payments_money = pd.Series(cum_dist_user_payments_money, index=num_distinct_payments_money_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_money_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Money Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments_money.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("$")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_money_per_user.plot(ax=ax2,kind='pie', 
                                               labels=None,legend=False,
                                               startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_money_per_user.values)/(freq_distinct_payments_money_per_user.values.sum())
    labels = ['${0:1.2f} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_money_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.6, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/distribution_amount_paid.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.8. Countries from where Users Access Booters

In [ ]:
logins_country_distribution_sorted = df_logins_iptoasn['country'].value_counts(sort=True,ascending=True)
logins_country_distribution = df_logins_iptoasn['country'].value_counts()

In [ ]:
if len(logins_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Users Accessing from Countries:', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    logins_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    logins_country_distribution.plot(ax=ax2,kind='pie', 
                                     labels=None,legend=False,
                                     startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*logins_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(logins_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/user_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.9. Countries of Blacklisted IPs

In [ ]:
blacklist_country_distribution=df_blacklist_iptoasn['country'].value_counts()
blacklist_country_distribution_sorted=df_blacklist_iptoasn['country'].value_counts(sort=True,ascending=True)

In [ ]:
if len(blacklist_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of blacklisted IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    blacklist_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    blacklist_country_distribution.plot(ax=ax2,kind='pie', 
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*blacklist_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(blacklist_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/blacklist_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.10. Countries of Target IPs

In [ ]:
attacks_country_distribution=df_attacks_iptoasn['country'].value_counts()

In [ ]:
if len(attacks_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of target IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    attacks_country_distribution.plot(ax=ax1,kind='bar')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    attacks_country_distribution.plot(ax=ax2,kind='pie', 
                                      labels=None,legend=False,
                                      startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*attacks_country_distribution.values)/(attacks_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(attacks_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/attack_countries_distribution.eps',bbox_inches='tight', format='eps', dpi=1200) 
else:
    print("Unfortunately, there is no data available!")

## 5.12. Attacks on Same Target

In [ ]:
num_attacks_on_sametarget=df_attacks['targetip'].value_counts()

freq_num_attacks_on_sametarget=num_attacks_on_sametarget.value_counts()
cum_num_attacks_on_sametarget = np.linspace(0.,1.,len(num_attacks_on_sametarget))
cdf_num_attacks_on_sametarget = pd.Series(cum_num_attacks_on_sametarget, index=num_attacks_on_sametarget.sort_values())

In [ ]:
if len(num_attacks_on_sametarget)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Attacks on Same Targets:', fontsize=14, y=1.05,x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_num_attacks_on_sametarget.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_num_attacks_on_sametarget.plot(ax=ax2,kind='pie',
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_num_attacks_on_sametarget.values)/(freq_num_attacks_on_sametarget.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_num_attacks_on_sametarget.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()

    fig.show()
    fig.savefig('figs/attacks_on_same_target.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.11. Attacks per day (timeseries)

In [ ]:
if len(df_attacks)>0:
    attack_timeseries=df_attacks.set_index(['date']).groupby(pd.TimeGrouper(freq='D')).agg(['count'])['action']
    attack_mean_perday=attack_timeseries.mean()
    attack_median_perday=attack_timeseries.median()
else:
    attack_timeseries=""

In [ ]:
if len(attack_timeseries)>0:
    fig = plt.figure(figsize=(6,3))

    ax1 = plt.subplot2grid((1,1), (0,0), rowspan=2)
    attack_timeseries.plot(ax=ax1,
                           lw=2,
                           legend=False,
    #                        style='--'
                          )

    # X and Y Labels and Ticks
    ax1.set_xlabel("Time (bin=day)")
    ax1.set_ylabel("# Attacks")

    ax1.annotate(str(int(attack_median_perday[0]))+' (median)', 
                 (min(df_attacks['date']), attack_median_perday),
                 xytext=(350, -1), 
                 textcoords='offset points',
                 color='black', 
                 arrowprops=dict(arrowstyle='-|>',
                                 color='black'))
    fig.savefig('figs/attacks_timeseries.eps', bbox_inches='tight',format='eps', dpi=1200)

else:
    print("Unfortunately, there is no data available!")

## 5.12. Time Between Logins and Attacks

In [ ]:
if len(df_attacks_and_logins)>0:
    print("redo")
else:
    print("Unfortunately, there is no data available!")

## 5.13. Who attack whom? (users on the country level)

In [ ]:
if len(df_attacks_extended)>0 and len(df_logins_extended)>0:
    merged_attacks_logins = pd.merge(df_attacks_extended,
                                  df_logins_extended,
                                  how = 'left',
                                  left_on = 'date',
                                  right_on = 'date')[['targetcountry','srccountry']]

    who_against_whom = merged_attacks_logins.groupby(['targetcountry','srccountry'])\
                            .size()\
                            .reset_index()\
                            .pivot('srccountry','targetcountry',0)
else:
    who_against_whom =""

In [ ]:
if len(who_against_whom)>0:
    fig = plt.figure(figsize=(8,12))
    fig.suptitle('Countries of Target IPs', fontsize=14, y=.92)

    ax1 = plt.subplot2grid((1,1), (0,0))
    sns.set()
    sns.heatmap(who_against_whom,
                ax=ax1,
#                 cmap="YlGnBu",
    #             linewidths=.5,
    #             annot=True
                )

    ax1.set_ylabel("Source Country")
    ax1.set_xlabel("Attack Target Country")

    fig.show()
    fig.savefig('figs/who_attack_whom.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

<h1 align="center">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
FIFTH PART: Query Interface<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [ ]:
from ipywidgets import widgets, interact, Dropdown,HTML
from IPython.display import display,clear_output

In [ ]:
def search_by_userid_submit(sender):
    clear_output()
    print("Searching by id =",search_by_userid.value)
    
    if len(df_users[df_users['userid']== int(search_by_userid.value)])>0:
        display(df_users[df_logins['userid']== int(search_by_userid.value)])
    
    if len(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])>0:
        display(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])
    
    if len(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])>0:
        display(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])
    
    if len(df_payments[df_payments['userid']== int(search_by_userid.value)])>0:
        display(df_payments[df_payments['userid']== int(search_by_userid.value)])

def search_by_username_submit(sender):
    clear_output()
    print("Searching by username =",search_by_username.value,"\n")
    
    if len(df_users[df_users['username']== search_by_username.value])>0:
        print("Table df_users:")
        display(df_users[df_users['username']== search_by_username.value])
    
    if len(df_logins_extended[df_logins_extended['username']== search_by_username.value])>0:
        print("Table df_logins:")
        display(df_logins_extended[df_logins_extended['username']== search_by_username.value])

    if len(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])>0:
        print("Table df_attacks:")
        display(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])
    
    if len(df_payments[df_payments['username']== search_by_username.value])>0:
        print("Table df_payments:")
        display(df_payments[df_payments['username']== search_by_username.value])
        
def search_by_ip_submit(sender):
    clear_output()
    print("Searching by IP address =",str(search_by_ip.value),"\n")
    
    if len(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])>0:
        print("Table df_logins (as ATTACKER:")
        display(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])
     
    if len(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])  
      
       
def search_by_asn_submit(sender):
    clear_output()
    print("Searching by Autonomous System Number (ASN) =",search_by_asn.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])
    
    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

        
country_list=pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/master/data.csv',delimiter=",",error_bad_lines=False)
def search_by_country_submit():
    country_code=country_list[country_list['Name']==search_by_country.value]['Code'].values[0]
    clear_output()
    print("Searching by Country =",search_by_country.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srccountry']== country_code])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srccountry']== country_code])
    
    if len(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])

In [ ]:
display(HTML('<h3>*Search by (only) one field per time:</h3>'))

search_by_username = widgets.Text(description="username")
display(search_by_username)
search_by_username.on_submit(search_by_username_submit)

search_by_userid = widgets.Text(description="userid")
display(search_by_userid)
search_by_userid.on_submit(search_by_userid_submit)

search_by_ip = widgets.Text(description="IP")
display(search_by_ip)
search_by_ip.on_submit(search_by_ip_submit)

search_by_asn = widgets.Text(description="ASN")
display(search_by_asn)
search_by_asn.on_submit(search_by_asn_submit)

search_by_country = Dropdown(description="Country", options=country_list['Name'].tolist())
search_by_country.on_trait_change(search_by_country_submit, name="value")
display(search_by_country)