<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
Brief explanation on our Booter database analysis methodology: <br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

# Analysis of: bootertw
#### File originally retrieved from: http://krebsonsecurity.com/wp-content/uploads/2013/03/booter.7z

## * Libraries that I use to analyse data

In [1]:
import pandas as pd
import numpy as np

from io import StringIO
import re

from IPython.display import display,clear_output

In [84]:
%run '../booter_db_analysis_functions.ipynb'

 Functions loaded!!!!

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 0: Reading an input Booter database file<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [2]:
dumpfile='booter.sql'

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 1: Adaptation to our Booter database schema<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

## 1. Reading the first 'N' (100) lines of the input Booter database file

In [107]:
lines_to_read=200

with open(dumpfile) as myfile:
    firstlines=myfile.readlines()[0:lines_to_read] #put here the interval you want
    for x in firstlines:
        print(x.strip())

-- phpMyAdmin SQL Dump
-- version 3.5.2
-- http://www.phpmyadmin.net
--
-- Host: localhost
-- Generation Time: Mar 15, 2013 at 07:46 AM
-- Server version: 5.1.66-0+squeeze1
-- PHP Version: 5.3.20-1~dotdeb.0

SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;

--
-- Database: `booter`
--

-- --------------------------------------------------------

--
-- Table structure for table `adminlogs`
--

CREATE TABLE IF NOT EXISTS `adminlogs` (
`id` int(11) NOT NULL AUTO_INCREMENT,
`action` text NOT NULL,
`user` int(11) NOT NULL,
`time` int(11) NOT NULL,
PRIMARY KEY (`id`)
) ENGINE=InnoDB  DEFAULT CHARSET=latin1 AUTO_INCREMENT=205 ;

--
-- Dumping data for table `adminlogs`
--

INSERT INTO `adminlogs` (`id`, `action`, `user`, `time`) VALUES
(78, 'Added news post: Downtime 24 January', 1, 1358991550),
(79, 'Added new user with username: sultan', 1, 1358994930),
(80, 'Added new user with username: Awesome7', 1, 1358997207),
(81, 'Added new user with username: voxility1', 1, 1358997271),
(82, 'Added new user with username: Hotdog', 1, 1358997619),
(83, 'Added new user with username: noob1337', 1, 1358998904),
(84, 'Added new user with username: thebawsjc', 1, 1358999382),
(85, 'Added new user with username: secac', 1, 1359020488),
(86, 'Added new user with username: kim', 1, 1359022781),
(87, 'Added new user with username: sealbay', 1, 1359025043),
(88, 'Added new user with username: iWiZ13', 1, 1359025747),
(89, 'Added new user with username: Tyrantelf', 1, 1359065876),
(90, 'Added new user with username: anpapyalar', 1, 1359066060),
(91, 'Added new user with username: espen', 1, 1359066180),
(92, 'Added new user with username: arrogance', 66, 1359068893),
(93, 'Added new user with username: Ghostxx', 1, 1359099169),
(94, 'Added new user with username: Burcs', 1, 1359100419),
(95, 'Added new user with username: Mailk', 1, 1359100933),
(96, 'Added new user with username: mailk2', 1, 1359101172),
(97, 'Added new user with username: nidhish', 1, 1359103703),
(98, 'Added new user with username: newacc2', 1, 1359103856),
(99, 'Added new user with username: trialx82', 1, 1359105533),
(100, 'Added new user with username: brandon', 1, 1359107639),
(101, 'Added new user with username: trialx81', 1, 1359107695),
(102, 'Added new user with username: Exploitz', 1, 1359109975),
(103, 'Added new user with username: peterx', 1, 1359115936),
(104, 'Added new user with username: martinx', 1, 1359116468),
(105, 'Added new user with username: jimmybrand19', 1, 1359117760),
(106, 'Added new user with username: bobokidd', 1, 1359120694),
(107, 'Added new user with username: Lateuser8x', 1, 1359121645),
(108, 'Added new user with username: arcane', 1, 1359124010),
(109, 'Added new user with username: blackawesome', 1, 1359124774),
(110, 'Added new user with username: Supx', 1, 1359125331),
(111, 'Added new user with username: paingod', 1, 1359126365),
(112, 'Added new user with username: jhorne4x', 1, 1359129246),
(113, 'Added new user with username: sluh', 1, 1359129308),
(114, 'Added new user with username: trialx72', 1, 1359131572),
(115, 'Added new user with username: James', 66, 1359139989),
(116, 'Added new user with username: Broomout', 1, 1359142701),
(117, 'Added new user with username: vimiono', 66, 1359145635),
(118, 'Added new user with username: Awesomeguy', 1, 1359146501),
(119, 'Added new user with username: countonme', 1, 1359147983),
(120, 'Added new user with username: Montanarc', 1, 1359152405),
(121, 'Added new user with username: andre', 66, 1359208818),
(122, 'Added new user with username: wickd', 2, 1359320678),
(123, 'Added new user with username: moldjelly', 2, 1359324026),
(124, 'Added new user with username: hdfsi', 2, 1359439353),
(125, 'Added new user with username: haze', 1, 1359633939),
(126, 'Added new user with username: starfall', 1, 1359634215),
(127, 'Added new user with username: CRAZY', 1, 1359646485),
(128, 'Added new user with username: arco', 2, 1359731609),
(129, 'Added new user with username: Muscab123', 1, 1359882046),
(130, 'Added new user with username: x21', 1, 1359898750),
(131, 'Added new user with username: baba1234', 1, 1359967561),
(132, 'Added new user with username: thatguy', 1, 1360060952),
(133, 'Added new user with username: saice', 1, 1360156600),
(134, 'Added new user with username: markxx', 1, 1360203265),
(135, 'Added new user with username: Asbjaarn', 1, 1360488365),
(136, 'Added new user with username: heartx', 1, 1360581992),
(137, 'Added news post: Power Restored 13 Feb   fixes', 1, 1360747909),
(138, 'Added new user with username: lost', 1, 1360908255),
(139, 'Added news post: Regarding twBooter3', 1, 1361009797),
(140, 'Added new user with username: ppholder', 1, 1361009968),
(141, 'Added new user with username: hanz', 1, 1361086114),
(142, 'Added new user with username: mother', 1, 1361128818),
(143, 'Added new user with username: InVaDeR', 1, 1361130177),
(144, 'Added new user with username: adam', 1, 1361132715),
(145, 'Added new user with username: mikej', 1, 1361157806),
(146, 'Added new user with username: testx2', 1, 1361157953),
(147, 'Added new user with username: green7', 1, 1361173668),
(148, 'Added new user with username: dl3t', 1, 1361217261),
(149, 'Added new user with username: trialx8a', 1, 1361222795),
(150, 'Added new user with username: Ck', 1, 1361228729),
(151, 'Added new user with username: XResidentEvilX', 1, 1361261969),
(152, 'Added new user with username: RecKzTa', 1, 1361289490),
(153, 'Added new user with username: Producer', 1, 1361343209),
(154, 'Added new user with username: Robx', 1, 1361378925),
(155, 'Added new user with username: allan', 1, 1361386196),
(156, 'Added new user with username: ajvpot2', 1, 1361416749),
(157, 'Added new user with username: Punisher', 1, 1361417019),
(158, 'Added new user with username: rako', 1, 1361442755),
(159, 'Added new user with username: Bren', 1, 1361521506),
(160, 'Added new user with username: Trialx42', 1, 1361617544),
(161, 'Added new user with username: shaireurs', 1, 1361813253),
(162, 'Added new user with username: RetroMonkey', 1, 1361816577),
(163, 'Added new user with username: ephexis2123', 1, 1361854992),
(164, 'Added new user with username: hanz1234', 1, 1361857887),
(165, 'Added new user with username: JacobStrandeng', 1, 1361898514),
(166, 'Added new user with username: robert', 1, 1361900667),
(167, 'Added new user with username: peterl', 1, 1362055087),
(168, 'Added new user with username: zahid', 1, 1362055238),
(169, 'Added new user with username: xkilltactx', 1, 1362103159),
(170, 'Added new user with username: Myg699', 1, 1362103293),
(171, 'Added new user with username: shadownite', 1, 1362103648),
(172, 'Added new user with username: x3slix', 1, 1362134531),
(173, 'Added new user with username: Cube', 1, 1362149749),
(174, 'Added new user with username: nillus', 1, 1362160912),
(175, 'Added new user with username: SoulZeh', 1, 1362163115),
(176, 'Added new user with username: alex78310', 1, 1362164898),
(177, 'Added new user with username: Ender', 1, 1362202959),
(178, 'Added new user with username: Keetans', 1, 1362221737),
(179, 'Added new user with username: vladhack1122', 1, 1362275667),
(180, 'Added new user with username: Commview', 1, 1362302696),
(181, 'Added new user with username: bitchgotraped', 1, 1362381125),
(182, 'Added new user with username: rawness', 1, 1362381569),
(183, 'Added new user with username: king', 1, 1362388677),
(184, 'Added new user with username: xaro1231', 1, 1362419401),
(185, 'Added new user with username: panda', 1, 1362422879),
(186, 'Added new user with username: griver89', 1, 1362447179),
(187, 'Added new user with username: nicolas', 1, 1362467749),
(188, 'Added new user with username: asf123', 1, 1362489963),
(189, 'Added new user with username: ibrary', 1, 1362568426),
(190, 'Added new user with username: taynahaffne', 1, 1362575939),
(191, 'Added new user with username: bongrdr', 1, 1362631534),
(192, 'Added new user with username: mak81', 1, 1362661172),
(193, 'Added new user with username: cleanupcobra2', 254, 1362707765),
(194, 'Added new user with username: sneakbo', 254, 1362708019),
(195, 'Added new user with username: squish', 254, 1362760861),
(196, 'Added new user with username: Durability', 1, 1362887327),
(197, 'Added new user with username: sync', 1, 1362901889),
(198, 'Added new user with username: testxx1', 1, 1362943215),
(199, 'Added new user with username: yopmail', 1, 1363059753),
(200, 'Added new user with username: pixe2243', 1, 1363095916),
(201, 'Added new user with username: testthis1', 1, 1363105912),
(202, 'Added new user with username: bigjohn1337', 254, 1363124997),
(203, 'Added new user with username: Ray', 254, 1363125280),
(204, 'Added new user with username: acc3', 1, 1363284825);

-- --------------------------------------------------------

--
-- Table structure for table `api_attacks`
--

CREATE TABLE IF NOT EXISTS `api_attacks` (
`id` int(11) NOT NULL AUTO_INCREMENT,
`processid` int(11) NOT NULL,
`ip` text NOT NULL,
`port` int(11) NOT NULL,
`duration` int(11) NOT NULL,
`time` int(11) NOT NULL,
`stopped` int(11) NOT NULL,
`owner` int(11) NOT NULL,
`server` int(11) NOT NULL,
PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 AUTO_INCREMENT=1 ;

-- --------------------------------------------------------

--
-- Table structure for table `api_users`
--

CREATE TABLE IF NOT EXISTS `api_users` (
`id` int(11) NOT NULL AUTO_INCREMENT,
`username` text NOT NULL,
`password` text NOT NULL,
`key` text NOT NULL,
`max_boot_time` int(11) NOT NULL,

## 2. Listing tables that have content inserted into the dump file

In [4]:
def list_tables_with_insert(dumpfile):
    tables = []
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            if line.lower().startswith('insert'):
                table = re.findall(r'`(.*?)`', line)
                tables.append(table[0])
    return tables

In [5]:
tables=enumerate(list_tables_with_insert(dumpfile))

for i, item in tables:
    print(i+1,item)

1 adminlogs
2 attacks
3 attacks
4 attacks
5 attacks
6 attacks
7 attacks
8 attacks
9 attacks
10 attacks
11 attacks
12 attacks
13 attacks
14 attacks
15 attacks
16 attacks
17 attacks
18 attacks
19 attacks
20 attacks
21 attacks
22 attacks
23 attacks
24 attacks
25 attacks
26 attacks
27 attacks
28 attacks
29 attacks
30 attacks
31 attacks
32 attacks
33 attacks
34 attacks
35 attacks
36 attacks
37 attacks
38 attacks
39 attacks
40 attacks
41 attacks
42 attacks
43 attacks
44 attacks
45 attacks
46 attacks
47 attacks
48 attacks
49 attacks
50 attacks
51 attacks
52 attacks
53 attacks
54 attacks
55 attacks
56 attacks
57 attacks
58 attacks
59 attacks
60 attacks
61 attacks
62 attacks
63 attacks
64 attacks
65 attacks
66 attacks
67 attacks
68 attacks
69 attacks
70 attacks
71 attacks
72 attacks
73 attacks
74 attacks
75 attacks
76 attacks
77 attacks
78 attacks
79 attacks
80 attacks
81 attacks
82 attacks
83 attacks
84 attacks
85 attacks
86 attacks
87 attacks
88 attacks
89 attacks
90 attacks
91 attacks
92 attacks
93 attacks
94 attacks
95 attacks
96 attacks
97 attacks
98 attacks
99 attacks
100 attacks
101 attacks
102 attacks
103 attacks
104 attacks
105 attacks
106 attacks
107 attacks
108 attacks
109 attacks
110 attacks
111 attacks
112 attacks
113 attacks
114 attacks
115 attacks
116 attacks
117 attacks
118 attacks
119 attacks
120 attacks
121 attacks
122 attacks
123 attacks
124 friendsandenemies
125 giftcodes
126 logins
127 logins
128 logins
129 logins
130 logins
131 logins
132 logins
133 logins
134 logins
135 logins
136 logins
137 logins
138 logins
139 logins
140 logins
141 logins
142 logins
143 logins
144 logins
145 logins
146 logins
147 logins
148 logins
149 logins
150 logins
151 logins
152 logins
153 logins
154 logins
155 logins
156 logins
157 logins
158 logins
159 logins
160 logins
161 logins
162 logins
163 logins
164 logins
165 logins
166 logins
167 logins
168 logins
169 logins
170 logins
171 logins
172 logins
173 logins
174 logins
175 logins
176 logins
177 logins
178 logins
179 logins
180 logins
181 logins
182 logins
183 logins
184 logins
185 logins
186 logins
187 logins
188 logins
189 logins
190 logins
191 logins
192 logins
193 logins
194 logins
195 logins
196 logins
197 logins
198 logins
199 logins
200 logins
201 logins
202 logins
203 logins
204 logins
205 logins
206 logins
207 logins
208 logins
209 logins
210 logins
211 logins
212 logins
213 logins
214 logins
215 logins
216 logins
217 news
218 paymentlogs
219 servers
220 settings
221 tickets
222 ticket_replies
223 toverify
224 users
225 users

In [8]:
(pd.Series(list_tables_with_insert(dumpfile)).value_counts()).sort_index()

adminlogs              1
attacks              122
friendsandenemies      1
giftcodes              1
logins                91
news                   1
paymentlogs            1
servers                1
settings               1
ticket_replies         1
tickets                1
toverify               1
users                  2
dtype: int64

## How the list above looks like?

<h2 align='center'>======================================================================
If NOT well-formed SQL dump file then you must first do the following:
======================================================================</h2>

## 3. Removing lines that are not part of the actual content to be analysed

## 4. Splitting and naming tables and columns

<h2 align='center'>======================================================================
Adapting EACH existing table
======================================================================</h2>

## 6.1. Table: 'adminlogs'

### How this table looks like without modification?

In [10]:
tablename='adminlogs'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   id                                   action  user        time
0  78     Added news post: Downtime 24 January     1  1358991550
1  79     Added new user with username: sultan     1  1358994930
2  80   Added new user with username: Awesome7     1  1358997207
3  81  Added new user with username: voxility1     1  1358997271
4  82     Added new user with username: Hotdog     1  1358997619
5  83   Added new user with username: noob1337     1  1358998904
6  84  Added new user with username: thebawsjc     1  1358999382
7  85      Added new user with username: secac     1  1359020488
8  86        Added new user with username: kim     1  1359022781
9  87    Added new user with username: sealbay     1  1359025043

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.2. Table: 'attacks'!!!!!

### How this table looks like without modification?

In [27]:
tablename='attacks'

list_of_tables=list(range(1, 123))

pd.read_csv(read_inserted_table3(dumpfile, tablename,'`',list_of_tables)
            ,delimiter=",",error_bad_lines=False)

DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES

,id,processid,ip,port,type,duration,time,stopped,owner,server
0,1,5672,91.214.20.52,80,ESSYN,33,1358989954,1,1,94.102.49.76
1,2,29065,91.214.20.52,80,UDP,1783,1358990329,1,1,93.174.93.30
2,3,23005,78.31.8.124,80,ESSYN,393,1358991360,0,1,89.248.172.97
3,4,29411,199.204.44.188,80,ESSYN,60,1358995416,0,4,93.174.93.30
4,5,19298,http://chrome-mods.com,80,RUDY,50000,1358995471,1,3,72.9.144.80
5,6,5764,174.120.6.116,53,ESSYN,50000,1358995498,1,3,94.102.49.76
6,7,24302,http://theblazingtech.com,80,RUDY,50000,1358995591,1,3,72.9.144.80
7,8,30056,77.92.131.135,80,UDP,60,1358995595,1,4,89.248.172.201
8,9,30060,198.154.220.66,80,ESSYN,50000,1358995611,1,3,93.174.93.30
9,10,30064,173.231.26.68,80,ESSYN,50000,1358995702,1,3,89.248.172.201
10,11,30068,77.92.131.135,80,ESSYN,60,1358995863,1,4,89.248.172.106
11,12,29311,http://chrome-mods.com,80,RUDY,500000,1358996001,1,3,72.9.144.80
12,13,30081,174.120.6.116,53,ESSYN,500000,1358996025,1,3,89.248.172.106
13,14,1870,http://theblazingtech.com,53,RUDY,500000,1358996049,1,3,72.9.144.80
14,15,30085,198.154.220.66,53,ESSYN,500000,1358996069,1,3,89.248.172.106
15,16,30089,173.231.26.68,80,ESSYN,500000,1358996090,1,3,89.248.172.106
16,17,30113,77.111.238.177,25565,UDP,1800,1358996794,1,6,89.248.172.106
17,18,30117,204.75.167.126,80,UDP,300,1358996825,0,8,89.248.172.106
18,19,30122,77.111.238.177,25565,ESSYN,1800,1358996921,1,6,89.248.172.106
19,20,30127,77.111.238.177,25565,TCPAMP,1800,1358996984,1,6,89.248.172.106
20,21,30132,77.111.238.177,80,UDP,1800,1358997108,1,6,89.248.172.106
21,22,30144,103.23.148.218,6040,UDP,300,1358997152,0,11,89.248.172.106
22,23,30150,74.63.218.210,80,UDP,1800,1358997393,0,5,89.248.172.106
23,24,30154,77.111.238.177,25565,TCPAMP,1800,1358997401,1,6,89.248.172.106
24,25,6894,http://4.30.110.253,25565,ARME,6809,1358997645,1,12,72.9.144.80
25,26,30167,208.115.245.74,80,ESSYN,30,1358997794,0,14,89.248.172.106
26,27,30171,4.30.110.253,25565,UDP,6809,1358997842,0,12,89.248.172.106
27,28,30175,77.111.238.177,25565,TCPAMP,1800,1358997873,1,6,89.248.172.106
28,29,30179,107.2.80.163,80,UDP,300,1358997943,0,17,89.248.172.106
29,30,6902,http://www.rphaven.com,80,HTTPPOST,300,1358997969,0,18,72.9.144.80
...,...,...,...,...,...,...,...,...,...,...
48814,48815,15729|3237|20768|1802,50.23.212.130,14900,ESSYN,491,1363348779,0,310,94.102.49.79|89.248.172.96|89.248.160.155|94.1...
48815,48816,3264|1814|31202|20804,50.23.212.130,14900,ESSYN,491,1363348808,0,310,89.248.172.96|94.102.51.252|89.248.160.146|89....
48816,48817,32573|32211,108.168.142.11,8449,ESSYN,300,1363348898,0,258,89.248.162.242|89.248.172.205
48817,48818,15741|32582|3274|1827,108.168.142.11,8449,ESSYN,300,1363348966,0,258,94.102.49.79|89.248.162.242|89.248.172.96|94.1...
48818,48819,32220|3283|1836|31213,74.63.252.36,27015,ESSYN,300,1363349017,0,311,89.248.172.205|89.248.172.96|94.102.51.252|89....
48819,48820,17339|21416|31222,http://cs-servers.co.il,80,HTTPGET,300,1363349032,0,267,72.9.144.80|67.222.156.241|89.248.160.146
48820,48821,20830|3300|1861|15756,50.23.212.130,14900,ESSYN,300,1363349365,1,311,89.248.160.155|89.248.172.96|94.102.51.252|94....
48821,48822,3309|32603|1873|32238,159.253.151.78,1449,ESSYN,300,1363349489,0,258,89.248.172.96|89.248.162.242|94.102.51.252|89....
48822,48823,15775|32612|20842|3318,159.253.151.78,1449,ESSYN,300,1363349494,0,258,94.102.49.79|89.248.162.242|89.248.160.155|89....
48823,48824,3327|32248|32621,159.253.151.78,1449,ESSYN,300,1363349507,0,258,89.248.172.96|89.248.172.205|89.248.162.242
48824,48825,22354|26434|3803,http://184.169.72.209,14900,RUDY,300,1363349557,1,311,72.9.144.80|67.222.156.241|89.248.160.146
48825,48826,31444|27361|8807,http://cs-servers.co.il,80,HTTPHEAD,300,1363349589,1,267,67.222.156.241|72.9.144.80|89.248.160.146
48826,48827,32429|4049|13811,http://cs-servers.co.il,80,SLOWLORIS,300,1363349608,1,267,72.9.144.80|67.222.156.241|89.248.160.146
48827,48828,4988|9056|18815,http://50.22.4.34,14900,RUDY,300,1363349697,1,311,72.9.144.80|67.222.156.241|89.248.160.146
48828,48829,9992|14065|23823,http://50.22.4.34,14900,RUDY,300,1363349816,1,311,72.9.144.80|67.222.156.241|89.248.160.146
48829,48830,32630|20858|3341|1896,112.205.65.227,80,UDP,900,1363349856,0,232,89.248.162.242|89.248.160.155|89.248.172.96|94...
48830,48831,15801|1909|32262|20863,50.23.212.130,80,ESSYN,300,1363350102,0,311,94.102.49.79|94.102.51.252|89.248.172.205|89.2...
48831,48832,20873|15820|28830|1930,50.23.212.130,80,ESSYN,300,1363350657,0,311,89.248.160.155|94.102.49.79|89.248.160.146|94....
48832,48833,32272|15831|1942|32645,159.253.146.133,1449,ESSYN,300,1363350743,0,258,89.248.172.205|94.102.49.79|94.102.51.252|89.2...
48833,48834,15840|3353|20885|32654,159.253.146.133,1449,ESSYN,300,1363350753,1,258,94.102.49.79|89.248.172.96|89.248.160.155|89.2...
48834,48835,3362|28842|32282|32663,159.253.146.133,1449,ESSYN,300,1363350758,1,258,89.248.172.96|89.248.160.146|89.248.172.205|89...
48835,48836,28851|1956|20897|32299,112.205.65.227,80,UDP,900,1363350889,0,232,89.248.160.146|94.102.51.252|89.248.160.155|89...
48836,48837,20903|1963|32673|3380,101.163.13.59,80,ESSYN,1800,1363350945,0,11,89.248.160.155|94.102.51.252|89.248.162.242|89...
48837,48838,15856|3389|1982|20913,83.222.105.230,1973,ESSYN,300,1363351083,0,258,94.102.49.79|89.248.172.96|94.102.51.252|89.24...
48838,48839,15865|32318|28869|3398,178.132.207.245,1973,ESSYN,300,1363351091,0,258,94.102.49.79|89.248.172.205|89.248.160.146|89....
48839,48840,15874|1992|28878|32327,109.234.152.119,1973,ESSYN,300,1363351101,0,258,94.102.49.79|94.102.51.252|89.248.160.146|89.2...
48840,48841,15022|19087|28887,94.242.205.227,80,SOURCE,65,1363351473,1,261,72.9.144.80|67.222.156.241|89.248.160.146
48841,48842,15026|19091|28896,http://94.242.205.227,80,ARME,65,1363351493,1,261,72.9.144.80|67.222.156.241|89.248.160.146
48842,48843,15898|3409|32693|2010,http://94.242.205.227,80,ESSYN,65,1363351507,1,261,94.102.49.79|89.248.172.96|89.248.162.242|94.1...
48843,48844,15907|3418|32702|20944,94.242.205.227,80,ESSYN,65,1363351516,0,261,94.102.49.79|89.248.172.96|89.248.162.242|89.2...

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: attacks
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o time -> timestamp2datetime
    - On the column name:
        o owner -> userid
        o ip -> targetip
        o time ->date
    - Add required columns:
        o username
        o targeturl
    - Split columns:
        o

In [30]:
# Loading the correct table name
df_attacks = pd.read_csv(read_inserted_table3(dumpfile, tablename,'`',list_of_tables),delimiter=",",error_bad_lines=False)

# Converting columns
df_attacks['time']=timestamp2datetime(df_attacks['time'])

# Changing column names
df_attacks.rename(inplace=True, columns={'owner':'userid',
                                        'ip':'targetip',
                                        'time':'date'})
# Adding missing columns
df_attacks['username']=np.nan
df_attacks['targeturl']=np.nan
        
                                         
# Showing some lines after adapt the table
df_attacks.head(10)

DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES
DEBUG (get table): INSERT INTO `attacks` (`id`, `processid`, `ip`, `port`, `type`, `duration`, `time`, `stopped`, `owner`, `server`) VALUES

,id,processid,targetip,port,type,duration,date,stopped,userid,server,username,targeturl
0,1,5672,91.214.20.52,80,ESSYN,33,2013-01-24 01:12:34,1,1,94.102.49.76,NaN,NaN
1,2,29065,91.214.20.52,80,UDP,1783,2013-01-24 01:18:49,1,1,93.174.93.30,NaN,NaN
2,3,23005,78.31.8.124,80,ESSYN,393,2013-01-24 01:36:00,0,1,89.248.172.97,NaN,NaN
3,4,29411,199.204.44.188,80,ESSYN,60,2013-01-24 02:43:36,0,4,93.174.93.30,NaN,NaN
4,5,19298,http://chrome-mods.com,80,RUDY,50000,2013-01-24 02:44:31,1,3,72.9.144.80,NaN,NaN
5,6,5764,174.120.6.116,53,ESSYN,50000,2013-01-24 02:44:58,1,3,94.102.49.76,NaN,NaN
6,7,24302,http://theblazingtech.com,80,RUDY,50000,2013-01-24 02:46:31,1,3,72.9.144.80,NaN,NaN
7,8,30056,77.92.131.135,80,UDP,60,2013-01-24 02:46:35,1,4,89.248.172.201,NaN,NaN
8,9,30060,198.154.220.66,80,ESSYN,50000,2013-01-24 02:46:51,1,3,93.174.93.30,NaN,NaN
9,10,30064,173.231.26.68,80,ESSYN,50000,2013-01-24 02:48:22,1,3,89.248.172.201,NaN,NaN

In [81]:
# What weird column =D
servers_list = df_attacks['server'].str.split('|').dropna()
unique_servers = set(x for l in servers_list for x in l)

df_servers=pd.DataFrame(list(unique_servers),columns=['ip'])
df_servers['id']=np.nan

df_servers.head(5)

               ip  id
0    94.102.49.76 NaN
1  89.248.162.242 NaN
2  89.248.160.146 NaN
3  89.248.172.205 NaN
4  89.248.172.106 NaN

## 6.3. Table: 'friendsandenemies'

### How this table looks like without modification?

In [85]:
tablename='friendsandenemies'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   id  owner               ip           notes  type        time
0   1      5    74.63.218.210             xen     2  1358998583
1   3     30   50.136.243.126    chris styner     1  1359085650
2  35    212      79.6.211.85         Antonio     2  1360640866
3   5     30   24.117.195.236   Justin eragon     1  1359087098
4  80    255    86.217.45.114         auauflo     2  1363128906
5   8    112    85.151.101.65        Marcs IP     2  1359127967
6   9     72  188.165.207.222          lolesp     2  1359144440
7  13    142    89.248.172.25        Hai Dude     2  1359256999
8  12    121     92.20.87.192  Habify Founder     2  1359215755
9  14     79     96.238.46.44       KillaKing     1  1359413699

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: friendsenemies
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o type -> friendsenemies_type2()
    - On the column name:
        o notes -> note
        o owner -> userid
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'friendsandenemies'

In [86]:
# Loading the correct table name
df_friendsenemies = pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_friendsenemies['type']=friendsenemies_type2(df_friendsenemies['type'])

# Changing column names
df_friendsenemies.rename(inplace=True, columns={'notes': 'note',
                                               'owner':'userid'})
# Adding missing columns

# Showing some lines after adapt the table
df_friendsenemies.head(10)

   id  userid               ip            note    type        time
0   1       5    74.63.218.210             xen   enemy  1358998583
1   3      30   50.136.243.126    chris styner  friend  1359085650
2  35     212      79.6.211.85         Antonio   enemy  1360640866
3   5      30   24.117.195.236   Justin eragon  friend  1359087098
4  80     255    86.217.45.114         auauflo   enemy  1363128906
5   8     112    85.151.101.65        Marcs IP   enemy  1359127967
6   9      72  188.165.207.222          lolesp   enemy  1359144440
7  13     142    89.248.172.25        Hai Dude   enemy  1359256999
8  12     121     92.20.87.192  Habify Founder   enemy  1359215755
9  14      79     96.238.46.44       KillaKing  friend  1359413699

## 6.4. Table: 'giftcodes'

### How this table looks like without modification?

In [88]:
tablename='giftcodes'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,code,time,email,orderID,productID,usedBy,usedTime
0,1,a75gy0iav9x1l32kusp63gbhms09tp,1356998400,admin@dashvpn.net\0,\03AG8QWY-BGLPAF,40076-1,dal33t2,1359286500
1,2,j11je06zb3n91gxy1065xxf4zds3mj,1356998400,engagetutorials@gmail.com\0,\03AG95NQ-BELX69,40076-22,EngageTutorials,1359041030
2,3,qx2or4a4phwqbpp6tlao2htbg4yoto,1356998400,mike.kline40@yahoo.com\0,\03AG9AUA-BBKET7,40076-1,NaN,0
3,4,fjroosefytx4wi7qyik41n96q6sfb6,1357084800,kxnneth@gmail.com\0,\03AG9VN3-B6B6C8,40076-22,ddaws,1359034298
4,5,dm9rj1znyreqy4f0zr5ltz1n1dd85r,1357084800,trevorstonechs@gmail.com\0,\03AG9Y7G-B3X9F,40076-31,trstone,1359006133
5,6,iqhfnvualhoszt3p1i4c2nl2r32t3l,1357084800,jetkai@hotmail.co.uk\0,\03AG9YYV-BHMM3F,40076-31,jetkai,1359110252
6,7,bqdja8qw3msx0j2bg157rtgdalmd68,1357084800,drjfine@gmail.com\0,\03AGA7TK-BEQCTB,40076-21,kesem,1359020376
7,8,sc6q0s8drwnip53w9soukmpsk1qxw1,1357084800,pkdroid4@hotmail.com\0,\03AGAY2W-BFNAGK,40076-21,archnemesis,1359114501
8,9,m4byvyzp2k8pglnia4lxx2lpovfj77,1357084800,moha@outlook.com\0,\03AGBBW2-BGBJR4,40076-21,ammorape,1359069249
9,10,pid3jhcaxabx7h7a7bdcbp8d76tktx,1357171200,n33dy1@gmail.com\0,\03AGDY7K-BEEP4N,40076-21,h4x0r1f1c,1358997874

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.11. Table: 'logins'

### How this table looks like without modification?

In [89]:
tablename='logins'

pd.read_csv(read_inserted_table2(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,owner,ip,useragent,time
0,32816,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,1358984471
1,32817,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,1358985169
2,32818,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,1358988183
3,32819,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,1358993827
4,32820,2,195.254.134.242,Mozilla/5.0 (Windows NT 6.2; WOW64 AppleWebKit...,1358994384
5,32821,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,1358995039
6,32822,4,85.103.1.226,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:18.0 Ge...,1358995272
7,32823,3,2.126.164.236,Mozilla/5.0 (Windows NT 6.1; WOW64 AppleWebKit...,1358995282
8,32824,4,85.103.1.226,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:18.0 Ge...,1358996056
9,32825,5,99.21.81.211,Mozilla/5.0 (Windows NT 6.1; rv:18.0 Gecko/201...,1358996504

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: logins
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o time -> timestamp2datetime()
    - On the column name:
        o owner -> userid
        o ip -> userip
        o time -> date
    - Add required columns:
        o username
    - Split columns:
        o

### Modifying table: 'logins'

In [90]:
# Loading the correct table name
df_logins = pd.read_csv(read_inserted_table2(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_logins['time']=timestamp2datetime(df_logins['time'])

# Changing column names
df_logins.rename(inplace=True, columns={'owner' :'userid',
                                       'ip':'userip',
                                       'time':'date'})
# Adding missing columns
df_logins['username']=np.nan

# Showing some lines after adapt the table
df_logins.head(10)

,id,userid,userip,useragent,date,username
0,32816,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,2013-01-23 23:41:11,NaN
1,32817,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,2013-01-23 23:52:49,NaN
2,32818,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,2013-01-24 00:43:03,NaN
3,32819,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,2013-01-24 02:17:07,NaN
4,32820,2,195.254.134.242,Mozilla/5.0 (Windows NT 6.2; WOW64 AppleWebKit...,2013-01-24 02:26:24,NaN
5,32821,1,112.198.82.1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,2013-01-24 02:37:19,NaN
6,32822,4,85.103.1.226,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:18.0 Ge...,2013-01-24 02:41:12,NaN
7,32823,3,2.126.164.236,Mozilla/5.0 (Windows NT 6.1; WOW64 AppleWebKit...,2013-01-24 02:41:22,NaN
8,32824,4,85.103.1.226,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:18.0 Ge...,2013-01-24 02:54:16,NaN
9,32825,5,99.21.81.211,Mozilla/5.0 (Windows NT 6.1; rv:18.0 Gecko/201...,2013-01-24 03:01:44,NaN

## 6.6. Table: 'news'

### How this table looks like without modification?

In [91]:
tablename='news'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,postedby,time,title,content
0,1,askaa,1358991550,Downtime 24 January,We finally experienced our first downtime afte...
1,2,askaa,1360747909,Power Restored 13 Feb fixes,Hi everyone\n\nWe finally managed to receive o...
2,3,askaa,1361009797,Regarding twBooter3,The people behind this project is people that ...

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.7. Table: 'paymentlogs'

### How this table looks like without modification?

In [92]:
tablename='paymentlogs'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,email,transid,amount,username,time
0,1,Kyle.mckinney@hotmail.co.uk,3AG6SS8-AGGE8X,136,eeuw1hj17ksxjh4nr42d7d3a7wkij7,1358997175
1,2,a@g.im,3AJ3JM6-B8VXPD,136,6qd8qyx23rfnrog5dvklc3w3m3dkhn,1359004445
2,3,NaN,XYCBN6Z-AUCCG9,169,h1seaktdzfhlmyvcpdl8uczgbkw9dq,1359010564
3,4,a@stc.im,NRDT1LH-LMZLRT,169,qhva4w80mvvprxwmny48xsumjw88je,1359010695
4,5,twbutter@gmail.com,Y2LYFI9-998UKR,169,j0832jk89ogdmrs63xulhass87fgki,1359010905
5,6,twbutter@gmail.com,JETN239-5GEB86,149,jt8in1sxzrc5vonekg15r869r57wci,1359011324
6,7,twbutter@gmail.com,J5UAKEL-HFE2NL,169,i83ktml6qrrxexxk1hjqz7wpud4jr3,1359047265
7,8,twbutter@gmail.com,0OJM9JO-4MQOZ5,169,c0288vybmxlwu45g5lvfuaqndqaowi,1359047655
8,9,jsadgasdg@hotmail.com,3AG6DY8-UDY84F,136,5haosppkgp1slcfzqz63y4jl0v79fz,1359069071
9,10,twbutter@gmail.com,EF7SA10-W0KIKR,169,aw0q6s1own5arj4k9uqv44mqon7tkc,1359075308

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: payments
#### Q3: Are there modifications required? 
    - On the table name: 
        o paymentlogs -> payments
    - On the column type: 
        o time -> timestamp2datetime
    - On the column name:
        o amount -> amountpaid
        o email -> paymentemail
        o transid -> tid
        o time -> date
    - Add required columns:
        o userid
        o planid
    - Split columns:
        o

### Modifying table: 'paymentlogs'

In [93]:
# Loading the correct table name
df_payments = pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns
df_payments['time']=timestamp2datetime(df_payments['time'])

# Changing names of columns
df_payments.rename(inplace=True, columns={'amount':'amountpaid',
                                         'email':'paymentemail',
                                         'transid':'tid',
                                         'time':'date'})

# Creating empty columns (with "" [for future string] or np.nan [for future float])
df_payments['userid']=np.nan
df_payments['planid']=np.nan

# Showing some lines after adapt the table
df_payments.head(10)

,id,paymentemail,tid,amountpaid,username,date,userid,planid
0,1,Kyle.mckinney@hotmail.co.uk,3AG6SS8-AGGE8X,136,eeuw1hj17ksxjh4nr42d7d3a7wkij7,2013-01-24 03:12:55,NaN,NaN
1,2,a@g.im,3AJ3JM6-B8VXPD,136,6qd8qyx23rfnrog5dvklc3w3m3dkhn,2013-01-24 05:14:05,NaN,NaN
2,3,NaN,XYCBN6Z-AUCCG9,169,h1seaktdzfhlmyvcpdl8uczgbkw9dq,2013-01-24 06:56:04,NaN,NaN
3,4,a@stc.im,NRDT1LH-LMZLRT,169,qhva4w80mvvprxwmny48xsumjw88je,2013-01-24 06:58:15,NaN,NaN
4,5,twbutter@gmail.com,Y2LYFI9-998UKR,169,j0832jk89ogdmrs63xulhass87fgki,2013-01-24 07:01:45,NaN,NaN
5,6,twbutter@gmail.com,JETN239-5GEB86,149,jt8in1sxzrc5vonekg15r869r57wci,2013-01-24 07:08:44,NaN,NaN
6,7,twbutter@gmail.com,J5UAKEL-HFE2NL,169,i83ktml6qrrxexxk1hjqz7wpud4jr3,2013-01-24 17:07:45,NaN,NaN
7,8,twbutter@gmail.com,0OJM9JO-4MQOZ5,169,c0288vybmxlwu45g5lvfuaqndqaowi,2013-01-24 17:14:15,NaN,NaN
8,9,jsadgasdg@hotmail.com,3AG6DY8-UDY84F,136,5haosppkgp1slcfzqz63y4jl0v79fz,2013-01-24 23:11:11,NaN,NaN
9,10,twbutter@gmail.com,EF7SA10-W0KIKR,169,aw0q6s1own5arj4k9uqv44mqon7tkc,2013-01-25 00:55:08,NaN,NaN

## 6.8. Table: 'servers'

### How this table looks like without modification?

In [94]:
tablename='servers'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,name,orderid,private,owner,ip,password,lastuse,cpu,netsend,udp,syn,layer7,enabled,cancheck
0,1,Alpha,B14S05,0,0,89.248.162.242,100percentnigganigga,0,NaN,NaN,1,1,0,1,0
1,2,Bravo,B04S07,0,0,89.248.160.155,100percentnigganigga,0,0.0,6416712.0,1,1,0,1,0
2,3,Charlie,B18S24,0,0,89.248.172.96,100percentnigganigga,0,NaN,NaN,1,1,0,1,1
3,4,Delta,B15S14,0,0,94.102.49.79,100percentnigganigga,0,NaN,NaN,1,1,0,1,1
4,5,Echo,B04S05,0,0,89.248.160.146,100percentnigganigga,0,0.0,8766117.0,1,1,1,1,1
5,6,Foxtrot,B00S01,0,0,72.9.144.80,100percentnigganigga,0,0.0,20479.0,0,0,1,1,1
6,7,Golf,B16S16,0,0,94.102.51.252,100percentnigganigga,0,0.0,5864118.0,1,1,0,1,1
7,8,Hotel,B01S01,0,0,67.222.156.241,100percentnigganigga,0,0.0,37317.0,0,0,1,1,1
8,9,India,A06S36,0,0,89.248.172.205,100percentnigganigga,0,0.0,0.0,1,1,0,1,1
9,10,Juliett,AS18B3,0,0,89.248.160.155,100percentnigganigga,0,0.0,0.0,1,1,0,1,0

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: servers
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 

    - Add required columns:
        o
    - Split columns:
        o

### Modifying table: 'servers'

In [95]:
# Loading the correct table name
df_servers = pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False)

# Converting columns

# Changing column names

# Adding missing columns

# Showing some lines after adapt the table
df_servers.head(10)

,id,name,orderid,private,owner,ip,password,lastuse,cpu,netsend,udp,syn,layer7,enabled,cancheck
0,1,Alpha,B14S05,0,0,89.248.162.242,100percentnigganigga,0,NaN,NaN,1,1,0,1,0
1,2,Bravo,B04S07,0,0,89.248.160.155,100percentnigganigga,0,0.0,6416712.0,1,1,0,1,0
2,3,Charlie,B18S24,0,0,89.248.172.96,100percentnigganigga,0,NaN,NaN,1,1,0,1,1
3,4,Delta,B15S14,0,0,94.102.49.79,100percentnigganigga,0,NaN,NaN,1,1,0,1,1
4,5,Echo,B04S05,0,0,89.248.160.146,100percentnigganigga,0,0.0,8766117.0,1,1,1,1,1
5,6,Foxtrot,B00S01,0,0,72.9.144.80,100percentnigganigga,0,0.0,20479.0,0,0,1,1,1
6,7,Golf,B16S16,0,0,94.102.51.252,100percentnigganigga,0,0.0,5864118.0,1,1,0,1,1
7,8,Hotel,B01S01,0,0,67.222.156.241,100percentnigganigga,0,0.0,37317.0,0,0,1,1,1
8,9,India,A06S36,0,0,89.248.172.205,100percentnigganigga,0,0.0,0.0,1,1,0,1,1
9,10,Juliett,AS18B3,0,0,89.248.160.155,100percentnigganigga,0,0.0,0.0,1,1,0,1,0

## 6.9. Table: 'settings'

### How this table looks like without modification?

In [96]:
tablename='settings'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   id setting   value
0   2  status  online

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.10. Table: 'ticket_replies'

### How this table looks like without modification?

In [97]:
tablename='ticket_replies'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,ticketid,posterid,posterrank,time,content
0,2010,1119,112,1,1359128061,Hey I just got 1 of them its like more attacks...
1,2011,1119,1,3,1359132489,20 USD :\n\nLet me know if you want to purchase.
2,2012,1119,112,1,1359139120,Okay but I dont think I need them now
3,2013,1119,1,3,1359145732,So do you want to purchase now or not ? :
4,2014,1120,108,1,1359182701,Hi I was just wondering why the skype resolver...
5,2015,1121,133,1,1359190248,hello is the ip logger working as it gives me ...
6,2016,1122,107,1,1359215037,To see if I can close.
7,2017,1123,3,1,1359329079,do it noob
8,2018,1124,50,1,1359331653,Good night on your dashboard you say that we h...
9,2019,1125,113,1,1359345010,Skype resolver is down?

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.11. Table: 'tickets'

### How this table looks like without modification?

In [98]:
tablename='tickets'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,owner,responses,subject,lastreply,closed
0,1136,171,1,Payment,1362109773,1
1,1135,1,0,tesa,1361516654,1
2,1139,312,0,Just brought Twbooter2,1363313799,0
3,1140,312,0,Skype/Host Resolver Not working!,1363329797,0
4,1138,308,0,Servers seems to be a bit weak?,1363273660,0
5,1137,271,1,Broke Timer -- Cant Boot,1362647265,1

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
        o 
    - Add required columns:
        o
    - Split columns:
        o

## 6.12. Table: 'toverify'

### How this table looks like without modification?

In [99]:
tablename='toverify'

pd.read_csv(read_inserted_table1(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,data,verified,email
0,47,YToyOntpOjA7czoxOTI6IhNQ+4/xgHfvhoR0lkg8OdxlIa...,0,loler2001-konto@yahoo.de
1,14,YToyOntpOjA7czoxOTI6IuWoXJjS6J0jflqovi6UaB1EU/...,0,gmnzii@yahoo.com
2,22,YToyOntpOjA7czoxOTI6It1LRrgdbapmWtenCstpDx7J5q...,0,Aliciajwallace333@gmail.com
3,55,YToyOntpOjA7czoxOTI6IqS3frzw2qoHXyb6I62t7pWYnO...,0,kevinukendt@gmail.com
4,25,YToyOntpOjA7czoxOTI6IvsygWNOLVJBWj7b1bf6W1jSOi...,0,aymanhowuidi@gmail.com
5,90,YToyOntpOjA7czoxOTI6Is7HaKzURlFGceEysuqNSikYcg...,0,asbjaarn@live.dk
6,91,YToyOntpOjA7czoxOTI6Iomu8v8a/j9CkVRZA2O8cwI5Kq...,0,Brian.766@hotmail.fr
7,64,YToyOntpOjA7czoxOTI6IluGQW8BqIOkUa/tQDBODnHcgW...,0,twbutter@gmail.com
8,94,YToyOntpOjA7czoxOTI6Ika7sEmJWnAvkPRxsS7vTH8CSp...,0,Ted0oN@hotmail.fr

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.13. Table: 'users'

### How this table looks like without modification?

In [100]:
tablename='users'

pd.read_csv(read_inserted_table2(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

,id,idhash,username,password,rank,time,max_boot_time,max_concurrent_attacks,lastattack,ipgrabberimage,banned,lastip,email,tos,sessioncode,lastactive,recovercode,has_private_server
0,1,c4ca4238a0b923820dcc509a6f75849b,askaa,f6056ef7890a99494c34951817c2ed4fd3608a8488ef0a...,3,1388556000,120000,30,176.53.26.158,http://puu.sh/WfEa.png,false,180.190.162.175,a75gy0iav9x1l32kusp63gbhms09tc,1,i0qeclje,1363347518,NaN,0
1,2,c81e728d9d4c2f636f067f89cc14862c,LiteSpeed,1a27598c852955af52ee00686f7c71ba3860440267667a...,3,1361735963,600,10,109.3.51.194,http://puu.sh/WfEa.png,false,50.73.178.78,1234567890abcdefghij1234567890,1,yj88pl51,1361377644,NaN,0
2,3,eccbc87e4b5ce2fe28308fd9f2a7baf3,sultan,02cf1cce1b9414df96996756be90dc9f025acfd806a060...,1,1361599200,500000,5,141.0.175.164,http://puu.sh/WfEa.png,false,2.126.164.236,sultan@gmail.com,1,kj5gv3kt,1361086620,NaN,1
3,4,a87ff679a2f3e71d9181a67b7542122c,berk4n,5fa7fcf54e5df7734353eb5f42b42cc11c12db80bb4524...,1,1361587265,60,1,178.79.169.126,http://puu.sh/WfEa.png,false,85.103.13.84,xkk8in361sovnmwu6z1me5zt3zq0hj,1,t1n1qwk7,1361481801,NaN,0
4,5,e4da3b7fbbce2345d7772b0674a318d5,stevenxox,8e2c3d0ccc1d2fd16ad88c6c81bf4ed32c6e1f95a7ab53...,1,1361627043,1800,1,79.141.172.17,http://puu.sh/WfEa.png,false,99.21.81.211,na4kru2wci07xfevqfsitsj85u69s0,1,w9vhc338,1361317332,NaN,0
5,6,1679091c5a880faf6fb5e6087eb1b2dc,xirs,e53e37b96c4dc05363c74ea38a935d43ba21ee92b9763b...,1,1361491200,1800,1,98.198.113.86,http://puu.sh/WfEa.png,false,98.198.113.86,e1lq509zaw663v8hvpsx7saoqfpel3,1,qdvm5um9,1359431495,NaN,0
6,7,8f14e45fceea167a5a36dedd4bea2543,Legion,11bd6cb74484c44a21d069346f9752a9d8d06df3953755...,1,1360886400,300,1,24.247.176.247,http://puu.sh/WfEa.png,false,108.193.128.239,ej0udne6js31r25j7mnpzdp53qlr0s,1,w09f47b5,1360352889,NaN,0
7,8,c9f0f895fb98ab9159f51fd0297e236d,overcl0ck,463218e2674b586b7ac89b1955d64c7a9bc17dc374801f...,1,1361404800,300,1,212.107.136.52,http://google.com/google.png,false,151.226.245.174,i649wj5xrus8gcfk1uc1j2lhwgwn28,1,75kndchd,1361399057,NaN,0
8,9,45c48cce2e2d7fbdea1afc51c7c6ad26,Zuzz,0588c94af7e752eb0135d7a721d0b565d55a9d0b7e0b9b...,1,1360627200,600,1,None,http://puu.sh/WfEa.png,false,None,ehkwuchuk7w2bofkksnl4x1uigcnl1,1,NaN,1358997161,NaN,0
9,10,d3d9446802a44259755d38e6d163e820,Apocalyptikz,a3cdbe9786b234385682400032f3e6c2e20d993f61ed19...,1,1360281600,300,1,149.61.10.20,http://puu.sh/WfEa.png,false,69.125.32.179,5z8bjo3o2sc08luk73tf55rc8e5zwm,1,3woowh71,1360053160,NaN,0

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES 
    - This table looks like: users
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o id -> userid
        o email -> useremail
    - Add required columns:
        o expire
        o planid 
    - Split columns:
        o df_logins['id']=np.nan
        o df_logins['userid']=df_users['id']
        o df_logins['username']=df_users['username']
        o df_logins['userip']=df_users['lastip']
        o df_logins['date']=timestamp2datetime(df_users['lastactive'])

### Modifying table: 'users'

In [101]:
### Loading the column converting columns with predefined functions
df_users = pd.read_csv(read_inserted_table2(dumpfile, tablename),delimiter=",",error_bad_lines=False)

###Changing names of columns
df_users.rename(columns = {'id':'userid',
                          'email':'useremail'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_users['expire'] = np.nan
df_users['planid'] = np.nan

###Showing some lines after adapt the table
df_users.head(10)

,userid,idhash,username,password,rank,time,max_boot_time,max_concurrent_attacks,lastattack,ipgrabberimage,banned,lastip,useremail,tos,sessioncode,lastactive,recovercode,has_private_server,expire,planid
0,1,c4ca4238a0b923820dcc509a6f75849b,askaa,f6056ef7890a99494c34951817c2ed4fd3608a8488ef0a...,3,1388556000,120000,30,176.53.26.158,http://puu.sh/WfEa.png,false,180.190.162.175,a75gy0iav9x1l32kusp63gbhms09tc,1,i0qeclje,1363347518,NaN,0,NaN,NaN
1,2,c81e728d9d4c2f636f067f89cc14862c,LiteSpeed,1a27598c852955af52ee00686f7c71ba3860440267667a...,3,1361735963,600,10,109.3.51.194,http://puu.sh/WfEa.png,false,50.73.178.78,1234567890abcdefghij1234567890,1,yj88pl51,1361377644,NaN,0,NaN,NaN
2,3,eccbc87e4b5ce2fe28308fd9f2a7baf3,sultan,02cf1cce1b9414df96996756be90dc9f025acfd806a060...,1,1361599200,500000,5,141.0.175.164,http://puu.sh/WfEa.png,false,2.126.164.236,sultan@gmail.com,1,kj5gv3kt,1361086620,NaN,1,NaN,NaN
3,4,a87ff679a2f3e71d9181a67b7542122c,berk4n,5fa7fcf54e5df7734353eb5f42b42cc11c12db80bb4524...,1,1361587265,60,1,178.79.169.126,http://puu.sh/WfEa.png,false,85.103.13.84,xkk8in361sovnmwu6z1me5zt3zq0hj,1,t1n1qwk7,1361481801,NaN,0,NaN,NaN
4,5,e4da3b7fbbce2345d7772b0674a318d5,stevenxox,8e2c3d0ccc1d2fd16ad88c6c81bf4ed32c6e1f95a7ab53...,1,1361627043,1800,1,79.141.172.17,http://puu.sh/WfEa.png,false,99.21.81.211,na4kru2wci07xfevqfsitsj85u69s0,1,w9vhc338,1361317332,NaN,0,NaN,NaN
5,6,1679091c5a880faf6fb5e6087eb1b2dc,xirs,e53e37b96c4dc05363c74ea38a935d43ba21ee92b9763b...,1,1361491200,1800,1,98.198.113.86,http://puu.sh/WfEa.png,false,98.198.113.86,e1lq509zaw663v8hvpsx7saoqfpel3,1,qdvm5um9,1359431495,NaN,0,NaN,NaN
6,7,8f14e45fceea167a5a36dedd4bea2543,Legion,11bd6cb74484c44a21d069346f9752a9d8d06df3953755...,1,1360886400,300,1,24.247.176.247,http://puu.sh/WfEa.png,false,108.193.128.239,ej0udne6js31r25j7mnpzdp53qlr0s,1,w09f47b5,1360352889,NaN,0,NaN,NaN
7,8,c9f0f895fb98ab9159f51fd0297e236d,overcl0ck,463218e2674b586b7ac89b1955d64c7a9bc17dc374801f...,1,1361404800,300,1,212.107.136.52,http://google.com/google.png,false,151.226.245.174,i649wj5xrus8gcfk1uc1j2lhwgwn28,1,75kndchd,1361399057,NaN,0,NaN,NaN
8,9,45c48cce2e2d7fbdea1afc51c7c6ad26,Zuzz,0588c94af7e752eb0135d7a721d0b565d55a9d0b7e0b9b...,1,1360627200,600,1,None,http://puu.sh/WfEa.png,false,None,ehkwuchuk7w2bofkksnl4x1uigcnl1,1,NaN,1358997161,NaN,0,NaN,NaN
9,10,d3d9446802a44259755d38e6d163e820,Apocalyptikz,a3cdbe9786b234385682400032f3e6c2e20d993f61ed19...,1,1360281600,300,1,149.61.10.20,http://puu.sh/WfEa.png,false,69.125.32.179,5z8bjo3o2sc08luk73tf55rc8e5zwm,1,3woowh71,1360053160,NaN,0,NaN,NaN

In [102]:
df_logins = pd.DataFrame()
df_logins['id']=np.nan
df_logins['userid']=df_users['userid']
df_logins['username']=df_users['username']
df_logins['userip']=df_users['lastip']
df_logins['date']=timestamp2datetime(df_users['lastactive'])

<h2 align='center'>======================================================================
<br>Final step of the manual part
======================================================================</h2>

## 7. Adding missing tables accordingly to our generic Booter database

In [103]:
#df_attacks= pd.DataFrame(columns=['id','userid','username','targetip','targeturl','duration','port','type','date'])
df_blacklist=pd.DataFrame(columns=['id','ip','note'])
#df_friendsenemies=pd.DataFrame(columns=['id','ip','note','userid','type'])
df_gateways=pd.DataFrame(columns=['email'])
#df_logins=pd.DataFrame(columns=['id','userid','username','userip','date'])
#df_payments=pd.DataFrame(columns=['id','userid','username','amountpaid','paymentemail','planid','tid','date'])
df_plans=pd.DataFrame(columns=['planid','planname','plandescr','price','maxboottime','concurrency'])
#df_servers=pd.DataFrame(columns=['id','ip'])
df_settings=pd.DataFrame(columns=['url','sitename','siteemail'])
#df_users=pd.DataFrame(columns=['userid','username','useremail','password','expire','plan'])      
df_webshells=pd.DataFrame(columns=['id','url','status','lastchecked','attacktype'])

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 2: Data Enrichment<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

## * Discovering the middle date of the database

In [104]:
try:
    try:
        middle_date=(min(df_attacks['date'])+((max(df_attacks['date'])-min(df_attacks['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_logins['date'])+((max(df_logins['date'])-min(df_logins['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_payments['date'])+((max(df_payments['date'])-min(df_payments['date']))/2))
        raise
    except:
        pass
except Exception:
    print("There is no date in the entire dataset")

date_tor_check = middle_date.strftime('%Y-%m-%d')
date_iptoasn_lookup= str(middle_date)
print(date_tor_check)

2013-02-18

## * Preparing to Perform IP to ASN info

In [105]:
df_logins['middledate']=date_iptoasn_lookup
df_attacks['middledate']=date_iptoasn_lookup
df_friendsenemies['middledate']=date_iptoasn_lookup
df_blacklist['middledate']=date_iptoasn_lookup

## 2.1.1  Lookup IP to ASN info of table: logins

In [ ]:
if (os.path.exists('enrichments/logins_iptoasn_out')== False):
    logins_iptoasn_in = open('enrichments/logins_iptoasn_in', 'w+')
    logins_iptoasn_in.write('begin\nverbose\n')
    df_logins[['userip','middledate']].drop_duplicates().to_csv(logins_iptoasn_in,header=False,index=False,sep="\t") 
    logins_iptoasn_in.write('end')
    logins_iptoasn_in.close()

    logins_iptoasn_out = open('logins_iptoasn_out', 'w+')
    iptoasn('logins_iptoasn_in',logins_iptoasn_out)
    logins_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_logins_iptoasn = pd.read_csv('enrichments/logins_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

df_logins_extended= pd.merge(df_logins,
                              df_logins_iptoasn,
                              how = 'left',
                              left_on = 'userip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_logins_extended.rename(columns={'asn':'srcasn', 
                                   'ip':'srcip', 
                                   'bgp_prefix':'srcbgp_prefix', 
                                   'country':'srccountry' ,
                                   'registry':'srcregistry',
                                   'info_date':'srcinfo_date',
                                   'info_request':'srcinfo_request'},
                         inplace=True)


df_logins_extended.head(5)

## 2.1.2  Lookup IP to ASN info of table: attacks

In [ ]:
if (os.path.exists('enrichments/attacks_iptoasn_out')== False):
    attacks_iptoasn_in = open('enrichments/attacks_iptoasn_in', 'w+')
    attacks_iptoasn_in.write('begin\nverbose\n')
    df_attacks[['targetip','middledate']].drop_duplicates().to_csv(attacks_iptoasn_in,header=False,index=False,sep="\t") 
    attacks_iptoasn_in.write('end')
    attacks_iptoasn_in.close()

    attacks_iptoasn_out = open('attacks_iptoasn_out', 'w+')
    iptoasn('attacks_iptoasn_in',attacks_iptoasn_out)
    attacks_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_attacks_iptoasn = pd.read_csv('enrichments/attacks_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_attacks_extended= pd.merge(df_attacks,
                              df_attacks_iptoasn,
                              how = 'left',
                              left_on = 'targetip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_attacks_extended.rename(columns={'asn':'targetasn', 
                                   'ip_y':'targetip', 
                                   'bgp_prefix':'targetbgp_prefix', 
                                   'country_y':'targetcountry' ,
                                   'registry':'targetregistry',
                                   'info_date':'targetinfo_date',
                                   'info_request':'targetinfo_request'},
                         inplace=True)
df_attacks_extended.head(5)

## 2.1.3  Lookup IP to ASN info of table: friendsenemies

In [ ]:
if (os.path.exists('enrichments/friendsenemies_iptoasn_out')== False):
    friendsenemies_iptoasn_in = open('enrichments/friendsenemies_iptoasn_in', 'w+')
    friendsenemies_iptoasn_in.write('begin\nverbose\n')
    df_friendsenemies[['ip','middledate']].drop_duplicates().to_csv(friendsenemies_iptoasn_in,header=False,index=False,sep="\t") 
    friendsenemies_iptoasn_in.write('end')
    friendsenemies_iptoasn_in.close()

    friendsenemies_iptoasn_out = open('friendsenemies_iptoasn_out', 'w+')
    iptoasn('friendsenemies_iptoasn_in',friendsenemies_iptoasn_out)
    friendsenemies_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_friendsenemies_iptoasn = pd.read_csv('enrichments/friendsenemies_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_friendsenemies_extended= pd.merge(df_friendsenemies,
                              df_friendsenemies_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_friendsenemies_extended.rename(columns={'asn':'friendsenemiesasn', 
                                   'ip':'friendsenemiesip', 
                                   'bgp_prefix':'friendsenemiesbgp_prefix', 
                                   'country':'friendsenemiescountry' ,
                                   'registry':'friendsenemiesregistry',
                                   'info_date':'friendsenemiesinfo_date',
                                   'info_request':'friendsenemiesinfo_request',
                                   'as_name': 'friendsenemiesas_name'},
                         inplace=True)

## 2.1.4  Lookup IP to ASN info of table: blacklist

In [ ]:
if (os.path.exists('enrichments/blacklist_iptoasn_out')== False):
    blacklist_iptoasn_in = open('enrichments/blacklist_iptoasn_in', 'w+')
    blacklist_iptoasn_in.write('begin\nverbose\n')
    df_blacklist[['ip','middledate']].drop_duplicates().to_csv(blacklist_iptoasn_in,header=False,index=False,sep="\t") 
    blacklist_iptoasn_in.write('end')
    blacklist_iptoasn_in.close()

    blacklist_iptoasn_out = open('blacklist_iptoasn_out', 'w+')
    iptoasn('blacklist_iptoasn_in',blacklist_iptoasn_out)
    blacklist_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_blacklist_iptoasn = pd.read_csv('enrichments/blacklist_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_blacklist_extended= pd.merge(df_blacklist,
                              df_blacklist_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_blacklist_extended.rename(columns={'asn':'blacklistasn', 
                                   'ip':'blacklistip', 
                                   'bgp_prefix':'blacklistbgp_prefix', 
                                   'country':'blacklistcountry' ,
                                   'registry':'blacklistregistry',
                                   'info_date':'blacklistinfo_date',
                                   'info_request':'blacklistinfo_request',
                                   'as_name': 'blacklistas_name'},
                         inplace=True)
df_blacklist_extended.head(5)

## 2.2.1. Check if IP was a TOR node for table: login

In [ ]:
date_tor_check

In [ ]:
if len(df_logins['userip'].unique())<1200:
    if (os.path.exists('enrichments/logins_torcheck')== False):
        print("Note: it can take a while to finish...")
        logins_torcheck = open('logins_torcheck', 'w+')
        for i in df_logins['userip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=logins_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            logins_torcheck.flush()

        logins_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.")
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_logins_torcheck = pd.read_csv('enrichments/logins_torcheck',\
                          delimiter="\s+",\
                          names = ['userip', 'tor'])

## 2.2.2. Check if IP was a TOR node for table: attacks

In [ ]:
if len(df_attacks['targetip'].unique())<1200:
    if (os.path.exists('enrichments/attacks_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_attacks['targetip'].unique())*3,"seconds (in the worst case).")

        attacks_torcheck = open('attacks_torcheck', 'w+')

        for i in df_attacks['targetip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=attacks_torcheck)
            print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            attacks_torcheck.flush()

        attacks_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_attacks_torcheck = pd.read_csv('enrichments/attacks_torcheck',\
                          delimiter="\s+",\
                          names = ['targetip', 'tor'])

## 2.2.3. Check if IP was a TOR node for table: friendsenemies

In [ ]:
if len(df_friendsenemies['ip'].unique()) <1200:
    if (os.path.exists('enrichments/friendsenemies_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_friendsenemies['ip'].unique())*3,"seconds (in the worst case).")

        friendsenemies_torcheck = open('enrichments/friendsenemies_torcheck', 'w+')

        for i in df_friendsenemies['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=friendsenemies_torcheck)
        #     print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            friendsenemies_torcheck.flush()

        friendsenemies_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_friendsenemies_torcheck = pd.read_csv('enrichments/friendsenemies_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## 2.2.4. Check if IP was a TOR node for table: blacklist

In [ ]:
if len(df_blacklist['ip'].unique()) < 1200:
    if (os.path.exists('enrichments/blacklist_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_blacklist['ip'].unique())*3,"seconds (in the worst case).")

        blacklist_torcheck = open('enrichments/blacklist_torcheck', 'w+')

        for i in df_blacklist['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=blacklist_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            blacklist_torcheck.flush()

        blacklist_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_blacklist_torcheck = pd.read_csv('enrichments/blacklist_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## * Relation between Attack dates and Login dates

In [ ]:
def nearestDate(base_date, date_list):
    nearest={}
    for date in date_list:
        if (base_date.timestamp() - date.timestamp())>=0:
            nearest[base_date.timestamp() - date.timestamp()]= date
    return nearest[min(nearest.keys())]

In [ ]:
#This is the TOTAL number records to be checks!!!!
len(df_attacks)

In [ ]:
df_attacks['nearestlogin']=""
df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])
    
if len(df_attacks)>0 and len(df_logins)>0:
    #When was the last login of the user that performed attacks
    df_attacks['nearestlogin']=""
    df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])

    for index, row in df_attacks.head(100).iterrows():
        intermediate_df= df_logins[df_logins['username']==row['username']]
        nearestlogindate= nearestDate(row['date'],intermediate_df['date'])
        df_attacks.set_value(index, 'nearestlogin', nearestlogindate)

        #DEBUGGING
        if index % 1000 == 0:
            print(index,": +1000 records analysed")

In [ ]:
if len(df_attacks['nearestlogin'].value_counts()) >1:
    df_attacks_and_logins = pd.merge(df_attacks_extended,
                                     df_logins_extended,
                                     how = 'left',
                                     left_on = ['username','nearestlogin'],
                                     right_on = ['username','date'])
else:
    df_attacks_and_logins=""

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 3: Automatic Analysis
<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>

## * Libraries that I use to plot figs

In [ ]:
import matplotlib.pyplot as plt
from matplotlib_venn import *
%matplotlib inline

import seaborn as sns
import itertools

plt.style.use('seaborn-muted')
# plt.rcParams['font.family'] = 'serif'
# plt.rcParams['font.size'] = 12

import warnings
warnings.filterwarnings('ignore')

## A.1. Number of records per table (part of the generic Booter database schema)

In [ ]:
len(df_users),len(df_logins),len(df_attacks),len(df_payments),len(df_settings),len(df_gateways), len(df_friendsenemies),len(df_blacklist),len(df_webshells),len(df_servers),len(df_plans)

## A.2. Number of users, customers, attackers, and their intersection

In [ ]:
if len(set(df_users['userid'].unique())) > 1:
    users_set=set(df_users['userid'].unique())
else:
    users_set=set(df_users['username'].unique())
    
if len(set(df_logins['userid'].unique())) > 1:
    userslogin_set=set(df_logins['userid'].unique())
else:
    userslogin_set=set(df_logins['username'].unique())

if len(set(df_payments['userid'].unique())) > 1:
    customers_set=set(df_payments['userid'].unique())
else:
    customers_set=set(df_payments['username'].unique())

if len(set(df_attacks['userid'].unique())) > 1:
    attackers_set=set(df_attacks['userid'].unique())
else:
    attackers_set=set(df_attacks['username'].unique())

intersec_customers_attacker=pd.Series(list(customers_set.intersection(attackers_set)))
intersec_users_customers=pd.Series(list(users_set.intersection(customers_set)))
intersec_users_attackers=pd.Series(list(users_set.intersection(attackers_set)))
intersec_users_customers_attackers=pd.Series(list(users_set.intersection(customers_set).intersection(attackers_set)))

In [ ]:
len(users_set),len(userslogin_set),len(customers_set),len(attackers_set)

In [ ]:
fig = plt.figure(figsize=(4,3))
fig.suptitle('Users, Customers & Attackers', fontsize=14)

ax = plt.subplot2grid((1,1), (0,0))

venn=venn3(ax=ax,subsets = {'001':len(attackers_set)-len(intersec_customers_attacker)-len(intersec_users_attackers)+len(intersec_users_customers_attackers), 
                            '010':len(customers_set)-len(intersec_users_customers)-len(intersec_customers_attacker)+len(intersec_users_customers_attackers), 
                            '011':len(intersec_customers_attacker)-len(intersec_users_customers_attackers),
                            '100':len(users_set)-len(intersec_users_customers)-len(intersec_users_attackers)+len(intersec_users_customers_attackers),
                            '101':len(intersec_users_attackers)-len(intersec_users_customers_attackers),
                            '110':len(intersec_users_customers)-len(intersec_users_customers_attackers),
                            '111':len(intersec_users_customers_attackers)},\
          set_labels = ('Users', 'Customers','Attackers'),\
          alpha=1)
try:
    venn.get_patch_by_id('100').set_color('#404096')
except:
    print("*Users set is empty!")  
    
try:
    venn.get_patch_by_id('110').set_color('#DEA73A')
except:
    print("*Customers set is empty!")   

try:
    venn.get_patch_by_id('001').set_color('#D92120')
except:
    print("*Attackers set is empty!")

fig.show()
# fig.savefig('../figs/timeseries_attacks.eps', format='eps', dpi=1200)

## A.3. Distribution of login times per user

In [ ]:
if len(df_logins['userid'].value_counts()) > 0:
    num_distinct_logins_per_user=df_logins['userid'].value_counts()
else:
    num_distinct_logins_per_user=df_logins['username'].value_counts()

freq_distinct_logins_per_user=num_distinct_logins_per_user.value_counts()
cum_dist_user_logins = np.linspace(0.,1.,len(num_distinct_logins_per_user))
cdf_user_logins = pd.Series(cum_dist_user_logins, index=num_distinct_logins_per_user.sort_values())

In [ ]:
if len(num_distinct_logins_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Login Times by Users:', fontsize=14, y=1.05,x=0.35)
    
    #Plot CDF
    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_logins.plot(ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# logins")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    ax1.set_title("")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_logins_per_user.plot(ax=ax2,kind='pie', 
                                       labels=None, 
                                       legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    
    
    
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_logins_per_user.values)/(freq_distinct_logins_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_logins_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/login_times.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.3. Number of Users that Login via TOR

In [ ]:
len(df_logins_torcheck[df_logins_torcheck['tor']==True]['userip'].value_counts())

## 5.4. Number of Distinct IP addresses by Users

In [ ]:
if len(df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()) >0:
    num_distinct_ips_per_user=df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()
else:
    num_distinct_ips_per_user=df_logins.groupby(['username','userip']).size().reset_index()['username'].value_counts()
    
freq_distinct_ips_per_user=num_distinct_ips_per_user.value_counts()
cum_dist_user_ips = np.linspace(0.,1.,len(num_distinct_ips_per_user))
cdf_user_ips = pd.Series(cum_dist_user_ips, index=num_distinct_ips_per_user.sort_values())

In [ ]:
if len(num_distinct_ips_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Distinct IP address used by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_ips.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_ips_per_user.plot(ax=ax2,kind='pie',
                                    labels=None,legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_ips_per_user.values)/(freq_distinct_ips_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_ips_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/num_ips_by_users.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.5. Number of Payments by Users

In [ ]:
if len(df_payments['userid'].value_counts())>0:
    num_distinct_payments_per_user=df_payments['userid'].value_counts()
else:
    num_distinct_payments_per_user=df_payments['username'].value_counts()

freq_distinct_payments_per_user=num_distinct_payments_per_user.value_counts()
cum_dist_user_payments = np.linspace(0.,1.,len(num_distinct_payments_per_user))
cdf_user_payments = pd.Series(cum_dist_user_payments, index=num_distinct_payments_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Number of Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# Payment")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_per_user.plot(ax=ax2,kind='pie', 
                                         labels=None,legend=False,
                                         startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_per_user.values)/(freq_distinct_payments_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/payments_distribution.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.6. Total Amount of Money Earned

In [ ]:
if len(df_payments['amountpaid']) >0:
    total_earned=df_payments['amountpaid'].values.sum()
    'US$ {:,.2f}'.format(float(total_earned))
else:
    print("Unfortunately, there is no data available!")

## 5.7. Amount of Money Paid by Users

In [ ]:
num_distinct_payments_money_per_user=df_payments['amountpaid'].value_counts()
freq_distinct_payments_money_per_user=num_distinct_payments_money_per_user.value_counts()
cum_dist_user_payments_money = np.linspace(0.,1.,len(num_distinct_payments_money_per_user))
cdf_user_payments_money = pd.Series(cum_dist_user_payments_money, index=num_distinct_payments_money_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_money_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Money Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments_money.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("$")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_money_per_user.plot(ax=ax2,kind='pie', 
                                               labels=None,legend=False,
                                               startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_money_per_user.values)/(freq_distinct_payments_money_per_user.values.sum())
    labels = ['${0:1.2f} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_money_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.6, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/distribution_amount_paid.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.8. Countries from where Users Access Booters

In [ ]:
logins_country_distribution_sorted = df_logins_iptoasn['country'].value_counts(sort=True,ascending=True)
logins_country_distribution = df_logins_iptoasn['country'].value_counts()

In [ ]:
if len(logins_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Users Accessing from Countries:', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    logins_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    logins_country_distribution.plot(ax=ax2,kind='pie', 
                                     labels=None,legend=False,
                                     startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*logins_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(logins_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/user_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.9. Countries of Blacklisted IPs

In [ ]:
blacklist_country_distribution=df_blacklist_iptoasn['country'].value_counts()
blacklist_country_distribution_sorted=df_blacklist_iptoasn['country'].value_counts(sort=True,ascending=True)

In [ ]:
if len(blacklist_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of blacklisted IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    blacklist_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    blacklist_country_distribution.plot(ax=ax2,kind='pie', 
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*blacklist_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(blacklist_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/blacklist_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.10. Countries of Target IPs

In [ ]:
attacks_country_distribution=df_attacks_iptoasn['country'].value_counts()

In [ ]:
if len(attacks_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of target IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    attacks_country_distribution.plot(ax=ax1,kind='bar')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    attacks_country_distribution.plot(ax=ax2,kind='pie', 
                                      labels=None,legend=False,
                                      startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*attacks_country_distribution.values)/(attacks_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(attacks_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/attack_countries_distribution.eps',bbox_inches='tight', format='eps', dpi=1200) 
else:
    print("Unfortunately, there is no data available!")

## 5.12. Attacks on Same Target

In [ ]:
num_attacks_on_sametarget=df_attacks['targetip'].value_counts()

freq_num_attacks_on_sametarget=num_attacks_on_sametarget.value_counts()
cum_num_attacks_on_sametarget = np.linspace(0.,1.,len(num_attacks_on_sametarget))
cdf_num_attacks_on_sametarget = pd.Series(cum_num_attacks_on_sametarget, index=num_attacks_on_sametarget.sort_values())

In [ ]:
if len(num_attacks_on_sametarget)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Attacks on Same Targets:', fontsize=14, y=1.05,x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_num_attacks_on_sametarget.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_num_attacks_on_sametarget.plot(ax=ax2,kind='pie',
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_num_attacks_on_sametarget.values)/(freq_num_attacks_on_sametarget.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_num_attacks_on_sametarget.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()

    fig.show()
    fig.savefig('figs/attacks_on_same_target.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.11. Attacks per day (timeseries)

In [ ]:
if len(df_attacks)>0:
    attack_timeseries=df_attacks.set_index(['date']).groupby(pd.TimeGrouper(freq='D')).agg(['count'])['action']
    attack_mean_perday=attack_timeseries.mean()
    attack_median_perday=attack_timeseries.median()
else:
    attack_timeseries=""

In [ ]:
if len(attack_timeseries)>0:
    fig = plt.figure(figsize=(6,3))

    ax1 = plt.subplot2grid((1,1), (0,0), rowspan=2)
    attack_timeseries.plot(ax=ax1,
                           lw=2,
                           legend=False,
    #                        style='--'
                          )

    # X and Y Labels and Ticks
    ax1.set_xlabel("Time (bin=day)")
    ax1.set_ylabel("# Attacks")

    ax1.annotate(str(int(attack_median_perday[0]))+' (median)', 
                 (min(df_attacks['date']), attack_median_perday),
                 xytext=(350, -1), 
                 textcoords='offset points',
                 color='black', 
                 arrowprops=dict(arrowstyle='-|>',
                                 color='black'))
    fig.savefig('figs/attacks_timeseries.eps', bbox_inches='tight',format='eps', dpi=1200)

else:
    print("Unfortunately, there is no data available!")

## 5.12. Time Between Logins and Attacks

In [ ]:
if len(df_attacks_and_logins)>0:
    print("redo")
else:
    print("Unfortunately, there is no data available!")

## 5.13. Who attack whom? (users on the country level)

In [ ]:
if len(df_attacks_extended)>0 and len(df_logins_extended)>0:
    merged_attacks_logins = pd.merge(df_attacks_extended,
                                  df_logins_extended,
                                  how = 'left',
                                  left_on = 'date',
                                  right_on = 'date')[['targetcountry','srccountry']]

    who_against_whom = merged_attacks_logins.groupby(['targetcountry','srccountry'])\
                            .size()\
                            .reset_index()\
                            .pivot('srccountry','targetcountry',0)
else:
    who_against_whom =""

In [ ]:
if len(who_against_whom)>0:
    fig = plt.figure(figsize=(8,12))
    fig.suptitle('Countries of Target IPs', fontsize=14, y=.92)

    ax1 = plt.subplot2grid((1,1), (0,0))
    sns.set()
    sns.heatmap(who_against_whom,
                ax=ax1,
#                 cmap="YlGnBu",
    #             linewidths=.5,
    #             annot=True
                )

    ax1.set_ylabel("Source Country")
    ax1.set_xlabel("Attack Target Country")

    fig.show()
    fig.savefig('figs/who_attack_whom.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

<h1 align="center">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
FIFTH PART: Query Interface<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [ ]:
from ipywidgets import widgets, interact, Dropdown,HTML
from IPython.display import display,clear_output

In [ ]:
def search_by_userid_submit(sender):
    clear_output()
    print("Searching by id =",search_by_userid.value)
    
    if len(df_users[df_users['userid']== int(search_by_userid.value)])>0:
        display(df_users[df_logins['userid']== int(search_by_userid.value)])
    
    if len(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])>0:
        display(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])
    
    if len(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])>0:
        display(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])
    
    if len(df_payments[df_payments['userid']== int(search_by_userid.value)])>0:
        display(df_payments[df_payments['userid']== int(search_by_userid.value)])

def search_by_username_submit(sender):
    clear_output()
    print("Searching by username =",search_by_username.value,"\n")
    
    if len(df_users[df_users['username']== search_by_username.value])>0:
        print("Table df_users:")
        display(df_users[df_users['username']== search_by_username.value])
    
    if len(df_logins_extended[df_logins_extended['username']== search_by_username.value])>0:
        print("Table df_logins:")
        display(df_logins_extended[df_logins_extended['username']== search_by_username.value])

    if len(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])>0:
        print("Table df_attacks:")
        display(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])
    
    if len(df_payments[df_payments['username']== search_by_username.value])>0:
        print("Table df_payments:")
        display(df_payments[df_payments['username']== search_by_username.value])
        
def search_by_ip_submit(sender):
    clear_output()
    print("Searching by IP address =",str(search_by_ip.value),"\n")
    
    if len(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])>0:
        print("Table df_logins (as ATTACKER:")
        display(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])
     
    if len(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])  
      
       
def search_by_asn_submit(sender):
    clear_output()
    print("Searching by Autonomous System Number (ASN) =",search_by_asn.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])
    
    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

        
country_list=pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/master/data.csv',delimiter=",",error_bad_lines=False)
def search_by_country_submit():
    country_code=country_list[country_list['Name']==search_by_country.value]['Code'].values[0]
    clear_output()
    print("Searching by Country =",search_by_country.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srccountry']== country_code])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srccountry']== country_code])
    
    if len(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])

In [ ]:
display(HTML('<h3>*Search by (only) one field per time:</h3>'))

search_by_username = widgets.Text(description="username")
display(search_by_username)
search_by_username.on_submit(search_by_username_submit)

search_by_userid = widgets.Text(description="userid")
display(search_by_userid)
search_by_userid.on_submit(search_by_userid_submit)

search_by_ip = widgets.Text(description="IP")
display(search_by_ip)
search_by_ip.on_submit(search_by_ip_submit)

search_by_asn = widgets.Text(description="ASN")
display(search_by_asn)
search_by_asn.on_submit(search_by_asn_submit)

search_by_country = Dropdown(description="Country", options=country_list['Name'].tolist())
search_by_country.on_trait_change(search_by_country_submit, name="value")
display(search_by_country)