# Analysis of: jaysbooter
#### File originally retrieved from: http://4lz5rmnkd6f63tmm.onion/db/jaysbooter.sql

In [2]:
dumpfile='jaysbooter.sql'

## * Libraries that I use to analyse data

In [3]:
import pandas as pd
import numpy as np

from io import StringIO
import re

from IPython.display import display,clear_output

In [1]:
%run '../additional_functions.ipynb'

 Functions loaded!!!!

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 1: Adaptation to our Booter database schema<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

## 1. Reading the first 'N' (100) lines of the input Booter database file

In [4]:
lines_to_read=100

with open(dumpfile) as myfile:
    firstlines=myfile.readlines()[0:lines_to_read] #put here the interval you want
    for x in firstlines:
        print(x.strip())

-- phpMyAdmin SQL Dump
-- version 3.4.11.1
-- http://www.phpmyadmin.net
--
-- Host: localhost
-- Generation Time: Dec 09, 2012 at 10:12 PM
-- Server version: 5.1.65
-- PHP Version: 5.2.17

SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;

--
-- Database: `jay_admin`
--

-- --------------------------------------------------------

--
-- Table structure for table `users`
--

CREATE TABLE IF NOT EXISTS `users` (
`ID` int(11) NOT NULL AUTO_INCREMENT,
`username` varchar(15) NOT NULL,
`password` varchar(40) NOT NULL,
`email` varchar(50) NOT NULL,
`rank` int(11) NOT NULL DEFAULT '0',
`membership` int(11) NOT NULL,
`expire` int(11) NOT NULL,
`status` int(11) NOT NULL,
PRIMARY KEY (`ID`),
KEY `ID` (`ID`)
) ENGINE=MyISAM  DEFAULT CHARSET=latin1 AUTO_INCREMENT=536 ;

--
-- Dumping data for table `users`
--

INSERT INTO `users` (`ID`, `username`, `password`, `email`, `rank`, `membership`, `expire`, `status`) VALUES
(534, 'Jayyy', '2f8c1df829652f76871067ba5e625c8cabbc4073', 'jtheboss95@aol.com', 1, 0, 0, 0),
(535, 'Kolearcher', 'a68c46c02d1fdad51a42f17e6f466fcf5218c68b', 'kolearcher@aol.com', 0, 0, 0, 0),
(19, 'Brilliance', '27d2a98b8ab07a05c0cc8340c7ed22bac5eb8183', 'lester.c@sky.com', 1, 22, 1508635840, 0),
(20, 'RikkoHF', '2026b6d487cc3f42e7e0c7594a5514d2310fb775', 'mail@mail1122.com', 0, 22, 1508524245, 0),
(21, 'known389', 'ccda2f01da4f5386f3d5616d23dc240c170b33a8', '412413253@emailgo.de', 0, 21, 1349467114, 0),
(23, 'Fico97', 'e8fe00aee0436eab7a8c8609a64cf9f43e290e53', 'andreaficarra@hotmail.it', 0, 11, 1351455730, 0),
(24, 'poor', '21a741de0fce09127675c976c262316557ceb402', 'cmdprompt@mail.com', 0, 0, 1351464833, 0),
(25, 'lulwut', '3c7ce8095a91ac8cacd4037115c24470c11f69a3', 'skyhd15@hotmail.co.uk', 0, 0, 1351469875, 0),
(26, 'Rayyan', '18fab8a8abd4fe31c6d83439ac457ba87cc3ecc4', 'rayyanasian@gmail.com', 0, 0, 1349482705, 0),
(27, 'wooshlager', '8f50f66209e1d78a318c46578b93c33a9adba9e1', 'wooshlager@hotmail.com', 0, 11, 1352254539, 0),
(28, 'insane66613', '6ecea540820ace5f790a5d78c3602432edd59225', 'ilovethevikings@yahoo.com', 0, 22, 1506649114, 0),
(29, 'keygan1234', '3216a6553de1d8ffa830940df4da838c9d93c41e', 'cleerkeygan@ymail.com', 0, 0, 1349497393, 0),
(30, 'renzuken', '22ab96170869075916592f5d24d2f8c10892991b', 'renzuken08@gmail.com', 0, 21, 1350668621, 0),
(31, 'levent0119', 'ef386cf65ed24179c5cf4a465f877bd53b2bd0e3', 'leventmanzak@hotmail.com', 0, 0, 1351526004, 0),
(32, 'Jakedwight12', '7bb02ac09dac6bc2dc22de2d77d622cfd515db8a', 'carbinemodz@windowslive.com', 0, 0, 1349541235, 0),
(34, 'JVSlewing', 'c10c425a92936fde21fbc4619b16ca82bf349a9a', 'abc_1010@hotmail.co.uk', 0, 22, 1509836783, 0),
(35, 'JoeJopson', '403926033d001b5279df37cbbe5287b7c7c267fa', 'lol@lol.com', 0, 20, 1349544115, 0),
(36, 'fanta', '7932c08c39d1f4ad3fd0914f8a1824a306e97caa', 'fanta@hackforums.net', 0, 0, 0, 0),
(37, 'donthackme', '700a9326cd191da06ae5bb539c0d0e9289ac17c0', 'xampincognito@hotmail.com', 0, 0, 0, 0),
(39, 'Alschlu', 'dedc2d016edbfaa3c811944579713147e77ef71a', 'nexedvictim@msn.com', 0, 0, 0, 0),
(40, 'SkiZzy', 'dedc2d016edbfaa3c811944579713147e77ef71a', 'alec.schluter@hotmail.com', 0, 22, 1506829914, 0),
(41, 'NobbeasT', '4551778c7741bef60984868a707466b5a0755779', 'nobbo93@libero.it', 0, 11, 1351818039, 0),
(42, 'cyber', 'f55704c704513520f20d5981e5f0f29e6d557be3', 'b3t4_01@yahoo.com', 0, 11, 1352848694, 0),
(43, 'drzkid123', 'e51a610850cb2f7101b954ed581c4101d9a9aa5e', 'drzbx13@aol.com', 0, 0, 1349996572, 0),
(44, 'kyleman526', 'cdc15cc86efa2afe3585e4db6e33e738cecfb26a', 'kyle.pitzo@aol.com', 0, 0, 0, 0),
(45, 'richardang', '5a2824f7c8abfdcf266e6fcebe8d67d372d16fcb', 'rda1979wax@yahoo.com', 0, 12, 1352246540, 1),
(46, 'Visine', '7d7e4f3c3da733c46fcefea921900c0f35ba4100', 'deleonj1998@gmail.com', 0, 0, 1351898090, 0),
(47, 'madeitog', '05b42bb1c7d53a0447e81905a9d9beec06ae8125', 'madeitog@gmail.com', 0, 11, 1352338627, 0),
(48, 'StickyKGB', 'ef4554b1264724b5236fa269245c91de132aa9a0', 'stickykgb@live.com', 0, 0, 1351905001, 0),
(49, 'Superbird', 'a98c8d3bf26809a10b69b1f2dc261f203ab8f04b', 'foxtroting@gmail.com', 0, 13, 1351907094, 0),
(51, 'SturmIC', '71109542e8c306070459faa83c71d43a35c96140', 'daywalker747@gmx.de', 0, 12, 1351961558, 0),
(52, 'LeSeR', '084b3af47af339166ebc6120a52059499a7b2d38', 'priva8@hotmail.com', 0, 13, 1351971130, 0),
(53, 'syrious', 'ba8d275474a1a2cf49bb0a4d5dfe2fa5d4cf01d8', 'wesellur50@gmail.com', 0, 11, 1354606280, 0),
(54, 'omgrazza', '068942c83f0e6994d046f7ec01b8f42ba8f317a7', 'rob-cav@live.co.uk', 0, 12, 1351984654, 0),
(55, 'Roadie94', 'e9ed39c8aae932d46fa7cc4bbd6019fdd9315eab', 'jamesroadhouse@hotmail.co.uk', 0, 11, 1351991341, 0),
(56, 'keko', '5017c0afae8394c9426b7c68c7d472b770bc364b', 'kevin.benaroche@gmail.com', 0, 0, 1349919122, 0),
(58, 'cop97', '370bd11c3777949aa91cf30a73c4ffb2db1b8a9f', 'longshot9765@aol.com', 0, 0, 0, 0),
(60, 'illfuture', '16ed008f7123de9a6adadaf6082bfb69f92547b8', 'darroneggins@gmail.com', 0, 21, 1350370562, 0),
(62, 'BossFamas', 'd326955e5ca231d70f42ec3c0acea3315445656d', 'Mawb28@aol.com', 0, 0, 1352059588, 0),
(63, 'ishikawanick808', 'edfc74abf2f132fcfac60e986b1f62aa2deabed7', 'ishikawanick808@gmail.com', 0, 0, 0, 0),
(64, 'Noatato', '457a4b67e597a54a4f6182780a59791c0eae29c7', 'khalid_okiely@hotmail.com', 0, 0, 0, 0),
(65, 'jeff', '3c6506d764decb4ce7dd8e55366f383634cc2fe5', 'cenkk@gmx.com', 0, 25, 1350003645, 0),
(66, 'trstone', 'd4e721d4a4c63ed4d373d77eff5a8b48afcd5a07', 'trevorstonechs@gmail.com', 0, 12, 1352078340, 0),
(67, 'tact', '08a792dc40c68126b100f35c9ea81fc80a477fbb', 'tactishianz@gmail.com', 0, 12, 1352080582, 0),
(68, 'Clark', 'fa9beb99e4029ad5a6615399e7bbae21356086b3', 'clrk_sml@yahoo.com', 0, 0, 1350011222, 0),
(69, 'peachyoath', 'b45d8a82e0b94a41df903a5596897d5b2bf011f6', 'sacred.last.breath@hotmail.com', 0, 22, 1507173581, 0),
(70, 'tymetheelf', '1ea4066dd896d9c561eaba4f18c472d066e2ebcd', 'tymetheelf@gmail.com', 0, 0, 1350016979, 0),
(71, 'yolodolo', '6a3b68694c5fd55c2c177abfae6a0b8646d3faee', 'yolo@gmail.com', 0, 11, 1352095481, 0),
(72, 'krewella', '11b800aef83ea4dad4f0033aecbb4c15291f55df', 'demonicbooter@gmail.com', 0, 0, 0, 0),
(74, 'Kust', '88ea39439e74fa27c09a4fc0bc8ebe6d00978392', 'lukebuy@Hotmail.com', 0, 11, 1352098756, 0),
(75, 'dylzza', 'b45d8a82e0b94a41df903a5596897d5b2bf011f6', 'peachy_khuntt@hotmail.com', 0, 0, 0, 0),
(76, 'dragonsin3', 'fba41641407e64c2f9a251bd113f8bb7da4c2c05', 'was_ong_yi_jie@hotmail.com', 0, 0, 1350047005, 0),
(77, 'poisskai', 'efbc19993c089de75c87e4017f0c73e2fc9da863', 'poisskai@live.fr', 0, 0, 1350931494, 0),
(78, 'Orbit', 'b9df37adf5c18f4c13e7ed4df067d13057742a3a', 'just_tc_1993cutie@hotmail.com', 0, 11, 1352151014, 0),

## 2. Listing tables that have content inserted into the dump file

In [5]:
(pd.Series(list_tables_with_insert(dumpfile)).value_counts()).sort_index()

users    1
dtype: int64

## How the list above looks like?

<h2 align='center'>======================================================================<br>
If NOT well-formed SQL dump file then you must first do the following:<br>
======================================================================</h2>

## 3. Removing lines that are not part of the actual content to be analysed

## 4. Splitting and naming tables and columns

<h2 align='center'>======================================================================
Adapting EACH existing table
======================================================================</h2>

## 6.1. Table: 'users'

### How this table looks like without modification?

In [6]:
tablename='users'

pd.read_csv(read_inserted_table1(dumpfile, tablename),
            delimiter=",",
            error_bad_lines=False).head(5)

,ID,username,password,email,rank,membership,expire,status
0,534,Jayyy,2f8c1df829652f76871067ba5e625c8cabbc4073,jtheboss95@aol.com,1,0,0,0
1,535,Kolearcher,a68c46c02d1fdad51a42f17e6f466fcf5218c68b,kolearcher@aol.com,0,0,0,0
2,19,Brilliance,27d2a98b8ab07a05c0cc8340c7ed22bac5eb8183,lester.c@sky.com,1,22,1508635840,0
3,20,RikkoHF,2026b6d487cc3f42e7e0c7594a5514d2310fb775,mail@mail1122.com,0,22,1508524245,0
4,21,known389,ccda2f01da4f5386f3d5616d23dc240c170b33a8,412413253@emailgo.de,0,21,1349467114,0

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: 'users'
#### Q3: Are there required modifications? 
    - On the table name:  
        o expire => timestamp2datetime
    - On the column name:
        o  ID => userid
        o email => useremail
        o membership =>planid
    - Split columns:
        o 
    - Add required columns:
        o password

### Modifying table: 'users'

In [7]:
df_users = pd.read_csv(read_inserted_table1(dumpfile, tablename),
                       delimiter=",",
                       error_bad_lines=False)

df_users['expire']=timestamp2datetime(df_users['expire'])

###Changing names of columns
df_users.rename(columns = {'ID': 'userid',
                               'email': 'useremail',
                              'membership': 'planid'},
                         inplace=True)

###Creating empty columns (with "" [for future string] or np.nan [for future float])
df_users['password'] = ""

###Showing some lines after adapt the table
df_users.head(10)

,userid,username,password,useremail,rank,planid,expire,status
0,534,Jayyy,,jtheboss95@aol.com,1,0,1970-01-01 00:00:00,0
1,535,Kolearcher,,kolearcher@aol.com,0,0,1970-01-01 00:00:00,0
2,19,Brilliance,,lester.c@sky.com,1,22,2017-10-22 01:30:40,0
3,20,RikkoHF,,mail@mail1122.com,0,22,2017-10-20 18:30:45,0
4,21,known389,,412413253@emailgo.de,0,21,2012-10-05 19:58:34,0
5,23,Fico97,,andreaficarra@hotmail.it,0,11,2012-10-28 20:22:10,0
6,24,poor,,cmdprompt@mail.com,0,0,2012-10-28 22:53:53,0
7,25,lulwut,,skyhd15@hotmail.co.uk,0,0,2012-10-29 00:17:55,0
8,26,Rayyan,,rayyanasian@gmail.com,0,0,2012-10-06 00:18:25,0
9,27,wooshlager,,wooshlager@hotmail.com,0,11,2012-11-07 02:15:39,0

<h2 align='center'>======================================================================
<br>Final step of the manual part
======================================================================</h2>

## 7. Adding missing tables accordingly to our generic Booter database

In [8]:
%run '../reviewing_consistency.ipynb'

Overview of records in the adapted Booter database:

,df_attacks,df_blacklist,df_friendsenemies,df_gateways,df_logins,df_payments,df_plans,df_servers,df_settings,df_users,df_webshells
0,0,0,0,0,0,0,0,0,0,457,0

Overview in latex format for copy-&-paste:

\begin{tabular}{lrrrrrrrrrrr}
\toprule
{} &  attacks &  blacklist &  friendsenemies &  gateways &  logins &  payments &  plans &  servers &  settings &  users &  webshells \\
\midrule
0 &        0 &          0 &               0 &         0 &       0 &         0 &      0 &        0 &         0 &    457 &          0 \\
\bottomrule
\end{tabular}

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 2: Data Enrichment<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h2>

In [ ]:
%run '../data_enrichment.ipynb'

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 3: Automatic Analysis
<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>

In [ ]:
%run '../automated_analysis.ipynb'

<h2 align="center">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
Query Interface<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h2>

In [ ]:
%run '../search_background.ipynb'