<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
Brief explanation on our Booter database analysis methodology: <br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

# Analysis of: stealthstresser2
#### File originally retrieved from: http://4lz5rmnkd6f63tmm.onion/db/stealthstresser.sql

## * Libraries that I use to analyse data

In [1]:
import pandas as pd
import numpy as np

from io import StringIO
import re

from IPython.display import display,clear_output

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 0: Reading an input Booter database file<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [2]:
dumpfile='stealthstresser.sql'

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 1: Adaptation to our Booter database schema<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

## 1. Reading the first 'N' (100) lines of the input Booter database file

In [3]:
lines_to_read=100

with open(dumpfile) as myfile:
    firstlines=myfile.readlines()[0:lines_to_read] #put here the interval you want
    for x in firstlines:
        print(x.strip())

-- phpMiniAdmin dump 1.8.120510
-- Datetime: 2013-09-07 04:43:18
-- Host: Knock8351.db.11414902.hostedresource.com
-- Database: Knock8351

/*!40030 SET NAMES utf8 */;
/*!40030 SET GLOBAL max_allowed_packet=16777216 */;

DROP TABLE IF EXISTS `API`;
CREATE TABLE `API` (
`UDP` text NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

/*!40000 ALTER TABLE `API` DISABLE KEYS */;
INSERT INTO `API` VALUES ('http://212-hosting.net/send.php?key=sad21ad(@*nand&host=[host]&time=[time]&port=[port] http://212-hosting.net/send.php?key=792013&host=[host]&time=[time]&port=[port]');
/*!40000 ALTER TABLE `API` ENABLE KEYS */;

DROP TABLE IF EXISTS `blacklist`;
CREATE TABLE `blacklist` (
`ID` int(11) NOT NULL auto_increment,
`IP` varchar(15) NOT NULL,
`note` text NOT NULL,
PRIMARY KEY  (`ID`)
) ENGINE=MyISAM AUTO_INCREMENT=16 DEFAULT CHARSET=latin1;

/*!40000 ALTER TABLE `blacklist` DISABLE KEYS */;
INSERT INTO `blacklist` VALUES ('10','96.61.18.81','magic_marathon'),('11','69.131.10.247','bitch'),('12','69.131.16.144','bitch'),('13','69.131.23.212','bitch'),('14','69.131.5.130','you suck dick');
/*!40000 ALTER TABLE `blacklist` ENABLE KEYS */;

DROP TABLE IF EXISTS `fe`;
CREATE TABLE `fe` (
`ID` int(11) NOT NULL auto_increment,
`userID` int(11) NOT NULL,
`type` varchar(1) NOT NULL,
`ip` varchar(15) NOT NULL,
`note` text NOT NULL,
PRIMARY KEY  (`ID`)
) ENGINE=MyISAM AUTO_INCREMENT=217 DEFAULT CHARSET=latin1;

/*!40000 ALTER TABLE `fe` DISABLE KEYS */;
INSERT INTO `fe` VALUES ('1','12','e','110.175.100.136','Auspride018'),('2','13','e','94.197.11.24',''),('3','8','f','50.138.30.101','Nely'),('4','8','f','50.55.247.24','Brittany'),('5','8','f','98.94.78.64','channa'),('6','8','f','108.210.196.40','Hector'),('7','8','f','70.100.180.240','Kimmie'),('8','8','f','50.33.227.18','Karissa'),('9','8','f','108.214.117.105','Lilla'),('10','26','e','85.229.8.249','Jimman'),('11','26','e','213.114.138.6','dillen'),('12','26','e','213.114.143.227','Krisse'),('13','44','e','37.59.157.235','Jebbo'),('14','44','e','216.59.17.230','slabbix'),('15','61','f','173.245.60.160','My server'),('16','57','e','189.82.10.42','mods'),('17','57','e','108.56.51.173',' i dont like her'),('18','61','e','142.4.46.82','AREISCRAFT'),('19','36','e','97.90.128.61','Keyzer'),('20','36','f','65.103.130.186','Lazers'),('21','36','f','74.137.218.194','Aixyz'),('22','82','e','74.92.235.110','TANNA IP'),('23','82','e','68.43.120.93','AL TOTV'),('24','82','e','100.2.109.12','GRANDHUSTLE IP'),('170','797','e','50.33.214.38','JestiPro '),('26','61','f','5.9.93.71','My server\r\n'),('27','113','e','77.111.239.207',''),('28','127','e','91.227.221.73','VEntrilo vg'),('29','114','e','81.242.190.138','V E N G E '),('30','114','f','213.105.87.104','Abs daen'),('31','114','e','75.94.228.92','xomoor'),('32','57','e','98.206.178.172','garbe talk'),('33','114','f','77.110.214.68','magnus einvold'),('34','114','e','81.132.200.105','leo'),('35','114','f','77.72.100.126','bambi'),('36','114','f','81.229.85.191','BambiV2'),('37','114','e','90.212.253.199','Hayden smyth'),('38','142','e','76.100.230.129','Douche bag Minecraft server. Admins abuse. Staff is really really rude to new comers. And just Grade A Douchbags.'),('39','114','e','98.77.66.17','fronkie the retard'),('41','38','e','184.75.170.188','Yoville'),('42','38','e','184.154.33.108','Yorehab'),('43','38','e','188.138.38.195','Yopriceville'),('44','57','e','68.50.11.79','originaltrouble ip'),('45','57','e','108.56.13.142','oringinalmsbossy ip'),('46','28','e','69.177.224.54','tbm'),('48','142','e','184.88.238.76','Faggot'),('49','114','e','31.51.216.108','this is leos new ip address jakob u thick twat'),('122','377','e','180.216.68.206','Steven Gregory LOL'),('55','142','e','108.195.64.203','Extra'),('123','377','f','58.7.129.133','CONNOR'),('57','82','f','108.40.47.121','MONTANNA IP'),('58','82','f','173.30.158.249','SPENCE IP'),('103','28','e','100.40.43.120','SupremetrollHD'),('61','156','f','178.191.151.146','Random Thomas / Sinnlos'),('62','156','f','81.190.99.200','Dawka'),('63','156','f','189.47.29.237','Leticia Healer / viinihtn'),('64','156','f','159.205.207.222','Prezes Soli'),('65','156','f','87.119.30.83','Karol Maktigast'),('66','156','f','77.65.105.187','Kremuwkowy Kardynal'),('68','57','f','69.40.95.87','g kush s'),('69','57','e','67.140.76.104','  2yung ip'),('70','237','e','84.112.62.21','Bur'),('71','38','e','97.96.254.27','Eric'),('72','251','e','68.41.143.245','Dis nigga domadorrr'),('73','251','f','68.41.143.7','patrick'),('74','251','f','69.246.10.114','Shahabul'),('75','237','e','84.112.23.220','Nerv'),('76','237','e','91.115.174.198','Shurl'),('77','114','f','78.3.24.233','shobbbzy'),('78','156','f','177.83.198.239','Eduardo Ternura: edu.lucas1'),('79','156','f','213.47.41.156','Neevu [374]: killmii22'),('82','251','e','70.31.79.149','Dis nigga Tony'),('85','156','f','177.83.199.219','Eduardo Ternura: edu.lucas1'),('84','156','f','177.47.44.40','Xited / pedrolp5'),('86','82','f','98.203.102.44','RINA IP'),('89','114','e','216.251.193.226','gfdfgd'),('88','35','e','107.194.73.10','Frankie the baser'),('90','142','e','99.245.170.102','Homicide5'),('92','249','e','99.229.169.138','Chlaskida'),('93','249','f','76.242.105.96','Mikey <3'),('94','52','e','93.161.47.242','Carlmagi skype.'),('95','52','e','80.162.35.27','Epic.host = Preben'),('96','52','e','88.85.58.240','leivur.e = Lee Padoq'),('97','52','e','87.58.95.70','Jawad-2g = Jawad'),('98','142','e','2.121.8.153','Hacker'),('99','246','f','69.5.145.107','no hit'),('100','114','e','109.154.2.122','abdullah m8t'),('101','156','f','64.62.243.88','Mage Undead Cine (ElderDruid, Xerena) by the user felipinhow'),('102','156','f','187.39.135.34','Magic Luan: vinaum_rm'),('104','207','e','108.225.4.116','Douche Bag'),('105','336','e','62.78.178.184','Bleax ip'),('106','336','e','184.173.232.11','sparta ip'),('107','336','e','75.180.229.204','travis ip'),('108','336','e','76.219.105.225','mac ip'),('109','336','e','70.53.127.26','sqwash ip'),('113','337','f','84.215.83.153','Ola =)'),('111','354','e','85.165.123.93','Tim Fuckings Isaksen'),('112','337','e','85.165.123.93','Tim homo'),('114','337','f','79.161.147.69','Sondre godiis'),('115','68','f','67.87.80.23','Will'),('118','156','f','189.121.52.151','skype:udpisback / Silkster Powerfull / Fran Kenstein / Fruith Forthixy / Tyx Golas'),('119','156','f','177.178.67.69','skype:Jogopkrox / Mario Ekovysks'),('121','377','e','203.14.52.95','School, those bastards!'),('124','393','f','85.165.123.93','tim isaksen'),('125','393','f','88.88.216.75','Andres Haukaas'),('127','393','e','213.173.196.35','Markus drange'),('128','234','e','83.200.207.230','A bitch'),('129','393','f','88.90.209.112','jim blystad'),('143','192','e','184.173.232.11','sparta ip'),('144','192','e','62.78.178.184','blex'),('145','192','e','77.96.251.147','lee'),('146','192','e','50.8.215.59','99strfail'),('135','171','e','87.65.70.107','Tremx'),('136','171','e','90.17.209.110','Loe'),('137','393','f','109.247.166.236','Marit'),('138','393','e','83.108.81.238','Zaron christer'),('147','192','e','74.114.172.21','sqwash ip'),('140','171','e','86.70.123.21','SliDe'),('142','377','e','50.116.85.117','Dara Mactire Website'),('148','58','e','99.12.185.204',''),('149','58','e','134.129.52.215','Fawster'),('150','58','e','24.21.175.87','Live'),('151','454','e','207.210.254.69','defcraft'),('152','454','e','108.61.54.138','25570,'),('153','454','e','199.26.86.128','apex'),('154','454','e','50.53.175.183','SPAM'),('155','58','e','24.130.76.107','Best Kid Online'),('156','251','e','76.94.39.205','annoying ass bucket'),('157','204','e','173.162.64.133','lawl'),('159','204','e','210.195.108.206','darkos'),('161','565','e','37.59.51.211','25585'),('162','573','e','110.174.34.224',''),('163','584','f','110.33.22.232',''),('164','563','e','205.129.7.210','RR'),('165','766','e','93.155.151.195','Ddos all teh time'),('166','783','f','69.123.33.104','jon'),('171','801','e','75.65.136.73','Was Soulfully'),('168','798','e','24.95.65.24','Smashing IP'),('169','803','f','2.125.228.162','Solar Fresh'),('175','813','e','99.52.73.81','Blovin'),('173','813','e','168.61.144.13','AeRo Brave'),('174','813','e','72.241.226.104','Titan'),('176','813','e','173.191.130.62','Zeal Hero'),('177','813','e','72.191.0.156','Obey Trip'),('178','813','e','137.116.32.32','SLB Scar'),('179','793','e','168.63.125.125','Harrison'),('180','819','e','72.230.96.44','L3THAL TaCTiCZz'),('181','824','f','71.228.141.253','Torn Hanso'),('193','824','f','172.249.122.3','FIASKO'),('183','824','e','72.241.226.104','Titan'),('184','819','e','74.203.166.165','BWA Lakes'),('185','824','f','24.107.1.186','BabyDee oF'),('186','832','e','107.206.62.202','Vxetz'),('187','832','e','69.120.158.140','Avenge Hispanic'),('188','832','e','24.214.17.65','Tezo zF'),('189','832','e','68.50.110.112','Mix master mike'),('194','824','e','68.108.106.31','Fanboy Acourn'),('195','832','e','99.104.234.81','Dylan B'),('196','824','f','74.89.197.81','Zono'),('197','824','e','69.118.185.2','Scar'),('198','793','f','173.219.54.66','Herbert'),('202','842','e','212.242.151.227','Mikkel'),('200','824','e','75.167.155.222','Satan Ab'),('201','824','e','75.174.115.141','Creativ8 Hulk'),('203','824','e','99.65.181.0','Frezuhm'),('204','824','e','108.231.240.238','Zaruh'),('205','824','e','24.6.112.179','Torque'),('206','824','f','108.185.99.31','Fukzie'),('207','824','f','24.251.34.108','Luxio'),('208','824','e','68.83.32.136','Biotic'),('209','865','e','108.128.160.234',''),('210','824','e','68.63.200.72','Goldie'),('211','824','f','8.19.237.35','Arxzo'),('213','824','e','75.118.182.236','HIT IF YOU SEE AWAKENCE'),('214','824','e','71.91.180.216','Zypeir'),('215','824','e','69.250.222.88','Rezera'),('216','1473','f','68.114.29.4','iEvilDoG');
/*!40000 ALTER TABLE `fe` ENABLE KEYS */;

DROP TABLE IF EXISTS `gateway`;
CREATE TABLE `gateway` (
`email` varchar(1024) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

/*!40000 ALTER TABLE `gateway` DISABLE KEYS */;
INSERT INTO `gateway` VALUES ('separk6112@inha.ac.kr');
/*!40000 ALTER TABLE `gateway` ENABLE KEYS */;

DROP TABLE IF EXISTS `iplogs`;
CREATE TABLE `iplogs` (
`ID` int(11) NOT NULL auto_increment,
`userID` int(11) NOT NULL,
`logged` varchar(15) NOT NULL,
`date` int(11) NOT NULL,
PRIMARY KEY  (`ID`),
KEY `ID` (`ID`)
) ENGINE=MyISAM AUTO_INCREMENT=439 DEFAULT CHARSET=latin1;

/*!40000 ALTER TABLE `iplogs` DISABLE KEYS */;
/*!40000 ALTER TABLE `iplogs` ENABLE KEYS */;

DROP TABLE IF EXISTS `logs`;
CREATE TABLE `logs` (
`user` varchar(15) NOT NULL,
`ip` varchar(15) NOT NULL,
`port` int(11) NOT NULL,
`time` int(11) NOT NULL,
`method` varchar(10) NOT NULL,
`date` int(11) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

/*!40000 ALTER TABLE `logs` DISABLE KEYS */;
INSERT INTO `logs` VALUES
('dominerd','99.109.176.129','8080','70','CHARGEN','1378262797'),('dominerd','107.2.198.58','8080','400','DRDOS','1378263237'),('Rigour','123.211.154.254','80','0','DRDOS','1378307552'),('Rigour','198.27.75.55','25565','0','DRDOS','1378326488'),('Rigour','82.45.73.76','53','0','DRDOS','1378334408'),('Rigour','178.33.143.97','80','0','DRDOS','1378343669'),('Rigour','198.20.101.120','80','0','DRDOS','1378404967'),('Rigour','213.107.159.172','53','0','DRDOS','1378413383'),('Rigour','198.27.75.55','25565','0','DRDOS','1378416760'),('Rigour','213.107.159.172','53','0','DRDOS','1378419772'),('Rigour','199.83.50.45','25565','3600','DRDOS','1378422239'),('Rigour','5.135.144.137','9987','3600','DRDOS','1378435698'),('brett','92.234.80.154','80','0','DRDOS','1378516273'),('brett','92.234.80.154','80','0','DRDOS','1378516295'),('brett','74.103.218.113','80','0','DRDOS','1378519604'),('brett','74.103.218.113','80','0','DRDOS','1378519629'),('brett','74.103.218.113','80','0','DRDOS','1378520237'),('brett','74.103.218.113','80','900','DRDOS','1378520283'),('brett','74.103.218.113','80','1200','DRDOS','1378522179');
/*!40000 ALTER TABLE `logs` ENABLE KEYS */;

DROP TABLE IF EXISTS `news`;
CREATE TABLE `news` (
`ID` int(11) NOT NULL auto_increment,
`title` varchar(50) NOT NULL,
`detail` text NOT NULL,
`date` int(11) NOT NULL,
PRIMARY KEY  (`ID`)
) ENGINE=MyISAM AUTO_INCREMENT=50 DEFAULT CHARSET=latin1;

/*!40000 ALTER TABLE `news` DISABLE KEYS */;
INSERT INTO `news` VALUES ('29','ToS ( Terms of Service)','1) By purchasing Stealth Stresser you agree to our ToS.<br> 2) We are not responsible for how ever you use this stresser<br> 3) You may not share your account, if you will, your account will be closed!<br> 4) We have the right to close any account we want or shut down the project at any time.<br> 5)No Refunds or chargebacks , All sales are final.<br> 6)We have the right to change the ToS anytime we want.<br>Disrespect will result in no more support & no more updates. You\'ve been warned. <br> <br> <br> <br> <br> <br> <br>','1353597966'),('36','Later on the stresser will hit harder','We are going to add a dedicated server soon so if its hitting it will hit harder when we add that server.','1373527742'),('39','It should hit alot hard now','We have added a 1GBPS dedicated server so it should hit harder.','1373910351'),('46','READ','Hi everybody my api that I got off my friend doesnt even work now so I need to wait till he replys so I can resolve this or something. So in result it wont hit till I get it fixed.','1375985926'),('47','READ','Api is working now the power is back up and running.','1375988481'),('49','ToS ( Terms of Service)','1) By purchasing Stealth Stresser you agree to our ToS.<br> 2) We are not responsible for how ever you use this stresser<br> 3) You may not share your account, if you will, your account will be closed!<br> 4) We have the right to close any account we want or shut down the project at any time.<br> 5)No Refunds or chargebacks , All sales are final.<br> 6)We have the right to change the ToS anytime we want.<br>Disrespect will result in no more support & no more updates. You\\\'ve been warned. <br> <br> <br> <br> <br> <br> <br>','1376468084');
/*!40000 ALTER TABLE `news` ENABLE KEYS */;

DROP TABLE IF EXISTS `payments`;
CREATE TABLE `payments` (
`ID` int(11) NOT NULL auto_increment,
`paid` float NOT NULL,
`plan` int(11) NOT NULL,
`user` int(15) NOT NULL,
`email` varchar(60) NOT NULL,

## 2. Listing tables that have content inserted into the dump file

In [4]:
def list_tables_with_insert(dumpfile):
    tables = []
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            if line.lower().startswith('insert'):
                table = re.findall(r'`(.*?)`', line)
                tables.append(table[0])
    return tables

In [5]:
tables=enumerate(list_tables_with_insert(dumpfile))

for i, item in tables:
    print(i+1,item)

1 API
2 blacklist
3 fe
4 gateway
5 logs
6 news
7 payments
8 plans
9 skype_api
10 users

## How the list above looks like?

<h2 align='center'>======================================================================
If NOT well-formed SQL dump file then you must first do the following:
======================================================================</h2>

## 3. Removing lines that are not part of the actual content to be analysed

## 4. Splitting and naming tables and columns

<h2 align='center'>======================================================================
Additional functions
======================================================================</h2>

## * Function to read tables from wel-formed SQL database dump

In [6]:
# For well formed SQL database dumps!
def read_inserted_table(dumpfile, target_table):
    sio = StringIO()
    fast_forward = True
    already_header = False
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            line = re.sub("(?!(([^']*'){2})*[^']*$)\)", '',line) #Step0:remove any ")" from the content of columns
            if line.lower().startswith('insert') and target_table in line:
                fast_forward = False
                if already_header:
                    continue
            if fast_forward:
                continue
            
            data = re.findall('\([^\)]*\)', line) #Step1: get the content between parentesis (i.e., insert line)
            try:
                newline = data[0].strip('()') #Step2:remove parenthesis
                newline=newline.replace('`','') #Step3: remove ` (usually in table names)
                newline=re.sub(r'(?!(([^\']*\'){2})*[^\']*$),','', newline) #Step4: remove commas from the content of columns
                newline=newline.replace('\'','') #Step5: remove single quotes
                newline=newline.replace(', ', ',') #Step6: remove single spaces after comma (i.e., in the beginning of a column)
                sio.write(newline)
                sio.write("\n")
            except IndexError:
                pass
            if line.endswith(';'):
                fast_forward = True
                already_header = True
    sio.seek(0)
    return sio

In [7]:
# For well formed SQL database dumps!
def read_inserted_table_entirein1line(dumpfile, target_table):
    sio = StringIO()
    fast_forward = True
    already_header = False
    with open(dumpfile, 'rb') as f:
        for line in f:
            line = line.decode("utf-8").strip()
            line = re.sub("(?!(([^']*'){2})*[^']*$)\)", '',line) #Step0:remove any ")" from the content of columns
            if line.lower().startswith('insert') and target_table in line:
                fast_forward = False
                if already_header:
                    continue
            if fast_forward:
                continue
            
            data = re.findall('\([^\)]*\)', line) #Step1: get the content between parentesis (i.e., insert operation)
            
            for record in data:
                try:
                    newline = record.strip('()') #Step2:remove parenthesis
                    newline=newline.replace('`','') #Step3: remove ` (usually in table names)
                    newline=re.sub(r'(?!(([^\']*\'){2})*[^\']*$),','', newline) #Step4: remove commas from the content of columns
                    newline=newline.replace('\'','') #Step5: remove single quotes
                    newline=newline.replace(', ', ',') #Step6: remove single spaces after comma (i.e., in the beginning of a column)
                    sio.write(newline)
                    sio.write("\n")
                except IndexError:
                    pass
                
            if line.endswith(';'):
                fast_forward = True
                already_header = True
    sio.seek(0)
    return sio

## * Converter functions for formatting content of columns
Attention, it is better to perform the conversion based on a series than a string (http://stackoverflow.com/questions/42462906/pandas-read-csv-converters-performance-issue)

In [8]:
def tolowercase(series):
    return series.str.lower()

In [9]:
def strip_singlequote(series):
    return series.str.strip('\'')

In [10]:
def timestamp2datetime(series):
    return  pd.to_datetime(series,unit='s',errors='coerce')

In [11]:
def datetimestring2datetime(series):
    return  pd.to_datetime(series, format='%d-%m-%Y %H:%M',errors='coerce')

In [12]:
def datetimeinvertedstring2datetime(series):
    return pd.to_datetime(series, format='%Y-%m-%d %H:%M:%S',errors='coerce')

In [13]:
def datetimeampm2datetime(series):
    return  pd.to_datetime(series,format='%d-%m-%Y %I:%M:%S %p',errors='coerce')

In [14]:
def datetimemdyampm2datetime(series):
    return  pd.to_datetime(series, format='%m-%d-%Y %I:%M:%S %p',errors='coerce')

In [15]:
def strip_parenthesisandsemicolon(series):
    return series.str.strip(');')

In [16]:
def strip_insertintologs(series):
    return int(series.str.strip('INSERT INTO `logs` VALUES ('))

In [17]:
def strip_tab(series):
    return series.str.strip('\t')

In [18]:
def friendsenemies_type(series):
    return series.str.replace('f','friend').replace('e','enemy')

<h2 align='center'>======================================================================
Adapting EACH existing table
======================================================================</h2>

## 6.1. Table: 'API'

### How this table looks like without modification?

In [19]:
tablename='API'

pd.read_csv(read_inserted_table_entirein1line(dumpfile,tablename),delimiter=",",error_bad_lines=False)

Empty DataFrame
Columns: [http://212-hosting.net/send.php?key=sad21ad(@*nand&host=[host]&time=[time]&port=[port] http://212-hosting.net/send.php?key=792013&host=[host]&time=[time]&port=[port]]
Index: []

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
    
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type/converter: 
        o 
    - On the column name:
        o 
    - Split columns:
        o 
    - Add required columns:
        o

## 6.2. Table: 'blacklist'

### How this table looks like without modification?

In [20]:
tablename='blacklist'

pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   10    96.61.18.81 magic_marathon
0  11  69.131.10.247          bitch
1  12  69.131.16.144          bitch
2  13  69.131.23.212          bitch
3  14   69.131.5.130  you suck dick

#### Q1: Is this table different from other previous loaded table? YES
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: blacklist
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o id
        o ip
        o note
    - Split columns:
        o

### Modifying table: 'blacklist'

In [21]:
# Loading the correct table name
columns = ['id','ip','note']
df_blacklist = pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False, names=columns)

# Converting columns

# Changing column names

# Adding missing columns (with "" [for future string] or np.nan [for future float])

###Showing some lines after adapt the table
df_blacklist.head(10)

   id             ip            note
0  10    96.61.18.81  magic_marathon
1  11  69.131.10.247           bitch
2  12  69.131.16.144           bitch
3  13  69.131.23.212           bitch
4  14   69.131.5.130   you suck dick

## 6.3. Table: 'fe'

### How this table looks like without modification?

In [22]:
tablename='fe'

pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

    1  12  e  110.175.100.136 Auspride018
0   2  13  e     94.197.11.24         NaN
1   3   8  f    50.138.30.101        Nely
2   4   8  f     50.55.247.24    Brittany
3   5   8  f      98.94.78.64      channa
4   6   8  f   108.210.196.40      Hector
5   7   8  f   70.100.180.240      Kimmie
6   8   8  f     50.33.227.18     Karissa
7   9   8  f  108.214.117.105       Lilla
8  10  26  e     85.229.8.249      Jimman
9  11  26  e    213.114.138.6      dillen

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: friendsenemies
#### Q3: Are there modifications required? 
    - On the table name: 
        o fe -> friendsenemies
    - On the column type: 
        o type -> friendsenemies_type() 
    - On the column name:
        o 
    - Add required columns:
        o id
        o ip
        o note
        o userid 
        o type
    - Split columns:
        o

### Modifying table: 'fe'

In [23]:
# Loading the correct table name
columns=['id','userid','type','ip','note']
df_friendenemies = pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False,names=columns)

# Converting columns
df_friendenemies['type']=friendsenemies_type(df_friendenemies['type'])

# Changing column names

# Adding missing columns (with "" [for future string] or np.nan [for future float])

###Showing some lines after adapt the table
df_friendenemies.head(10)

   id  userid    type               ip         note
0   1      12   enemy  110.175.100.136  Auspride018
1   2      13   enemy     94.197.11.24          NaN
2   3       8  friend    50.138.30.101         Nely
3   4       8  friend     50.55.247.24     Brittany
4   5       8  friend      98.94.78.64       channa
5   6       8  friend   108.210.196.40       Hector
6   7       8  friend   70.100.180.240       Kimmie
7   8       8  friend     50.33.227.18      Karissa
8   9       8  friend  108.214.117.105        Lilla
9  10      26   enemy     85.229.8.249       Jimman

## 6.4. Table: 'gateway'

### How this table looks like without modification?

In [24]:
tablename='gateway'

pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

Empty DataFrame
Columns: [separk6112@inha.ac.kr]
Index: []

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: gateways
#### Q3: Are there modifications required? 
    - On the table name: 
        o gateway -> gateways
    - On the column type: 
        o  
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'gateway'

In [25]:
# Loading the correct table name
columns=['email']
df_gateways = pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False,names=columns)

# Converting columns

# Changing column names

# Showing some lines after adapt the table
df_gateways.head(10)

                   email
0  separk6112@inha.ac.kr

## 6.5. Table: 'logs'

### How this table looks like without modification?

In [26]:
tablename='logs'

pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False)

    dominerd   99.109.176.129   8080    70 CHARGEN  1378262797
0   dominerd     107.2.198.58   8080   400   DRDOS  1378263237
1     Rigour  123.211.154.254     80     0   DRDOS  1378307552
2     Rigour     198.27.75.55  25565     0   DRDOS  1378326488
3     Rigour      82.45.73.76     53     0   DRDOS  1378334408
4     Rigour    178.33.143.97     80     0   DRDOS  1378343669
5     Rigour   198.20.101.120     80     0   DRDOS  1378404967
6     Rigour  213.107.159.172     53     0   DRDOS  1378413383
7     Rigour     198.27.75.55  25565     0   DRDOS  1378416760
8     Rigour  213.107.159.172     53     0   DRDOS  1378419772
9     Rigour     199.83.50.45  25565  3600   DRDOS  1378422239
10    Rigour    5.135.144.137   9987  3600   DRDOS  1378435698
11     brett    92.234.80.154     80     0   DRDOS  1378516273
12     brett    92.234.80.154     80     0   DRDOS  1378516295
13     brett   74.103.218.113     80     0   DRDOS  1378519604
14     brett   74.103.218.113     80     0   DRDOS  1378519629
15     brett   74.103.218.113     80     0   DRDOS  1378520237
16     brett   74.103.218.113     80   900   DRDOS  1378520283
17     brett   74.103.218.113     80  1200   DRDOS  1378522179

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: attacks
#### Q3: Are there modifications required? 
    - On the table name: 
        o logs -> attacks
    - On the column type: 
        o date -> timestamp2datetime()
    - On the column name:
        o 
    - Add required columns:
        o username
        o targetip
        o port
        o duration
        o type
        o date

        o id
        o userid
        o targeturl
        

    - Split columns:
        o

### Modifying table: 'logs'

In [27]:
# Loading the correct table name
columns=['username','targetip','port','duration', 'type', 'date']
df_attacks = pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False,names=columns)

# Converting columns
df_attacks['date']=timestamp2datetime(df_attacks['date'])

# Changing column names

# Adding missing columns
df_attacks['id']=np.nan
df_attacks['userid']=np.nan
df_attacks['targeturl']=''

# Showing some lines after adapt the table
df_attacks.head(10)

,username,targetip,port,duration,type,date,id,userid,targeturl
0,dominerd,99.109.176.129,8080,70,CHARGEN,2013-09-04 02:46:37,NaN,NaN,
1,dominerd,107.2.198.58,8080,400,DRDOS,2013-09-04 02:53:57,NaN,NaN,
2,Rigour,123.211.154.254,80,0,DRDOS,2013-09-04 15:12:32,NaN,NaN,
3,Rigour,198.27.75.55,25565,0,DRDOS,2013-09-04 20:28:08,NaN,NaN,
4,Rigour,82.45.73.76,53,0,DRDOS,2013-09-04 22:40:08,NaN,NaN,
5,Rigour,178.33.143.97,80,0,DRDOS,2013-09-05 01:14:29,NaN,NaN,
6,Rigour,198.20.101.120,80,0,DRDOS,2013-09-05 18:16:07,NaN,NaN,
7,Rigour,213.107.159.172,53,0,DRDOS,2013-09-05 20:36:23,NaN,NaN,
8,Rigour,198.27.75.55,25565,0,DRDOS,2013-09-05 21:32:40,NaN,NaN,
9,Rigour,213.107.159.172,53,0,DRDOS,2013-09-05 22:22:52,NaN,NaN,

## 6.6. Table: 'news'

### How this table looks like without modification?

In [28]:
tablename='news'

pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

Empty DataFrame
Columns: [29, ToS ( Terms of Service, 1 By purchasing Stealth Stresser you agree to our ToS.<br> 2 We are not responsible for how ever you use this stresser<br> 3 You may not share your account if you will your account will be closed!<br> 4 We have the right to close any account we want or shut down the project at any time.<br> 5No Refunds or chargebacks  All sales are final.<br> 6We have the right to change the ToS anytime we want.<br>Disrespect will result in no more support & no more updates. You\ve been warned. <br> <br> <br> <br> <br> <br> <br>1353597966(36Later on the stresser will hit harderWe are going to add a dedicated server soon so if its hitting it will hit harder when we add that server.1373527742(39It should hit alot hard nowWe have added a 1GBPS dedicated server so it should hit harder.1373910351(46READHi everybody my api that I got off my friend doesnt even work now so I need to wait till he replys so I can resolve this or something. So in result it wont hit till I get it fixed.1375985926(47READApi is working now the power is back up and running.1375988481(49ToS ( Terms of Service]
Index: []

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.7. Table: 'payments'

### How this table looks like without modification?

In [30]:
tablename='payments'

pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(30)

   1  18  49   824     dowley.Trevor@Yahoo.com  2SW7239274641070A  1374076531
0  2   2  38   832         lccentore@gmail.com  2PG62971JF453412L  1374124380
1  3   2  38   842         mw3clan27@gmail.com  50585789JY281032A  1374436073
2  4   7  41   865  aliciastrick01@hotmail.com  7KE93157UM496071B  1374689128
3  5  45  52  1473    tagsalestorect@gmail.com  4TY36479KC5592700  1378146737

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES 
    - This table looks like: payments
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o date -> timestamp2datetime()
    - On the column name:
        o 
    - Add required columns:
        o id
        o amountpaid
        o planid
        o userid
        o paymentemail
        o tid
        -
        o username
    - Split columns:
        o

### Modifying table: 'payments'

In [33]:
# Loading the correct table name
columns=['id','amountpaid','planid','userid','paymentemail','tid','date','username']
df_payments = pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False,names=columns)

# Converting columns
df_payments['date'] = timestamp2datetime(df_payments['date']) 

# Changing names of columns

# Creating empty columns (with "" [for future string] or np.nan [for future float])

# Showing some lines after adapt the table
df_payments.head(10)

,id,amountpaid,planid,userid,paymentemail,tid,date,username
0,1,18,49,824,dowley.Trevor@Yahoo.com,2SW7239274641070A,2013-07-17 15:55:31,NaN
1,2,2,38,832,lccentore@gmail.com,2PG62971JF453412L,2013-07-18 05:13:00,NaN
2,3,2,38,842,mw3clan27@gmail.com,50585789JY281032A,2013-07-21 19:47:53,NaN
3,4,7,41,865,aliciastrick01@hotmail.com,7KE93157UM496071B,2013-07-24 18:05:28,NaN
4,5,45,52,1473,tagsalestorect@gmail.com,4TY36479KC5592700,2013-09-02 18:32:17,NaN

## 6.8. Table: 'plans'

### How this table looks like without modification?

In [34]:
tablename='plans'

pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

   42    Bronze 3 Months    3GBPS Bronze 3 Months  1200  Months   3  25
0  38        1 day trial        3GBPS 1 day trail   300    Days   1   2
1  41     Bronze Monthly     6GBPS Bronze Monthly  1200    Days  30  10
2  44    Bronze Lifetime    6GBPS Bronze Lifetime  1200   Years  20  35
3  45     Silver  Monthy     6GBPS Silver Monthly  2400    Days  30  15
4  46    Silver 3 Months    6GBPS Silver 3 Months  2400  Months   3  30
5  62  Platinum Lifetime  6GBPS Platinum Lifetime  7200   Years  20  75
6  48    Silver Lifetime    6GBPS Silver Lifetime  2400   Years  20  45
7  49       Gold Monthly       6GBPS Gold Monthly  3600    Days  30  20
8  50      Gold 3 Months      6GBPS Gold 3 Months  3600  Months   3  35
9  61   Special Lifetime   6GBPS Special Lifetime  1000   Years  20  30

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES
    - This table looks like: plans
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o planid
        o planname 
        o plandescr
        o maxboottime
        o expiration1
        o expiration2
        o price
        -
        o concurrecy
    - Split columns:
        o

### Modifying table: 'plans'

In [37]:
# Loading the correct table name
columns=['planid','planname', 'plandescr', 'maxboottime','expiration1', 'expiration2','price','concurrency']
df_plans = pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False, names=columns)

# Converting columns

# Changing names of columns

# Creating empty columns (with "" [for future string] or np.nan [for future float])

# Showing some lines after adapt the table
df_plans.head(10)

,planid,planname,plandescr,maxboottime,expiration1,expiration2,price,concurrency
0,42,Bronze 3 Months,3GBPS Bronze 3 Months,1200,Months,3,25,NaN
1,38,1 day trial,3GBPS 1 day trail,300,Days,1,2,NaN
2,41,Bronze Monthly,6GBPS Bronze Monthly,1200,Days,30,10,NaN
3,44,Bronze Lifetime,6GBPS Bronze Lifetime,1200,Years,20,35,NaN
4,45,Silver Monthy,6GBPS Silver Monthly,2400,Days,30,15,NaN
5,46,Silver 3 Months,6GBPS Silver 3 Months,2400,Months,3,30,NaN
6,62,Platinum Lifetime,6GBPS Platinum Lifetime,7200,Years,20,75,NaN
7,48,Silver Lifetime,6GBPS Silver Lifetime,2400,Years,20,45,NaN
8,49,Gold Monthly,6GBPS Gold Monthly,3600,Days,30,20,NaN
9,50,Gold 3 Months,6GBPS Gold 3 Months,3600,Months,3,35,NaN

## 6.9. Table: 'skype_api'

### How this table looks like without modification?

In [38]:
tablename='skype_api'

pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(10)

Empty DataFrame
Columns: [2, 93.114.45.84 ]
Index: []

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? NO
    - This table looks like: 
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o 
    - On the column name:
        o 
    - Add required columns:
        o 
    - Split columns:
        o

## 6.10. Table: 'users'

### How this table looks like without modification?

In [40]:
tablename='users'

pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False).head(30)

,871,swatted,dd50e050d7759c30f82725a4eae46844701b3c91,jonathanfoster20@gmail.com,0,0.1,0.2,0.3,Teeqo
0,796,KnockSteady,a9a61999d7570ae1ae5107c7eee23692823c64b2,soomindpark@me.com,1,52,2008977261,0,NaN
1,1476,Cred,834593265b5678ff6848dfd0d9cb401df71fee96,Credasityy@gmail.com,0,0,0,0,Error
2,805,yaseen46,04d354679cb9d2c822805bf68eb4d1f08e96a5b4,yourmom@youhome.com,0,0,0,0,NaN
3,842,patrick3233,4c9693c7531ce0a6a0dba58c87418747e60a75ef,dragon12@live.dk,0,0,1374522473,0,Codex_Legends
4,812,bigdaddy69,94ad646af91dd2afd3754776cf31a993955a6b5c,brettmabry1@gmail.com,0,52,2004832145,0,NaN
5,828,Degree,8dd197c39890842518bef914380e59135c0ee592,vitalxeffectz@gmail.com,0,0,0,0,Crook
6,819,Storytellin,6402fa06a9740c51b3a946085d60059819e4a312,Storytellin@story.com,0,0,0,0,NaN
7,872,KingRecon,985e8f25c0a698926bee3364782af93c0cd5872f,SuPraSnip@gmail.com,0,0,0,0,NaN
8,835,Rigour,15702b4fa7ef2ed38e2b4f6aad7dee6824441f8b,anonymousrigour@gmail.com,1,52,2006192884,0,NaN
9,832,TakeoverXbox,84d24425d9fa012817c77da188f95d1beb3d6434,lccentore@gmail.com,0,0,0,0,Teeqo
10,838,thinrocket,a9b951d59ce32e2d40258594da22df46ba84f629,myserverisnumber1@gmail.com,0,58,2005371840,0,NaN
11,870,mlgisbrguy1,1157a80106a1970e1093e7b4ca6b94d7ffc4e6e7,bkspud1@hotmail.com,0,0,0,1,NaN
12,857,ModzClanMW2,a8124b773c8d97f10e4185f066a4b544d1abbfac,coletonishmael@rogers.com,0,0,0,0,NaN
13,1478,the1nonlyoz,e199f89d0ceb1a035741a6b21af264ef1c92b28d,llxll_o_z_llxll@yahoo.com,0,0,0,0,none
14,877,sadasdasdasd,fc2ce9fda153bc74f888f35399f451c45ec6beeb,asdasdd@gmail.com,0,0,0,0,NaN
15,878,ClarkKent,0d6d74df8448b4fb473094b15af18e1f1300638e,MrClarkKent@outlook.com,0,0,0,0,NaN
16,1199,Lfox,5ca450ef0fdcc238fabf990ad47be410841c5d16,Itslandonfox@yahoo.com,0,0,0,0,NaN
17,1459,imgabe,794133cf0ac2bdcd262612e3b82a62b7ce589624,uhgabe@gmail.com,0,0,0,0,NaN
18,1458,BigBlack2,5994ac3426e3a2aa58017bfb725a8d7082aeecc8,cluedzn1@gmail.com,0,0,0,0,NaN
19,1462,thinrocket,696abe24a027b31398bd4db1fbcf13f51f75dc7e,Mistisanon@live.ca,0,0,0,0,NaN
20,1480,durah,7c34d3efccfda40a760025ab90250bec2fb008e8,durahble@gmail.com,0,0,0,0,NaN
21,1464,hackee,eed097fe8b7f44f55bb6a27f2645b1b12dd847e1,ajrocker_011@yahoo.com,0,0,0,0,NaN
22,1467,Ephan,b9a7b05bfd486078010d08db73adc46bb9f134e2,wadeboy_12@hotmail.com,1,52,2009164254,0,NaN
23,1470,Rigour,5e48a8b71d2012aeee87e22367ca9013cd9295b8,rigour@bk.ru,1,52,2009210207,0,NaN
24,1473,brett,927502f778422c39196e03aced388c8d8a5c2daf,brett998@gmail.com,0,44,2009299253,0,error
25,1474,Blitzy0,05b74132431f85ceb632990c3440d80faa3cbdfb,allstarhg@earthlink.net,0,0,0,0,allstarhg@earthlink.et

#### Q1: Is this table different from other previous loaded table? YES 
#### Q2: Is this table similar to any table in the generic Booter database schema? YES 
    - This table looks like: users
#### Q3: Are there modifications required? 
    - On the table name: 
        o 
    - On the column type: 
        o expire -> timestamp2datetime()
    - On the column name:
        o userid
        o username
        o password
        o useremail 
        o unknown1
        o unknown2
        o expire
        o unknown3
        o unknown4
        o planid
    - Add required columns:
        o 
    - Split columns:
        o

### Modifying table: 'users'

In [41]:
# Loading the correct table name
columns = ['userid','username','password','useremail','unknown1','unknown2','expire','unknown3','unknown4','planid']
df_users = pd.read_csv(read_inserted_table_entirein1line(dumpfile, tablename),delimiter=",",error_bad_lines=False,names=columns)

# Converting columns
df_users['expire'] = timestamp2datetime(df_users['expire']) 

# Changing names of columns

# Creating empty columns (with "" [for future string] or np.nan [for future float])

# Showing some lines after adapt the table
df_users.head(10)

,userid,username,password,useremail,unknown1,unknown2,expire,unknown3,unknown4,planid
0,871,swatted,dd50e050d7759c30f82725a4eae46844701b3c91,jonathanfoster20@gmail.com,0,0,1970-01-01 00:00:00,0,Teeqo,NaN
1,796,KnockSteady,a9a61999d7570ae1ae5107c7eee23692823c64b2,soomindpark@me.com,1,52,2033-08-30 01:14:21,0,NaN,NaN
2,1476,Cred,834593265b5678ff6848dfd0d9cb401df71fee96,Credasityy@gmail.com,0,0,1970-01-01 00:00:00,0,Error,NaN
3,805,yaseen46,04d354679cb9d2c822805bf68eb4d1f08e96a5b4,yourmom@youhome.com,0,0,1970-01-01 00:00:00,0,NaN,NaN
4,842,patrick3233,4c9693c7531ce0a6a0dba58c87418747e60a75ef,dragon12@live.dk,0,0,2013-07-22 19:47:53,0,Codex_Legends,NaN
5,812,bigdaddy69,94ad646af91dd2afd3754776cf31a993955a6b5c,brettmabry1@gmail.com,0,52,2033-07-13 01:49:05,0,NaN,NaN
6,828,Degree,8dd197c39890842518bef914380e59135c0ee592,vitalxeffectz@gmail.com,0,0,1970-01-01 00:00:00,0,Crook,NaN
7,819,Storytellin,6402fa06a9740c51b3a946085d60059819e4a312,Storytellin@story.com,0,0,1970-01-01 00:00:00,0,NaN,NaN
8,872,KingRecon,985e8f25c0a698926bee3364782af93c0cd5872f,SuPraSnip@gmail.com,0,0,1970-01-01 00:00:00,0,NaN,NaN
9,835,Rigour,15702b4fa7ef2ed38e2b4f6aad7dee6824441f8b,anonymousrigour@gmail.com,1,52,2033-07-28 19:48:04,0,NaN,NaN

<h2 align='center'>======================================================================
<br>Final step of the manual part
======================================================================</h2>

## 7. Adding missing tables accordingly to our generic Booter database

In [ ]:
df_attacks= pd.DataFrame(columns=['id','userid','username','targetip','targeturl','duration','port','type','date'])
#df_blacklist=pd.DataFrame(columns=['id','ip','note'])
#df_friendsenemies=pd.DataFrame(columns=['id','ip','note','userid','type'])
#df_gateways=pd.DataFrame(columns=['email'])
#df_logins=pd.DataFrame(columns=['id','userid','username','userip','date'])
#df_payments=pd.DataFrame(columns=['id','userid','username','amountpaid','paymentemail','planid','tid','date'])
df_plans=pd.DataFrame(columns=['planid','planname','plandescr','price','maxboottime','concurrency'])
df_servers=pd.DataFrame(columns=['id','ip'])
df_settings=pd.DataFrame(columns=['url','sitename','siteemail'])
#df_users=pd.DataFrame(columns=['userid','username','useremail','password','expire','plan'])      
df_webshells=pd.DataFrame(columns=['id','url','status','lastchecked','attacktype'])

<h1 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 2: Data Enrichment<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

### * Depending of the size of the data, this part can take HOURS. I tested for both small and big datasets and it worked. Be pacient. This will pay-off!

## * Libraries needed to retrieve information from external databases

In [ ]:
import subprocess
import cfscrape
from lxml import etree
import os.path
import random
import time

## * Function to enrich IP addresseswith AS information and country

In [ ]:
# THANKS TO: team-cymru.org
def iptoasn(iplist_teamcymruformat_filelocation,outputfile):
    cat = subprocess.Popen(['cat', iplist_teamcymruformat_filelocation], 
                            stdout=subprocess.PIPE)
    
    netcat = subprocess.Popen(['netcat', 'whois.cymru.com', '43'],
                              stdin=cat.stdout,
                              stdout=outputfile)
    time.sleep(3) #for some reason the poll does not work! This was the way to overcome the waiting time.
    
    return netcat.stdout

## * Function to check if an IP address was Tor node in a given moment

In [ ]:
# THANKS TO: exonerator.torproject.org
def WasTorNode(ip, date ):
    url="https://exonerator.torproject.org/?ip="+ip+"&timestamp="+date
    scraper = cfscrape.create_scraper()
    scraped_html=scraper.get(url).content    
    html_tree = etree.HTML(scraped_html)
    result=html_tree.xpath("//h3[@class='panel-title']/text()") # I was looking for <h3 class="panel-title">Result is positive</h3>
    tor_node=True if result == ['Result is positive'] else False
    return tor_node 
# 'date' MUST BE formated as: Year-month-day (2016-03-31)

## * Discovering the middle date of the database

In [ ]:
try:
    try:
        middle_date=(min(df_attacks['date'])+((max(df_attacks['date'])-min(df_attacks['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_logins['date'])+((max(df_logins['date'])-min(df_logins['date']))/2))
        raise
    except Exception:
        pass

    try:
        middle_date=(min(df_payments['date'])+((max(df_payments['date'])-min(df_payments['date']))/2))
        raise
    except:
        pass
except Exception:
    print("There is no date in the entire dataset")

date_tor_check = middle_date.strftime('%Y-%m-%d')
date_iptoasn_lookup= str(middle_date)
print(date_tor_check)

## * Preparing to Perform IP to ASN info

In [ ]:
df_logins['middledate']=date_iptoasn_lookup
df_attacks['middledate']=date_iptoasn_lookup
df_friendsenemies['middledate']=date_iptoasn_lookup
df_blacklist['middledate']=date_iptoasn_lookup

## 2.1.1  Lookup IP to ASN info of table: logins

In [ ]:
if (os.path.exists('enrichments/logins_iptoasn_out')== False):
    logins_iptoasn_in = open('enrichments/logins_iptoasn_in', 'w+')
    logins_iptoasn_in.write('begin\nverbose\n')
    df_logins[['userip','middledate']].drop_duplicates().to_csv(logins_iptoasn_in,header=False,index=False,sep="\t") 
    logins_iptoasn_in.write('end')
    logins_iptoasn_in.close()

    logins_iptoasn_out = open('logins_iptoasn_out', 'w+')
    iptoasn('logins_iptoasn_in',logins_iptoasn_out)
    logins_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_logins_iptoasn = pd.read_csv('enrichments/logins_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

df_logins_extended= pd.merge(df_logins,
                              df_logins_iptoasn,
                              how = 'left',
                              left_on = 'userip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_logins_extended.rename(columns={'asn':'srcasn', 
                                   'ip':'srcip', 
                                   'bgp_prefix':'srcbgp_prefix', 
                                   'country':'srccountry' ,
                                   'registry':'srcregistry',
                                   'info_date':'srcinfo_date',
                                   'info_request':'srcinfo_request'},
                         inplace=True)


df_logins_extended.head(5)

## 2.1.2  Lookup IP to ASN info of table: attacks

In [ ]:
if (os.path.exists('enrichments/attacks_iptoasn_out')== False):
    attacks_iptoasn_in = open('enrichments/attacks_iptoasn_in', 'w+')
    attacks_iptoasn_in.write('begin\nverbose\n')
    df_attacks[['targetip','middledate']].drop_duplicates().to_csv(attacks_iptoasn_in,header=False,index=False,sep="\t") 
    attacks_iptoasn_in.write('end')
    attacks_iptoasn_in.close()

    attacks_iptoasn_out = open('attacks_iptoasn_out', 'w+')
    iptoasn('attacks_iptoasn_in',attacks_iptoasn_out)
    attacks_iptoasn_out.close()
else:
    print("You already performed the lookup for this table")

In [ ]:
df_attacks_iptoasn = pd.read_csv('enrichments/attacks_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_attacks_extended= pd.merge(df_attacks,
                              df_attacks_iptoasn,
                              how = 'left',
                              left_on = 'targetip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_attacks_extended.rename(columns={'asn':'targetasn', 
                                   'ip_y':'targetip', 
                                   'bgp_prefix':'targetbgp_prefix', 
                                   'country_y':'targetcountry' ,
                                   'registry':'targetregistry',
                                   'info_date':'targetinfo_date',
                                   'info_request':'targetinfo_request'},
                         inplace=True)
df_attacks_extended.head(5)

## 2.1.3  Lookup IP to ASN info of table: friendsenemies

In [ ]:
if (os.path.exists('enrichments/friendsenemies_iptoasn_out')== False):
    friendsenemies_iptoasn_in = open('enrichments/friendsenemies_iptoasn_in', 'w+')
    friendsenemies_iptoasn_in.write('begin\nverbose\n')
    df_friendsenemies[['ip','middledate']].drop_duplicates().to_csv(friendsenemies_iptoasn_in,header=False,index=False,sep="\t") 
    friendsenemies_iptoasn_in.write('end')
    friendsenemies_iptoasn_in.close()

    friendsenemies_iptoasn_out = open('friendsenemies_iptoasn_out', 'w+')
    iptoasn('friendsenemies_iptoasn_in',friendsenemies_iptoasn_out)
    friendsenemies_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_friendsenemies_iptoasn = pd.read_csv('enrichments/friendsenemies_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_friendsenemies_extended= pd.merge(df_friendsenemies,
                              df_friendsenemies_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_friendsenemies_extended.rename(columns={'asn':'friendsenemiesasn', 
                                   'ip':'friendsenemiesip', 
                                   'bgp_prefix':'friendsenemiesbgp_prefix', 
                                   'country':'friendsenemiescountry' ,
                                   'registry':'friendsenemiesregistry',
                                   'info_date':'friendsenemiesinfo_date',
                                   'info_request':'friendsenemiesinfo_request',
                                   'as_name': 'friendsenemiesas_name'},
                         inplace=True)

## 2.1.4  Lookup IP to ASN info of table: blacklist

In [ ]:
if (os.path.exists('enrichments/blacklist_iptoasn_out')== False):
    blacklist_iptoasn_in = open('enrichments/blacklist_iptoasn_in', 'w+')
    blacklist_iptoasn_in.write('begin\nverbose\n')
    df_blacklist[['ip','middledate']].drop_duplicates().to_csv(blacklist_iptoasn_in,header=False,index=False,sep="\t") 
    blacklist_iptoasn_in.write('end')
    blacklist_iptoasn_in.close()

    blacklist_iptoasn_out = open('blacklist_iptoasn_out', 'w+')
    iptoasn('blacklist_iptoasn_in',blacklist_iptoasn_out)
    blacklist_iptoasn_out.close()
else:
    print("You already performed the lookup for this table.")

In [ ]:
df_blacklist_iptoasn = pd.read_csv('enrichments/blacklist_iptoasn_out',\
                                skiprows=1,\
                             delimiter="\s+\|\s",\
                             names = ['asn', 'ip', 'bgp_prefix', 'country','registry','info_date','info_request','as_name'])

# Merging the iptoasn with the queried column
df_blacklist_extended= pd.merge(df_blacklist,
                              df_blacklist_iptoasn,
                              how = 'left',
                              left_on = 'ip',
                              right_on = 'ip')

# Changing name of columns to avoid misunderstandings
df_blacklist_extended.rename(columns={'asn':'blacklistasn', 
                                   'ip':'blacklistip', 
                                   'bgp_prefix':'blacklistbgp_prefix', 
                                   'country':'blacklistcountry' ,
                                   'registry':'blacklistregistry',
                                   'info_date':'blacklistinfo_date',
                                   'info_request':'blacklistinfo_request',
                                   'as_name': 'blacklistas_name'},
                         inplace=True)
df_blacklist_extended.head(5)

## 2.2.1. Check if IP was a TOR node for table: login

In [ ]:
date_tor_check

In [ ]:
if len(df_logins['userip'].unique())<1200:
    if (os.path.exists('enrichments/logins_torcheck')== False):
        print("Note: it can take a while to finish...")
        logins_torcheck = open('logins_torcheck', 'w+')
        for i in df_logins['userip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=logins_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            logins_torcheck.flush()

        logins_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.")
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_logins_torcheck = pd.read_csv('enrichments/logins_torcheck',\
                          delimiter="\s+",\
                          names = ['userip', 'tor'])

## 2.2.2. Check if IP was a TOR node for table: attacks

In [ ]:
if len(df_attacks['targetip'].unique())<1200:
    if (os.path.exists('enrichments/attacks_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_attacks['targetip'].unique())*3,"seconds (in the worst case).")

        attacks_torcheck = open('attacks_torcheck', 'w+')

        for i in df_attacks['targetip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=attacks_torcheck)
            print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            attacks_torcheck.flush()

        attacks_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_attacks_torcheck = pd.read_csv('enrichments/attacks_torcheck',\
                          delimiter="\s+",\
                          names = ['targetip', 'tor'])

## 2.2.3. Check if IP was a TOR node for table: friendsenemies

In [ ]:
if len(df_friendsenemies['ip'].unique()) <1200:
    if (os.path.exists('enrichments/friendsenemies_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_friendsenemies['ip'].unique())*3,"seconds (in the worst case).")

        friendsenemies_torcheck = open('enrichments/friendsenemies_torcheck', 'w+')

        for i in df_friendsenemies['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=friendsenemies_torcheck)
        #     print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            friendsenemies_torcheck.flush()

        friendsenemies_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_friendsenemies_torcheck = pd.read_csv('enrichments/friendsenemies_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## 2.2.4. Check if IP was a TOR node for table: blacklist

In [ ]:
if len(df_blacklist['ip'].unique()) < 1200:
    if (os.path.exists('enrichments/blacklist_torcheck')== False):
        print("Note: it can take a while to finish...",len(df_blacklist['ip'].unique())*3,"seconds (in the worst case).")

        blacklist_torcheck = open('enrichments/blacklist_torcheck', 'w+')

        for i in df_blacklist['ip'].unique():
            wasTor=WasTorNode(i,date_tor_check)
            print(i, wasTor, file=blacklist_torcheck)
    #         print(i, wasTor) #DEBUGING =D
            time.sleep(random.randint(1,3)) #adding some random sleep time
            blacklist_torcheck.flush()

        blacklist_torcheck.close()
    else:
        print("The IP addresses from this table were already checked.") 
else:
        print("Aborted!!! It will take more than one hour to analyse!")

In [ ]:
df_blacklist_torcheck = pd.read_csv('enrichments/blacklist_torcheck',\
                          delimiter="\s+",\
                          names = ['ip', 'tor'])

## * Relation between Attack dates and Login dates

In [ ]:
def nearestDate(base_date, date_list):
    nearest={}
    for date in date_list:
        if (base_date.timestamp() - date.timestamp())>=0:
            nearest[base_date.timestamp() - date.timestamp()]= date
    return nearest[min(nearest.keys())]

In [ ]:
#This is the TOTAL number records to be checks!!!!
len(df_attacks)

In [ ]:
df_attacks['nearestlogin']=""
df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])
    
if len(df_attacks)>0 and len(df_logins)>0:
    #When was the last login of the user that performed attacks
    df_attacks['nearestlogin']=""
    df_attacks['nearestlogin']=pd.to_datetime(df_attacks['nearestlogin'])

    for index, row in df_attacks.head(100).iterrows():
        intermediate_df= df_logins[df_logins['username']==row['username']]
        nearestlogindate= nearestDate(row['date'],intermediate_df['date'])
        df_attacks.set_value(index, 'nearestlogin', nearestlogindate)

        #DEBUGGING
        if index % 1000 == 0:
            print(index,": +1000 records analysed")

In [ ]:
if len(df_attacks['nearestlogin'].value_counts()) >1:
    df_attacks_and_logins = pd.merge(df_attacks_extended,
                                     df_logins_extended,
                                     how = 'left',
                                     left_on = ['username','nearestlogin'],
                                     right_on = ['username','date'])
else:
    df_attacks_and_logins=""

<h2 align="center">
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
STEP 3: Automatic Analysis
<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>

## * Libraries that I use to plot figs

In [ ]:
import matplotlib.pyplot as plt
from matplotlib_venn import *
%matplotlib inline

import seaborn as sns
import itertools

plt.style.use('seaborn-muted')
# plt.rcParams['font.family'] = 'serif'
# plt.rcParams['font.size'] = 12

import warnings
warnings.filterwarnings('ignore')

## A.1. Number of records per table (part of the generic Booter database schema)

In [ ]:
len(df_users),len(df_logins),len(df_attacks),len(df_payments),len(df_settings),len(df_gateways), len(df_friendsenemies),len(df_blacklist),len(df_webshells),len(df_servers),len(df_plans)

## A.2. Number of users, customers, attackers, and their intersection

In [ ]:
if len(set(df_users['userid'].unique())) > 1:
    users_set=set(df_users['userid'].unique())
else:
    users_set=set(df_users['username'].unique())
    
if len(set(df_logins['userid'].unique())) > 1:
    userslogin_set=set(df_logins['userid'].unique())
else:
    userslogin_set=set(df_logins['username'].unique())

if len(set(df_payments['userid'].unique())) > 1:
    customers_set=set(df_payments['userid'].unique())
else:
    customers_set=set(df_payments['username'].unique())

if len(set(df_attacks['userid'].unique())) > 1:
    attackers_set=set(df_attacks['userid'].unique())
else:
    attackers_set=set(df_attacks['username'].unique())

intersec_customers_attacker=pd.Series(list(customers_set.intersection(attackers_set)))
intersec_users_customers=pd.Series(list(users_set.intersection(customers_set)))
intersec_users_attackers=pd.Series(list(users_set.intersection(attackers_set)))
intersec_users_customers_attackers=pd.Series(list(users_set.intersection(customers_set).intersection(attackers_set)))

In [ ]:
len(users_set),len(userslogin_set),len(customers_set),len(attackers_set)

In [ ]:
fig = plt.figure(figsize=(4,3))
fig.suptitle('Users, Customers & Attackers', fontsize=14)

ax = plt.subplot2grid((1,1), (0,0))

venn=venn3(ax=ax,subsets = {'001':len(attackers_set)-len(intersec_customers_attacker)-len(intersec_users_attackers)+len(intersec_users_customers_attackers), 
                            '010':len(customers_set)-len(intersec_users_customers)-len(intersec_customers_attacker)+len(intersec_users_customers_attackers), 
                            '011':len(intersec_customers_attacker)-len(intersec_users_customers_attackers),
                            '100':len(users_set)-len(intersec_users_customers)-len(intersec_users_attackers)+len(intersec_users_customers_attackers),
                            '101':len(intersec_users_attackers)-len(intersec_users_customers_attackers),
                            '110':len(intersec_users_customers)-len(intersec_users_customers_attackers),
                            '111':len(intersec_users_customers_attackers)},\
          set_labels = ('Users', 'Customers','Attackers'),\
          alpha=1)
try:
    venn.get_patch_by_id('100').set_color('#404096')
except:
    print("*Users set is empty!")  
    
try:
    venn.get_patch_by_id('110').set_color('#DEA73A')
except:
    print("*Customers set is empty!")   

try:
    venn.get_patch_by_id('001').set_color('#D92120')
except:
    print("*Attackers set is empty!")

fig.show()
# fig.savefig('../figs/timeseries_attacks.eps', format='eps', dpi=1200)

## A.3. Distribution of login times per user

In [ ]:
if len(df_logins['userid'].value_counts()) > 0:
    num_distinct_logins_per_user=df_logins['userid'].value_counts()
else:
    num_distinct_logins_per_user=df_logins['username'].value_counts()

freq_distinct_logins_per_user=num_distinct_logins_per_user.value_counts()
cum_dist_user_logins = np.linspace(0.,1.,len(num_distinct_logins_per_user))
cdf_user_logins = pd.Series(cum_dist_user_logins, index=num_distinct_logins_per_user.sort_values())

In [ ]:
if len(num_distinct_logins_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Login Times by Users:', fontsize=14, y=1.05,x=0.35)
    
    #Plot CDF
    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_logins.plot(ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# logins")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    ax1.set_title("")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_logins_per_user.plot(ax=ax2,kind='pie', 
                                       labels=None, 
                                       legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    
    
    
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_logins_per_user.values)/(freq_distinct_logins_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_logins_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/login_times.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.3. Number of Users that Login via TOR

In [ ]:
len(df_logins_torcheck[df_logins_torcheck['tor']==True]['userip'].value_counts())

## 5.4. Number of Distinct IP addresses by Users

In [ ]:
if len(df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()) >0:
    num_distinct_ips_per_user=df_logins.groupby(['userid','userip']).size().reset_index()['userid'].value_counts()
else:
    num_distinct_ips_per_user=df_logins.groupby(['username','userip']).size().reset_index()['username'].value_counts()
    
freq_distinct_ips_per_user=num_distinct_ips_per_user.value_counts()
cum_dist_user_ips = np.linspace(0.,1.,len(num_distinct_ips_per_user))
cdf_user_ips = pd.Series(cum_dist_user_ips, index=num_distinct_ips_per_user.sort_values())

In [ ]:
if len(num_distinct_ips_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Distinct IP address used by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_ips.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_ips_per_user.plot(ax=ax2,kind='pie',
                                    labels=None,legend=False,
                                       startangle=270,
#                                        colors=sns.color_palette()
                                       )
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_ips_per_user.values)/(freq_distinct_ips_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_ips_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.5, 1.),
               fontsize=10)
    ####
    
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/num_ips_by_users.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.5. Number of Payments by Users

In [ ]:
if len(df_payments['userid'].value_counts())>0:
    num_distinct_payments_per_user=df_payments['userid'].value_counts()
else:
    num_distinct_payments_per_user=df_payments['username'].value_counts()

freq_distinct_payments_per_user=num_distinct_payments_per_user.value_counts()
cum_dist_user_payments = np.linspace(0.,1.,len(num_distinct_payments_per_user))
cdf_user_payments = pd.Series(cum_dist_user_payments, index=num_distinct_payments_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Number of Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# Payment")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)
    
    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_per_user.plot(ax=ax2,kind='pie', 
                                         labels=None,legend=False,
                                         startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_per_user.values)/(freq_distinct_payments_per_user.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/payments_distribution.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.6. Total Amount of Money Earned

In [ ]:
if len(df_payments['amountpaid']) >0:
    total_earned=df_payments['amountpaid'].values.sum()
    'US$ {:,.2f}'.format(float(total_earned))
else:
    print("Unfortunately, there is no data available!")

## 5.7. Amount of Money Paid by Users

In [ ]:
num_distinct_payments_money_per_user=df_payments['amountpaid'].value_counts()
freq_distinct_payments_money_per_user=num_distinct_payments_money_per_user.value_counts()
cum_dist_user_payments_money = np.linspace(0.,1.,len(num_distinct_payments_money_per_user))
cdf_user_payments_money = pd.Series(cum_dist_user_payments_money, index=num_distinct_payments_money_per_user.sort_values())

In [ ]:
if len(num_distinct_payments_money_per_user)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Distribution of Money Payments by Users:', fontsize=14, y=1.05, x=0.4)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_user_payments_money.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("$")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_distinct_payments_money_per_user.plot(ax=ax2,kind='pie', 
                                               labels=None,legend=False,
                                               startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_distinct_payments_money_per_user.values)/(freq_distinct_payments_money_per_user.values.sum())
    labels = ['${0:1.2f} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_distinct_payments_money_per_user.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.6, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/distribution_amount_paid.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.8. Countries from where Users Access Booters

In [ ]:
logins_country_distribution_sorted = df_logins_iptoasn['country'].value_counts(sort=True,ascending=True)
logins_country_distribution = df_logins_iptoasn['country'].value_counts()

In [ ]:
if len(logins_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Users Accessing from Countries:', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    logins_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    logins_country_distribution.plot(ax=ax2,kind='pie', 
                                     labels=None,legend=False,
                                     startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*logins_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(logins_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/user_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.9. Countries of Blacklisted IPs

In [ ]:
blacklist_country_distribution=df_blacklist_iptoasn['country'].value_counts()
blacklist_country_distribution_sorted=df_blacklist_iptoasn['country'].value_counts(sort=True,ascending=True)

In [ ]:
if len(blacklist_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of blacklisted IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    blacklist_country_distribution_sorted.plot(ax=ax1,kind='barh')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    blacklist_country_distribution.plot(ax=ax2,kind='pie', 
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*blacklist_country_distribution.values)/(logins_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(blacklist_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/blacklist_countries.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.10. Countries of Target IPs

In [ ]:
attacks_country_distribution=df_attacks_iptoasn['country'].value_counts()

In [ ]:
if len(attacks_country_distribution)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Countries of target IPs', fontsize=14, y=1.05, x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    attacks_country_distribution.plot(ax=ax1,kind='bar')
    ax1.set_ylabel("# Access")
    ax1.set_xlabel("Country")
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    attacks_country_distribution.plot(ax=ax2,kind='pie', 
                                      labels=None,legend=False,
                                      startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*attacks_country_distribution.values)/(attacks_country_distribution.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(attacks_country_distribution.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()
    fig.show()
    fig.savefig('figs/attack_countries_distribution.eps',bbox_inches='tight', format='eps', dpi=1200) 
else:
    print("Unfortunately, there is no data available!")

## 5.12. Attacks on Same Target

In [ ]:
num_attacks_on_sametarget=df_attacks['targetip'].value_counts()

freq_num_attacks_on_sametarget=num_attacks_on_sametarget.value_counts()
cum_num_attacks_on_sametarget = np.linspace(0.,1.,len(num_attacks_on_sametarget))
cdf_num_attacks_on_sametarget = pd.Series(cum_num_attacks_on_sametarget, index=num_attacks_on_sametarget.sort_values())

In [ ]:
if len(num_attacks_on_sametarget)>0:
    fig = plt.figure(figsize=(6, 3))
    fig.suptitle('* Attacks on Same Targets:', fontsize=14, y=1.05,x=0.28)

    ax1 = plt.subplot2grid((1,2), (0,0))
    ax1 = cdf_num_attacks_on_sametarget.plot( ax=ax1,lw=2, drawstyle='steps',legend=False)
    ax1.set_xlabel("# IPs")
    ax1.set_ylabel("CDF of Users")
    ax1.set_ylim(0,1.05)
    plt.setp(ax1.xaxis.get_majorticklabels(), rotation=45)

    ax2 = plt.subplot2grid((1,2), (0,1))
    freq_num_attacks_on_sametarget.plot(ax=ax2,kind='pie',
                                        labels=None,legend=False,
                                        startangle=270)
    ax2.set_ylabel("")
    ####
    # For Pie Chart Better Legend box
    porcent = (100.*freq_num_attacks_on_sametarget.values)/(freq_num_attacks_on_sametarget.values.sum())
    labels = ['{0} - {1:1.2f} %'.\
              format(i,j) for i,j in zip(freq_num_attacks_on_sametarget.index, porcent)]
    # To Sort Legend (defaulf: keeps the same order)
#     patches, labels, dummy =  zip(*sorted(zip(patches, labels, freq_distinct_logins_per_user.values),
#                                           key=lambda x: x[2],
#                                           reverse=True))
    legend_show_top=10
    ax2.legend(ax2.patches[0:legend_show_top], 
               labels[0:legend_show_top], 
               bbox_to_anchor=(1.55, 1.),
               fontsize=10)
    ####
    fig.tight_layout()

    fig.show()
    fig.savefig('figs/attacks_on_same_target.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

## 5.11. Attacks per day (timeseries)

In [ ]:
if len(df_attacks)>0:
    attack_timeseries=df_attacks.set_index(['date']).groupby(pd.TimeGrouper(freq='D')).agg(['count'])['action']
    attack_mean_perday=attack_timeseries.mean()
    attack_median_perday=attack_timeseries.median()
else:
    attack_timeseries=""

In [ ]:
if len(attack_timeseries)>0:
    fig = plt.figure(figsize=(6,3))

    ax1 = plt.subplot2grid((1,1), (0,0), rowspan=2)
    attack_timeseries.plot(ax=ax1,
                           lw=2,
                           legend=False,
    #                        style='--'
                          )

    # X and Y Labels and Ticks
    ax1.set_xlabel("Time (bin=day)")
    ax1.set_ylabel("# Attacks")

    ax1.annotate(str(int(attack_median_perday[0]))+' (median)', 
                 (min(df_attacks['date']), attack_median_perday),
                 xytext=(350, -1), 
                 textcoords='offset points',
                 color='black', 
                 arrowprops=dict(arrowstyle='-|>',
                                 color='black'))
    fig.savefig('figs/attacks_timeseries.eps', bbox_inches='tight',format='eps', dpi=1200)

else:
    print("Unfortunately, there is no data available!")

## 5.12. Time Between Logins and Attacks

In [ ]:
if len(df_attacks_and_logins)>0:
    print("redo")
else:
    print("Unfortunately, there is no data available!")

## 5.13. Who attack whom? (users on the country level)

In [ ]:
if len(df_attacks_extended)>0 and len(df_logins_extended)>0:
    merged_attacks_logins = pd.merge(df_attacks_extended,
                                  df_logins_extended,
                                  how = 'left',
                                  left_on = 'date',
                                  right_on = 'date')[['targetcountry','srccountry']]

    who_against_whom = merged_attacks_logins.groupby(['targetcountry','srccountry'])\
                            .size()\
                            .reset_index()\
                            .pivot('srccountry','targetcountry',0)
else:
    who_against_whom =""

In [ ]:
if len(who_against_whom)>0:
    fig = plt.figure(figsize=(8,12))
    fig.suptitle('Countries of Target IPs', fontsize=14, y=.92)

    ax1 = plt.subplot2grid((1,1), (0,0))
    sns.set()
    sns.heatmap(who_against_whom,
                ax=ax1,
#                 cmap="YlGnBu",
    #             linewidths=.5,
    #             annot=True
                )

    ax1.set_ylabel("Source Country")
    ax1.set_xlabel("Attack Target Country")

    fig.show()
    fig.savefig('figs/who_attack_whom.eps', bbox_inches='tight',format='eps', dpi=1200)
else:
    print("Unfortunately, there is no data available!")

<h1 align="center">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br>
FIFTH PART: Query Interface<br>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

In [ ]:
from ipywidgets import widgets, interact, Dropdown,HTML
from IPython.display import display,clear_output

In [ ]:
def search_by_userid_submit(sender):
    clear_output()
    print("Searching by id =",search_by_userid.value)
    
    if len(df_users[df_users['userid']== int(search_by_userid.value)])>0:
        display(df_users[df_logins['userid']== int(search_by_userid.value)])
    
    if len(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])>0:
        display(df_logins_extended[df_logins_extended['userid']== int(search_by_userid.value)])
    
    if len(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])>0:
        display(df_attacks_extended[df_attacks_extended['userid']== int(search_by_userid.value)])
    
    if len(df_payments[df_payments['userid']== int(search_by_userid.value)])>0:
        display(df_payments[df_payments['userid']== int(search_by_userid.value)])

def search_by_username_submit(sender):
    clear_output()
    print("Searching by username =",search_by_username.value,"\n")
    
    if len(df_users[df_users['username']== search_by_username.value])>0:
        print("Table df_users:")
        display(df_users[df_users['username']== search_by_username.value])
    
    if len(df_logins_extended[df_logins_extended['username']== search_by_username.value])>0:
        print("Table df_logins:")
        display(df_logins_extended[df_logins_extended['username']== search_by_username.value])

    if len(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])>0:
        print("Table df_attacks:")
        display(df_attacks_extended[df_attacks_extended['username']== search_by_username.value])
    
    if len(df_payments[df_payments['username']== search_by_username.value])>0:
        print("Table df_payments:")
        display(df_payments[df_payments['username']== search_by_username.value])
        
def search_by_ip_submit(sender):
    clear_output()
    print("Searching by IP address =",str(search_by_ip.value),"\n")
    
    if len(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])>0:
        print("Table df_logins (as ATTACKER:")
        display(df_logins_extended[df_logins_extended['userip']== str(search_by_ip.value)])
     
    if len(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetip']== str(search_by_ip.value)])  
      
       
def search_by_asn_submit(sender):
    clear_output()
    print("Searching by Autonomous System Number (ASN) =",search_by_asn.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srcasn']== int(search_by_asn.value)])
    
    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

    if len(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetasn']== str(search_by_asn.value)])

        
country_list=pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/master/data.csv',delimiter=",",error_bad_lines=False)
def search_by_country_submit():
    country_code=country_list[country_list['Name']==search_by_country.value]['Code'].values[0]
    clear_output()
    print("Searching by Country =",search_by_country.value,"\n")
    
    if len(df_logins_extended[df_logins_extended['srccountry']== country_code])>0:
        print("Table df_logins (as ATTACKER):")
        display(df_logins_extended[df_logins_extended['srccountry']== country_code])
    
    if len(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])>0:
        print("Table df_attacks (as TARGET):")
        display(df_attacks_extended[df_attacks_extended['targetcountry']== country_code])

In [ ]:
display(HTML('<h3>*Search by (only) one field per time:</h3>'))

search_by_username = widgets.Text(description="username")
display(search_by_username)
search_by_username.on_submit(search_by_username_submit)

search_by_userid = widgets.Text(description="userid")
display(search_by_userid)
search_by_userid.on_submit(search_by_userid_submit)

search_by_ip = widgets.Text(description="IP")
display(search_by_ip)
search_by_ip.on_submit(search_by_ip_submit)

search_by_asn = widgets.Text(description="ASN")
display(search_by_asn)
search_by_asn.on_submit(search_by_asn_submit)

search_by_country = Dropdown(description="Country", options=country_list['Name'].tolist())
search_by_country.on_trait_change(search_by_country_submit, name="value")
display(search_by_country)